html{
    height: 100%;
    background-color: darkred;
    padding: 0;
    font-size: 0;
}

body{
    margin: 0;
    background-color: green;
    display: block;
    height: 100%;
}

.left, .mid, .right{
    display: inline-block;
    height: 100%;
    width: 33.333%;
}

.left{
}
.right{

}
.mid{
    font-size: 10px;
    background-color: chocolate;
    outline: solid black 1px;
    text-align: center;
    position: relative;
    overflow: auto;
}

.b{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;

}

.horisontal_sector{
    height: 33.333%;
}

.prime{
}

footer{
}

header{
}