<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/Activity.css"/>
    <link rel="stylesheet" href="styles/Icons.css"/>
    <title>Activity</title>
</head>
<body>
<div class="Activity">
    <a class="Activity__button" href="#">
        <span class="Activity__icon1 Icon1_edit-pencil"></span> Edit Profile
    </a>
    <a class="Activity__button" href="#" title="See your activity on Facebook">View Activity Log</a>
    <a class="Activity__button" href="#" title="More">
        <span class="Icon Icon_more-options"></span>
    </a>
</div>
</body>
</html>