<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/Header.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <title>Header</title>
</head>
<body>
<header class="Header">
    <div class="Header__wrapper">
        <a href="index">
            <span class="Header__facebook-logo"></span>
        </a>
        <form action="#">
            <input class="Header__search-field" type="search" placeholder="Search"/>
            <button class="Header__search-button" type="button"></button>
        </form>
        <nav class="Header__nav">
            <a href="user_page" title="Profile">
                <img class="Header__nav-user-pic"
                     src="images/user_avatar.jpeg"/>
                <span class="Header__nav-user-name">Olya</span>
            </a>
            <a class="Header__nav-item" href="index" style="color: white">Home</a>
            <a class="Header__nav-item" href="#" title="Friends Requests">
                <i class="fa fa-user-o"></i>
            </a>
            <a class="Header__nav-item" href="#" title="Messages">
                <i class="fa fa-envelope-o"></i>
            </a>
            <a class="Header__nav-item" href="#" title="Notifications">
                <i class="fa fa-globe"></i>
            </a>
            <a class="Header__nav-item" href="#" title="Quick Help">
                <i class="fa fa-question-circle-o"></i>
            </a>
            <a class="Header__nav-item" href="#">
                <i class="fa fa-caret-down"></i>
            </a>
        </nav>
    </div>
</header>
</body>
</html>