<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/Languages.css"/>
    <title>Title</title>
</head>
<body>
<div class="Languages">
    {{#Languages}}
        <a class="Languages__item {{status}}" href="{{action}}">
            {{language}}
        </a>
    {{/Languages}}
</div>
</body>
</html>