<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/News.css"/>
    <link rel="stylesheet" href="styles/Icons.css"/>
    <title>News</title>
</head>
<body>
{{#Index.News}}
    <div class="News">
        <header class="News__make-post">
            {{#header}}
                <a class="News__post-option {{first}} {{status}}" href="{{action}}">
                    <span class="News__icon {{icon-class}}"></span>{{item}}
                </a>
            {{/header}}
        </header>
        <div class="News__content">
            <form class="News__form" action="#">
                <a href="user_page">
                    <img class="News__user-pic" src="images/user_avatar.jpeg"/>
                </a>
                <input class="News__text-input" name="text" placeholder="What's on your mind, Olya?"/>
            </form>
            <footer class="News__additional">
                {{#footer}}
                    <a class="News__more-options" href="{{action}}">
                        <span class="Icon {{icon-class}}"></span>{{item}}
                    </a>
                {{/footer}}
            </footer>
        </div>
    </div>
{{/Index.News}}
</body>
</html>