<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/Tool-bar.css"/>
    <link rel="stylesheet" href="styles/Icons.css"/>
    <title>Tool Bar</title>
</head>
<body>
<aside class="Tool-bar">
    <nav class="Tool-bar__nav">
        <a class="Tool-bar__item" href="user_page">
            <img class="Tool-bar__user-pic"
                 src="images/user_avatar.jpeg"/>
            <span class="Tool-bar__user-name">Olya Korabliova</span>
        </a>
        <a class="Tool-bar__item active" href="#">
            <span class="Icon Icon_news"></span>News Feed
        </a>
        <a class="Tool-bar__item" href="#">
            <span class="Icon Icon_messenger"></span>Messenger
        </a>
    </nav>
    {{#Index.Tool-bar}}
        <nav class="Tool-bar__nav">
            <h4 class="Tool-bar__nav-title">{{title}}</h4>
            {{#nav}}
                <a class="Tool-bar__item" href="{{link}}">
                    <span class="Icon {{icon-class}}"></span>{{item}}
                </a>
            {{/nav}}
        </nav>
    {{/Index.Tool-bar}}
    <nav class="Tool-bar__nav">
        <h4 class="Tool-bar__nav-title">Create</h4>
        <a class="Tool-bar__more" href="#">Ad</a>
        <a class="Tool-bar__more" href="#">Page</a>
        <a class="Tool-bar__more" href="#">Group</a>
        <a class="Tool-bar__more" href="#">Event</a>
    </nav>
</aside>
</body>
</html>