<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="styles/Article.css"/>
    <link rel="stylesheet" href="styles/Comments.css"/>
    <link rel="stylesheet" href="styles/Header.css"/>
    <link rel="stylesheet" href="styles/Tool-bar.css"/>
    <link rel="stylesheet" href="styles/Icons.css"/>
    <link rel="stylesheet" href="styles/News.css"/>
    <link rel="stylesheet" href="styles/Stories.css"/>
    <link rel="stylesheet" href="styles/Events.css"/>
    <link rel="stylesheet" href="styles/Friend-suggest.css"/>
    <link rel="stylesheet" href="styles/Languages.css"/>
    <link rel="stylesheet" href="styles/Info-footer.css"/>
    <link rel="stylesheet" href="styles/Side-bar.css"/>
    <link rel="stylesheet" href="styles/Cover.css"/>
    <link rel="stylesheet" href="styles/User-page.css"/>
    <link rel="stylesheet" href="styles/User.css"/>
    <link rel="stylesheet" href="styles/Common.css"/>
    <link rel="stylesheet" href="styles/Activity.css"/>
    <link rel="stylesheet" href="styles/Profile-bar.css"/>
    <link rel="stylesheet" href="styles/Intro.css"/>
    <link rel="stylesheet" href="styles/Photos.css"/>
    <link rel="stylesheet" href="styles/Friends.css"/>
    <link rel="stylesheet" href="styles/Featured-albums.css"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <title>User Page</title>
</head>
<body class="Facebook">
<header class="Header">
    <div class="Header__wrapper">
        <a href="index">
            <span class="Header__facebook-logo"></span>
        </a>
        <form action="#">
            <input class="Header__search-field" type="search" placeholder="Search" value="Olya Korabliova"/>
            <button class="Header__search-button" type="button"></button>
        </form>
        <nav class="Header__nav">
            <a href="user_page" title="Profile">
                <img class="Header__nav-user-pic"
                     src="images/user_avatar.jpeg"/>
                <span class="Header__nav-user-name">Olya</span>
            </a>
            <a class="Header__nav-item" href="index" style="color: white">Home</a>
            <a class="Header__nav-item" href="#" title="Friends Requests">
                <i class="fa fa-user-o"></i>
            </a>
            <a class="Header__nav-item" href="#" title="Messages">
                <i class="fa fa-envelope-o"></i>
            </a>
            <a class="Header__nav-item" href="#" title="Notifications">
                <i class="fa fa-globe"></i>
            </a>
            <a class="Header__nav-item" href="#" title="Quick Help">
                <i class="fa fa-question-circle-o"></i>
            </a>
            <a class="Header__nav-item" href="#">
                <i class="fa fa-caret-down"></i>
            </a>
        </nav>
    </div>
</header>
<section class="Facebook__profile">
    <a href="#">
        <div class="Cover__photo"></div>
    </a>
    <div class="User">
        <a class="User__name" href="#">
            <img class="User__pic" src="images/user_avatar.jpeg"/>
            Olya Korabliova
        </a>
    </div>
    <div class="Activity">
        <a class="Activity__button" href="#">
            <span class="Activity__icon1 Icon1_edit-pencil"></span> Edit Profile
        </a>
        <a class="Activity__button" href="#" title="See your activity on Facebook">View Activity Log</a>
        <a class="Activity__button" href="#" title="More">
            <span class="Icon Icon_more-options"></span>
        </a>
    </div>
    <div class="Profile-bar">
        <a class="Profile-bar__item active" href="#">Timeline</a>
        <a class="Profile-bar__item" href="#">About</a>
        <a class="Profile-bar__item" href="#">Friends</a>
        <a class="Profile-bar__item" href="#">Photos</a>
        <a class="Profile-bar__item" href="#">More</a>
    </div>
<div class="Facebook__page-content">
    <nav class="Left-bar">
        <section class="Intro">
            <h4 class="Intro__title">
                <span class="Intro__icon Icon_globe"></span>Intro
            </h4>
            <div class="Intro__questions">
                <a class="Intro__link" href="#"> + What makes you happy?</a>
            </div>
            <div class="Intro__education-etc">
                {{#education-etc}}
                    <p>
                        <span class="Intro__icon {{icon}}"></span>{{action}}
                        <a class="Intro__link" href="{{place-link}}">{{place}}</a>
                    </p>
                {{/education-etc}}
            </div>
            <div class="Intro__photos">
                {{#featured-photos}}
                    <a href="{{photo-link}}">
                        <img class="Intro__photo {{image-class}}" src="{{img-src}}"/>
                    </a>
                {{/featured-photos}}
            </div>
            <div class="Intro__add">
                <a class="Intro__add-button" href="#"> + Add Instagram, Websites, Other Links</a>
            </div>
        </section>
        <section class="Photos">
            <h4 class="Photos__title">
                <span class="Photos__icon Icon_photos"></span>Photos
            </h4>
            {{#user-photos}}
                <a href="{{photo-link}}">
                    <img class="Photos__photo {{image-class}}" src="{{img-src}}"/>
                </a>
            {{/user-photos}}
        </section>
        <section class="Friends">
            <h4 class="Friends__title">
                <span class="Friends__icon Icon_photos"></span>Friends
            </h4>
            {{#friends}}
                <a href="{{friend-link}}">
                    <img class="Friends__photo {{image-class}}" src="{{img-src}}"/>
                </a>
            {{/friends}}
        </section>
        <section class="Featured-albums">
            <h4 class="Featured-albums__title">
                <span class="Featured-albums__icon Icon_albums"></span>Featured Albums
            </h4>
        </section>
        <div class="Languages">
            {{#Languages}}
                <a class="Languages__item {{status}}" href="{{action}}">
                    {{language}}
                </a>
            {{/Languages}}
        </div>
        <footer class="Info-footer">
            {{#Info-footer}}
                <a class="Info-footer__item" href="{{action}}">{{info}}</a>
            {{/Info-footer}}
        </footer>
    </nav>
    <main class="News-feed">
        {{#Profile.News}}
            <div class="News">
                <header class="News__make-post">
                    {{#header}}
                        <a class="News__post-option {{first}} {{status}}" href="{{action}}">
                            <span class="News__icon {{icon-class}}"></span>{{item}}
                        </a>
                    {{/header}}
                </header>
                <div class="News__content">
                    <form class="News__form" action="#">
                        <a href="user_page">
                            <img class="News__user-pic" src="images/user_avatar.jpeg"/>
                        </a>
                        <input class="News__text-input" name="text" placeholder="What's on your mind?"/>
                    </form>
                    <footer class="News__additional">
                        {{#footer}}
                            <a class="News__more-options" href="{{action}}">
                                <span class="Icon {{icon-class}}"></span>{{item}}
                            </a>
                        {{/footer}}
                    </footer>
                    <div class="News__control">
                        <a class="News__button_access" href="#">
                            Friends
                            <span class="News__icon Icon_down"></span>
                        </a>
                        <a class="News__button_post" href="#">Post</a>
                    </div>
                </div>
            </div>
        {{/Profile.News}}
        {{#Profile.Article-and-Comments}}
            <article class="Article">
                {{#Article-header}}
                    <header class="Article__header">
                        <img class="Article__user-pic" src="{{user-img}}"/>
                        <div class="Article__user-info">
                            <a class="Article__user-name" href="{{user-link}}">{{user-name}}</a>
                            {{#additional-info}}
                                <span>{{preposition}}
                                    <a class="Article__link" href="{{info-link}}">{{info}}</a>
                                    </span>
                            {{/additional-info}}
                            <br>
                            <a href="#">
                                <time class="Article__time" datetime="dd.mm.yyyy">{{post-time}}</time>
                            </a>
                        </div>
                    </header>
                {{/Article-header}}
                {{#Article-content}}
                    <main class="Article__content">
                        <p class="Article__description">{{description}}</p>
                        <img class="Article__file" src="{{file-src}}"/>
                    </main>
                {{/Article-content}}
                <footer class="Article__reaction-on">
                    <a class="Article__likes-etc" href="#">
                        <span class="Article__icon9 Icon9_like"></span>Like
                    </a>
                    <a class="Article__likes-etc" href="#">
                        <span class="Article__icon9 Icon9_comment"></span>Comment
                    </a>
                    <a class="Article__likes-etc" href="#">
                        <span class="Article__icon9 Icon9_share"></span>Share
                    </a>
                </footer>
            </article>
            {{#Comments}}
                <footer class="Comments">
                    {{#reactions}}
                        <div class="Comments__user-reactions">
                            <a class="Comments__user-action" href="#">
                                <span class="Comments__icon9 Icon9_like-blue"></span>{{who-liked}}
                            </a>
                            <a class="Comments__user-action" href="#">
                                {{who-shared}}
                            </a>
                        </div>
                    {{/reactions}}
                    <!--TODO: add user comments + data.json items-->
                    <div class="Comments__user-comments">
                        <a href="user_page">
                            <img class="Comments__user-pic"
                                 src="images/user_avatar.jpeg"/>
                        </a>
                        <form action="#" class="Comments__add-item">
                            <input class="Comments__text-area" type="text" placeholder="Write a comment..."/>
                            <a href="#">
                                <span class="Comments__icon1 Icon1_smile-gray"></span>
                            </a>
                            <a href="#">
                                <span class="Comments__icon1 Icon1_photo-gray"></span>
                            </a>
                            <a href="#">
                                <span class="Comments__icon1 Icon1_gif-gray"></span>
                            </a>
                            <a href="#">
                                <span class="Comments__icon1 Icon1_stiker-gray"></span>
                            </a>
                        </form>
                    </div>
                </footer>
            {{/Comments}}
        {{/Profile.Article-and-Comments}}
    </main>
</div>
</section>

    {{#Side-bar}}
        <div class="Side-bar">
            {{#online-users}}
                <a class="Side-bar__item" href="{{link}}">
                    <img class="Side-bar__user-pic" src="{{pic}}"/>{{name}}
                    <span class="{{online}}"></span>
                </a>
            {{/online-users}}
            <h5 class="Side-bar__more-contacts-title">MORE CONTACTS</h5>
            {{#more-contacts}}
                <a class="Side-bar__item" href="{{link}}">
                    <img class="Side-bar__user-pic" src="{{pic}}"/>{{name}}
                    <span class="{{online}}"></span>
                </a>
            {{/more-contacts}}
            <footer class="Side-bar__search">
                <form class="Search">
                    <a class="Search__item_icon" href="#">
                        <span class="Search__icon Icon2_find"></span>
                    </a>
                    <input class="Search__input" type="search" name="search" placeholder="Search">
                    <a class="Search__item_icon" href="#">
                        <span class="Search__icon Icon4_settings"></span>
                    </a>
                    <a class="Search__item_icon" href="#">
                        <span class="Search__icon Icon4_new-message"></span>
                    </a>
                    <a class="Search__item_icon" href="#">
                        <span class="Search__icon Icon4_create-group"></span>
                    </a>
                </form>
            </footer>
        </div>
    {{/Side-bar}}
    <!--<nav class="nav-bar">-->
        <!--<section class="nav-bar__block">-->
            <!--<h4 class="nav-bar__block-title">Intro</h4>-->
            <!--<div id="intro__questions">-->
                <!--<a class="nav-bar__link" href="#"> + What makes you happy?</a>-->
            <!--</div>-->
            <!--<div id="intro__education-etc">-->
                <!--{{#education-etc}}-->
                    <!--<p>{{action}}-->
                        <!--<a href="{{place-link}}">{{place}}</a>-->
                    <!--</p>-->
                <!--{{/education-etc}}-->
            <!--</div>-->
            <!--<div class="nav-bar__photos">-->
                <!--{{#featured-photos}}-->
                    <!--<a href="{{photo-link}}">-->
                        <!--<img class="{{image-class}}" src="{{img-src}}"/>-->
                    <!--</a>-->
                <!--{{/featured-photos}}-->
            <!--</div>-->
            <!--<div id="intro__add-links">-->
                <!--<a href="#"> + Add Instagram, Websites, Other Links</a>-->
            <!--</div>-->
        <!--</section>-->
        <!--<section class="nav-bar__block">-->
            <!--<h4 class="nav-bar__block-title">Photos</h4>-->
            <!--<div class="nav-bar__photos">-->
                <!--{{#user-photos}}-->
                    <!--<a href="{{photo-link}}">-->
                        <!--<img class="{{image-class}}" src="{{img-src}}"/>-->
                    <!--</a>-->
                <!--{{/user-photos}}-->
            <!--</div>-->
        <!--</section>-->
        <!--<section class="nav-bar__block">-->
            <!--<h4 class="nav-bar__block-title">Friends</h4>-->
            <!--<div class="nav-bar__photos">-->
                <!--{{#friends}}-->
                    <!--<a href="{{photo-link}}">-->
                        <!--<img class="{{image-class}}" src="{{img-src}}"/>-->
                    <!--</a>-->
                    <!--&lt;!&ndash;<span>{{friend-name}}</span>&ndash;&gt;-->
                <!--{{/friends}}-->
            <!--</div>-->
            <!--<span>See what you have in common with your friends.</span>-->
            <!--<form action="#">-->
                <!--<button type="button">View</button>-->
            <!--</form>-->
        <!--</section>-->
        <!--<section class="nav-bar__block">-->
            <!--<h4 class="nav-bar__block-title">Featured Albums</h4>-->
        <!--</section>-->
        <!--<div class="ad-feed__block">-->
            <!--<div class="ad-feed__block-language">-->
                <!--{{#languages}}-->
                    <!--<a class="ad-feed__block-language {{status}}" href="{{action}}">-->
                        <!--{{language}}-->
                    <!--</a>-->
                <!--{{/languages}}-->
            <!--</div>-->
        <!--</div>-->
        <!--<footer>-->
            <!--{{#info-footer}}-->
                <!--<a class="ad-feed__footer-info" href="{{action}}">{{info}}</a>-->
            <!--{{/info-footer}}-->
        <!--</footer>-->
    <!--</nav>-->
    <!--<main>-->
        <!--<section class="news-feed">-->
            <!--<div class="news-feed__make-post">-->
                <!--<a class="news-feed__make-post_active" href="#" style="padding: 3px; color: #4b4f56;">-->
                    <!--<i class="fa fa-pencil-square-o"></i>-->
                    <!--Make Post-->
                <!--</a>-->
                <!--<a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">-->
                    <!--<i class="fa fa-file-photo-o" style="color: #4B4F56;"></i>-->
                    <!--Photo/Video-->
                <!--</a>-->
                <!--<a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">-->
                    <!--<i class="fa fa-video-camera" style="color: #4B4F56;"></i>-->
                    <!--Live Video-->
                <!--</a>-->
                <!--<a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">-->
                    <!--<i class="fa fa-flag" style="color: #4B4F56;"></i>-->
                    <!--Live Event-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="news-feed__post-content">-->
                <!--<form>-->
                    <!--<a href="user_page">-->
                        <!--<img class="user-profile__user-pic" height="45px"-->
                             <!--src="images/user_avatar.jpeg"/>-->
                    <!--</a>-->
                    <!--<textarea placeholder="What's on your mind?"></textarea>-->
                <!--</form>-->
                <!--<div class="news-feed__add-content">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-photo" style="color: #8ABF4C;"></i>-->
                        <!--Photo/Video-->
                    <!--</a>-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-smile-o" style="color: #FFD62C;"></i>-->
                        <!--Feeling/Activity.less-->
                    <!--</a>-->
                    <!--<a href="#">...</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--{{#user-page-post}}-->
                <!--<div class="news-feed__user-post">-->
                    <!--<a href="{{user-link}}">-->
                        <!--<img class="user-profile__user-pic" src="{{img-src}}"/>-->
                    <!--</a>-->
                    <!--<div class="user-profile__info">-->
                        <!--<a class="user-profile__name" href="{{user-link}}">{{name}}</a>-->
                        <!--{{#add-info}}-->
                            <!--<span>{{preposition}} <a href="#">{{info}}</a></span>-->
                        <!--{{/add-info}}-->
                        <!--<br>-->
                        <!--<a href="#">-->
                            <!--<time datetime="dd.mm.yyyy">{{post-time}}</time>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<p>{{description}}</p>-->
                    <!--<img class="news-feed__user-file" src="{{file}}"/>-->
                    <!--<br>-->
                    <!--<a class="user-post__like-comm-share" href="#">-->
                        <!--<i class="fa fa-thumbs-o-up"> Like</i>-->
                    <!--</a>-->
                    <!--<a class="user-post__like-comm-share" href="#">-->
                        <!--<i class="fa fa-comment-o"> Comment</i>-->
                    <!--</a>-->
                    <!--<a class="user-post__like-comm-share" href="#">-->
                        <!--<i class="fa fa-send-o"> Share</i>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="who-likes-shared-commented">-->
                    <!--<div class="user-post__likes-shares">-->
                        <!--<a class="who-liked" href="#">-->
                            <!--<i class="fa fa-thumbs-up"> {{who-liked}}</i>-->
                        <!--</a>-->
                        <!--<a class="who-liked" href="#">-->
                            <!--<i class="fa fa-send"> {{who-shared}}</i>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="user-post__comments">-->
                        <!--<form class="user-post__comments-form" action="#">-->
                            <!--<a href="#">-->
                                <!--<img class="user-profile__user-pic"-->
                                     <!--src="images/user_avatar.jpeg"/>-->
                            <!--</a>-->
                            <!--<input type="text" placeholder="Write a comment..."/>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--{{/user-page-post}}-->
        <!--</section>-->
    <!--</main>-->
    <!--<aside class="aside-block">-->
        <!--<section class="aside-block__games">-->
            <!--<div id="your-games">-->
                <!--<h6>YOUR GAMES-->
                    <!--<a href="#" class="aside-block__games see-more" style="font-size: 10px;">MORE</a>-->
                <!--</h6>-->
                <!--{{#user-games}}-->
                    <!--<a class="aside-block__games-link" href="{{game-link}}">-->
                        <!--<img src="{{img-src}}"/>-->
                    <!--</a>-->
                <!--{{/user-games}}-->
            <!--</div>-->
            <!--<div id="recommended-games">-->
                <!--<h6>RECOMMENDED GAMES-->
                    <!--<a href="#" class="aside-block__games see-more" style="font-size: 10px;">MORE</a>-->
                <!--</h6>-->
                <!--<a href="#"><i class="material-icons" style="color: black">keyboard_arrow_left</i></a>-->
                <!--{{#games-suggestions}}-->
                    <!--<a class="aside-block__games-link" href="{{game-link}}">-->
                        <!--<img src="{{img-src}}"/>-->
                    <!--</a>-->
                <!--{{/games-suggestions}}-->
                <!--<a href="#"><i class="material-icons" style="color: black">keyboard_arrow_right</i></a>-->
            <!--</div>-->
        <!--</section>-->
        <!--<section class="aside-block__friends online-friends">-->
            <!--{{#online-friends}}-->
                <!--<a class="aside-block__friends user-profile" href="{{user-link}}">-->
                    <!--<p>-->
                        <!--<img class="user-profile__user-pic" src="{{user-pic}}"/>-->
                        <!--{{user-name}}-->
                        <!--<span class="{{status}}"></span>-->
                    <!--</p>-->
                <!--</a>-->
            <!--{{/online-friends}}-->
        <!--</section>-->
        <!--<section class="aside-block__friends more-contacts">-->
            <!--<h5 style="color: black;">MORE CONTACTS</h5>-->
            <!--{{#more-friends}}-->
                <!--<a class="aside-block__friends user-profile" href="{{user-link}}">-->
                    <!--<p>-->
                        <!--<img class="user-profile__user-pic" src="{{user-pic}}"/>-->
                        <!--{{user-name}}-->
                        <!--<span class="{{status}}"></span>-->
                    <!--</p>-->
                <!--</a>-->
            <!--{{/more-friends}}-->
        <!--</section>-->
        <!--<footer>-->
            <!--<form action="#">-->
                <!--<input type="search" placeholder="Search">-->
                <!--<button>-->
                    <!--<i class="fa fa-search"></i>-->
                <!--</button>-->
            <!--</form>-->
        <!--</footer>-->
    <!--</aside>-->
</body>
</html>