@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/helveticaneuecyr-light.otf');
  font-weight: normal;
  font-style: normal;
}

.Navigation {

  &__item {
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #6c7178;
    margin-left: 30px;
  }
}