@border-width:0.7px;
@border-style:solid;
@border-color:lightgray;
@background-color: #F5F5F5;
@font-size: 14pt;
@font-family: arial,sans-serif;
@operate-button-width:60px;
@operate-button-height:29px;
@inspect-button-width:50px;
@inspect-button-height:29px;

.Gmail-top-navigation {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: @border-width @border-style @border-color;
  border-bottom:@border-width @border-style @border-color;

  &__gmail-button,
  &__operate-letters {
    display: inline-block;
  }

  &__inspect-letters {
    float: right;
    margin-right: 30px;
  }

  &__gmail-button {
    background-color: @background-color;
    border: none;
    padding-left: 25px;
    font-size: @font-size;
    font-family: @font-family;
  }

  &__operate-letters {
    margin-left: 120px;
  }

  &__operate-letters button {
    width: @operate-button-width;
    height: @operate-button-height;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }

  &__inspect-letters button {
    width: @inspect-button-width;
    height: @inspect-button-height;
    overflow: hidden;
  }
}