@header-height: 40px;
@activity-buttons-width:30px;
@activity-buttons-height:30px;
@box-shadow: #ced0d4;

.Google-header {
  height: @header-height;
  overflow: hidden;
  margin-top: 0px;
  margin-left: 25px;
  margin-bottom: 0px;
  padding-top: 15px;

  &__google-logo {
    width: 92px;
    height: 33px;
  }

  &__google-logo,
  &__searchbar {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  &__searchfield,
  __searchbutton {
    display: inline-block;
    vertical-align: middle;
  }

  &__searchbar {
    margin-left: 80px;
    vertical-align: middle;
  }

  &__searchbutton {
    width: 60px;
    height: 30px;
    overflow: hidden;
    margin-left: -10px;
  }

  &__searchfield {
    height: 28px;
    border: none;
    box-shadow: @box-shadow;
    margin-right: 0;
  }

  &__google-personal-navigaion {
    float: right;
    margin-left: auto;
    margin-right: 30px;
  }

  &__google-adds,
  &__notifications,
  &__google-profile {
    display: inline-block;
    vertical-align: middle;
    width: @activity-buttons-width;
    height: @activity-buttons-height;
    overflow: hidden;
  }
}
