@color: #222;
@border: 1px solid lightgray;
@background-color: #F5F5F5;

.Mail-tabs {
  padding-bottom: 10px;
  background-color: white;
  margin-left: 8px;

  & a {
    display: inline-block;
    text-decoration: none;
    height: 25px;
    width: 245px;
    font-size: 13px;
    color: @color;
    border: @border;
    margin-left: -5px;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0;
    background-color: @background-color;
  }
}