@color: #222;
@background-color: #F5F5F5;
@thin-border: 0.5px solid lightgray;
@thick-border: 0.7px solid lightgray;
@thicker-border: 1px solid gray;
@border-radius: 2px;
@font-family: arial,sans-serif;
@font-size: 12px;


.Sidebar-layot {
  &__mail-folders button,
  &__mail-folders a{
    display: block;
    text-decoration: none;
    color: @color;
    font-size: 80%;
    height: 28px;
    vertical-align: middle;
    padding-left: 30px;
  }

  &__write-letter {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 115px;
    height: 29px;
    background-color: @background-color;
    border: @thin-border;
    border-radius: @border-radius;
    box-shadow: none;
    padding: 0;
  }

  &__more {
    background-color: @background-color;
    border: none;
    margin: 0;
    padding-top: 0;
  }

  &__hangouts {
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
  }

  &__hangouts button {
    display: block;
    margin-left: 30px;
    background-color: @background-color;
    font-size: @font-size;
    font-family: @font-family;
    color: @color;
    border: none;
    height: 30px;
  }

  &__me {
    border-top: @thick-border;
    border-bottom: @thick-border;
    width: 120px;
    text-align: left;
  }

  &__hangouts-buttons button {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: @thicker-border;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 40px;
    z-index: 1;
  }

  &__hangouts-buttons {
    position: absolute;
    bottom: 0;
    left:20px;
    margin-top: 20px;
    margin-left: 20px;
  }
}