.topBar {
    position: fixed;
    top: 0;
    left: 0;
}

.greyTopBar {
    position: fixed;
    background-color: whitesmoke;
    height: 60px;
    width: 100%;
}

#google_logo {
    width: 112px;
    height: 36px;
    margin-top: 15px;
    margin-left: 20px;
}

.searchBar {
    position: absolute;
    top: 18px;
    left: 200px;
}

.searchBar input {
    height: 20px;
    width: 500px;
}

.searchIcon {
    position: absolute;
    left: 480px;
    top: 0px;
}

#google_apps_icon {
    position: absolute;
    top: 18px;
    right: 110px;
}

#notifications_icon {
    position: absolute;
    top: 18px;
    right: 75px;
}

#profile_icon {
    position: absolute;
    top: 15px;
    right: 30px;
}

.whiteTopBar {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 50px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

#settings_icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

#keyboard_icon {
    position: absolute;
    top: 10px;
    right: 100px;
}

#older_icon {
    position: absolute;
    top: 10px;
    right: 150px;
}

#newer_icon {
    position: absolute;
    top: 10px;
    right: 187px;
}

#numberOfEmails {
    position: absolute;
    top: 15px;
    right: 240px;
}

#refresh_icon {
    position: absolute;
    top: 10px;
    left: 200px;
}

#Dropdown {
    position: absolute;
    top: 10px;
    left: 25px;
    color: indianred;
    font-size: medium;

}

.sideBar {
    position: fixed;
    top: 120px;
    height: 100%;
    width: 20%;
}

#Compose{
    position: absolute;
    left: 25px;
    background-color: indianred;
    color: white;
    text-align: center;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

#menu {
    position: absolute;
    top: 40px;
    left: 30px;
}

.menuFooter {
    position: absolute;
    left: 30px;
    top: 80%;
    border-top: 1px solid lightgrey;
}

main {
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: -1;
}