.row-center-content{
  -webkit-box-flex: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-flow: row wrap;
  //flex-flow: row wrap;
  justify-content: center;
}

.preview-image{
  margin: 30px;
  height: 150px;
  width: auto;
}