<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Diamond</title>
    <link rel="stylesheet" href="style/reset.css" />
    <link rel="stylesheet" href="style/text.css" />
    <link rel="stylesheet" href="style/12_col.css" />
    <link rel="stylesheet" href="style/demo.css" />
    <link rel="stylesheet" href="style/Header.css" />
    <link rel="stylesheet" href="style/Promoarticle.css" />
</head>
<body>
   <div class="Header">
      <nav class="Header__top">
          <p class="Header__top-link">United Stats</p>
          <p class="Header__top-link">Find a Store</p>
          <p class="Header__top-link">Contact us</p>
      </nav>
      <section class="Header__main">
          <div class="Header__main-left">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" alt=""
               class="Header__main-left-hamburger">
          <p class="Header__main-left-title">Extra</p>
          <search class="Header__main-left-search">Search</search>
          </div>
          <div class="Header__main-logo">
              <img src="" alt="" class="Header__main-logo-pic">
              <p class="Header__main-logo-title">DIAMOND</p>
              <p class="Header__main-logo-text">fashion</p>
          </div>
          <div class="Header__main-navigation">
              <img src="" alt="" class="Header__main-navigation-account-pic">
              <p class="Header__main-navigation-account-text">Account</p>
              <img src="" alt="" class="Header__main-navigation-cart-pic">
              <p class="Header__main-navigation-cart-text">Cart</p>
          </div>
   </div>
      </section>
       <section class="Banner">
           <p class="Banner__header Grid__cell_4 Grid__prefix_4">PEOPLE READY-TO-HELP</p>
           <p class="Banner__title Grid__cell_10 Grid__prefix_1">Provides All Essential Accessory Tips</p>
           <p class="Banner__description Grid__cell_4 Grid__prefix_4">Discover  the  meshe  shows</p>
       </section>
       <section class="Promoarticle">
           <h2 class="Promoarticle__header Grid__cell_6 Grid__prefix_3">Our accessory for ladies</h2>
           <h3 class="Promoarticle__description Grid__cell_8 Grid__prefix_2">Creating Remarkable ladies bags Prints in 2 Colors Combination</h3>
           <article class="Promoarticle__main">
               <div class="Promoarticle__main-item Grid__cell_3">
                   <img class="Promoarticle__main-item-photo" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132529/purse-883112_640_pdunam.jpg" alt="bag">
                   <p class="Promoarticle__main-item-about">Snake bag</p>
               </div>
               <div class="Promoarticle__main-item Grid__cell_3">
                   <img class="Promoarticle__main-item-photo" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132502/bags-1852142_640_rqc157.jpg" alt="bag">
                   <p class="Promoarticle__main-item-about">Woman bag</p>
               </div>
               <div class="Promoarticle__main-item Grid__cell_3">
                   <img class="Promoarticle__main-item-photo" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132518/handbag-883110_640_fvnvjr.jpg" alt="bag">
                   <p class="Promoarticle__main-item-about">Fashionest bag</p>
               </div>
               <div class="Promoarticle__main-item Grid__cell_3">
                   <img class="Promoarticle__main-item-photo" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132544/handbag-883122_640_v2qxsg.jpg" alt="bag">
                   <p class="Promoarticle__main-item-about">Black stylish bag</p>
               </div>
               <div class="Promoarticle__main-item Grid__cell_3">
                   <img class="Promoarticle__main-item-photo" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_grayscale,h_260,w_260/v1513177542/sandals-2480821_640_zh290e.jpg" alt="bag">
                   <p class="Promoarticle__main-item-about">Futures shoes</p>
               </div>
               <div class="Promoarticle__main-item Grid__cell_3">
                   <img class="Promoarticle__main-item-photo" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513177611/shoe-2006739_640_yqcmht.jpg" alt="bag">
                   <p class="Promoarticle__main-item-about">Nice Shoes</p>
               </div>
               <div class="Promoarticle__main-item Grid__cell_3">
                   <img class="Promoarticle__main-item-photo" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513177554/boots-499017_640_urtuxq.jpg" alt="bag">
                   <p class="Promoarticle__main-item-about">Fashionest sandals</p>
               </div>
               <div class="Promoarticle__main-item Grid__cell_3">
                   <img class="Promoarticle__main-item-photo" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_grayscale,h_260,w_260/v1513177620/shoe-2300318_640_lsa4ub.jpg" alt="bag">
                   <p class="Promoarticle__main-item-about">Stylish sandals</p>
               </div>
           </article>
       </section>
       <section class="Promobanner">
         <h3 class="Promobanner__title Grid__cell_4 Grid__prefix_4">STYLERS PHILOSOPHY</h3>
         <h2 class="Promobanner__comment Grid__cell_6 Grid__prefix_3">Simplicity & perfection</h2>
         <p class="Promobanner__text Grid__cell_8 Grid__prefix_2">The punk and cheeky version of the iconic “chaîne d’ancre” link is an<br>ode to the wonders of time.<br>
           Prepare to be hooked.</p>
         <p class="Promobanner__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
         <div class="Promobanner__image Grid__cell_8 Grid__prefix_2"></div>
       </section>
</body>
</html>