body {
    min-width: 960px;
}

.Grid-12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.Grid-12__row-columns-1,
.Grid-12__row-columns-2,
.Grid-12__row-columns-3,
.Grid-12__row-columns-4,
.Grid-12__row-columns-5,
.Grid-12__row-columns-6,
.Grid-12__row-columns-7,
.Grid-12__row-columns-8,
.Grid-12__row-columns-9,
.Grid-12__row-columns-10,
.Grid-12__row-columns-11,
.Grid-12__row-columns-12 {
    margin-left: 10px;
    margin-right: 10px;

}

.Grid-12__row-columns-1 {
    width: 60px;
}

.Grid-12__row-columns-2 {
    width: 140px;
}

.Grid-12__row-columns-3 {
    width: 220px;
}

.Grid-12__row-columns-4 {
    width: 300px;
}

.Grid-12__row-columns-5 {
    width: 380px;
}

.Grid-12__row-columns-6 {
    width: 460px;
}

.Grid-12__row-columns-7 {
    width: 540px;
}

.Grid-12__row-columns-8 {
    width: 620px;
}

.Grid-12__row-columns-9 {
    width: 700px;
}

.Grid-12__row-columns-10 {
    width: 780px;
}

.Grid-12__row-columns-11 {
    width: 860px;
}

.Grid-12__row-columns-12 {
    width: 940px;
}


.Grid-12__position_prefix-1 {
    padding-left: 80px;
}

.Grid-12__position_prefix-2 {
    padding-left: 160px;
}

.Grid-12__position_prefix-3 {
    padding-left: 240px;
}

.Grid-12__position_prefix-4 {
    padding-left: 320px;
}

.Grid-12__position_prefix-5 {
    padding-left: 400px;
}

.Grid-12__position_prefix-6 {
    padding-left: 480px;
}

.Grid-12__position_prefix-7 {
    padding-left: 560px;
}

.Grid-12__position_prefix-8 {
    padding-left: 640px;
}

.Grid-12__position_prefix-9 {
    padding-left: 720px;
}

.Grid-12__position_prefix-10 {
    padding-left: 800px;
}

.Grid-12__position_prefix-11 {
    padding-left: 880px;
}


.Grid-12__position_suffix-1 {
    padding-right: 80px;
}

.Grid-12__position_suffix-2 {
    padding-right: 160px;
}

.Grid-12__position_suffix-3 {
    padding-right: 240px;
}

.Grid-12__position_suffix-4 {
    padding-right: 320px;
}

.Grid-12__position_suffix-5 {
    padding-right: 400px;
}

.Grid-12__position_suffix-6 {
    padding-right: 480px;
}

.Grid-12__position_suffix-7 {
    padding-right: 560px;
}

.Grid-12__position_suffix-8 {
    padding-right: 640px;
}

.Grid-12__position_suffix-9 {
    padding-right: 720px;
}

.Grid-12__position_suffix-10 {
    padding-right: 800px;
}

.Grid-12__position_suffix-11 {
    padding-right: 880px;
}


.Grid-12__position_push_1 {
    left: 80px;
}

.Grid-12__position_push_2 {
    left: 160px;
}

.Grid-12__position_push_3 {
    left: 240px;
}

.Grid-12__position_push_4 {
    left: 320px;
}

.Grid-12__position_push_5 {
    left: 400px;
}

.Grid-12__position_push_6 {
    left: 480px;
}

.Grid-12__position_push_7 {
    left: 560px;
}

.Grid-12__position_push_8 {
    left: 640px;
}

.Grid-12__position_push_9 {
    left: 720px;
}

.Grid-12__position_push_10 {
    left: 800px;
}

.Grid-12__position_push_11 {
    left: 880px;
}


.Grid-12__position_pull_1 {
    left: -80px;
}

.Grid-12__position_pull_2 {
    left: -160px;
}

.Grid-12__position_pull_3 {
    left: -240px;
}

.Grid-12__position_pull_4 {
    left: -320px;
}

.Grid-12__position_pull_5 {
    left: -400px;
}

.Grid-12__position_pull_6 {
    left: -480px;
}

.Grid-12__position_pull_7 {
    left: -560px;
}

.Grid-12__position_pull_8 {
    left: -640px;
}

.Grid-12__position_pull_9 {
    left: -720px;
}

.Grid-12__position_pull_10 {
    left: -800px;
}

.Grid-12__position_pull_11 {
    left: -880px;
}