<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook main page</title>
    <link rel="stylesheet" href="style/Head.less">
    <link rel="stylesheet" href="style/Layout.less">
</head>
<body class="Layout">
<header class="Head__navigation-menu">
    <div class="Head__navigation-wrapper">
        <img class="Head__navigation-logo"
             src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png">
        <form action="#">
            <input name="" class="Head__navigation-search" type="search"/>
            <button>Пошук</button>
        </form>
        <nav>
            <a href="https://www.facebook.com/jurij.antonyshyn" class="Head__navigation-link">
                <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-1/c47.0.160.160/p160x160/10354686_10150004552801856_220367501106153455_n.jpg?oh=22b991412792e281a3f4bfdea0d60577&oe=5AA83649"
                     alt=""
                     class="Head__navigation-userpic">Юрко</a>
            <a href="https://www.facebook.com/?ref=tn_tnmn" class="Head__navigation-link">Головна</a>
            <a href="https://www.facebook.com/find-friends/browser/?ref=tn" class="Head__navigation-link">Знайти друзів</a>
            <a href="" class="Head__navigation-link">Запити на дружбу</a>
            <a href="" class="Head__navigation-link">Повідомлення</a>
            <a href="" class="Head__navigation-link">Сповіщення</a>
            <a href="" class="Head__navigation-link">Швидка допомога</a>
        </nav>
    </div>
</header>
<section class="Layout__main">
    <aside class="Layout__navigation">
        <nav class="Navigation">

            <a class="Navigation__item" href="111">
                <span class="Icon_news"></span> News
            </a>
            <a class="Navigation__item" href="111">
                <span class="Icon_messenger"></span>Messenger
                <span class="Navigation__item-counter">5</span>
            </a>
        </nav>

        <nav class="Navigation">
            <h3 class="Navigation__title">Fast access</h3>

            <a class="Navigation__item" href="111">
                <span class="Icon"></span> Kryminal za 3 kopijky
                <span class="Navigation__item-counter">5</span>
            </a>
            <a class="Navigation__item" href="111">
                <span class="Icon"></span>CRAFT BOOKS
                <span class="Navigation__item-counter">5</span>
        </nav>

        <nav class="Navigation">
            <h3 class="Navigation__title">Interesting</h3>

            <a class="Navigation__item" href="111">
                <span class="Icon"></span>Події.
                <span class="Navigation__item-counter">5</span>
            </a>
            <a class="Navigation__item" href="111">
                <span class="Icon"></span> Групи.
                <span class="Navigation__item-counter">5</span>
            </a>
            <a class="Navigation__item" href="111">
                <span class="Icon"></span> Друзі.
            </a>
            <a class="Navigation__item" href="111">
                <span class="Icon"></span> Фан-клуби.
            </a>
            <a class="Navigation__item" href="111">
                <span class="Icon"></span> Список друзів.
            </a>
            <a class="Navigation__item" href="111">
                <span class="Icon"></span> Пряма трансяляція.
            </a>
        </nav>
    </aside>
    <main class="Layout__news-line">
        <article class="Article">
            <header class="Article__news-title">
                <img class="Article__author-pic" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p200x200/23031240_1456873707694226_5877592637444680769_n.jpg?oh=8e2616b01d4cb95e405812dbbfff9d48&oe=5AAF6F80">
                <h2 class="Article__title-text">Сергій Жадан [офіційна сторінка] додає подію.</h2>
            </header>
            <img class="Article__main-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/23561527_2045195165693579_9186257652191313369_n.jpg?oh=b09905672a76de7642cc106db8e9aafb&oe=5AA01D66" alt="">
            <p>Жадан і Собаки | Черкаси | 16 грудня</p>
            <footer class="Article__user-choice">
                <button class="Article__like">Подобається</button>
                <button class="Article__comment">Коментувати</button>
                <button class="Article__share">Поширити</button>
            </footer>
        </article>
        
    </main>
    <aside class="Layout__additional-info">Публікації</aside>
</section>
<section class="Users__contacts">
        <p class="Users__contacts-name">
            <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-1/c0.23.100.100/p100x100/16093_879673025400378_4955397429736080753_n.jpg?oh=f314c1c5924a864114c6ceefcf6d8e14&oe=5A61A1EA"
                 alt=""
                 class="Users__contacts-pic">
            Oleh Fediucek
        </p>
        <p class="Users__contacts-name">
            <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-1/c127.72.410.410/s100x100/16406727_747729078717938_8524583563082015692_n.jpg?oh=69d69b98ffd4ff6701e02bb24ef3bb4f&oe=5A7365D2"
                 alt=""
                 class="Users__contacts-pic">
            Олег Твердь
        </p>
        <p class="Users__contacts-name">
            <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-1/p100x100/10906241_831585920238246_1009958669450133449_n.jpg?oh=1503318f64475d867aad627323d0b247&oe=5AA80EF4"
                 alt=""
                 class="Users__contacts-pic">
            Taras Kovalyk
        </p>
        <p class="Users__contacts-name">
            <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-1/p100x100/11707471_10200666352897091_6926736820355095430_n.jpg?oh=884d8105d5c0f6b0eda1cec250d66b31&oe=5AAA4482"
                 alt=""
                 class="Users__contacts-pic">
            Олена Кравченко
        </p>
        <p class="Users__contacts-name">
            <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-1/p100x100/11178372_1595563674031817_7555380802869341080_n.jpg?oh=4645166864752fd978c0533ed9014472&oe=5AAD0740"
                 alt=""
                 class="Users__contacts-pic">
            Василь Косів
        </p>
</section>
</body>
</html>