.video {
  cursor: pointer;

  &__cover {
    max-width: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
  }

  &__view-count, &__upload-time, &__channel-name {
    color: #878787;
    font-size: 13px;
    margin: 0;
  }
}