.Background-images {
  width: 854px;
  height: 264px;
  display: flex;
  background-color: #e5725e;
  color: white;

  &__svg-item {
  }
  &__svg-item_baget {
    width: 46px;
    height: 57px;
    margin-top: 22px;
    padding-left: 15px;
    position: relative;
  }
  &__svg-item_myska {
    width: 68px;
    height: 56px;
    margin-top: 28px;
    padding-left: 60px;
    position: relative;
  }
  &__svg-item_carrot {
    width: 82px;
    height: 81px;
    margin-top: 20px;
    padding-left: 72px;
    position: relative;
  }
  &__svg-item_cheese {
    width: 75px;
    height: 75px;
    margin-top: 63px;
    padding-left: 49px;
    position: relative;
  }
  &__svg-item_juice {
    width: 77px;
    height: 74px;
    margin-top: 25px;
    padding-left: 69px;
    position: relative;
  }
  &__svg-item_spaghetti {
    width: 109px;
    height: 114px;
    margin-top: 3px;
    padding-left: 112px;
    position: relative;
  }

  &__svg-item_lemonade {
    opacity: 0.7;
    position: absolute;
    top: 195px;
    left: 181px;
  }

  &__svg-item_apple {
    position: absolute;
    top: 196px;
    left: 257px;
  }
}