.Background-description {
  width: 261px;
  background-color: #e5725e;

  &__header {
    height: 38px;
    font-family: Aller, sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
    margin: 0;
  }

  &__text {
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: left;
    color: #ffffff;
    margin: 5px 0 0 0;
  }
}