.Banner {
  width: 1154px;
  height: 488px;
  background-image: url("../images/rectangle-copy.png");
  z-index: -3;

  &__header {
    height: 57px;
    font-family: Aller, sans-serif;
    font-size: 46px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
    padding-top: 140px;
    margin-left: 65px;
    margin-bottom: 8px;
    letter-spacing: 1px;
  }

  &__description {
    height: 37px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    margin-left: 65px;
    margin-top: 0;
    margin-bottom: 65px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__button {
    width: 177px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #e67a68;
    padding: 10px 14px;
    margin-left: 65px;
  }

}