.Contact {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  background-color: #8b898b;

  &__text {
    width: 605px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
    color: #ffffff;
    margin-left: 24px;
  }

  &__form {
    display: flex;
    width: 154px;
    margin-right: 24px;
  }
}

.Contact__input {
    width: 317px;
    height: 40px;
    border: solid 1px #979797;
  }

.Contact__button {
    width: 109px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
  }
