.Event-signup {
  width: 231px;

  &__text {
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    text-align: left;
    color: #9b9b9b;
  }

  &__button {
    width: 177px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #e67a68;
    margin-top: 10px;
  }
}