@font-face {
  font-family: 'Aller Display';
  //src: url("../font/AllerDisplay.ttf");
  scr: url('http://www.fontsaddict.com/fontface/aller-display.ttf');
}

.Logo {
  width: 166px;
  height: 47px;
  font-family: 'Aller Display', sans-serif;
  font-size: 40px;
  text-align: left;
  color: #e5725e;
  text-decoration: none;
}