<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eaty</title>
    <link rel="stylesheet" href="style/Header.css">
</head>
<body class="Layout">
  <header class="Header">
      <a class="Header__logo" href="">Eaty</a>
      <nav class="Header__navigation">
          <a class="Header__navigation_link" href="">Home</a>
          <a class="Header__navigation_link" href="">Eventi</a>
          <a class="Header__navigation_link" href="">Ricette</a>
          <a class="Header__navigation_link" href="">Chef a domicilio</a>
          <a class="Header__navigation_link" href="">Contatti</a>
      </nav>
  </header>
  <section class="Promo">
      Lorem ipsum dolor sit amet.
  </section>
  <section class="Main">
  </section>
  <aside class="Article">
  </aside>
  <aside class="Additional">
  </aside>
  <footer class="Footer">
  </footer>
</body>
</html>