<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eaty</title>
    <link rel="stylesheet" href="style/Header.css">
    <link rel="stylesheet" href="style/Banner.css">
    <link rel="stylesheet" href="style/Main.css">
    <link rel="stylesheet" href="style/Article.css">
    <link rel="stylesheet" href="style/Additional.css">
    <link rel="stylesheet" href="style/Feedback.css">
    <link rel="stylesheet" href="style/Footer.css">
</head>
<body class="Layout">
  <header class="Header">
      <a class="Header__logo" href="">Eaty</a>
      <nav class="Header__navigation">
          <a class="Header__navigation_link" href="">Home</a>
          <a class="Header__navigation_link" href="">Eventi</a>
          <a class="Header__navigation_link" href="">Ricette</a>
          <a class="Header__navigation_link" href="">Chef a domicilio</a>
          <a class="Header__navigation_link" href="">Contatti</a>
      </nav>
  </header>
  <section class="Banner">
      <h1>Ogni giorno nuove esperienze</h1>
      <h2>Scopri sapori, culture e amici con il social eating</h2>
      <buton class="Banner__button">Scopri gli altri eventi</buton>
  </section>
  <section class="Main">
      <p class="Main__title">I nostri eventi</p>
      <p class="Main__text">Questo mese hai tanti buoni motivi per provare il social eating! Non ti resta che provarli tutti.</p>
      <img class="Main__groceries" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/5AC3E464-82B8-4323-AAFD-1CB3357705BD.png" alt="">
      <img class="Main__vegetables" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/63398968-CAD4-43A1-8A86-1BA47C2AD76B.png" alt="">
      <img class="Main__carrot" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/D255B123-29D4-474D-8AAB-405D6DFC454B.png" alt="">
      <img class="Main__cheese" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/8316E14E-CB83-4FF5-A768-35A314323B4A.png" alt="">
      <img class="Main__juice" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/4D5FADC0-126E-453C-8B6E-A063D0090AA4.png" alt="">
      <img class="Main__spaghetti" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/9DE82D79-8649-42E3-83C2-5BD7A6EEDFF5.png" alt="">
      <img class="Main__lemonade" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/CFA99A65-A12A-43C4-AA12-1AF08093BF5B.png" alt="">
      <img class="Main__apple" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/2969801C-55DC-41FD-8AE1-9CA6D2960409.png" alt="">
  </section>
  <section class="Article">
      <p class="Article__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia.
      </p>
      <button class="Article__button">Scopri gli altri eventi</button>
      <aside class="Article__picture">
        <div class="Article__picture-left">
            <p class="Article__picture-left-title">ARIA DI AUTUNNO</p>
            <p class="Article__picture-left-text">Autunno alle porte? Noi siamo pronti con i fiche autunnali!</p>
        </div>
        <div class="Article__picture-center">
            <p class="Article__picture-center-title">MARE</p>
            <p class="Article__picture-center-text">Frutti di mare che passione! Ecco l’evento perfetto</p>
        </div>
        <div class="Article__picture-right">
            <p class="Article__picture-right-title">NOVELLE COUISINE</p>
            <p class="Article__picture-right-text">Un evento da leccarsi le dita! 10 specialità mai provate</p>
        </div>
      </aside>
  </section>
  <aside class="Additional">
      <p class="Additional__comment">LASCIATI ISPIRARE</p>
      <p class="Additional__title">Patate alla brace con buccia</p>
      <p class="Additional__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
      <button class="Additional__button">Scopri le altre ricette</button>
      <div class="Additional__picture">
          <p class="Additional__picture-title">RICETTE</p>
          <p class="Additional__picture-text">Prova la nostra ricetta delle patate arrosto al timo!</p>
      </div>
      <img class="Additional__banner" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/0BEDFF04-564A-40AF-B4B9-78E51402CD9C.png" alt="">
  </aside>
  <aside class="Feedback">
      <img class="Feedback__pic" src="https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/F7FD765C-3E8E-4D32-A0EF-AB1FB3AA6186.png" alt="">
      <p class="Feedback__title">Vuoi uno chef a casa tua?</p>
      <p class="Feedback__comment">Organizza i tuoi eventi senza pensare a nulla</p>
      <p class="Feedback__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
      <button class="Feedback__button">Contatta uno chef</button>
  </aside>
  <footer class="Footer">
      <p class="Footer__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico.</p>
      <search class="Footer__search">Inserisci la tua email</search>
      <button class="Footer__button">Iscriviti</button>
      <div class="Footer__copyright">
          <p>Eaty Copiright 2017 all rights reserved </p>
          <p>Designed by Rendemarco</p>
      </div>
  </footer>
</body>
</html>