<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Sitemap-hint.css">
</head>
<body>
<div class="Sitemap-hint">
    <h6 class="Sitemap-hint__header">Did you know?</h6>
    <p class="Sitemap-hintd__info">Pay a visit to your  <a class="Sitemap-hint__link" href="#">stats dashboard</a> to get powerful insights into how your videos are performing.</p>
</div>
</body>
</html>