<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="video cover" data-thumb="https://i.vimeocdn.com/video/642074304.jpg?mw=1900&amp;mh=1068&amp;q=70" data-thumb-width="1900" style="background-image: none;">
    <div class="telecine" style="transform: scale(1.00062);"></div>
</div>
</body>
</html>