.World {
    position: relative;
    margin: auto;
    width:  240px;
    border: 1px solid black;
    height: 800px;
}

.piece__row {
    overflow: hidden;
}

.piece__cell {
    /*margin: 2px;*/
    height: 20px;
    width: 20px;
    background: #bdc3c7;
    font-size: 8px;
    text-align: center;
    vertical-align: 10px;
    float: left;
    cursor: pointer;
}

.piece__cell_block {
    background: #e67e22;
}


.piece__cell_frozen {
    background: #A5F2F3;
}

.fragment {
    position: absolute;
}