
 
.Footer{
    background-color: #f8f8f8;
    
    &__logo{
        font-size: 34px;
        font-weight: 500;
        color: #37c491;
    
    }
    &__site-map{
        position: relative;
        &_company_item,
        &_discover_item,
        &_contact_item,
        &_blog_item{
            display:block;
        }
    }
    &__select{
    width: 100px;
    padding-left: 20px;
}}