header#main-header {
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    height: 42px;
    display: flex;
    flex-basis: 1000px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 12px;
}

#profile button{
    background-color: #4267b2;
    border:none;
    border-radius: 3px;
    color: white;
    padding: 5px;
}

#profile button:hover{
    background-color: #29487d;
}

#hr1 { width:100%;
    height: 0.2px;
    box-shadow: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

header nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#search {
    padding-left: 5px;
    font-size: 14px;
}

#fb_search button {
    vertical-align: middle;
}

#profile {
    margin-right:10px;
}

#profile li {
    padding:3px;
}

#additional li {
    padding: 5px;
}
#profile img {
    width:25px;
    height:25px;
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 0px;
}
/*-----------header-*/
#profile a:link {
    color: white;
    text-decoration: none;
}

#profile a:visited{
    color: white;
}

#profile a:hover{
    color:grey;
}

#profile a:active{
    color: white;
}

header a:link{
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
}
header a:visited{
    text-decoration: none;
}

header a:active{
    text-decoration: none;
}

#profile{
    display: flex;
    align-content: center;
    align-items: center;
}

.aside-left{
    position: fixed;
    left: 2px;
    top: 60px;
    max-width: 126px;
    font-size: 14px;
}

.aside-left ul a:active{
    color: black;
    text-decoration: none;
}

.aside-left ul a:hover{
    color: black;
    text-decoration: none;
}

.aside-left ul a:visited{
    color: black;
    text-decoration: none;
}

.aside-left ul a:link{
    color: black;
    text-decoration: none;
}


.aside-left ul {
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
}

#aside-left-header-img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.aside-left ul li {
    margin-top:5px;
}


.left-footer ul{
    padding: 0px;
    left: 2px;
}

.left-footer ul li{
    display: flex;
    flex-direction: row;

}

.left-footer {
    padding-left: 40px;
}

.aside-left footer ul li {margin: 2px;}

/*----------------------------------- container rules*/
.container{
    display: flex;
    flex-direction: row;
}
/*---------------------------------------------------*/

body {
    background-color: rgba(228,230,235,0.95); /*#dfe3ee;*/
    direction: ltr;
    font-family:Helvetica;

}

body ul {
    list-style-type: none;
}

#create-post-head {
    margin-top: 49px;
    display: flex;
    flex-direction:row;
    height: 30px;
    background-color:#f7f7f7;
    border-radius: 3px;
    margin-left: 8px;
    width: 100.8%;
    border-bottom: solid 1px rgb(221, 223, 226);
    border-top: solid 1px rgb(221, 223, 226);
}
#create-post-head span{
    margin-right: 20px;
    font-size: 13px;
    border-right: solid 1px rgb(221, 223, 226);
    padding-right: 8px;
    text-align: center;
    padding-top: 8px;
    padding-left: 5px;
}

#create-post-head span a {
    color:#365899;  /*#767375;*/
}

#create-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

#create-post input {
    background-color: white;
    height: 71px;
}


#post-input {
    width: 470px;
    background-color: white;
    border-top: 1px;
    margin-left: 8px;
    padding-left: 10px;
}
#post-input img {
    margin-top: 12px;
}


#create-post-foot {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 97%;
    border-top: 1px solid rgb(233, 235, 238);
}

#create-post-foot button {
    padding: 6px;
    color: #4b4f56;
    margin: 3px;
    border-radius: 20px;
    border: none;
    height: 30px;
    background-color: #f7f7f7;
}



#2b {
    width: 138.688px;  }

.main {
    display: flex;
    flex-direction: column;
    width: 476px;
    top: 250px;
    margin-left: 220px;
}

article {
    background-color: white;
    margin:7px;
    width: 459.5px;
    border: 2px;
    border-radius: 3px;
    font-size: 14px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 0px;
    padding-top: 12px;
}

.aside-left header {
    margin-left: 37px;
    font-size: 13px;
}

.aside-left h1, .aside-left h2 {
    color: #90949c;
    font-size: 13px;
}

article header {
    display:flex;
    flex-wrap: wrap;
}

article header img {
    margin-right: 10px;
    order:1;
    -ms-flex-order: 1;
}

.post-author {
    order:2;
    color:#365899;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: -102px;
}

.post-more{
    order:4;
    height: 20px;
    border: none;
    background-color: white;
    margin-left: 96%;
    margin-top: -9%;
}

.post-time {
    order: 3;
    margin-top: 20px;
    margin-bottom: -5px;
}

#buggy-time {
    margin-left: 6px;
}

.emoticons img{
    vertical-align: middle;
    height: 17px;
    width: 17px;
    padding-right: 2px;
}

.secondary-content {
    position: fixed;
    top: 57px;
    right: 250px;
    width: 308px;
    font-size: 13px;
    z-index: -1;
}

.secondary-content h4{
    color: #365899;
}

.secondary-content section {
    background-color: white;
}

.secondary-content section.Ads {
    border: 1px solid lightgray;
    padding: 12px;
}

.secondary-content section.languages {
    border: 1px solid lightgray;
    margin-top: 13px;
}

.secondary-content img{
    border:none;
}

.ad-head-wrapper p a{
}

section.Ads {
    background-color: white;
    border: 1px solid lightgray;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#notification-block a:link {
    color: #29487d;
}

#notification-block a:visited {
    color: #29487d;
}

#notification-block a:hover {
    color: #29487d;
}


#notification-block a:active {
    color: #29487d;
}

#notification-block {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    margin-bottom: 12px;
    background-color: white;
    border: 1px solid rgb(221, 223, 226);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #90949c;
}

.secondary-content a:link {
    color: darkgray;
}

.secondary-content a:visited {
    color: darkgray;
}

.secondary-content a:hover {
    color: gray;
}

.secondary-content a:active {
    color: darkgray;
}

.ads {
    display: flex;
}

.ads-wrapper{
    width: 100%;
    margin-left: 0px;
    margin-right: 12px;
}

.ads-img-wrapper img {
    width: 100%;
}

.languages ul{
    display: flex;
    list-style-type: none;
}
.right-aside {
    position: fixed;
    right: 11px;
    height: 100%;
    width: 205px;
    top:40px;
    font-size: 12px;
    color: rgb(51, 51, 51);
    border-left:solid 1px lightgray;
    z-index: -1;

}
.right-aside ul {
    list-style-type: none;
    padding-left: 8px;
}

.datetime{
    color: #90949c;
    font-size:12px;
}

.like-button {
    margin-left: 7px;
}

.like-button, .share-button, .comment-button {
    border: none;
    font-size: 13px;
    color: #616770;
    height: 30px;
    margin-right: 10px;
    background-color: white;
}

.like-button:hover, .share-button:hover, .comment-button:hover{
    text-decoration: underline;
}

.right-aside ul li img{
    border-radius: 15px;
    vertical-align: middle;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 7px;
}

#search-chat input{
    border:none;
    width: 100%;
    padding: 5px;
}

