<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>960 Grid System &mdas Demo</title>
    <link rel="stylesheet" href="style/reset.css" />
    <link rel="stylesheet" href="style/text.css" />
    <link rel="stylesheet" href="style/12_col.css" />
    <link rel="stylesheet" href="style/demo.css" />
</head>
<body>
<h1>
    <a href="http://960.gs/">960 Grid System</a>
</h1>
<div class="Grid">
    <h2>
        12 Column Grid
    </h2>

    <div class="Grid__cell_12">
        <p>
            12
        </p>
    </div>
    <!-- end ..Grid__cell_12 -->
 
    <div class="Grid__cell_1">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1 -->
    <div class="Grid__cell_11">
        <p>
            11
        </p>
    </div>
    <!-- end .Grid__cell_11 -->
    <div class="Grid__cell_2">
        <p>
            2
        </p>
    </div>
    <!-- end .Grid_2 -->
    <div class="Grid__cell_10">
        <p>
            10
        </p>
    </div>
    <!-- end .Grid__cell_10 -->
    
    <div class="Grid__cell_3">
        <p>
            3
        </p>
    </div>
    <!-- end .Grid_3 -->
    <div class="Grid__cell_9">
        <p>
            9
        </p>
    </div>
    <!-- end .Grid_9 -->

    <div class="Grid__cell_4">
        <p>
            4
        </p>
    </div>
    <!-- end .Grid_4 -->
    <div class="Grid__cell_8">
        <p>
           8
        </p>
    </div>
    <!-- end .Grid_8 -->

    <div class="Grid__cell_5">
        <p>
            5
        </p>
    </div>
    <!-- end .Grid_5 -->
    <div class="Grid__cell_7">
        <p>
            7
        </p>
    </div>
    <!-- end .Grid_7 -->
   
    <div class="Grid__cell_6">
        <p>
            6
        </p>
    </div>
    <!-- end .Grid_6 -->
    <div class="Grid__cell_6">
        <p>
            6
        </p>
    </div>
    <!-- end .Grid_6 -->
 
    <div class="Grid__cell_1 Grid__suffix_11">
        <p>
           1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__suffix_11 -->

    <div class="Grid__cell_1 Grid__prefix_1 Grid__suffix_10">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_1.Grid__suffix_10 -->

    <div class="Grid__cell_1 Grid__prefix_2 Grid__suffix_9">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_2.Grid__suffix_9 -->
 
    <div class="Grid__cell_1 Grid__prefix_3 Grid__suffix_8">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_3.Grid__suffix_8 -->
   
    <div class="Grid__cell_1 Grid__prefix_4 Grid__suffix_7">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_4.Grid__suffix_7 -->

    <div class="Grid__cell_1 Grid__prefix_5 Grid__suffix_6">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_5.Grid__suffix_6 -->
    <div class="Grid__cell_1 Grid__prefix_6 Grid__suffix_5">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_6.Grid__suffix_5 -->
    <div class="Grid__cell_1 Grid__prefix_7 Grid__suffix_4">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_7.Grid__suffix_4 -->
    <div class="Grid__cell_1 Grid__prefix_8 Grid__suffix_3">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_8.Grid__suffix_3 -->
    <div class="Grid__cell_1 Grid__prefix_9 Grid__suffix_2">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_9.Grid__suffix_2 -->
    <div class="Grid__cell_1 Grid__prefix_10 Grid__suffix_1">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_10.Grid__suffix_1 -->
    <div class="Grid__cell_1 Grid__prefix_11">
        <p>
            1
        </p>
    </div>
    <!-- end .Grid__cell_1.Grid__prefix_11 -->
    
        <div class="Grid__cell_1 ">
            <p>
                1
            </p>
        </div>
        <!-- end .Grid__cell_1.Grid__alpha -->
        <div class="Grid__cell_5">
            <p>
                5
            </p>
        </div>
        <!-- end .Grid_5.Grid__omega -->
        <div class="Grid__cell_3 ">
            <p>
                3
            </p>
        </div>
        <!-- end .Grid_3.Grid__alpa -->
        <div class="Grid__cell_3  ">
            <p>
                3
            </p>
        </div>

        <!-- end .Grid_3.Grid__omega -->
    </div>
    <!-- end .Grid_6.Grid__push_6 -->

    <!-- end .Grid_6.Grid__pull_6 -->

<!-- end .Grid -->


</body>
</html>