<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/sidebar.css">
    <link rel="stylesheet" href="style/video.css">
    <link rel="stylesheet" href="style/video-section.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <title>Youtube</title>
</head>
<body class="layout layout_debug-mode">
    <header class="layout__header header">
        <button class="header__burger_menu"><i class="material-icons">menu</i></button>
        <div class="header__logo">
            <a href="" class="header__logo">
                <img class="header__logo-img" src="images/youtube_logo.png" alt="">
                <sup class="header__logo-sup">UA</sup>
            </a>
        </div>
        <div class="header__search">
            <input class="header__search-input" type="text" placeholder="Пошук">
            <i class="material-icons header__search-keyboard">keyboard</i>
            <button class="header__search-button"><i class="material-icons ">search</i></button>
        </div>
        <div class="header__options">
            <button class="header__options-icon"><i class="material-icons">file_upload</i></button>
            <button class="header__options-icon"><i class="material-icons">apps</i></button>
            <button class="header__options-icon"><i class="material-icons">notifications</i></button>
            <a href="" class="header__options-img"><img src="images/fb_profile_image.jpg"></a>
        </div>
    </header>
    <aside class="layout__sidebar sidebar">
        <nav class="sidebar__navigation sidebar__navigation-links">
            <a href=""><i class="material-icons">home</i>Головна</a>
            <a href=""><i class="material-icons">whatshot</i>Популярне</a>
            <a href=""><i class="material-icons">video_library</i>Підписки</a>
        </nav>
        <section class="sidebar__navigation sidebar__navigation-links">
            <p class="sidebar__navigation-title">Бібліотека</p>
            <a href=""><i class="material-icons">history</i>Історія</a>
            <a href=""><i class="material-icons">watch_later</i>Переглянути піз...</a>
            <a href=""><i class="material-icons">playlist_play</i>Music</a>
            <a href=""><i class="material-icons">playlist_play</i>JS Course</a>
            <a href=""><i class="material-icons">keyboard_arrow_down</i>Показати більше</a>
        </section>
        <section class="sidebar__navigation sidebar__navigation-links sidebar__navigation-image">
            <p class="sidebar__navigation-title">Підписки</p>
            {{#subscriptions}}
                <a href=""><img src={{image}}>{{name}}</a>
            {{/subscriptions}}
        </section>
        <section class="sidebar__navigation sidebar__navigation-links">
            <a href=""><i class="material-icons">add_circle</i>Переглянути ка...</a>
        </section>
        <section class="sidebar__navigation sidebar__navigation-links">
            <a href=""><i class="material-icons">local_movies</i>Фільми Youtube</a>
        </section>
        <section class="sidebar__navigation sidebar__navigation-links">
            <a href=""><i class="material-icons">settings</i>Налаштування</a>
            <a href=""><i class="material-icons">help</i>Довідка</a>
            <a href=""><i class="material-icons">sms_failed</i>Надіслати відгук</a>
        </section>
        <footer class="sidebar__footer sidebar__footer-info">
            <a href="">Інфо</a>
            <a href="">Преса</a>
            <a href="">Авторські права</a>
            <a href="">Творці</a>
            <a href="">Реклама</a><br>
            <a href="">Розробники</a>
            <a href="">+YouTube</a>
            <br><br>
            <a href="">Умови</a>
            <a href="">Конфіденційність</a>
            <a href="">Політика та безпека</a>
            <a href="">Спробувати нові функції</a>
            <br>
            <br>
            <p class="sidebar__footer-license">© 2017 YouTube, LLC</p>
        </footer>
    </aside>
    <main class="layout__main">
        {{#recommendation-chapters}}
        <section class="video-section">
            <div class="video-section__title-feed">
                <h3 class="video-section__title">{{chapter-title}}</h3>
                <p class="video-section__title-recommendations">Рекомендовані для вас відео</p>
                <button class="video-section__clear-button"><i class="material-icons">clear</i></button>
            </div>
            <div class="video-section__feed">
                {{#video-list}}
                <div class="video-section__video">
                    <article class="video">
                        <img class="video__cover" src="{{image-url}}" alt="" title="">
                        <h2 class="video__title">{{title}}</h2>
                        <aside>
                            <h6 class="video__channel-name">{{author}}</h6>
                            <p class="video__view-count">{{view-count}} переглядів •</p>
                            <time class="video__upload-time">{{publication-date}}</time>
                        </aside>
                    </article>
                </div>
                {{/video-list}}
                <p class="video-section__show-more">Показати більше</p>
            </div>
        </section>
        {{/recommendation-chapters}}
        {{#subscription-channels}}
            <section class="video-section">
                <div class="video-section__title-feed">
                    <img class="video-section__title-feed-img" src="{{chapter-image}}" alt="">
                    <h3 class="video-section__title">{{chapter-title}}</h3>
                    <p class="video-section__title-recommendations">Рекомендований канал</p>
                    <button class="video-section__clear-button"><i class="material-icons">clear</i></button>
                    <button class="video-section__subscribe-button">Підписатися 56 тис.</button>
                </div>
                <div class="video-section__feed">
                    {{#video-list}}
                        <div class="video-section__video">
                            <article class="video">
                                <img class="video__cover" src="{{image-url}}" alt="" title="">
                                <h2 class="video__title">{{title}}</h2>
                                <aside>
                                    <h6 class="video__channel-name">{{author}}</h6>
                                    <p class="video__view-count">{{view-count}} переглядів •</p>
                                    <time class="video__upload-time">{{publication-date}}</time>
                                </aside>
                            </article>
                        </div>
                    {{/video-list}}
                    <p class="video-section__show-more">Показати більше</p>
                </div>
            </section>
        {{/subscription-channels}}
    </main>
</body>
</html>