a {
  text-decoration: none;
}

a, p, time {
    font-family: "Roboto", sans-serif;
}

.material-icons {
  color: #8b898b;
  vertical-align: middle;
  cursor: pointer;
}

.layout {
  margin: 0;
  background-color: #FFFFFF;

  &__header {
    height: 56px;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(245,243,245,1);
    padding-top: 15px;
  }

  &__sidebar {
    width: 23%;
    float: right;
    margin-right: 4%;
    padding-left: 25px;
  }

  &__main {
    float: right;
    width: 73%;
  }
}