.sidebar {

  &__show-more-button {
    border: none;
    margin: 15px 0;
    clear: both;
    width: 402px;
    height: 35.2px;
    background-color: #EDEDED;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #ADA09D;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
  }

  &__text {
    padding-top: 5px;
    margin-bottom: -15px;
  }

  &__text-2 {
    display:inline-block;
    text-transform: uppercase;
    color: #ADA09D;
    font-size: 12px;
    font-weight: 500;
  }


  &__text-1 {
    width: 150px;
    display:inline-block;
    font-size: 16px;
  }

  &__text-button {
    display:inline-block;
  }

  &__first-video {
    padding: 10px 0;
    clear: both;
    border-bottom: 1px solid #EFEDEF;
  }

}