.video {
  cursor: pointer;
  clear: both;
  padding-top: 15px;

  &__cover {
    float: left;
    width: 168px;
    height: 94px;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 0;
  }

  &__view-count, &__upload-time, &__channel-name {
    color: #878787;
    font-size: 13px;
    margin: 0;
  }

  &__description {
    float: left;
    margin-left: 5px;
  }
}