body {
  margin: 0;
}
.Head__navigation-menu {
  background: #4267b2;
  font-family: Arial;
  position: relative;
  height: 42px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.Head__navigation-userpic {
  border-radius: 12px;
  height: 24px;
  margin-left: 32px;
  margin-right: 6px;
}
.Head__navigation-logo {
  height: 24px;
  width: 24px;
  margin-top: 9px;
  margin-left: 9px;
}
.Head__navigation-search {
  height: 24px;
  margin-top: 9px;
  border-radius: 3px;
}
nav,
form,
img {
  display: inline-block;
  vertical-align: bottom;
}
.Head__navigation-link {
  color: white;
  display: inline;
  position: relative;
  overflow: hidden;
  font-size: 12px;
}
.Head__navigation-wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.Profile__navigation {
  height: 249px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
  position: relative;
  font-family: Arial;
}
.Profile__navigation-cover {
  height: 205px;
  width: 100%;
}
.Profile__navigation-user {
  height: 167px;
  display: inline-block;
  position: absolute;
  top: 27px;
  left: 16px;
}
h1 {
  color: white;
  position: absolute;
  left: 200px;
  top: 150px;
  font-family: Arial;
}
.Profile__navigation-refresh {
  position: absolute;
  float: right;
  right: 16px;
  top: 140px;
}
.Profile__navigation-activity {
  position: absolute;
  float: right;
  right: 16px;
  top: 165px;
}
.Profile__navigation-timeline,
.Profile__navigation-about,
.Profile__navigation-friends,
.Profile__navigation-photos,
.Profile__navigation-more {
  display: inline-block;
  position: relative;
  float: right;
  right: 148px;
  color: #365899;
  font-family: Arial;
  background-color: #FFFFFF;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.Profile__info {
  background: #F6F7F9;
  float: left;
  width: 323px;
  display: inline-block;
}
.Profile__info-workplace {
  font-family: Arial;
  vertical-align: bottom;
}
.Profile__info-workplace-photo {
  height: 33px;
  display: inline-block;
  margin-left: 12px;
}
.Users__timeline {
  background: #FFFAF0;
  float: left;
  width: 451px;
}
.Users__contacts {
  background: #E9EBEE;
  display: block;
  position: fixed;
  width: 204px;
  overflow: auto;
  right: 0px;
  bottom: 0;
  float: top;
  top: 42px;
  font-family: Arial;
}
.Users__contacts-pic {
  border-radius: 100%;
  height: 36px;
}
