.Profile__info {
  background: #F6F7F9;
  float: left;
  width: 323px;
  display: inline-block;

}

.Profile__info-workplace {
  font-family: Arial;
  vertical-align: bottom;


}

.Profile__info-workplace-photo {
  height: 33px;
  display: inline-block;
          4149 6258 0545 1836
  margin-left: 12px;
}
