.Profile__info {
  background: #F6F7F9;
  float: left;
  width: 323px;
  display: inline-block;
}
.Profile__info-workplace {
  font-family: Arial;
  vertical-align: bottom;
}
.Profile__info-workplace-photo {
  height: 33px;
  display: inline-block;
  margin-left: 12px;
}
.Profile__navigation {
  height: 249px;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
  position: relative;
  font-family: Arial;
}
.Profile__navigation-cover {
  height: 205px;
  width: 100%;
}
.Profile__navigation-user {
  height: 167px;
  display: inline-block;
  position: absolute;
  top: 27px;
  left: 16px;
}
.Profile__navigation-refresh {
  position: absolute;
  float: right;
  right: 16px;
  top: 140px;
}
.Profile__navigation-activity {
  position: absolute;
  float: right;
  right: 16px;
  top: 165px;
}
.Profile__navigation-timeline,
.Profile__navigation-about,
.Profile__navigation-friends,
.Profile__navigation-photos,
.Profile__navigation-more {
  display: inline-block;
  position: relative;
  float: right;
  right: 148px;
  color: #365899;
  font-family: Arial;
  background-color: #FFFFFF;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
}
