<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Background-description.css">
</head>
<body>
    <section class="Background-description">
        <h2 class="Background-description__header">I nostri eventi</h2>
        <p class="Background-description__text">Questo mese hai tanti buoni motivi per provare il social eating! Non ti resta che provarli tutti.</p>
    </section>
</body>
</html>