<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Banner.css">
</head>
<body>
<section class="Banner">
    <h1 class="Banner__header">Ogni giorno nuove esperienze</h1>
    <h2 class="Banner__description">Scopri sapori, culture e amici con il social eating</h2>
    <buton class="Banner__button">Scopri gli altri eventi</buton>
</section>
</body>
</html>