<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Events-about.css">
</head>
<body>
    <section class="Events-about">
        <div class="Events-about__item Events-about__item_aria">
            <h6 class="Events-about__header">ARIA DI AUTUNNO</h6>
            <p class="Events-about__text">Autunno alle porte?<br>Noi siamo pronti con i fiche autunnali!</p>
        </div>
        <div class="Events-about__item Events-about__item_mare">
            <h6 class="Events-about__header">MARE</h6>
            <p class="Events-about__text">Frutti di mare che passione!<br>Ecco l’evento perfetto</p>
        </div>
        <div class="Events-about__item Events-about__item_novelle">
            <h6 class="Events-about__header">NOVELLE COUISINE</h6>
            <p class="Events-about__text">Un evento da leccarsi le dita!<br>10 specialità mai provate</p>
        </div>
    </section>
</body>
</html>