<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Promo-recipes.css">
</head>
<body>
    <article class="Promo-recipes">
        <section class="Promo-recipes__textblock">
            <h6 class="Promo-recipes__header">LASCIATI ISPIRARE</h6>
            <h5 class="Promo-recipes__title">Patate alla brace con buccia</h5>
            <p class="Promo-recipes__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
            <button class="Promo-recipes__button">Scopri le altre ricette</button>
        </section>
        <section class="Promo-recipes__top-recipe">
            <h6 class="Promo-recipes__top-recipe-title">RICETTE</h6>
            <p class="Promo-recipes__top-recipe-description">Prova la nostra ricetta delle patate arrosto al timo!</p>
        </section>
        <img class="Promo-recipes__image" src="images/patate-al-rosmarino.png" alt="Potato">
    </article>
</body>
</html>