<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Events-background.css">
    <link rel="stylesheet" href="style/Background-description.css">
    <link rel="stylesheet" href="style/Background-images.css">
</head>
<body>
<div class="Events-background">
    <section class="Background-description">
        <h2 class="Background-description__header">I nostri eventi</h2>
        <p>Questo mese hai tanti buoni motivi per provare il social eating! Non ti resta che provarli tutti.</p>
    </section>
    <section class="Background-images">
        <img class="Background-images__svg-item Background-images__svg-item_baget" src="images/008-groceries.png" alt="Groseries">
        <img class="Background-images__svg-item Background-images__svg-item_myska" src="images/006-vegetables.png" alt="Vegetables">
        <img class="Background-images__svg-item Background-images__svg-item_carrot" src="images/004-carrot.png" alt="Carrot">
        <img class="Background-images__svg-item Background-images__svg-item_cheese" src="images/003-cheese.png" alt="Cheese">
        <img class="Background-images__svg-item Background-images__svg-item_juice" src="images/002-juice.png" alt="Juice">
        <img class="Background-images__svg-item Background-images__svg-item_spaghetti" src="images/001-spaghetti.png" alt="Spagetti">
        <img class="Background-images__svg-item Background-images__svg-item_lemonade" src="images/007-lemonade.png" alt="Lemonade">
        <img class="Background-images__svg-item Background-images__svg-item_apple" src="images/005-apple.png" alt="Apple">
    </section>
</div>
</body>
</html>