<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Contact-form.css">
    <link rel="stylesheet" href="style/Footer.css">
</head>
<body>
    <div class="Footer">
        <div class="Footer__gradient"></div>
        <div class="Contact">
            <p class="Contact__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico.</p>
            <form class="Contact-form" action="#">
                <input class="Contact-form__input" type="text" placeholder="Inserisci la tua email">
                <button class="Contact-form__button">Iscriviti</button>
            </form>
        </div>
        <div class="Copyright-info">
            <p class="Copyright-info__copyrright">Eaty Copiright 2017 all rights reserved</p>
            <p class="Copyright-info__designer">Designed by Rendemarco</p>
        </div>
    </div>
</body>
</html>