<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eaty</title>
</head>
<body>
    <header>
        <a class="Logo" href="#">
            Eaty
        </a>
        <nav class="Site-menu">
            <a href="#">Home</a>
            <a href="#">Eventi</a>
            <a href="#">Ricette</a>
            <a href="#">Chef a domicilio</a>
            <a href="#">Contatti</a>
        </nav>
    </header>
    <main>
        <section class="Banner">
            <h1>Ogni giorno nuove esperienze</h1>
            <h2>Scopri sapori, culture e amici con il social eating</h2>
            <buton>Scopri gli altri eventi</buton>
        </section>
        <article>
            
        </article>
        <article>

        </article>
        <article>

        </article>
        <article>

        </article>
    </main>
    <footer>

    </footer>
</body>
</html>