<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header class="Layout__header">
        <div class="Header">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
    </header>
    <main class="Layout__articles">
        <div class="Articles-wrapper">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <div class="divider"></div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
    </main>
    <footer class="Layout__footer">
        <div class="Footer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
    </footer>
</body>
</html>