.Crete-post {
  &__user-pic {
    border-radius: 100%;
    width: 20px;
  }

  &__input {
    vertical-align: top;
    //border: none;
    resize: none;
    font-size: 20px;
    margin: 0 0 10px 10px;
    width: calc(~"100% - 40px");
  }
}