.site-header {
  background-color: #4267b2;
  height: 50px;
  padding-bottom: 10px;
}
.site-header__searchfield,
.site-header__searchbutton {
  display: inline-block;
}
.site-header__fb-logo {
  margin-top: 10px;
  margin-left: 10px;
}
.site-header__fb-logo,
.site-header__searchbar {
  display: inline-block;
  vertical-align: bottom;
}
.site-header__searchbar,
.site-header__user-pages-navigation,
.site-header__friends-activity-navigation {
  display: inline-block;
}
.site-header__user-pages-navigation {
  margin-left: 150px;
}
.site-header__user-pages-navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-right: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.site-header__user-pages-navigation a::before {
  content: "|";
  color: grey;
  font-weight: normal;
  font-size: 16px;
  margin-right: 10px;
}
.site-header__friends-activity-navigation a {
  width: 15px;
  height: 15px;
  overflow: hidden;
  font-size: 4px;
  border: solid grey 1px;
  display: inline-block;
}
