.page-top-navigation {
  background-color: #f6f7f9;
  height: 43px;
  border-left: 1px solid #e9eaed;
  padding-left: 200px;
  padding-top: 0px;
  padding-bottom: 0px;

  & a {
    border-right: 1px solid #e9eaed;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 43px;
    line-height: 3.05;
    padding: 0 17px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #365899;
  }

  &__more-button {
    border: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: #365899;
    background-color: #f6f7f9;
    align-items: baseline;
    margin-top: 12px;
  }
}