.personal-page-header {
  margin-top: 0;
  background-color: #1D2129;
  padding: 0px;

  &__header-cover {
    height: 205px;
  }

  &__change-cover, &__user-photo {
    display: block;
  }

  &__cover-photo, &__user-name, &__activity-buttons {
    display: inline-block;
    vertical-align: bottom;
  }

  &__user-photo {
    border: 4px solid #fff;
    border-radius: 2px;
    box-shadow: 0px 2px grey;
  }

  &__change-cover {
    width: 168px;
    height: 34px;
    background-color: black;
    color: #E9EBEE;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid darkgray;
    margin-bottom: 10px;
  }

  &__cover-photo {
    position: relative;
    left: 20px;
    top: 20px;
  }

  &__activity-buttons button {
    margin-top: 12px;
    line-height: 26px;
    width: 160px;
    padding: 0 10px;
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
    border-left-width: 0;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
  }

  &__activity-buttons {
    margin-left: 780px;
    position: relative;
    bottom: 100px;
    right: 100px;
  }

  &__user-name {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 40px;
  }
}