.page-header{
  padding:0;
  overflow: hidden;
  position: relative;
  height: 100vh;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  &__header-img{
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  &__title{
    font-size: 60px;
    line-height: 1.2;

    flex-grow: 1;
    z-index: 1;
    color: whitesmoke;
    margin: 50vh 0 0 0;
    @media screen and (max-width: 800px){
      font-size: 30px;
      margin-top: 70vh;
    }
  }

  &__down-arrow{
    justify-self: flex-end;
    font-size: 2rem;
    padding: 0 20px 10vh 20px;
    z-index: 1;
    color: #FFFFFF;
    cursor: pointer;
  }
}

#go-main{
  display: block;
  margin-top: -40;
}