$grid_width_large: 70%;

.row{
  //padding: 50px 0 50px 0;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 0 20px 0;

  &_single-item{
    grid-template-columns: $grid_width_large;
    grid-template-rows: 100%;
    @media screen and (max-width: 800px) {
      grid-template-columns: 80%;
    }
  }

  &_two-items-grid{
    @media screen and (max-width: 800px){
      padding: 50px 0 50px 0;
      grid-template-columns: 80%;
      grid-template-rows: 45% 45%;
      grid-row-gap: 20px;
    }
    @media screen and (min-width: 801px){
      grid-column-gap: 10%;
      grid-template-columns: ($grid_width_large - 10%) / 2 ($grid_width_large - 10%) / 2;
      grid-template-rows: 100%;
    }
  }

  &__algos-grid{
    align-items: start;
    @media screen and (max-width: 800px){
      padding: 50px 0 50px 0;
      grid-template-columns: 80%;
      grid-template-rows: 15% 15% 15% 15% 15%;
      grid-row-gap: 20px;
    }
    @media screen and (min-width: 801px){
      grid-column-gap: 5%;
      grid-row-gap: 30px;
      grid-template-columns: ($grid_width_large - 10%) / 3 ($grid_width_large - 10%) / 3 ($grid_width_large - 10%) / 3;
      grid-template-rows: 30% 30%;
    }
  }

  &__euler-grid{
    align-items: start;
    @media screen and (max-width: 800px){
      padding: 50px 0 50px 0;
      grid-template-columns: 80%;
      grid-template-rows: 15% 15% 15% 15% 15%;
      grid-row-gap: 20px;
    }
    @media screen and (min-width: 801px){
      grid-column-gap: 2.5%;
      grid-row-gap: 30px;
      grid-template-columns: repeat(5, 15%);
      grid-template-rows: 30% 30%;
    }
  }

  &_full-screen-height{
    min-height: 100vh;
  }

  &_align-top{

    align-content: flex-start;
    padding: 0;
  }
}