body{
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
}

.wrap {
    margin: 0 auto 0;
    width: 50%;
}

header{
    background-color: red;
    /*font-family: "PT Sans", sans-serif;*/
}

h1{
    padding: 10px 20px;
    margin: 0;
}

.main{
    height: 100%;
}

section{
    display: inline-block;
    width: 68%;
    height: 100vh;
    padding: 1%;
    margin: 0;
    float: left;
    background-color: purple;
    overflow: auto;
}

p {
    padding: 10px 0;
    margin: 0;
}

aside{
    display: inline-block;
    width: 28%;
    height: 100vh;
    padding: 1%;
    margin: 0;
    float: right;
    background-color: aqua;
    overflow: auto;
}

.clear-fix{
    clear: both;
}

footer{
    background-color: bisque;
    padding: 10px;
    font-family:PT Sans, sans-serif;
}



