.Layout {
  &__library-header,
  &__subscriptions-header {
    color: gray;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .007px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}