@body-color: #111111;
@font-big: 14px;
@font-small: 12px;
@border-width: 1px;
@border-style: solid;
@border-color: lightgray;
@margin-left: 50px;
@a-height: 20px;
@aside-background-color: #F1F1F1;

.Leftside-footer {
  &__help {
    border-bottom: @border-width @border-style @border-color;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__help a {
    display: block;
    color: @body-color;
    font-size: @font-big;
    margin-top: 10px;
    text-decoration: none;
    margin-left: @margin-left;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: @a-height;
    white-space: nowrap;
  }

  &__reference,
  &__feedback {
    display: block;
    color: @body-color;
    font-size: @font-big;
    border: none;
    background-color: @aside-background-color;
    height: 40px;
    margin-left: 42px;
    text-align: left;
  }

  &__copyright,
  &__terms {
    margin-top: 20px;
    margin-left: 40px;
  }

  &__copyright a, &__terms a {
    color: gray;
    text-decoration: none;
    font-size: @font-small;
    font-weight: bold;
  }

  &__copyright-line {
    color: gray;
    font-size: @font-small;
    text-align: center;
    margin-top: 20px;
  }
}