.Top-navigation__menu {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 20px;
}
.Top-navigation__logo {
  width: 80px;
  height: 40px;
  margin-left: 20px;
}
.Top-navigation__searchfield,
.Top-navigation__searchbutton {
  display: inline-block;
  vertical-align: middle;
}
.Top-navigation__menu,
.Top-navigation__logo,
.Top-navigation__searchbar {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
}
.Top-navigation__activity-buttons button {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  font-size: 1px;
}
.Top-navigation__activity-buttons {
  float: right;
  margin-top: 0px;
  margin-right: 100px;
}
.Top-navigation__searchbar {
  margin-left: 70px;
}
