<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/UserProfile.css">
    <link rel="stylesheet" href="style/Head.css">
    <link rel="stylesheet" href="style/common.css">
</head>
<body>
    <header class="Head__navigation-menu">
        <div class="Head__navigation-wrapper">
            <img class="Head__navigation-logo"
             src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png">
            <form action="#">
                <input name="" class="Head__navigation-search" type="search"/>
                <button>Пошук</button>
            </form>
            <nav>
                <a href="https://www.facebook.com/jurij.antonyshyn" class="Head__navigation-link">
                    <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-1/c47.0.160.160/p160x160/10354686_10150004552801856_220367501106153455_n.jpg?oh=22b991412792e281a3f4bfdea0d60577&oe=5AA83649"
                     alt=""
                     class="Head__navigation-userpic">Юрко</a>
                <a href="https://www.facebook.com/?ref=tn_tnmn" class="Head__navigation-link">Головна</a>
                <a href="https://www.facebook.com/find-friends/browser/?ref=tn" class="Head__navigation-link">Знайти друзів</a>
                <a href="" class="Head__navigation-link">Запити на дружбу</a>
                <a href="" class="Head__navigation-link">Повідомлення</a>
                <a href="" class="Head__navigation-link">Сповіщення</a>
                <a href="" class="Head__navigation-link">Швидка допомога</a>
            </nav>
        </div>
    </header>
    <section class="UserProfile"
        style ="background-image: url('https://scontent.flwo1-1.fna.fbcdn.net/v/t34.0-12/11655106_10153050036157424_341447893_n.jpg?oh=042832dc588dc914e572428b0fc642c4&oe=5A125879')"
    >
        <img src="https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-1/c47.0.160.160/p160x160/10354686_10150004552801856_220367501106153455_n.jpg?oh=22b991412792e281a3f4bfdea0d60577&oe=5AA83649"
             class="UserProfile__userpic" alt="">
        <h3 class="UserProfile__username">Юрко Антонишин</h3>
        <nav class="UserProfile__navigation" >
            <form action="https://www.facebook.com/jurij.antonyshyn?lst=100001123682093%3A100001123682093%3A1508880472"
                  class="UserProfile__navigation-element">Життєпис
            </form>
            <form action="https://www.facebook.com/jurij.antonyshyn/about?lst=100001123682093%3A100001123682093%3A1508880472"
                  class="UserProfile__navigation-element">Про себе
            </form>
            <form action="https://www.facebook.com/jurij.antonyshyn/friends?lst=100001123682093%3A100001123682093%3A1508880472&source_ref=pb_friends_tl"
                  class="UserProfile__navigation-element">Друзі 160
            </form>
            <form action="https://www.facebook.com/jurij.antonyshyn/photos?lst=100001123682093%3A100001123682093%3A1508880472&source_ref=pb_friends_tl"
                  class="UserProfile__navigation-element">Світлини
            </form>
            <form action="#"
                  class="UserProfile__navigation-element">Більше
            </form>
        </nav>

        <div class="UserProfile__activity">
            <button class="UserProfile__button">Оновити інформацію</button>
            <button class="UserProfile__button">Журнал активності</button>
        </div>

    </section>
</body>
</html>