<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/UserProfile.css">
    <link rel="stylesheet" href="style/common.css">
</head>
<body>
    <section class="UserProfile"
        style ="background-image: url('https://scontent.flwo1-1.fna.fbcdn.net/v/t34.0-12/11655106_10153050036157424_341447893_n.jpg?oh=042832dc588dc914e572428b0fc642c4&oe=5A125879')"
    >
        <img src="https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-1/p320x320/21731174_1861632347486220_5078332628834684097_n.jpg?oh=23337f5b0954c9149d2e63d4b935571d&oe=5A9CEC45"
             class="UserProfile__userpic" alt="">
        <h3 class="UserProfile__username">Mykhailo Ivankiv</h3>
        <nav class="UserProfile__navigation" >
            Put navigation here!
        </nav>

        <div class="UserProfile__activity">
            <button class="UserProfile__button">Оновити інформацію</button>
            <button class="UserProfile__button">Журнал активності</button>
        </div>

    </section>
</body>
</html>