<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style/common.css">
    <link rel="stylesheet" type="text/css" href="style/Layout.css">
    <link rel="stylesheet" type="text/css" href="style/UserProfile.css">

</head>
<body class="Layout">
<header class="Layout__header">
    <div class="Layout__header-wrapper">
        Lorem ipsum dolor sit amet.
    </div>
</header>
<section class="Layout__payload">
    <aside class="Layout__navigation">Lorem ipsum dolor sit amet.</aside>
    <main class="Layout__news-line">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, molestiae, nisi. Aut corporis eligendi eum facilis iusto libero repellendus. Consectetur deserunt eaque esse ex iusto nisi officiis saepe, velit voluptatum!

    </main>
    <aside class="Layout__additional-info">Lorem ipsum dolor sit amet.</aside>
</section>
<aside class="Layout__chat"> lorem*10Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Alias assumenda atque aut consequuntur corporis delectus, dolor doloribus ea eligendi illo labore modi natus nesciunt odio porro sequi tenetur veritatis voluptatum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id modi numquam rerum sunt.
    Illo in sapiente tempora! Assumenda atque cumque minima nisi numquam quibusdam repudiandae sit tempore totam voluptatum?</aside>
</body>
</html>