html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  margin: 0;
}

.base-list {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #1b1b1b;
}

.p-config {
  font-size: 19px;
  line-height: 25px;
}

.h1-config {
  font-size: 36px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-60 {
  margin-top: 60px;
}


.main-header {
  .header-part {
    &__text-container {
      height: 220px;
      float: left;
    }
    &__text {
      @extend .base-list;
      &_font-size-24 {
        font-size: 24px;
        text-decoration: none;
      }
    }
  }
  .navigation {
    &__text-container {
      height: 120px;
    }
    &__text {
      @extend  .base-list;
      &_margin-80 {
        margin-top: 80px;
      }
      &_margin-60 {
        margin-top: 60px;
      }
    }
  }
}




.two-pic-section {
  height: 100vh;
  position: relative;
  margin-top: 70px;
  &__img {
    &_over {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 101;
    }
    &_under {
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      &:hover {
        z-index: 102;
      }
    }
    &_left.grid_10 {
      left: 0;
    }
  }
  &__text {
    @extend .base-list;
  }
}

.black-estate-title {
  margin-top: 60px;
  &__text {
    @extend .base-list;
    @extend .p-config;
  }
  &__text-container {
    float: left;
  }
  &__img {
    float: right;
  }
}

.side-note {
  margin-top: 200px;
  &__text-container.grid_5 {
    height: 300px;
    float: left;
  }
  &__text {
    @extend .base-list;
    @extend .p-config;
    &_margin-40 {
      margin-top: 40px;
    }
  }
  &__img.grid_10 {
    float: right;
  }
}

.tasting-room.container_16 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.tasting-room {
  &__header {
    height: 100px;
    @extend .h1-config;
  }
  &__main {
    margin-top: 80px;
  }
  &__item.grid_3 {
    height: 250px;
    float: left;
  }
  &__text {
    @extend .base-list;
    &_margin-60 {
      margin-top: 60px;
    }
  }
}



.current-releases {
  margin-top: 100px;
  &__img {
    width: 250px;
    position: absolute;
    z-index: 1;
    margin-top: -200px;
  }
  &__text-container.grid_5 {
    height: 225px;
  }
  &__text {
    @extend .base-list;
    &_margin-200 {
      margin-top: 200px;
    }
  }
  &__text-p {
    @extend .p-config;
    @extend .base-list;
  }
  &__items-container {
    margin-top: 100px;
    float: left;

  }
}

.wine-store {
  height: 100vh;
  &__text {
    @extend .base-list;
    &_font-size-32 {
      font-size: 32px;
    }
    &_margin-120 {
      margin-top: 120px;
    }
  }
  &__text-p {
    @extend .base-list;
    @extend .p-config;
  }
  &__text-container {
    margin-top: 200px;
    height: 300px;
  }
}

.main-footer {
  height: calc(100vh + 200px);
  &__text {
    @extend .base-list;
  }
}
