
.Footer{
    background-color: #f8f8f8;
    padding: 1px;
    &__wrapper {
        width:970px;
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    &__logo{
        font-size: 34px;
        font-weight: 500;
        color: #37c491;
        text-decoration: none;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    &__site-map{
       display: flex;
        justify-content: space-evenly;
    }

    &__company,
    &__discover,
    &__contact {
        margin-right: 10px;
    }

    &__site-map-item {
        display: block;
       
        font-size: 16px;
        line-height: 1.36;
        color: #505050;
        margin-right: 50px;
        text-decoration: none;
    }

    &__select{
    width: 100px;
    padding-left: 20px;
}

    &__copy {
        text-align: center;
      
        font-size: 14px;
        line-height: 1.36;
        color: #505050;
        margin: 20px;
    }
    &__company,
    &__discover,
    &__contact,
    &__blog-caption{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.33;
        color: #4e5665;
    }
}