body {
    background-image: url("test.svg");
    margin: 0px;
}

h1 {

    background-color: #2ecc71;
    font-family: "PT Serif", sans-serif;
    color: #2c3e50;

    margin: 10px;

    display: block;

    line-height: 20px;

    /*padding: 20px;*/

}

div {

    min-height: 40px;

    outline: 2px dashed black;

    /*height: 150px;*/
    /*width: 150px;*/
    margin: 20px;

    /*padding: 1px;*/

    /*;*/

}

/*no width, height for inline*/
#id1 {
    background-color: red;

}

#id2 {
    background-color: yellow;
    position: absolute;
    left: 0px;
    top: 0px;
    height:100px;
    width:100px;
    margin: 0;
    /*z-index: -1;*/

}

#id3 {
    background-color: blue;
    position: relative;
}