<header id="brief" class="row row_full-screen-height row_single-item">
    <article class="card">
        <div class="card-content">
            <h3 class="card-content__title">Sergey Dubovyk</h3>
            <img class="card-content__preview-image card-content__preview-image_rounded card-content__preview-image_shadowed" src="/images/dubovyk.jpg" alt="image">
            <p class="card-content__description_text card-content__description_text_big">Welcome to the site which appeared as a result of
                the following composition: me, some weird ideas, nice day in Lviv and some beer from Nina and idea that node.js actually
                doesn`t suck that much! :)
                <br><br>And also you can find web-development course solutions here (actually no).</p>
            <button id="go-main" class="card-content__btn card-content__btn_red" role="button">WTF is this?</button>
        </div>
    </article>
</header>

<main id="main" class="row row_full-screen-height row_two-items-grid">

    <article class="card">
        <div class="card-content">
            <h3 class="card-content__title">Project Euler</h3>
            <img class="card-content__preview-image card-content__preview-image_rounded card-content__preview-image_shadowed" src="/images/math1.png" alt="image">
            <p class="card-content__description_text">Project Euler is a series of challenging mathematical/computer programming problems.<br><br>And here`re my solutions for some of the tasks.</p>
            <a id="go-project-euler" class="card-content__btn card-content__btn_red" role="button">Explore</a>
        </div>
    </article>

    <article class="card">
        <div class="card-content">
            <h3 class="card-content__title">JS sorting</h3>
            <img class="card-content__preview-image card-content__preview-image_rounded card-content__preview-image_shadowed" src="/images/sort.png" alt="image">
            <p class="card-content__description_text">Another great thing you can do with power of modern pc`s is to sort several numbers with different approaches. Some of them are here and nobody cares, that everybody will use quicksort and don`t give a fuck how it works...</p>
            <a id="go-js-sort" class="card-content__btn card-content__btn_blue" role="button">Explore</a>
        </div>
    </article>
</main>

<main id="js-sort" class="row row_full-screen-height" style="text-align: center;">
    <h1 style="font-size: 3rem;">Sorting algos</h1>
    <section class="row row__algos-grid">
        <div class="card">
            <div class="card-content">
                <h3 class="card-content__title">Bubble sort</h3>
                <p class="card-content__description_text">A great algorithm to heat up your room. Or planet.<br><br>Oh, shi... <br>That`s how global warming happened!</p>
                <a href="/algo/bubble" class="card-content__btn card-content__btn_blue" role="button">Explore</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3 class="card-content__title">Selection sort</h3>
                <p class="card-content__description_text" style="flex-grow: 1;">A great algorithm... if you want to waste tones of time. Really!)</p>
                <a href="/algo/select" class="card-content__btn card-content__btn_blue" role="button">Explore</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3 class="card-content__title">Insertion sort</h3>
                <p class="card-content__description_text">Insertion sort is a simple sorting algorithm that builds the final sorted array (or list) one item at a time...<br><br> and all that stuff from wiki...</p>
                <a href="/algo/insert" class="card-content__btn card-content__btn_blue" role="button">Explore</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3 class="card-content__title">Merge sort</h3>
                <p class="card-content__description_text">It`s almost as good as quicksort, but not really quick... so, it`s merge sort...</p>
                <a href="/algo/merge" class="card-content__btn card-content__btn_blue" role="button">Explore</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3 class="card-content__title">Quicksort</h3>
                <p class="card-content__description_text">Quick... quicker... and even more quicker... That`s a really great way to make some heat out of you CPU!</p>
                <a href="/algo/quick" class="card-content__btn card-content__btn_blue" role="button">Explore</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3 class="card-content__title">Counting sort</h3>
                <p class="card-content__description_text">Anybody... tell me how it got here?! Just don`t read what`s under this link! Pleaseeee!</p>
                <a href="/algo/count" class="card-content__btn card-content__btn_blue" role="button">Explore</a>
            </div>
        </div>
    </section>
</main>

<main id="project-euler" class="row row_full-screen-height" style="text-align: center;">
    <h1 style="font-size: 3rem;">Project Euler</h1>
    <section class="row row__euler-grid">
        <div class="card">
            <div class="card-content">
                <a href="/euler/1" class="card-content__btn  card-content__btn_blue" role="button">Task 1</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/2" class="card-content__btn card-content__btn_blue" role="button">Task 2</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/3" class="card-content__btn card-content__btn_blue" role="button">Task 3</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/4" class="card-content__btn card-content__btn_blue" role="button">Task 4</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/5" class="card-content__btn card-content__btn_blue" role="button">Task 5</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/6" class="card-content__btn card-content__btn_blue" role="button">Task 6</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/7" class="card-content__btn card-content__btn_blue" role="button">Task 7</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/8" class="card-content__btn card-content__btn_blue" role="button">Task 8</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/9" class="card-content__btn card-content__btn_blue" role="button">Task 9</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/10" class="card-content__btn card-content__btn_blue" role="button">Task 10</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/11" class="card-content__btn card-content__btn_blue" role="button">Task 11</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/12" class="card-content__btn card-content__btn_blue" role="button">Task 12</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/13" class="card-content__btn card-content__btn_blue" role="button">Task 13</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/14" class="card-content__btn card-content__btn_blue" role="button">Task 14</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <a href="/euler/15" class="card-content__btn card-content__btn_blue" role="button">Task 15</a>
            </div>
        </div>
    </section>
</main>