.Creator__tools {
  width: 1519.2px;
  height: 587.35px;
  background-image: url("../images/snow-ass.jpg");
  @media screen and (min-width: 67.5625em) {
    color: #FFF;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 11.875rem;
  }
}
.Creator__tools_advertising_title {
font-size: 2.25rem;
text-align: center;
margin: 1.875rem 0;
line-height: 2.875rem;
}

.Creator__tools_wrapper {
  max-width: 80rem;
  padding: 0 2.5rem;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}

.Creator__tools_additional-info {
  background: #8e44ad;
  display: inline-block;

}

.Creator__tools_advertising {
  width: 31.25rem;
  float: left;
  @media screen and (min-width: 67.5625em){
    color: #FFF;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 11.875rem;
  }
}

.Creator__tools_player-conteiner {
  background-image: url("../images/advertising.jpg");
  background: #3b5ca0;
  width: 33.75rem;
  height: 18.75rem;
  float: right;
  margin-top: 3.125rem;
  @media screen and (min-width: 67.5625em) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.Creator__tools_advertising-stuf {
  display: block;
  margin-top: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.25rem;

}

.Creator__tools_additional-info_title{
  display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}