.Layout {
}

.Layout__header {
  background: #1A2E3B;
  position: fixed;
  width: 100%;
  height: 71px;
  top: 0;
  z-index: 50;
}

.Layout__header-wrapper {
  background: chartreuse;
  width: 961px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  position: relative;
  left: calc(~"-205px / 2");
}

.Layout__navigation {
  background: #1abc9c;
  width: 180px;
}

.Layout__head-page {
  background: #8e44ad;
  width: 500px;
}

.Layout__additional-info {
  background: #b71c1c;
  width: 1519.2px;
}

.Layout__payload {
  background: #4aaee8;
  margin-top: 71px;
  width: 1519.2px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
