.Grid {

  max-width: 1208px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}



.Grid__cell,
.Grid__cell_1,
.Grid__cell_2,
.Grid__cell_3,
.Grid__cell_4,
.Grid__cell_5,
.Grid__cell_6,
.Grid__cell_7,
.Grid__cell_8,
.Grid__cell_9,
.Grid__cell_10,
.Grid__cell_11,
.Grid__cell_12 {
  margin:1.325%;
  position: relative;

}



.Grid__cell_1 {
  flex-basis: 5.55%;
  max-width: 5.55%;
}

.Grid__cell_2 {
  flex-basis: 13.82%;
  max-width: 13.82%;
}

.Grid__cell_3 {
  flex-basis: 21.1%;
  max-width: 21.1%;
}

.Grid__cell_4 {
  flex-basis: 30.38%;
  max-width: 30.38%;
}

.Grid__cell_5 {

  flex-basis: 38.65%;
  max-width: 38.65%;
}

.Grid__cell_6 {
  flex-basis: 46.93%;
  max-width: 46.93%;
}

.Grid__cell_7 {
  flex-basis: 55.2%;
  max-width: 55.2%;
}

.Grid__cell_8 {
  flex-basis: 63.48%;
  max-width: 63.48%;
}

.Grid__cell_9 {
  flex-basis: 72.76%;
  max-width: 72.76%;
}

.Grid__cell_10 {
  flex-basis: 80.03%;
  max-width: 80.03%;
}

.Grid__cell_11 {
  flex-basis: 88.31%;
  max-width: 88.31%;
}

.Grid__cell_12 {
  flex-basis: 96.59%;
  max-width: 96.59%;
}

.Grid__prefix_1{
  margin-left: 9.521%;
}
.Grid__prefix_2{
  margin-left: 17.798%;
}
.Grid__prefix_3{
  margin-left: 26.07%;
}
.Grid__prefix_4{
  margin-left: 34.35%;
}
.Grid__prefix_5{
  margin-left: 42.627%;
}

.Grid__prefix_6{
  margin-left: 50.903%;
}
.Grid__prefix_7{
  margin-left: 59.18%;
}
.Grid__prefix_8{
  margin-left: 67.456%;
}
.Grid__prefix_9{
  margin-left: 75.733%;
}
.Grid__prefix_10{
  margin-left: 84.009%;
}
.Grid__prefix_11{
  margin-left: 92.286%;
}

.Grid__suffix_1{
  margin-right: 8.196%;
}
.Grid__suffix_2{
  margin-right: 16.473%;
}
.Grid__suffix_3{
  margin-right: 24.749%;
}
.Grid__suffix_4{
  margin-right: 33.025%;
}
.Grid__suffix_5{
  margin-right: 41.302%;
}

.Grid__suffix_6{
  margin-right: 49.578%;
}
.Grid__suffix_7{
  margin-right: 57.855%;
}
.Grid__suffix_8{
  margin-right: 66.131%;
}
.Grid__suffix_9{
  margin-right: 74.408%;
}
.Grid__suffix_10{
  margin-right: 82.684%;
}
.Grid__suffix_11{
  margin-right: 90.961%;
}
/*.Grid__cell_pull_1 {
  left: 8.333%;
}

.Grid__cell_pull_2 {
  left: 16.667%;
}

.Grid__cell_pull_3 {
  left: 25%;
}
.Grid__cell_pull_4 {
  left: 33.333%;
}

.Grid__cell_pull_5 {
  left: 41.667%;
}

.Grid__cell_pull_6 {
  left: 50%;
}

.Grid__cell_pull_7 {
  left: 58.333%;
}

.Grid__cell_pull_8 {
  left: 66.667%;
}

.Grid__cell_pull_9 {
  left: 75%;
}

.Grid__cell_pull_10 {
  left: 83.333%;
}

.Grid__cell_pull_11 {
  left: 91.667%;
}

.Grid__cell_push_1 {
  left: -8.333%;
}

.Grid__cell_push_2 {
  left: -16.667%;
}

.Grid__cell_push_3 {
  left: -25%;
}

.Grid__cell_push_4 {
  left: -33.333%;
}

.Grid__cell_push_5 {
  left: -41.667%;
}

.Grid__cell_push_6 {
  left: -50%;
}

.Grid__cell_push_7 {
  left: -58.333%;
}

.Grid__cell_push_8 {
  left: -66.667%;
}

.Grid__cell_push_9 {
  left: -75%;
}

.Grid__cell_push_10 {
  left: -83.333%;
}

.Grid__cell_push_11 {
  left: -91.667%;
}
.Grid__prefix_1{
  margin-left: 9.333%;
}
.Grid__prefix_2{
  margin-left: 17.667%;
}
.Grid__prefix_3{
  margin-left: 26%;
}
.Grid__prefix_4{
  margin-left: 34.333%;
}
.Grid__prefix_5{
  margin-left: 42.667%;
}

.Grid__prefix_6{
  margin-left: 51%;
}
.Grid__prefix_7{
  margin-left: 59.333%;
}
.Grid__prefix_8{
  margin-left: 67.667%;
}
.Grid__prefix_9{
  margin-left: 76%;
}
.Grid__prefix_10{
  margin-left: 84.333%;
}
.Grid__prefix_11{
  margin-left: 92.667%;
}

.Grid__suffix_1{
  margin-right: 8.333%;
}
.Grid__suffix_2{
  margin-right: 16.667%;
}
.Grid__suffix_3{
  margin-right: 25%;
}
.Grid__suffix_4{
  margin-right: 33.333%;
}
.Grid__suffix_5{
  margin-right: 41.667%;
}

.Grid__suffix_6{
  margin-right: 50%;
}
.Grid__suffix_7{
  margin-right: 58.333%;
}
.Grid__suffix_8{
  margin-right: 66.667%;
}
.Grid__suffix_9{
  margin-right: 75%;
}
.Grid__suffix_10{
  margin-right: 83.333%;
}
.Grid__suffix_11{
  margin-right: 92.667%;
}
*/


.Grid:before,
.Grid:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
