.Promoarticle-5sections {

  &__title {
    font-family: Baskerville, sans-serif;
    font-size: 48px;
    text-align: center;
    color: #000000;
  }

  &__description {
    font-family: GillSans, sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
  }

  &__link {
    font-family: GillSans, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 2.2px;
    text-align: center;
    text-decoration: underline;
    color: #797979;
    margin-top: 70px;
    margin-bottom: 38px;
  }

  &__images {
    display: flex;
    align-items: flex-start;


  }

  &__4images {
    margin-left: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__image {
    &_big {
      background-color: #eae9e5;
      background-size: cover;
      background-repeat: no-repeat;
      height: 58vh;

      &_shoes {
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_554,w_554/v1513364108/134905_Wide-CalfBootCollection_HP_2017_1213_AA2_134826.d14b263f-e781-4019-8d4c-b4b77a4dbd53_ivwcod.jpg");
      }
    }
    &_small {
      width: 263px;
      height: 263px;
      background-color: #eae9e5;
    }

  }

  &__promotext {
    color: #a8a8a8;
    font-family: GillSans-Light, sans-serif;
    line-height: 20px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  &__item-name {
    color: #6c7178;
    font-family: GillSans-Light, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  &__price {
    color: #a8a8a8;
    font-family: GillSans-Light, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 46px;
  }

}