.Header {
  display: flex;

  &__menu-link {
    display: block;
    height: 32px;
    width: 32px;
    background-position: 13px -49px;
    background-image: url(../img/Icon-sprite.png);
    background-repeat: no-repeat;
  }
  &__menu-name {
    font-family: HelveticaNeue, sans-serif;
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #6c7178;
  }

  &__form {
    width: 185px;
    height: 52px;
    border: solid 2px rgba(0, 0, 0, 0.09);
    display: flex;
  }

  &__search {
    border: none;
  }

  &__search-icon {
    display: block;
    height: 32px;
    width: 32px;
    background-position: 13px -49px;
    background-image: url(../img/Icon-sprite.png);
    background-repeat: no-repeat;
  }
}