.Promo-big-image {

  &__header {
    font-family: GillSans, sans-serif;
    font-size: 22px;
    text-align: center;
    color: #868686;
  }

  &__title {
    font-family: Baskerville, sans-serif;
    font-size: 56px;
    text-align: center;
    color: #000000;
  }

  &__description {
    font-family: GillSans, sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    color: #000000;
    margin-bottom: 70px;
  }

  &__link {
    font-family: GillSans, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 2.2px;
    text-align: center;
    text-decoration: underline;
    color: #797979;
  }
}