<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/bHeader__activity-buttons.css">
</head>
<body>
    <div class="Activity-buttons">
        {{#action-button}}
            <button type="button" class="Activity-buttons__button"><img class="Activity-buttons__icon"
                                                                     src="{{icon}}"/>
            </button>
        {{/action-button}}
    </div>
</body>
</html>