<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="style/aside_navigation.css">-->
</head>
<body>
    <nav class="Aside__main-navigation">
        {{#aside-navigation}}
            {{#main-navigation}}
                <a href="{{url}}"><img src="{{icon}}"> <span>"{{title}}"</span></a>
            {{/main-navigation}}
            {{#library}}
                <h6 class="Layout__library-header">{{section-name}}</h6>
                {{#item}}
                    <a href="{{url}}"><img src="{{icon}}"> <span>"{{title}}"</span></a>
                {{/item}}
            {{/library}}
        {{/aside-navigation}}




    </nav>
    <!--<nav class="Aside__library">
        <h5 class="Layout__library-header">БІБЛІОТЕКА</h5>
        <a href="www.youtube.com/feed/history">Історія</a>
        <a href="https://www.youtube.com/playlist?list=WL">Переглянути пізніше</a>
        <a href="https://www.youtube.com/playlist?list=LLmEm9tungaVn0-X4m-NFPsQ">Відео, які сподобались</a>
    </nav>
    <nav class="Aside__subscriptions">
        <h5 class="Layout__subscriptions-header">ПІДПИСКИ</h5>
        <a href="https://www.youtube.com/channel/UCesO4-UStBz-iTTgkY645yw">Популярні на YouTube - Україна</a>
        <a href="https://www.youtube.com/channel/UC-9-kyTW8ZkZNDHQJ6FgpwQ">Музика</a>
        <a href="https://www.youtube.com/channel/UCEgdi0XIXXZ-qJOFPf4JSKw">Спорт</a>
        <a href="https://www.youtube.com/channel/UCOpNcN46UbXVtpKMrmU4Abg">Комп'ютерні ігри</a>
    </nav>
    <nav class="Aside__channels">
        <a href="https://www.youtube.com/channels">Переглянути канали</a>
    </nav>
    <nav class="Aside__films">
        <a href="https://www.youtube.com/channel/UClgRkhTL3_hImCAmdLfDE4g">Фільми YouTube</a>
    </nav>-->
</body>
</html>