<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/bAside__footer.css">
</head>
<body>
<footer class="Aside__footer">
    <section class="Aside__footer-help">
        <a class="Aside__footer-settings" href="https://www.youtube.com/account">Налаштування</a>
        <button type="button" class="Aside__footer-reference">Довідка</button>
        <button type="button" class="Aside__footer-feedback">Написати відгук</button>
    </section>
    {{#aside-footer}}
    <section class="Aside__footer-copyright">
        {{#copyright}}
            <a class="Aside__footer-copyright-item" href="{{url}}">{{title}}</a>
        {{/copyright}}
    </section>
    <section class="Aside__footer-terms">
        {{#terms}}
            <a class="Aside__footer-terms-item" href="{{url}}">{{title}}</a>
        {{/terms}}
    </section>
    {{/aside-footer}}
    <p class="Aside__footer-copyright-line">© 2017 YouTube, LLC</p>
</footer>
</body>
</html>