<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Copyright-and-policy.css">
</head>
<body>
    {{#copyright-and-policy}}
        <section class="Copyright-and-policy">
            {{#items}}
                <a class="Copyright-and-policy__item" href="{{url}}">{{title}}</a>
            {{/items}}
        </section>
    {{/copyright-and-policy}}
</body>
</html>