<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="style/new/Header.css">
    <title>Document</title>
</head>
<body>
<header class="Header">
    <section class="Header__left-part">
        <img class="Header__hamburger"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png">

        <img class="Header__youtube-logo"
             src="https://www.youtube.com/yt/about/media/images/brand-resources/logos/YouTube-logo-full_color_light.svg">

        <input class="Header__main-search" type="text" placeholder="Пошук">
        <button class="Header__search-button"><img class="search_icon"
                                           src="https://digiday.com/wp-content/themes/digiday/static/images/icon_search.svg">
        </button>
    </section>

    <section id="Header__right-part">
        <img class="Header__icon"
             src="https://image.flaticon.com/icons/png/128/60/60723.png">

        <img class="Header__icon"
             src="http://www.myiconfinder.com/uploads/iconsets/256-256-255dcbc5f25c5a617cd0f7fb5c8c906d-grid.png">

        <img class="Header__icon"
             src="http://www.download3k.com/article_images/0/384/thumb_7_fc5baf86b725ec5f2b536d32725f24e3.png">


        <img class="Header__circle-image"
             src="https://yt3.ggpht.com/-Sf5jwMHGczE/AAAAAAAAAAI/AAAAAAAAAAA/gMmMai3rK4Q/s88-c-k-no-mo-rj-c0xffffff/photo.jpg">
    </section>
</header>
</body>
</html>