<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" media="screen" href="style/Layout.css">
    <body class="Layout">
        <header class="Layout__header">
            <div class="Header">
                <div class="Header__left">

                </div>
                <div class="Header__right">

                </div>
            </div>
            {{test}}
        </header>
        <aside class="Layout__Aside">
            Lorem ipsum dolor sit amet
        </aside>
        <main class="Layout__Video-lists">
            Lorem ipsum dolor sit amet
        </main>
    </body>
</html>