.Leftside-footer__help {
  border-bottom: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Leftside-footer__help a {
  display: block;
  color: #111111;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
  margin-left: 50px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  white-space: nowrap;
}
.Leftside-footer__reference,
.Leftside-footer__feedback {
  display: block;
  color: #111111;
  font-size: 14px;
  border: none;
  background-color: #F1F1F1;
  height: 40px;
  margin-left: 42px;
  text-align: left;
}
.Leftside-footer__copyright,
.Leftside-footer__terms {
  margin-top: 20px;
  margin-left: 40px;
}
.Leftside-footer__copyright a,
.Leftside-footer__terms a {
  color: gray;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
.Leftside-footer__copyright-line {
  color: gray;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}
