.Video-lists__video {
  width: 210px;
  display: inline-block;
  vertical-align: top;
}
.Video-lists__recommended,
.Video-lists__popular,
.Video-lists__uploads {
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.Video-lists__description-black {
  color: #111111;
  font-weight: bold;
  padding-top: 10px;
}
.Video-lists__description-grey {
  color: gray;
  padding-top: 10px;
}
.Video-lists__uploads-header,
.Video-lists__popular-header,
.Video-lists__recommended-header {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 2rem;
}
