.Article {
  margin: 5px;
  padding: 3px;
  background: white;
  border-radius: 5px;
  border: #E1E3E6 solid;
}

.Article__news-title {
  padding-left: 10px;
  overflow: hidden;
}
.Article__author-photo{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 4px;
  vertical-align: middle;

}
.Article__main-image {
  padding: 10px;
  width: 380px;
  max-width: 100%;
}

.Article__user-choice {
  padding-left: 10px;
  padding-bottom: 5px;
}

.Article__title-text {
  display: inline;
}