.Article {
  background: aqua;
  margin: 5px;
}
.Article__news-title {
  background: darkorchid;
  padding-left: 10px;
  overflow: hidden;
}
.Article__author-photo {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 4px;
  vertical-align: middle;
}
.Article__main-image {
  padding: 10px;
  width: 380px;
  height: 190px;
}
.Article__user-choice {
  padding-left: 10px;
  padding-bottom: 5px;
}
.Article__title-text {
  display: inline;
}
