.Additional-info {
  margin: 5px;
  padding: 8px;
  background: white;
  border-radius: 5px;
  border: #E1E3E6 solid;

  .Additional-info_title{
    text-decoration: none;
    color: gray;
  }

  .Additional-info_advertising-usability {
    padding-bottom: 5px;
  }

  .Additional-info_advertising-link {
    padding-left: 198px;
    text-decoration: none;
    color: #000;
  }
  &_link-title {
    padding-left: 90px;
    text-decoration: none;
    color: #000;

  }
  &_picture {
    margin-left: auto;
    margin-right: auto;
  }
}