.Header-user-navigation{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  display: inline;
  font-weight: 700;
  height: 27px;
  line-height: 28px;
  padding-left: 145px;
  padding-right: 10px;
  position: relative;
}

.User-profile-page_link{
  color: white;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  height: 30px;
  text-decoration: none;
}
.User-profile-main{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  height: 30px;
}