.Icon-User-opinion {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: bottom;
  margin-right: 5px;
}

.Icon-User-opinion__create-a-post {
  background-position: 0 91px;
  background-image: url(../images/icon-sprite6.png);
}

.Icon-User-opinion__album-with-pictures {
  background-position: 18px 17px;
  background-image: url(../images/icon-sprite7.png);
}

.Icon-User-opinion__live-video {
  background-position: 0 34px;
  background-image: url(../images/icon-sprite7.png);
}