.Navigation{
  background: aqua;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.Navigation__item{
  text-decoration: none;
  display: block;
  height: 35px;
  color: black;
}

.Navigation__item-counter {
  float: right;
  padding: 3px;
  margin-left: 300px;
}

.Navigation_fast {
  display: block;
}
