.Notification-menu {
}

.Notification-menu__friend-requests {
  background: url('../images/icon-sprite2.png') no-repeat top;
  width: 27px;
  height: 27px;
  background-position: 1px -49px;
  opacity: .75;
  border: none;
}
.Notification-menu__new-messages {
  background: url('../images/icon-sprite3.png') no-repeat top;
  width: 27px;
  height: 27px;
  background-position: 1px -137px;
  opacity: .75;
  border: none;
}

.Notification-menu__notification {
  background: url('../images/icon-sprite2.png') no-repeat top;
  width: 27px;
  height: 27px;
  background-position: 1px -99px;
  opacity: .75;
  border: none;
}

.Notification-menu__fast-help {
  background: url('../images/icon-sprite3.png') no-repeat top;
  width: 27px;
  height: 27px;
  background-position: 1px -313px;
  opacity: .75;
  border: none;
}

.Notification-menu__your-pages {
  background: url('../images/triangle.png') no-repeat top;
  width: 27px;
  height: 27px;
  background-position: 1px 8px;
  opacity: .75;
  background-size: 10px 10px;
  border: none;
}
