.Notification-menu {
  background: #8e44ad;
}

.Notification-menu_friends-requests{
  background: url("../images/notification-menu-pic/friends.png") no-repeat top;
  vertical-align: middle;
  height: 27px;
  background: chartreuse;
}

.Notification-menu_new-messeges {
  background: url("../images/notification-menu-pic/messenger.png") no-repeat top;
  background-size: image-width * 0.6 image-height* 0.6;
  vertical-align: middle;
  height: 27px;
  width: 27px;
}

.Notification-menu_new-notification{
  background: url("../images/notification-menu-pic/messenger.png") no-repeat top;
  background-size: image-width * 0.6 * 0.6;
  vertical-align: middle;
  height: 27px;
}

.Notification-menu_fast-helping{
  background: url("../images/notification-menu-pic/messenger.png") no-repeat top;
  background-size: image-width * 0.6 image-height * 0.6;
  vertical-align: middle;
  height: 20px;
}

.Notification-menu_your-page-menu{

}