.Notification-menu_friends-requests{
  background: url("../images/notification-menu-pic/friends.png") no-repeat top;
  vertical-align: middle;
  height: 27px;
  width: 27px;
  background-position: -1px -1px;
  background-size: cover;
}

.Notification-menu_new-messeges {
  background: url("../images/notification-menu-pic/messenger.png") no-repeat top;
  height: 27px;
  width: 27px;
  background-position: -1px -1px;
  background-size: cover;
}

.Notification-menu_new-notification{
  background: url("../images/icons-sprite.png") no-repeat top;
  height: 27px;
  width: 27px;
  background-position: -1px -1px;
  background-size: cover;
}

.Notification-menu_fast-helping{
  background: url("../images/notification-menu-pic/icon-help_questions.png") no-repeat top;
  height: 27px;
  width: 27px;
  background-position: -1px -1px;
  background-size: cover;
}

.Notification-menu_your-page-menu{

}