.User-profile-link {
  display: inline-block;
  padding: 3px;
}
.User-profile-page {
  text-decoration: none;
  color: black;
  vertical-align: middle;
}
.User-profile-pic {
  width: 25px;
  height: 25px;
  border-radius: 100% ;
  vertical-align: middle;
}
