.header {
    position: fixed;
    right:0;
    left: 0;
    top: 0;
    background-color: #282828;
}

.header__hamburger-menu {
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding-left: 24px;
    margin-right: -5px;
}

.header__youtube-logo {
    vertical-align: middle;
    width: 100px;
}

.header__search-form {
    vertical-align: middle;
    display: inline-block;
    margin-left: 62px;
}

.header__search-form_search {
    font-size: 16px;
    width: 591px;
    height: 23px;
}

.header__search-form_search-button {

}

.header__settings {
    float: right;
    margin-top: 8.5px;
    margin-right: 5px;
}