.main-section {
    &__content {
        background-color: hsl(0, 0%, 6.7%);
        display: block;
        margin-left: 240px;
        margin-top: 56px;
    }
    &__content_videos {
        //margin-left: 120px;
        padding-top: 5px;
        color: whitesmoke;
    }
}

.video-content-section {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    width: 1053px;
    //padding-right: ;
    margin-left: auto;
    margin-right: auto;
}

.video-block {
    display: inline-block;
    //margin-right: -15px;
    &__video-preview {
        height: 118px;
        width: 207px;
    }
    &__description {
        font-size: 12px;
        width: 207px;
        display: block;
    }
    &__title {
        text-decoration: none;
        color: whitesmoke;
        height: 27px;
        overflow: hidden;
        display: block;
    }
    &__channel-name {
        display: block;
        margin-top: 10px;
        color: rgba(136,136,136,1);
    }
    &__date-views {
        display: block;
        margin-top: 5px;
        color: rgba(136,136,136,1);
    }
}
