.user-menu {
    position: fixed;
    float: left;
    width: 240px;
    height: 800px;
    background-color: rgba(40, 40, 40, .8);
    overflow: auto;
    font-family: Roboto, Arial, sans-serif;
}

.aside-options {
    height: 135px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid gray;
}

.home-trending-history {
    line-height: 30px;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 7px 24px;
}

.aside-best-of-youtube {
    height: 360px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid gray;
    display: block;
}

.best-of-youtube__title {
    font-size: 16px;
    color: whitesmoke;
    padding: 0 24px;
}

.best-of-youtube__text {
    line-height: 30px;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 7px 24px;
}

.browse-channels {
    height: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid gray;
    display: block;
}

.browse-channels__text {
    line-height: 20px;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 0 24px;
}

.sign-in-aside {
    height: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid gray;
    display: block;
}

.sign-in-aside__text {
    line-height: 30px;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 0 24px;
}