html {
  height: 100%;
  margin: 0; }

body {
  min-height: 100%;
  margin: 0; }

.main-header {
  width: 100%;
  background-color: #4267b2;
  display: flex;
  justify-content: space-between;
  padding: 8px 61px;
  border-bottom: 1px solid #29487d;
  position: fixed;
  z-index: 2; }
  .main-header__left-section {
    width: 50%;
    display: flex;
    align-items: center; }
    .main-header__left-section .search-form {
      margin-left: 5px;
      width: 77%;
      display: flex;
      align-items: stretch;
      border-radius: 3px;
      border: 1px solid #3b5998;
      overflow: hidden; }
      .main-header__left-section .search-form__search-button {
        height: 24px;
        width: 46px;
        border: 0;
        top: 0;
        background-color: #f6f7f9;
        color: #767c88; }
      .main-header__left-section .search-form__input {
        height: 24px;
        width: 90%;
        border: 0;
        padding: 6px; }
        .main-header__left-section .search-form__input:focus {
          outline: none; }
    .main-header__left-section__logo {
      height: 25px;
      width: 25px; }
  .main-header__right-section {
    width: 50%;
    display: flex;
    padding-left: 16px; }
    .main-header__right-section .navigation {
      display: flex;
      align-items: baseline; }
      .main-header__right-section .navigation__button_mypage {
        padding: 1px 10px 1px 1px; }
      .main-header__right-section .navigation__button_mainpage {
        padding: 4px 10px; }
      .main-header__right-section .navigation__user-pic {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        filter: grayscale(30%); }
      .main-header__right-section .navigation__text {
        color: white;
        font-size: 12px;
        font-weight: bold; }
        .main-header__right-section .navigation__text:hover {
          text-decoration: none;
          background-color: #3c5da1; }
    .main-header__right-section .icons-container {
      width: 25%;
      display: flex;
      justify-content: space-between;
      margin-left: 40px; }
      .main-header__right-section .icons-container__details {
        height: 24px;
        display: inline-block; }
        .main-header__right-section .icons-container__details[open] .glyphicon {
          color: white; }
      .main-header__right-section .icons-container__summary::-webkit-details-marker {
        display: none; }
      .main-header__right-section .icons-container__icon {
        font-size: 20px; }

.main-section {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  background-color: #e9ebee;
  position: relative;
  top: 42px; }
  .main-section .page-main {
    width: 69%; }
    .main-section .page-main .user-header .banner-pic {
      position: relative; }
      .main-section .page-main .user-header .banner-pic__background-pic {
        width: 100%;
        height: 315px;
        object-fit: cover;
        border-left: 1px solid grey;
        border-right: 1px solid grey; }
      .main-section .page-main .user-header .banner-pic__content {
        position: absolute;
        z-index: 1;
        bottom: -44px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 16px; }
      .main-section .page-main .user-header .banner-pic__user-container {
        display: flex; }
      .main-section .page-main .user-header .banner-pic .main-img-container {
        border: 1px solid  #b3b3b3;
        border-radius: 3px; }
        .main-section .page-main .user-header .banner-pic .main-img-container__img {
          width: 168px;
          height: 168px;
          border: 4px solid #ffffff;
          border-radius: 3px; }
      .main-section .page-main .user-header .banner-pic__user-name {
        color: #ffffff;
        margin-top: 98px;
        margin-left: 15px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: 400; }
      .main-section .page-main .user-header .banner-pic .buttons-container {
        display: flex;
        margin-top: 98px;
        justify-content: space-between;
        width: 39%; }
        .main-section .page-main .user-header .banner-pic .buttons-container__two-buttons {
          display: flex; }
        .main-section .page-main .user-header .banner-pic .buttons-container__button {
          height: 27px;
          background-color: #f6f7f9;
          border: none;
          border-radius: 1px;
          color: #4b4f56;
          font-size: 12px;
          font-weight: bold;
          padding: 0 8px; }
          .main-section .page-main .user-header .banner-pic .buttons-container__button_more-button {
            border-left: 1px solid #ced0d4;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            padding-left: 15px;
            padding-right: 15px; }
          .main-section .page-main .user-header .banner-pic .buttons-container__button_journal-button {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0; }
    .main-section .page-main .user-header .navigation {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      border: 1px solid #cccccc;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
      .main-section .page-main .user-header .navigation__button {
        padding: 12px 16px;
        background-color: #ffffff;
        color: #355da8;
        font-size: 14px;
        font-weight: bold;
        border: none;
        border-left: 1px solid #e9ebee; }
        .main-section .page-main .user-header .navigation__button_endline {
          border-right: 1px solid #e9ebee; }
    .main-section .page-main .user-info-and-feed {
      display: flex;
      justify-content: space-between; }
      .main-section .page-main .user-info-and-feed .block {
        background-color: #ffffff;
        margin-top: 17px;
        border: 1px solid #cccccc;
        border-radius: 3px; }
        .main-section .page-main .user-info-and-feed .block__header {
          padding: 12px; }
        .main-section .page-main .user-info-and-feed .block__header-text {
          color: #1d2129;
          font-size: 16px;
          margin-left: 5px; }
      .main-section .page-main .user-info-and-feed .all-user-info {
        width: 38%; }
        .main-section .page-main .user-info-and-feed .all-user-info .user-info {
          padding-bottom: 12px; }
          .main-section .page-main .user-info-and-feed .all-user-info .user-info__underline {
            width: 92%;
            margin: auto; }
          .main-section .page-main .user-info-and-feed .all-user-info .user-info__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;
            padding: 12px; }
          .main-section .page-main .user-info-and-feed .all-user-info .user-info__article {
            display: flex;
            align-items: baseline; }
          .main-section .page-main .user-info-and-feed .all-user-info .user-info__text {
            font-size: 12px;
            margin-left: 8px; }
            .main-section .page-main .user-info-and-feed .all-user-info .user-info__text_link {
              color: #365899; }
          .main-section .page-main .user-info-and-feed .all-user-info .user-info__icon {
            color: #90939c; }
        .main-section .page-main .user-info-and-feed .all-user-info .user-pic__content {
          padding: 5px;
          padding-top: 0;
          padding-bottom: 2px; }
        .main-section .page-main .user-info-and-feed .all-user-info .user-pic__picture {
          height: 101px;
          width: 101px;
          margin-bottom: 3px; }
        .main-section .page-main .user-info-and-feed .all-user-info .user-friends__content {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          padding-left: 2px;
          padding-right: 3px; }
          .main-section .page-main .user-info-and-feed .all-user-info .user-friends__content .user-friend {
            margin-bottom: 5px;
            position: relative; }
            .main-section .page-main .user-info-and-feed .all-user-info .user-friends__content .user-friend__picture {
              width: 101px;
              height: 101px; }
            .main-section .page-main .user-info-and-feed .all-user-info .user-friends__content .user-friend__name {
              position: absolute;
              z-index: 1;
              color: #FFF;
              width: 101px;
              bottom: 0;
              font-size: 12px;
              padding: 3px;
              padding-left: 5px;
              background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
              /* For Safari 5.1 to 6.0 */
              background: -o-linear-gradient(bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
              /* For Opera 11.1 to 12.0 */
              background: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
              /* For Firefox 3.6 to 15 */
              background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
              /* Standard syntax (must be last) */ }
        .main-section .page-main .user-info-and-feed .all-user-info .footer .language-sec {
          padding: 13px;
          display: flex; }
          .main-section .page-main .user-info-and-feed .all-user-info .footer .language-sec__language {
            width: 85%; }
          .main-section .page-main .user-info-and-feed .all-user-info .footer .language-sec__text {
            font-size: 12px;
            color: #365899; }
            .main-section .page-main .user-info-and-feed .all-user-info .footer .language-sec__text::before {
              content: "\2022";
              margin-right: 4px; }
            .main-section .page-main .user-info-and-feed .all-user-info .footer .language-sec__text_first-lang {
              color: #90949c; }
              .main-section .page-main .user-info-and-feed .all-user-info .footer .language-sec__text_first-lang::before {
                content: none; }
          .main-section .page-main .user-info-and-feed .all-user-info .footer .language-sec__button {
            width: 42px;
            height: 32px;
            color: #4b4f56;
            background-color: #e9ebee;
            border: 1px solid #ced0d4;
            border-radius: 2px; }
        .main-section .page-main .user-info-and-feed .all-user-info .footer .navigation {
          padding: 6px 13px;
          padding-bottom: 0; }
          .main-section .page-main .user-info-and-feed .all-user-info .footer .navigation__text {
            color: #90949c;
            font-size: 12px; }
            .main-section .page-main .user-info-and-feed .all-user-info .footer .navigation__text::before {
              content: "\2022";
              margin-right: 4px; }
            .main-section .page-main .user-info-and-feed .all-user-info .footer .navigation__text_first-a-footer::before {
              content: none; }
        .main-section .page-main .user-info-and-feed .all-user-info .footer__end {
          margin-left: 13px;
          color: #90949c;
          font-size: 12px; }
        .main-section .page-main .user-info-and-feed .all-user-info .footer .empty {
          height: 35px; }
    .main-section .page-main .user-feed {
      width: 60%; }
      .main-section .page-main .user-feed .create-post .navigation {
        background-color: #f6f7f9;
        padding: 7px 13px;
        border-bottom: 1px solid #cccccc; }
        .main-section .page-main .user-feed .create-post .navigation__button {
          color: #365899;
          font-size: 12px;
          font-weight: bold;
          padding: 0 6px 0 16px;
          background-color: transparent;
          border: none;
          border-left: 1px solid #cccccc;
          text-align: center; }
          .main-section .page-main .user-feed .create-post .navigation__button_first-button {
            padding-left: 0px;
            border: none; }
        .main-section .page-main .user-feed .create-post .navigation__icon {
          color: #4b4f56;
          font-size: 14px; }
      .main-section .page-main .user-feed .create-post .new-post-form__textarea {
        padding: 12px;
        display: flex;
        border-bottom: 1px solid #e1e2e3; }
      .main-section .page-main .user-feed .create-post .new-post-form__input {
        resize: none;
        height: 48px;
        width: 80%;
        padding-top: 10px;
        padding-left: 12px;
        font-size: 14px;
        border: none; }
      .main-section .page-main .user-feed .create-post .new-post-form__pic {
        width: 40px;
        height: 40px;
        border-radius: 100%; }
      .main-section .page-main .user-feed .create-post .new-post-form__footer {
        padding: 8px;
        display: flex;
        justify-content: flex-end; }
      .main-section .page-main .user-feed .create-post .new-post-form__select {
        height: 24px;
        font-size: 12px;
        font-weight: bold;
        background-color: #f6f7f9;
        border-radius: 2px;
        border: 1px solid #ced0d4;
        color: #4b4f56;
        margin-right: 10px;
        text-align: center; }
      .main-section .page-main .user-feed .create-post .new-post-form__submit {
        height: 24px;
        background-color: #9cb4d8;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border: none;
        border-radius: 2px;
        padding: 0 16px; }
      .main-section .page-main .user-feed .feed-article .article-head {
        display: flex;
        justify-content: space-between; }
        .main-section .page-main .user-feed .feed-article .article-head__user-message {
          width: 84%; }
        .main-section .page-main .user-feed .feed-article .article-head__text {
          font-size: 14px; }
          .main-section .page-main .user-feed .feed-article .article-head__text_link {
            color: #365899; }
          .main-section .page-main .user-feed .feed-article .article-head__text_plane {
            color: #90949c; }
          .main-section .page-main .user-feed .feed-article .article-head__text_user-that-posted {
            font-weight: bold; }
          .main-section .page-main .user-feed .feed-article .article-head__text_time {
            font-size: 12px;
            color: #90949c; }
            .main-section .page-main .user-feed .feed-article .article-head__text_time::after {
              content: "\2022";
              margin: 0 3px; }
        .main-section .page-main .user-feed .feed-article .article-head__pic {
          width: 40px;
          height: 40px;
          border-radius: 100%; }
        .main-section .page-main .user-feed .feed-article .article-head__time {
          display: flex;
          align-items: baseline; }
        .main-section .page-main .user-feed .feed-article .article-head__icon {
          color: #626870; }
        .main-section .page-main .user-feed .feed-article .article-head__button {
          background-color: transparent;
          border: none;
          color: #90939c;
          font-size: 12px; }
      .main-section .page-main .user-feed .feed-article .article-content {
        width: 100%;
        text-align: center; }
        .main-section .page-main .user-feed .feed-article .article-content__pic {
          height: 649px;
          width: 487px; }
          .main-section .page-main .user-feed .feed-article .article-content__pic_post2 {
            height: 340px; }
      .main-section .page-main .user-feed .feed-article .article-footer .like-section {
        display: flex;
        padding: 10px 0;
        padding-left: 13px;
        width: 72%;
        justify-content: space-between;
        border-bottom: 1px solid #e1e2e3; }
        .main-section .page-main .user-feed .feed-article .article-footer .like-section__text {
          color: #616770;
          font-size: 13px;
          font-weight: bold;
          margin-left: 6px; }
        .main-section .page-main .user-feed .feed-article .article-footer .like-section__icon {
          color: #616770;
          font-size: 16px; }
        .main-section .page-main .user-feed .feed-article .article-footer .like-section__symbol {
          display: flex;
          align-items: center; }
      .main-section .page-main .user-feed .feed-article .article-footer .comment-section {
        display: flex;
        background-color: #f6f7f9;
        padding: 8px 13px; }
        .main-section .page-main .user-feed .feed-article .article-footer .comment-section__pic {
          width: 32px;
          height: 32px;
          border-radius: 100%; }
        .main-section .page-main .user-feed .feed-article .article-footer .comment-section__input-container {
          width: 92%;
          margin-left: 10px;
          background-color: white;
          border: 1px solid #dddfe2;
          border-radius: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px; }
        .main-section .page-main .user-feed .feed-article .article-footer .comment-section__input {
          height: 32px;
          width: 70%;
          border: none;
          border-radius: 16px;
          font-size: 12px; }
        .main-section .page-main .user-feed .feed-article .article-footer .comment-section__icon {
          border-radius: 0;
          width: 18px;
          height: 18px; }
      .main-section .page-main .user-feed .empty {
        height: 35px; }
  .main-section .friends-bar-container {
    width: 16%;
    border-left: 1px solid #cccccc;
    position: fixed;
    right: 0;
    overflow: scroll;
    height: 100vh; }
    .main-section .friends-bar-container::-webkit-scrollbar {
      display: none; }
    .main-section .friends-bar-container__header {
      height: 8px;
      border-bottom: 1px solid  #cccccc; }
    .main-section .friends-bar-container .friends-bar .friend {
      display: flex;
      align-items: baseline;
      font-size: 12px;
      padding: 3px 7px;
      padding-right: 0;
      color: #67b82c; }
      .main-section .friends-bar-container .friends-bar .friend__name-and-pic {
        width: 90%;
        color: #333; }
      .main-section .friends-bar-container .friends-bar .friend__pic {
        width: 34px;
        height: 34px;
        border-radius: 100%; }
      .main-section .friends-bar-container .friends-bar .friend__name {
        margin-left: 6px; }
    .main-section .friends-bar-container .footer {
      position: fixed;
      bottom: 0;
      background-color: #f6f7f9;
      color: #c1c1c3;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: baseline; }
      .main-section .friends-bar-container .footer__input {
        width: 50%;
        background-color: #f6f7f9;
        border: none;
        height: 30px; }
      .main-section .friends-bar-container .footer__icon {
        color: #c1c1c3;
        font-size: 14px; }

/*# sourceMappingURL=Style.css.map */
