@main-color: #4267B2;
.Layout__header{
  height:43px;
  background-color: @main-color;
}
.logo{
  display: inline-block;
}
.search__form{
  display: inline-block;
}
.header__navigation{
  float: right;
}
