.aside {
  float: left;
  width: 20%;
  font-size: 15px;
}
.aside__name {
  display: block;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
}
.aside__name:hover {
  text-decoration: underline;
}
.aside__email {
  color: #616770;
  display: block;
  margin-top: 5px;
}
.navigation__link:hover {
  background-color: #d2e7dc;
}
.navigation__link {
  display: block;
  margin-top: 5px;
  width: 200px;
  height: 25px;
}
.navigation__link:last-child {
  background-color: #0dcd00;
  border: 1px solid #0dcd00;
  border-radius: 3px;
  color: #fff;
  width: 110px;
  overflow: hidden;
  text-align: center;
  height: 20px;
}
.logo {
  display: block;
  margin-top: 60px;
  border: 4px solid #ffffff;
  border-radius: 5px;
}
