
.logo {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  &_img{
    top: 5px;
    color: transparent;
    -webkit-background-size: auto;
    background-size: auto;
    background: url(https://www.facebook.com/rsrc.php/v3/yP/r/6sSddBTgUaD.png) no-repeat 0 -113px;
  }
}