.main__news {
  float: left;
  margin-top: 5px;
  padding: 5px;
  width: 600px;
  overflow: auto;
  background: #FFFFFF;
}
.main__news img {
  max-width: 100%;
  border-radius: 10px;
}
.main__news-article {
  margin-bottom: 10px;
  border-bottom: 1px solid #A7AAB8;
}
.main__news-article-author {
  font-family: sans-serif;
  font-size: 18px;
}
.main__news-article-add-comment {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #F6F7F9;
  margin-bottom: 2px;
}
.main__news-article-add-comment textarea {
  position: relative;
  resize: none;
  margin-bottom: 2px;
  margin-left: 80px;
  margin-top: 10px;
  max-width: 500px;
  width: 500px;
  border: 1px solid #DFE0E3;
  border-radius: 20px;
  padding: 5px;
}
.main__add-news {
  float: left;
  width: 600px;
  background: #FFFFFF;
  margin-top: 5px;
  padding: 5px;
}
.main__add-news textarea {
  float: left;
  margin: 5px;
  width: 550px;
  height: 100px;
  resize: none;
  max-width: 100%;
}
