.main {
  position: relative;
  float: left;
  height: 500px;
  width: 49%;
}
.main__add-news {
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
}
.main__add-news textarea {
  width: 500px;
  resize: none;
  height: 70px;
  margin: 5px;
}
.main__article {
  width: 100%;
  background-color: #fff;
  margin-top: 5px;
  text-align: center;
  padding-top: 5px;
  border-radius: 2px;
}
.main__article-background-img {
  background-image: url(https://www.facebook.com/rsrc.php/v3/yw/r/qAwoXqE3W5a.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 36px;
  width: 36px;
  background-position: 0 0;
}
