
.search {
  &__button{
    position: relative;
    width: 46px;
    height: 24px;
    border: none;
    border-radius: 3px;
    color: transparent;
    left: -35px;
    &_img{
      top:5px;
      background: url(https://www.facebook.com/rsrc.php/v3/yY/r/6eKP4pJUq7C.png) no-repeat 0 0;
      background-size: auto;
    }}}