@import "mixins";

$palegray:#1b1b1b;
$link_border: 2px solid $palegray;

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3;
}

.body-link {
      color: $palegray;
      border-bottom: $link_border;
      text-decoration: none;
  &:link {
      color: $palegray;
      border-bottom: $link_border;}
  &:hover {
       color: $palegray;
       border-bottom:none;}
  &:active {
       color: $palegray;
       border-bottom: $link_border;}
  &:visited {
      color: $palegray;
      border-bottom: $link_border;}
}

header{
   margin-left: 8%;
   margin-top: 4.1%;
   display: grid;
   grid-template-columns: 18% 45% 12% 15%;
   grid-template-rows: 18% 40% 10% 30%;
   grid-column-gap: 2%;
   grid-row-gap: 2%;
   wrap-option: nowrap;
}

.header__description-h1__link {
   color: $palegray;
   text-decoration: none;
   font-weight: normal;
   font-size: 30px;
   &:link {
       color: $palegray;
       text-decoration: none;
   }
   &:hover {
        @include style_of_head_link(none);
   }
   &:active {
        @include style_of_head_link(none);
   }
   &:visited {
        @include style_of_head_link(none);
   }
}

.header__description-h2 {
  font-size: 30px;
  font-weight: normal;
}

.tasting-room-descr__header, .tasting-room-descr__address {
  font-size: 20px;
}

.site-navigation-block {
  list-style-type: none;
  margin-left: 8%;
  margin-top: 1%;
  display: grid;
  grid-template-columns: 18% 25% 32% 15%;  /*5 addit %*/
  grid-template-rows: 18% 40% 10% 30%;
  grid-column-gap: 2%;
  grid-row-gap: 4%;
  margin-bottom: 40px;
}

.site-navigation-left, .navig-center-list, .site-navigation-block {
    font-size: 20px;
}



.navig-center-list__ship-intern-note {
    font-size: 16px;
    margin-top: 20px;
}

.header-nav-2 {
  padding: 0;
  margin: 0;
}

header-nav-2__distributors{
    padding: 0;
    margin:  0;
}

.header-nav-2__options{
    margin-top: 30px;
}

.restaurant-photos {
  margin-top: 80px;
  display: grid;
}

.restaurant-photos__pic1{
  margin-bottom: -20%;
}
