@import "mixins";
@import "vars";

.calendar-page__day{
    @include day_style();
    width: 90%;
    height: 60%;
    margin: 3%;
    padding: 10px;
    font-size: 30px;
    border-radius: 3px;
}

.calendar-page__day:active {
    background-color: white;
}
.calendar-page__day:hover {
    @include day_hover(#FFF776);
}

.calendar-page__day:link{
    background-color: white;
}

.calendar-page__day:visited {
    background-color: white;
}

