.Banner{

    background-image: url("../images/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;

&__text{
  font-size: 2.25rem;
  color: #fff;
  text-shadow: 1px 1px 1px 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 30vh;

}

}

.Buttons {
  margin-left: auto;
  margin-right: auto;
}