.Footer-sitemap {
  background-color: #F2F4F5;
  padding-bottom: 1px;
  display:flex;

}

.Sitemap-hint {
  margin:auto;
}


  .Sitemap-small {
    display: none;
  }


@media screen and (max-width: 767px) {
  .Sitemap-hint {
    display: none;
  }
  .Sitemap-small {
    display: flex;
  }
}
