.Hero-articles {
  background-image: url("../images/balloon_back.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 1px;
  display: flex;
  flex-direction: row-reverse;
  &::after {
    content: '';
    background-image: url("../images/balloon_front_opt.png");
    position: relative;
    top: -13px;
    left: -50vw;
    width: 19.6vw;
    height: 23.75vw;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__description-section {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 1px 1px #0c0c0c;
    color: #FFF;
    max-width: 18.4375rem;
    margin: 50px 40px;
    justify-items: end;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__caption {
    font-size: 1.75rem;
    margin-bottom: 0;
  }
  &__description {
    font-size: 1.25rem;
  }

  &__action-button {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    width: 100%;
    color: #FFF;
    border: 3px solid #00ADEF;
    background-color: #00ADEF;
    @media (max-width: 767px) {
      width: auto;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}
