.Grid {
  max-width: 1164px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}
.Grid__cell,
.Grid__cell_1,
.Grid__cell_2,
.Grid__cell_3,
.Grid__cell_4,
.Grid__cell_5,
.Grid__cell_6,
.Grid__cell_7,
.Grid__cell_8,
.Grid__cell_9,
.Grid__cell_10,
.Grid__cell_11,
.Grid__cell_12 {
  margin:1.375%;
  position: relative;
}

.Grid__cell_1 {
  flex-basis: 5.58%;
  max-width: 5.58%;
}

.Grid__cell_2 {
  flex-basis: 13.92%;
  max-width: 13.92%;
}

.Grid__cell_3 {
  flex-basis: 22.25%;
  max-width: 22.25%;
}

.Grid__cell_4 {
  flex-basis: 30.58%;
  max-width: 30.58%;
}

.Grid__cell_5 {
  flex-basis: 38.92%;
  max-width: 38.92%;
}

.Grid__cell_6 {
  flex-basis: 47.25%;
  max-width: 47.25%;
}

.Grid__cell_7 {
  flex-basis: 55.58%;
  max-width: 55.58%;
}

.Grid__cell_8 {
  flex-basis: 63.92%;
  max-width: 63.92%;
}

.Grid__cell_9 {
  flex-basis: 72.25%;
  max-width: 72.25%;
}

.Grid__cell_10 {
  flex-basis: 80.58%;
  max-width: 80.58%;
}

.Grid__cell_11 {
  flex-basis: 88.92%;
  max-width: 88.92%;
}

.Grid__cell_12 {
  flex-basis: 97.25%;
  max-width: 97.25%;
}

.Grid__prefix_1{
  margin-left: 9.671%;
}
.Grid__prefix_2{
  margin-left: 18.043%;
}
.Grid__prefix_3{
  margin-left: 26.376%;
}
.Grid__prefix_4{
  margin-left: 34.709%;
}
.Grid__prefix_5{
  margin-left: 43.043%;
}

.Grid__prefix_6{
  margin-left: 51.376%;
}
.Grid__prefix_7{
  margin-left: 59.709%;
}
.Grid__prefix_8{
  margin-left: 68.043%;
}
.Grid__prefix_9{
  margin-left: 76.376%;
}
.Grid__prefix_10{
  margin-left: 84.709%;
}
.Grid__prefix_11{
  margin-left: 93.043%;
}

.Grid__suffix_1{
  margin-right: 8.296%;
}
.Grid__suffix_2{
  margin-right: 16.667%;
}
.Grid__suffix_3{
  margin-right: 25.0%;
}
.Grid__suffix_4{
  margin-right: 33.334%;
}
.Grid__suffix_5{
  margin-right: 41.668%;
}

.Grid__suffix_6{
  margin-right: 50.0%;
}
.Grid__suffix_7{
  margin-right: 58.334%;
}
.Grid__suffix_8{
  margin-right: 66.667%;
}
.Grid__suffix_9{
  margin-right: 75.0%;
}
.Grid__suffix_10{
  margin-right: 83.334%;
}
.Grid__suffix_11{
  margin-right: 91.668%;
}
/*.Grid__cell_pull_1 {
  left: 8.333%;
}

.Grid__cell_pull_2 {
  left: 16.667%;
}

.Grid__cell_pull_3 {
  left: 25%;
}
.Grid__cell_pull_4 {
  left: 33.333%;
}

.Grid__cell_pull_5 {
  left: 41.667%;
}

.Grid__cell_pull_6 {
  left: 50%;
}

.Grid__cell_pull_7 {
  left: 58.333%;
}

.Grid__cell_pull_8 {
  left: 66.667%;
}

.Grid__cell_pull_9 {
  left: 75%;
}

.Grid__cell_pull_10 {
  left: 83.333%;
}

.Grid__cell_pull_11 {
  left: 91.667%;
}

.Grid__cell_push_1 {
  left: -8.333%;
}

.Grid__cell_push_2 {
  left: -16.667%;
}

.Grid__cell_push_3 {
  left: -25%;
}

.Grid__cell_push_4 {
  left: -33.333%;
}

.Grid__cell_push_5 {
  left: -41.667%;
}

.Grid__cell_push_6 {
  left: -50%;
}

.Grid__cell_push_7 {
  left: -58.333%;
}

.Grid__cell_push_8 {
  left: -66.667%;
}

.Grid__cell_push_9 {
  left: -75%;
}

.Grid__cell_push_10 {
  left: -83.333%;
}

.Grid__cell_push_11 {
  left: -91.667%;
}
.Grid__prefix_1{
  margin-left: 9.333%;
}
.Grid__prefix_2{
  margin-left: 17.667%;
}
.Grid__prefix_3{
  margin-left: 26%;
}
.Grid__prefix_4{
  margin-left: 34.333%;
}
.Grid__prefix_5{
  margin-left: 42.667%;
}

.Grid__prefix_6{
  margin-left: 51%;
}
.Grid__prefix_7{
  margin-left: 59.333%;
}
.Grid__prefix_8{
  margin-left: 67.667%;
}
.Grid__prefix_9{
  margin-left: 76%;
}
.Grid__prefix_10{
  margin-left: 84.333%;
}
.Grid__prefix_11{
  margin-left: 92.667%;
}

.Grid__suffix_1{
  margin-right: 8.333%;
}
.Grid__suffix_2{
  margin-right: 16.667%;
}
.Grid__suffix_3{
  margin-right: 25%;
}
.Grid__suffix_4{
  margin-right: 33.333%;
}
.Grid__suffix_5{
  margin-right: 41.667%;
}

.Grid__suffix_6{
  margin-right: 50%;
}
.Grid__suffix_7{
  margin-right: 58.333%;
}
.Grid__suffix_8{
  margin-right: 66.667%;
}
.Grid__suffix_9{
  margin-right: 75%;
}
.Grid__suffix_10{
  margin-right: 83.333%;
}
.Grid__suffix_11{
  margin-right: 92.667%;
}
*/


.Grid:before,
.Grid:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
