body {
  margin: 0;
}

.Main-title {
  font-family: Baskerville, sans-serif;
  font-size: 46px;
}

.Additional-title {
  font-family: GillSans, sans-serif;
  font-size: 18px;
  color: lightgrey;
}

.Link {

}

.Preview-article-picture {

}

.Product-description {

}