body {
  margin: 0;
}

.Main-title {
  font-family: Baskerville, sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 12px;
}

.Additional-title {
  font-family: GillSans, sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 78px;
}

.Link {
  display: flex;
  font-family: GillSans, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: 2.2px;
  text-decoration: underline;
  color: #797979;
}

.Preview-article-picture {
  height: 424px;
  border: none;
  background-size: cover;
}

.Product-description {
  width: 260px;
}



.Wrapper {
  width: 1164px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #8b898b;*/
}

.Hero-article {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1164px;
}
