body {
  margin: 0;
}

.Main-title {
  font-family: Baskerville, sans-serif;
  font-size: 48px;
  text-align: center;
  color: #000000;
}

.Additional-title {
  font-family: GillSans, sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  color: #000000;
  margin-bottom: 70px;
}

.Link {
  font-family: GillSans, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: 2.2px;
  text-align: center;
  text-decoration: underline;
  color: #797979;
}

.Preview-article-picture {
  height: 424px;
  border: none;
  background-size: cover;
}

.Product-description {

}