.Contacts {

  &__main-title {
    font-family: Baskerville, sans-serif;
    font-size: 38px;
    text-align: center;
  }

  &__info {

  }

}


.Feedback {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1164px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
  margin-bottom: 120px;

}

.Help-info__link {
  font-family: GillSans, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: 2.2px;
  text-align: center;
  color: #797979;
  text-decoration: underline;
}

.Help-info__text{
  font-family: GillSans,sans-serif;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #4d4d4d;
}

.Help-info__header {
  font-family: Baskerville, sans-serif;
  font-size: 38px;
  text-align: center;
  color: #000000;
}