.Footer-fast-access-menu {
  vertical-align: top;
  margin-top: 40px;
}

.Footer-fast-access-menu_title {
  font-size: 32px;
  line-height: 1.5;
  color: #444444;
}

.Footer-fast-access-menu_link {
  display: block;
  font-family: Baskerville, sans-serif;
  font-size: 24px;
  line-height: 2;
  text-align: left;
  color: #949494;
  text-decoration: none;
}

.Fast-access-wrapper {
  display: flex;
}

.Email-wrapper {
  display: flex;
}