.Footer {
  background-color: #f9f8f6;
}
.Footer__subscribe-menu {
}
.Footer__subscribe-menu_title {
  margin: 0;
  font-family: Baskerville ,sans-serif;
  font-size: 15px;
  color: #000000;
}
.Footer__subscribe-menu_subscribe-description {
  display: inline-block;
  margin: 0;
  padding-top: 5px;
  font-family: GillSans, sans-serif;
  font-size: 10px;
  line-height: 1.6;
  text-align: left;
  color: #4d4d4d;
}
.Footer__subscribe-menu_subscribe-email-place {
  display: inline-block;
}
.Footer__subscribe-menu_subscribe-button {
  width: 110px;
  height: 30px;
  vertical-align: unset;
  color: white;
  background-color: #444444;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: center;
  margin-left: 5px;
  border: none;
}
.Footer__subscribe-menu_email {
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 26px;
  font-family: HelveticaNeue, sans-serif;
  padding-left: 10px;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: #a2a2a2;
}
.Footer__subscribe-menu_user-agreement {
  font-family: GillSans, sans-serif;
  font-size: 9px;
  line-height: 2;
  text-align: center;
  color: #4d4d4d;
}
.Footer__subscribe-menu_user-agreement_privacy-policy {
  color: #a8a8a8;
}

.dividing-line {
  width: 100%;
  height: 1px;
  background-color: #a8a8a8;
  margin-top: 65px;
}

.Footer__social-networks {
  display: inline-block;
}
.Footer__copyright {
  display: inline-block;
  margin-top: 37px;
  vertical-align: super;
  font-family: GillSans, sans-serif;
  font-size: 9px;
  letter-spacing: 0.2px;
  color: #b2b2b2;
}

.Image_gmail {
  background-image: url("../images/social-icons.jpg");
  background-size: 230px 84px;
  background-position: 139px -8px;
  height: 15px;
  width: 15px;
  margin: 3px;
  display: inline-block;
}
.Image_twitter {
  background-image: url("../images/social-icons.jpg");
  background-size: 230px 84px;
  background-position: 195px -9px;
  height: 15px;
  width: 15px;
  margin: 3px;
  display: inline-block;
}
.Image_facebook {
  background-image: url("../images/social-icons.jpg");
  background-size: 230px 84px;
  background-position: -7px -8px;
  height: 15px;
  width: 15px;
  margin: 3px;
  display: inline-block;
}
.Image_instagram {
  background-image: url("../images/social-icons.jpg");
  background-size: 230px 84px;
  background-position: 111px -61px;
  height: 15px;
  width: 15px;
  margin: 3px;
  display: inline-block;
}