.Footer-fast-access-menu {
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}

.Footer-fast-access-menu_title {
  display: block;
  font-family: Baskerville, sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 31px;
}

.Footer-fast-access-menu_link {
  display: block;
  font-size: 13px;
  line-height: 26px;
  color: #949494;
  text-decoration: none;
}