.Image-social-networks{
  background-size: 230px 84px;
  height: 15px;
  width: 15px;
  margin: 3px;
  display: inline-block;
  opacity: 0.3;
}
.Image_gmail {
  background-image: url("../images/social-icons.jpg");
  background-position: 139px -8px;
}
.Image_twitter {
  background-image: url("../images/social-icons.jpg");
  background-position: 195px -9px;
}
.Image_facebook {
  background-image: url("../images/social-icons.jpg");
  background-position: -7px -8px;
}
.Image_instagram {
  background-image: url("../images/social-icons.jpg");
  background-position: 111px -61px;
}