.Image-social-networks{
  background-size: 265px 115px;
  width: 24px;
  height: 24px;
  opacity: 0.3;
}
.Image_gmail {
  background-image: url("../images/social-icons.jpg");
  background-position: 163px -8px;
}
.Image_twitter {
  background-image: url("../images/social-icons.jpg");
  background-position: 232px -9px;
}
.Image_facebook {
  background-image: url("../images/social-icons.jpg");
  background-position: -5px -8px;
}
.Image_instagram {
  background-image: url("../images/social-icons.jpg");
  background-position: 133px 33px
}