.Interesting-things {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 132px;
}

.Interesting-things__rubric-name {
    font-family: GillSans, sans-serif;
    font-size: 22px;
    color: #868686;
  }

.Preview-article-picture {
  margin-top: 48px;
}