.Interesting-things__rubric-name {
    font-family: GillSans, sans-serif;
    font-size: 22px;
    text-align: center;
    color: #868686;
  }


    &_jewelry {
      background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_424,w_752/v1513250638/makeup-brush-1768790_640_uujdzz.jpg");
    }
    &_style {
      background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:primavera,h_424,w_752/v1513215285/pexels-photo-206296_znhguv.jpg");
    }
    &_cosmetics {
      background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_424,w_752/v1513299896/coconut-oil-in-jar-2089930_640_wvntdd.jpg");
    }
    .Interesting-things__picture_1 {
    }
