.Interesting-things {
  text-align: center;
}

.Interesting-things__rubric-name {
    font-family: GillSans, sans-serif;
    font-size: 22px;
    text-align: center;
    color: #868686;
  }

.Preview-article-picture {
  height: 424px;
  border: none;
  background-size: cover;
}