.Navigation {
  background-color: #8e4;
  margin-top: 36px;
  display: flex;
  justify-content: flex-end;

  &__item {
    font-family: HelveticaNeue, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #6c7178;
    margin-left: 30px;
  }
}