.Product-catalog {
  margin: auto;
  margin-bottom: 132px;
  /*background-image: url("../images/12_col.gif");*/

  &__top, &__bottom {
    display: flex;
    justify-content: space-around;
  }

  &__section {
  }

  &__section-name {
    font-family: GillSans, sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-align: left;
  }

}