.Product-offer {
  margin: auto;
  margin-bottom: 132px;


  &__wrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__picture_1 {

  }

}