.Promotion-text {
  height: 657px;
  text-align: center;
  background-color: #f5f5f5;
  display: flex;

  &__wrapper {
    margin: auto;
  }

  &__link {
    font-family: GillSans, sans-serif;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 2.2px;
    color: darkgrey;
  }
}