.User-properties {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    background-color: #7D3109;
    margin: 0 0 0 0;
  }

  &__image {
    margin-left: 65px;
    &_account {
      height: 42px;
      width: 42px;
      opacity: 0.5;
    }

    &_cart {
      height: 32px;
      width: 32px;
      opacity: 0.5;
    }
  }

  &__title {
    font-family: HelveticaNeue, sans-serif;
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #6c7178;
    margin-left: 5px;

  }
}