.header__logo{
    float: left;
    width: 240px;
    height: 56px;
    line-height: 56px;
}
.header__logo a{
    text-decoration: none;
}
.header__logo_hamburger-menu{
    background: url("../../images/hamburger_menu.svg") no-repeat;
    height: 24px;
    padding-right: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 25px;
    vertical-align: middle;
}
.header__logo_img{
    height: 24px;
    width: 24px;
}
.header__logo_country-code{
    width: 12px;
    height: 24px;
    color: hsl(0, 0%, 53.3%);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-left: 3px;
    vertical-align: middle;
}
.header__logo_text{
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    color: #2c2a2c;
}