.header-layout__search {
  float: left;
  height: 56px;
  width: 50%;
  line-height: 56px;
  form {
    width: 100%;
    display: inline-flex;
    input {
      padding-left: 5px;
      height: 28px;
    }
  }
  .header-layout__search_input {
    width: 89%;
  }
  .header-layout__search_button {
    cursor: pointer;
    width: 10%;
    line-height: 26px;
    height: 28px;
    border: 1px solid #cccacc;
    background-color: #f6f4f6;
    color: #959395;
    border-radius: 0 2px 2px 0;
  }
}



