.article {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 20px;
}
.article__main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article__main-content_video a {
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
  display: inline-block;
  line-height: 15px;
}
.article__main-content_video h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0 8px;
}
.article__main-content_video span {
  display: inline-block;
  color: #a09ea0;
  font-size: 13px;
  font-family: Roboto, Arial, sans-serif;
}
.article__view-count:after{
  content: " •";
}