<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/Baner.css">
    <link rel="stylesheet" href="style/Layout.css">
    <link rel="stylesheet" href="style/Button.css">
    <title>Document</title>
</head>
<body>
    <section class="Layout__banner">
        <div class="Banner__description-section">
            <h2 class="Banner__caption">Ogni giorno nuove esperienze</h2>
            <p class="Banner__paragraph">Scopri sapori, culture e amici con il social eating</p>
            <button class="Button ">Scopri gli altri eventi</button>
        </div>

    </section>
</body>
</html>