<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Contact-chef.css">
</head>
<body>
    <article class="Contact-chef">
        <img class="Contact-chef__image"src="images/210-e-3-eee-275-c-22-d-813-a-4520-e-1-b-6-b-208-d-chef.png" alt="Chefcoock">
        <section class="Contact-chef__textbox">
            <h4 class="Contact-chef__header">Vuoi uno chef a casa tua?</h4>
            <h5 class="Contact-chef__title">Organizza i tuoi eventi senza pensare a nulla</h5>
            <p class="Contact-chef__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
            <button class="Contact-chef__button">Contatta uno chef</button>
        </section>
    </article>
</body>
</html>