<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/Vegatables.css">
    <link rel="stylesheet" href="style/Layout.css">
    <link rel="stylesheet" href="style/Gastronomy.css">
    <link rel="stylesheet" href="style/style-elements.css">
    <title>Eaty</title>
</head>
<body>
<section class="Layout__gastronomy">
    <div class="style__el"></div>
    <div class="Gastronomy">
        <section class="Gastronomy__image Gastronomy__image_autumn">
            <h4 class="Image__caption"> ARIA DI AUTUNNO</h4>
            <p class="Image__description">Autunno alle porte?
                Noi siamo pronti con i fiche autunnali!</p>
        </section>
        <section class="Gastronomy__image Gastronomy__image_sea">
            <h4 class="Image__caption">MARE</h4>
            <p class="Image__description">Frutti di mare che passione! Ecco l’evento perfetto</p>
        </section>
        <section class="Gastronomy__image Gastronomy__image_salad">
            <h4 class="Image__caption">NOVELLE COUISINE</h4>
            <p class="Image__description">Un evento da leccarsi le dita! 10 specialità mai provate</p>
        </section>
    </div>
</section>
</body>
</html>