<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Vegatables.css">
</head>
<body>
<div class="Vegetables">
    <img src="image/001-spaghetti.svg" alt="" class="Vegetables__icon Vegetables__icon_spaghetti">
    <img src="image/002-juice.svg" alt="" class="Vegetables__icon Vegetables__icon_juice">
    <img src="image/003-cheese.svg" alt="" class="Vegetables__icon Vegetables__icon_cheese">
    <img src="image/004-carrot.svg" alt="" class="Vegetables__icon Vegetables__icon_carrot">
    <img src="image/005-apple.svg" alt="" class="Vegetables__icon Vegetables__icon_apple">
    <img src="image/006-vegetables.svg" alt="" class="Vegetables__icon Vegetables__icon_vegetables">
    <img src="image/007-lemonade.svg" alt="" class="Vegetables__icon Vegetables__icon_lemonade">
    <img src="image/008-groceries.svg" alt="" class="Vegetables__icon Vegetables__icon_groceries">
    <article class="Vegetables__description">
        <h3 class="Vegetables__description_caption">I nostri eventi</h3>
        <p class="Vegetables__description_paragraph">Questo mese hai tanti buoni motivi per provare il social
            eating!
            Non
            ti resta che provarli tutti.</p>
        <button class="Button__position_vegetables"></button>
    </article>
    <p class="Vegetables__description_paragraph_grey">In una terra lontana, dietro le montagne Parole, lontani dalle
        terre di Vocalia e Consonantia.</p>
</div>
</body>
</html>