<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/Baner.css">
    <link rel="stylesheet" href="style/Layout.css">
    <link rel="stylesheet" href="style/Button.css">
    <link rel="stylesheet" href="style/Logo.css">
    <link rel="stylesheet" href="style/main-styles.css">
    <link rel="stylesheet" href="style/Navigation.css">
    <link rel="stylesheet" href=style/Vegatables.css >
    <link rel="stylesheet" href="style/Gastronomy.css">
    <link rel="stylesheet" href="style/style-elements.css">
    <link rel="stylesheet" href="style/Contact-chef.css">
    <link rel="stylesheet" href="style/Promo-recipes.css">
    <link rel="stylesheet" href="style/Contact-form.css">
    <link rel="stylesheet" href="style/Footer.css">
    <title>Document</title>
</head>
<body class="Layout">
    <header class="Layout__header">
        <a href="" class="Logo">Eaty</a>
        <nav class="Navigation">
            <a href="" class="Navigation__link">Home</a>
            <a href="" class="Navigation__link">Eventi</a>
            <a href="" class="Navigation__link">Ricette</a>
            <a href="" class="Navigation__link">Chef a domicilio</a>
            <a href="" class="Navigation__link">Contatti</a>
        </nav>
    </header>
    <section class="Layout__banner">
        <div class="Banner__description-section">
            <h2 class="Banner__caption">Ogni giorno nuove esperienze</h2>
            <p class="Banner__paragraph">Scopri sapori, culture e amici con il social eating</p>
            <button class="Button Button__position_baner ">Scopri gli altri eventi</button>
        </div>
    </section>
    <section class="Layout__gastronomy  Vegetables">
        <img src="image/001-spaghetti.svg" alt="" class="Vegetables__icon Vegetables__icon_spaghetti">
        <img src="image/002-juice.svg" alt="" class="Vegetables__icon Vegetables__icon_juice">
        <img src="image/003-cheese.svg" alt="" class="Vegetables__icon Vegetables__icon_cheese">
        <img src="image/004-carrot.svg" alt="" class="Vegetables__icon Vegetables__icon_carrot">
        <img src="image/005-apple.svg" alt="" class="Vegetables__icon Vegetables__icon_apple">
        <img src="image/006-vegetables.svg" alt="" class="Vegetables__icon Vegetables__icon_vegetables">
        <img src="image/007-lemonade.svg" alt="" class="Vegetables__icon Vegetables__icon_lemonade">
        <img src="image/008-groceries.svg" alt="" class="Vegetables__icon Vegetables__icon_groceries">
        <article class="Vegetables__description">
            <h3 class="Vegetables__description_caption">I nostri eventi</h3>
            <p class="Vegetables__description_paragraph">Questo mese hai tanti buoni motivi per provare il social eating!
                Non
                ti resta che provarli tutti.</p>
        </article>
        <p class="Vegetables__description_paragraph_grey">In una terra lontana, dietro le montagne Parole, lontani dalle
            terre di Vocalia e Consonantia.</p>
        <button class="Button Button__position_vegetables ">Scopri gli altri eventi</button>
        <div class="style__el"></div>
        <div class="Gastronomy">
            <section class="Gastronomy__image Gastronomy__image_autumn">
                <h4 class="Image__caption"> ARIA DI AUTUNNO</h4>
                <p class="Image__description">Autunno alle porte?
                    Noi siamo pronti con i fiche autunnali!</p>
            </section>
            <section class="Gastronomy__image Gastronomy__image_sea">
                <h4 class="Image__caption">MARE</h4>
                <p class="Image__description">Frutti di mare che passione! Ecco l’evento perfetto</p>
            </section>
            <section class="Gastronomy__image Gastronomy__image_salad">
                <h4 class="Image__caption">NOVELLE COUISINE</h4>
                <p class="Image__description">Un evento da leccarsi le dita! 10 specialità mai provate</p>
            </section>
        </div>
    </section>
    <article class="Promo-recipes">
        <section class="Promo-recipes__textblock">
            <h6 class="Promo-recipes__header">LASCIATI ISPIRARE</h6>
            <h5 class="Promo-recipes__title">Patate alla brace con buccia</h5>
            <p class="Promo-recipes__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
            <button class="Promo-recipes__button">Scopri le altre ricette</button>
        </section>
        <section class="Promo-recipes__top-recipe">
            <h6 class="Promo-recipes__top-recipe-title">RICETTE</h6>
            <p class="Promo-recipes__top-recipe-description">Prova la nostra ricetta delle patate arrosto al timo!</p>
        </section>
        <img class="Promo-recipes__image" src="image/patate-al-rosmarino.png" alt="Potato">
    </article>

    <article class="Contact-chef">
        <img class="Contact-chef__image" src="image/210-e-3-eee-275-c-22-d-813-a-4520-e-1-b-6-b-208-d-chef.png" alt="Chefcoock">
        <section class="Contact-chef__textbox">
            <h4 class="Contact-chef__header">Vuoi uno chef a casa tua?</h4>
            <h5 class="Contact-chef__title">Organizza i tuoi eventi senza pensare a nulla</h5>
            <p class="Contact-chef__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
            <button class="Contact-chef__button">Contatta uno chef</button>
        </section>
    </article>
    <div class="Footer">
        <div class="Footer__gradient"></div>
        <div class="Contact">
            <p class="Contact__text">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico.</p>
            <form class="Contact-form" action="#">
                <input class="Contact-form__input" type="text" placeholder="Inserisci la tua email">
                <button class="Contact-form__button">Iscriviti</button>
            </form>
        </div>
        <div class="Copyright-info">
            <p class="Copyright-info__copyright">Eaty Copiright 2017 all rights reserved</p>
            <p class="Copyright-info__designer">Designed by Rendemarco</p>
        </div>
    </div>
</body>
</html>