
.Mail-list__item> * {

    vertical-align: bottom;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
  }
  &__item{
    background-color: #fff;

  }
  &__item .select-marker {
    width: 70px;
  }
  &__item{

    &-sender {
      width: 30%;
      overflow: hidden;

    }
  }

.Mail-list__item time {
  width: 35px;
  text-align: right;
}

.Mail-list__item p {
  padding-left: 100px;
  margin: 0;
  width: 75%;
}
