@import url(mail-settings-buttons);

.mail-settings {
  &__button_refresh {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    width: 72px;
    height: 29px;
    overflow: hidden;
    color: transparent;
    border: 1px solid @border;
    border-radius: 2px;
    background: @button-color url("../images/black-gmail-sprite.png") no-repeat 25px -122px;
    background-size: auto;
    opacity: .55;
    &:hover {
      opacity: .99;
    }
  }
}