.button{
  &__contacts{
    margin-left: 25px;
    color: transparent;
    background-image: url("../images/contacts_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 37px;
    height: 32px;
    border: none;
    opacity: .55;
    &:hover{
      opacity: .99;
    }
  }
  &__chats{
    color: transparent;
    background-image: url("../images/hangouts_black.png");
    background-repeat: no-repeat;
    background-position: 4px -149px;
    width: 37px;
    height: 32px;
    border: none;
    opacity: .55;
    &:hover{
      opacity: .99;
    }
  }
  &__calls{
    color: transparent;
    background-image: url("../images/hangouts_black.png");
    background-repeat: no-repeat;
    background-position: 4px -382px;
    width: 37px;
    height: 30px;
    border: none;
    opacity: .55;
    &:hover{
      opacity: .99;
    }
  }
}