.Layout {
  color: #000;
  margin: 0;
  min-width: 900px;
}
.Layout__header {
  height: 60px;
  position: relative;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e5e5e5;
}
.Layout__mail-settings {
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}
.Layout__aside {
  position: fixed;
  width: 200px;
  bottom: 0;
  top: 112px;
  overflow-x: hidden;
  overflow-y: auto ;
  background-color: #fff;
}
.Layout__main {
  left: 200px;
  padding: 0;
  position: fixed;
  top: 112px;
  overflow: auto;
  bottom: 0;
  right: 0;
  background-color: #fff;
}
