.navigation__link {
  padding: 5px;
  display: block;
  text-decoration: none;
  font-family: "pt sans", "heletica", sans-serif;
  left: 10px;
  top: 15px;
  height: 18px;
  font-size: 15px;
  overflow-x: hidden;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #d74336;
  background-color: #f3f3f3;
}
