<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Footer</title>
</head>
<body>
    <footer class="Footer">
        <section class="Footer__Subscribe-menu">

        </section>

        <section class="Footer__"></section>
        <section class="Footer__"></section>
    </footer>
</body>
</html>