<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Footer</title>
    <link rel="stylesheet" href="style/Footer.css">
    <link rel="stylesheet" href="style/Footer-fast-access-menu.css">
    <link rel="stylesheet" href="style/Grid/960_12.css">
    <link rel="stylesheet" href="style/Image-social-networks.css">

</head>
<body>
    <footer class="Footer">
        <section class="Footer__subscribe-menu">
                <p class="Footer__subscribe-menu_title">Let’s keep the conversation going</p>
                <p class="Footer Footer__subscribe-menu_subscribe-description">Receive our newsletter and discover our stories, collections, and surprises.</p>
            <form class="Footer__subscribe-menu_subscribe-email-place">
                <input class="Footer__subscribe-menu_email" type="email" placeholder="Email">
                <button class="Footer__subscribe-menu_subscribe-button">Subscribe</button>
            </form>
            <p class="Footer__subscribe-menu_user-agreement">By subscribing to our newsletter, you agree that your data will be processed in compliance with our General
                <a class="Footer__subscribe-menu_user-agreement_privacy-policy" href="#">Terms and Conditions of Use</a>
                and our
                <a class="Footer__subscribe-menu_user-agreement_privacy-policy" href="#">PrivacyPolicy</a>
            </p>
        </section>

        <section class="Footer Footer-fast-access-menu">
            <p class="Footer-fast-access-menu_title">Services</p>
            <a class="Footer-fast-access-menu_link" href="#">Contact Us</a>
            <a class="Footer-fast-access-menu_link" href="#">FAQ</a>
            <a class="Footer-fast-access-menu_link" href="#">Find a store</a>
            <a class="Footer-fast-access-menu_link" href="#">Gifting</a>
            <a class="Footer-fast-access-menu_link" href="#">Made to Measure</a>
        </section>
        <section class="Footer Footer-fast-access-menu">
            <p class="Footer-fast-access-menu_title">Orders</p>
            <a class="Footer-fast-access-menu_link" href="#">Payment</a>
            <a class="Footer-fast-access-menu_link" href="#">Shipping</a>
            <a class="Footer-fast-access-menu_link" href="#">Collect in store</a>
            <a class="Footer-fast-access-menu_link" href="#">Track orders</a>
            <a class="Footer-fast-access-menu_link" href="#">Exchange & returns</a>
        </section>
        <section class="Footer Footer-fast-access-menu">
            <p class="Footer-fast-access-menu_title">Diamond House</p>
            <a class="Footer-fast-access-menu_link" href="#">The Hermès Foundation</a>
            <a class="Footer-fast-access-menu_link" href="#">Careers</a>
            <a class="Footer-fast-access-menu_link" href="#">Find a store</a>
            <a class="Footer-fast-access-menu_link" href="#">Finance</a>
            <a class="Footer-fast-access-menu_link" href="#">Our partner brands</a>
        </section>
        <section class="Footer Footer-fast-access-menu">
            <p class="Footer-fast-access-menu_title">Legal</p>
            <a class="Footer-fast-access-menu_link" href="#">Terms and conditions</a>
            <a class="Footer-fast-access-menu_link" href="#">Privacy & cookies</a>
            <a class="Footer-fast-access-menu_link" href="#">BCR</a>
            <a class="Footer-fast-access-menu_link" href="#">California Supply Act</a>
            <a class="Footer-fast-access-menu_link" href="#">Legal issues</a>
            <a class="Footer-fast-access-menu_link" href="#">Accessibility</a>
        </section>
        <div class="dividing-line"></div>
        <section class="Footer__social-networks">
            <span class="Image_gmail Image-social-networks"></span>
            <span class="Image_twitter Image-social-networks"></span>
            <span class="Image_facebook Image-social-networks"></span>
            <span class="Image_instagram Image-social-networks"></span>
        </section>
        <section class="Footer__copyright">
            Morocco   © Copyright Uixone, Sarl  2017
        </section>
    </footer>
</body>
</html>