<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/12_col.css">
        <link rel="stylesheet" href="style/Navigation.css">
        <link rel="stylesheet" href="style/Hamburger.css">
        <link rel="stylesheet" href="style/Search.css">
        <link rel="stylesheet" href="style/Logo.css">
        <link rel="stylesheet" href="style/User-properties.css">
    </head>
    <body class="Grid">
        <nav class="Navigation Grid__cell_6">
            <p class="Navigation__item Grid__cell_2">United Stats</p>
            <p class="Navigation__item Grid__cell_2">Find a Store</p>
            <p class="Navigation__item Grid__cell_2 Grid__suffix_1">Contact us</p>
        </nav>

        <img class="Hamburger"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png">

        <form class="Search" action="">
            <img class="Search__icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/105498-200.png"/>
            <input class="Search__input" type="search" placeholder="Search">
        </form>

        <div class="Logo">
            <img class="Logo__image" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_27,h_32/v1514065092/Diamond-logo_gn3fyc.png">
            <p class="Logo__name">DIAMOND</p>
            <p class="Logo__description">--fashion--</p>
        </div>

        <figure class="User-properties">
            <img class="User-properties__image User-properties__image_account" src="images/icons8-customer-50.png" alt="">
            <p class="User-properties__title">Account</p>
        </figure>
        <figure class="User-properties">
            <img class="User-properties__image User-properties__image_cart" src="https://png.icons8.com/material/540/add-shopping-cart.png" alt="">
            <p class="User-properties__title">Cart</p>
        </figure>
    </body>
</html>