<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/12_col.css">
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Navigation.css">
        <link rel="stylesheet" href="style/Hamburger.css">
        <link rel="stylesheet" href="style/Search.css">
        <link rel="stylesheet" href="style/Logo.css">
        <link rel="stylesheet" href="style/User-properties.css">
    </head>
    <body class="Grid">
        <nav class="Navigation Grid__cell_8 Grid__prefix_4">
            <p class="Navigation__item Grid__cell_3">United Stats</p>
            <p class="Navigation__item Grid__cell_3">Find a Store</p>
            <p class="Navigation__item Grid__cell_2">Contact us</p>
        </nav>

        <div class="Hamburger Grid__cell_1">
            <img class="Hamburger__icon"
                 src="http://res.cloudinary.com/dl8ivboct/image/upload/w_32,h_32/v1514134266/Hamburger_icon.svg_hxe5gg.png">
        </div>

        <form class="Search Grid__cell_4" action="">
            <img class="Search__icon" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_23,h_23/v1514134673/Search_wnoted.png">
            <input class="Search__input" type="search" placeholder="Search">
        </form>

        <div class="Logo Grid__cell_2">
            <img class="Logo__image" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_27,h_32/v1514065092/Diamond-logo_gn3fyc.png">
            <p class="Logo__name">DIAMOND</p>
            <p class="Logo__description">--fashion--</p>
        </div>

        <div class="User-properties Grid__cell_4">
            <figure class="User-properties__item">
                <img class="User-properties__image User-properties__image_account" src="images/icons8-customer-50.png" alt="">
                <p class="User-properties__title">Account</p>
            </figure>
            <figure class="User-properties__item">
                <img class="User-properties__image User-properties__image_cart" src="https://png.icons8.com/material/540/add-shopping-cart.png" alt="">
                <p class="User-properties__title">Cart</p>
            </figure>
        </div>
    </body>
</html>