<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/Grid-float.css">
    <!--<link rel="stylesheet" href="style/Layout.css">-->
    <!--<link rel="stylesheet" href="style/12_col.css">-->
    <link rel="stylesheet" href="style/Hamburger.css">
    <link rel="stylesheet" href="style/Search.css">
    <link rel="stylesheet" href="style/Logo.css">
    <link rel="stylesheet" href="style/Log-in.css">
    <link rel="stylesheet" href="style/Header.css">
    <link rel="stylesheet" href="style/Banner.css">
    <link rel="stylesheet" href="style/Promoarticle-4Columns.css">
    <link rel="stylesheet" href="style/Promo-big-image.css">
    <link rel="stylesheet" href="style/bPromoarticle-5sections.css">
    <link rel="stylesheet" href="style/Footer.css">
    <link rel="stylesheet" href="style/Footer-fast-access-menu.css">
    <link rel="stylesheet" href="style/Image-social-networks.css">
    <link rel="stylesheet" href="style/Help-info.css">
</head>
<body>
<header>
    <div class="Block">
        <div class="Header">
            <nav class="Header__top">
                <p class="Header__top-navigation">United Stats</p>
                <p class="Header__top-navigation">Find a Store</p>
                <p class="Header__top-navigation">Contact us</p>
            </nav>
            <section class="Header__bottom">
                <div class="Header__bottom-left">
                    <img class="Hamburger"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png">
                    <p class="Header__bottom-extra">Extra</p>
                    <form class="Search" action="">
                        <img class="Search__icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/105498-200.png"/>
                        <input class="Search__input" type="search" placeholder="Search">
                    </form>
                </div>
                <div class="Header__bottom-center">
                    <div class="Logo">
                        <img class="Logo__image" src="../img/Diamond-logo.png">
                        <p class="Logo__name">DIAMOND</p>
                        <p class="Logo__description">--fashion--</p>
                    </div>
                </div>
                <div class="Header__bottom-right">
                    <div class="Log-in">
                        <img class="Log-in__image Log-in__image_account" src="img/icons8-customer-50.png" alt="">
                        <p class="Log-in__title">Account</p>
                    </div>
                    <div class="Log-in">
                        <img class="Log-in__image Log-in__image_cart"
                             src="https://png.icons8.com/material/540/add-shopping-cart.png" alt="">
                        <p class="Log-in__title">Cart</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>


<div class="Promo">
    <article class="Banner">
        <div class="Grid__cell_12">
            <h3 class="Banner__header Grid__cell_4 Grid__prefix_4">PEOPLE READY-TO-HELP</h3>
            <h2 class="Banner__title Grid__cell_10 Grid__prefix_1">Provides All Essential Accessory Tips</h2>
            <h4 class="Banner__description Grid__cell_4 Grid__prefix_4">Discover the meshe shows</h4>
        </div>
    </article>
</div>

    <div class="Grid">
        <article class="Promoarticle Grid__cell_12">
            <h2 class="Promoarticle__header Grid__cell_8 Grid__prefix_2">Our accessory for ladies</h2>
            <h3 class="Promoarticle__description Grid__cell_8 Grid__prefix_2">Creating Remarkable ladies bags Prints in
                2 Colors Combination</h3>
            <section class="Promoarticle_top">
                <div class="Promoarticle__item container container_12">
                    <div class="grid grid_3">
                        <img class="Promoarticle__photo-item"
                             src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132529/purse-883112_640_pdunam.jpg"
                             alt="bag">
                        <p class="Promoarticle__about-item">Snake bag</p>
                    </div>
                    <div class="grid grid_3">
                        <img class="Promoarticle__photo-item"
                             src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132502/bags-1852142_640_rqc157.jpg"
                             alt="bag">
                        <p class="Promoarticle__about-item">Woman bag</p>
                    </div>
                    <div class="grid grid_3">
                        <img class="Promoarticle__photo-item"
                             src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132518/handbag-883110_640_fvnvjr.jpg"
                             alt="bag">
                        <p class="Promoarticle__about-item">Fashionest bag</p>
                    </div>
                    <div class="grid grid_3">
                        <img class="Promoarticle__photo-item"
                             src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132544/handbag-883122_640_v2qxsg.jpg"
                             alt="bag">
                        <p class="Promoarticle__about-item">Black stylish bag</p>
                    </div>
                    <div class="grid grid_3">
                        <img class="Promoarticle__photo-item"
                             src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_grayscale,h_260,w_260/v1513177542/sandals-2480821_640_zh290e.jpg"
                             alt="bag">
                        <p class="Promoarticle__about-item">Futures shoes</p>
                    </div>
                    <div class="grid grid_3">
                        <img class="Promoarticle__photo-item"
                             src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513177611/shoe-2006739_640_yqcmht.jpg"
                             alt="bag">
                        <p class="Promoarticle__about-item">Nice Shoes</p>
                    </div>
                    <div class="grid grid_3">
                        <img class="Promoarticle__photo-item"
                             src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513177554/boots-499017_640_urtuxq.jpg"
                             alt="bag">
                        <p class="Promoarticle__about-item">Fashionest sandals</p>
                    </div>
                    <div class="grid grid_3">
                        <img class="Promoarticle__photo-item"
                             src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_grayscale,h_260,w_260/v1513177620/shoe-2300318_640_lsa4ub.jpg"
                             alt="bag">
                        <p class="Promoarticle__about-item omega">Stylish sandals</p>
                    </div>
                </div>
            </section>
        </article>

        <div class="grid grid_3">
            <div class="Product">
                <article class="Promo-big-image">
                    <h3 class="Promo-big-image__header Grid__cell_4 Grid__prefix_4">STYLERS PHILOSOPHY</h3>
                    <h2 class="Promo-big-image__title Grid__cell_6 Grid__prefix_3">Simplicity & perfection</h2>
                    <p class="Promo-big-image__description Grid__cell_8 Grid__prefix_2">The punk and cheeky version
                        of the iconic “chaîne d’ancre” link is an ode to the wonders of time.
                        Prepare to be hooked.</p>
                    <p class="Promo-big-image__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
                    <div class="Promo-big-image__image Promo-big-image__image_style Grid__cell_8 Grid__prefix_2"></div>
                </article>
            </div>
        </div>


        <article class="Grid-float Grid-float_12">

            <div class="
                    Grid-float__cell
                    Grid-float__cell_8
                    Grid-float__cell_prefix_2
                ">
                <h2 class="Promoarticle-5sections__title">Best Women Shoes Collection</h2>
                <p class="Promoarticle-5sections__description">A narcissistic robot
                    ​infiltrated our ​collections.</p>
                <p class="Promoarticle-5sections__link">Follow it’s tracks</p>
            </div>

            <div class="
                    Grid-float__cell
                    Grid-float__cell_6
                ">

                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_big"
                     src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_fill,h_554,w_554/v1513364108/134905_Wide-CalfBootCollection_HP_2017_1213_AA2_134826.d14b263f-e781-4019-8d4c-b4b77a4dbd53_ivwcod.jpg"
                     alt="Boots"/>
            </div>

            <div class="
                    Grid-float__cell
                    Grid-float__cell_6
                ">
                <div class="
                    Grid-float__cell
                    Grid-float__cell_3
                    Grid-float__cell_alpha
                ">
                    <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"
                         src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_fill,h_400,w_400/v1513364590/fashion-601557_640_os9iyx.jpg"
                         alt="">
                    <p class="Promoarticle-5sections__promotext">More colors available</p>
                    <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket<br> square 45</p>
                    <p class="Promoarticle-5sections__price">$145.00</p>
                </div>

                <div class="
                    Grid-float__cell
                    Grid-float__cell_3
                    Grid-float__cell_omega
                ">
                    <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"
                         src="http://res.cloudinary.com/dvhn8lvvz/image/upload/h_450,w_450,c_fill/v1513364634/fashion-957158_640_engzou.jpg"
                         alt="">
                    <p class="Promoarticle-5sections__promotext">More colors available</p>
                    <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket<br> square 45</p>
                    <p class="Promoarticle-5sections__price">$145.00</p>
                </div>

                <div class="
                    Grid-float__cell
                    Grid-float__cell_3
                    Grid-float__cell_alpha
                ">

                    <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"
                         src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_fill,h_263,w_263/v1513364617/shoes-1174160_640_ppbq8r.jpg"
                         alt="">
                    <p class="Promoarticle-5sections__promotext">More colors available</p>
                    <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket<br> square 45</p>
                    <p class="Promoarticle-5sections__price">$145.00</p>
                </div>

                <div class="
                    Grid-float__cell
                    Grid-float__cell_3
                    Grid-float__cell_omega
                ">
                    <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"
                         src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_fill,e_fill_light:90,h_263,w_263/v1513364824/238134_LolaRamona_HP_2017_1215_MS2_193620.0aa17704-2663-4b7f-bdd9-bca380a12df0_gwbben.jpg"
                         alt="">
                    <p class="Promoarticle-5sections__promotext">More colors available</p>
                    <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket<br> square 45</p>
                    <p class="Promoarticle-5sections__price">$145.00</p>
                </div>

            </div>

        </article>


        <div class="grid grid_3">
            <div class="Product">
                <article class="Promo-big-image">
                    <h3 class="Promo-big-image__header Grid__cell_4 Grid__prefix_4">JEWELRY</h3>
                    <h2 class="Promo-big-image__title Grid__cell_6 Grid__prefix_3">Types of Cosmetics</h2>
                    <p class="Promo-big-image__description Grid__cell_8 Grid__prefix_2">More and more people are
                        opting to live the herbal life: moving away from
                        They are awesome</p>
                    <p class="Promo-big-image__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
                    <div class="Promo-big-image__image Promo-big-image__image_jewelry Grid__cell_8 Grid__prefix_2"></div>
                </article>
            </div>
        </div>
        <article class="Promoarticle-5sections Grid_cell_12">
            <h2 class="Promoarticle-5sections__title Grid__cell_8 Grid__prefix_2">Beautiful Plants for
                Decoration</h2>
            <p class="Promoarticle-5sections__description Grid__cell_8 Grid__prefix_2">A narcissistic robot
                ​infiltrated our ​collections.</p>
            <p class="Promoarticle-5sections__link Grid__cell_4 Grid__prefix_4">Follow it’s tracks</p>
            <div class="Promoarticle-5sections__images Grid__cell_12">
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_big  Grid__cell_6"
                     src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_improve,g_center,h_554,w_554/v1513388251/flowerpots-2924368_640_epyosg.jpg"
                     alt="Plant">
                <!--<div class="Promoarticle-5sections__image Promoarticle-5sections__image_big Promoarticle-5sections__image_big_plant Grid__cell_6"></div>-->
                <section class="Promoarticle-5sections__4images">
                    <div class="Grid__cell_6">
                        <div class="alpha">
                            <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"
                                 src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_fill_light:83,g_face:auto,h_400,w_400/v1513388553/plants-2810511_640_eq03dt.jpg"
                                 alt="">
                            <p class="Promoarticle-5sections__promotext">More colors available</p>
                            <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket</p>
                            <p class="Promoarticle-5sections__price">$145.00</p>
                        </div>
                        <div>
                            <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"
                                 src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_art:linen,g_face,h_450,w_450/v1513388567/sansevieria-2582056_640_fwuhbk.jpg"
                                 alt="">
                            <p class="Promoarticle-5sections__promotext">More colors available</p>
                            <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket</p>
                            <p class="Promoarticle-5sections__price">$145.00</p>
                        </div>
                    </div>
                    <div class="Grid__cell_6">
                        <div>
                            <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"
                                 src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_mfit,h_450,w_450/v1513388582/plants-2250221_640_gwm0ft.jpg"
                                 alt="">
                            <p class="Promoarticle-5sections__promotext">More colors available</p>
                            <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket</p>
                            <p class="Promoarticle-5sections__price">$145.00</p>
                        </div>
                        <div>
                            <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"
                                 src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_improve,g_face:auto,h_426,w_426/v1513388645/flowerpots-2924375_640_axu4js.jpg"
                                 alt="">
                            <p class="Promoarticle-5sections__promotext">More colors available</p>
                            <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket</p>
                            <p class="Promoarticle-5sections__price">$145.00</p>
                        </div>
                    </div>
                </section>
            </div>
        </article>
        <div class="grid_12">
            <div class="Product">
                <article class="Promo-big-image">
                    <h3 class="Promo-big-image__header Grid__cell_4 Grid__prefix_4">COSMETIC</h3>
                    <h2 class="Promo-big-image__title Grid__cell_6 Grid__prefix_3">Cosmetics Accessories</h2>
                    <p class="Promo-big-image__description Grid__cell_8 Grid__prefix_2">More and more people are
                        opting to live the herbal life: moving away from
                        chemicals and scientific medicines, and taking traditional herbs to do everything from
                        losing weight to relieving pain. They are awesome</p>
                    <p class="Promo-big-image__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
                    <div class="Promo-big-image__image Promo-big-image__image_cosmetics Grid__cell_12"></div>
                </article>
            </div>
        </div>

        <div class="grid_12">
            <div class="Block">
                <aside class="Layout__aside">
                    <div class="Feedback">
                        <div class="Help-info Grid__cell_6">
                            <h2 class="Help-info__header">Here to help</h2>
                            <p class="Help-info__text">Have a question? You may find an answer in our FAQs.
                                But you can also contact us:</p>
                            <p class="Help-info__link">Call 100-444-7700</p>
                            <p class="Help-info__text">Monday to Friday: 9:00 a.m. - 6:00 p.m. & Thursday: 9:00 a.m.
                                - 7:00 p.m. ET Saturday: 10:00 a.m. - 6:00 p.m.</p>
                            <p class="Help-info__link">Send us an email</p>
                        </div>
                        <div class="Help-info Grid__cell_6">
                            <h2 class="Help-info__header">Meshe parteners</h2>
                            <p class="Help-info__text">Check ou our parteners:</p>
                            <p class="Help-info__link">check all here</p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <footer class="Footer">
            <section class="Footer__subscribe-menu ">
                <p class="Footer__subscribe-menu_title Grid__cell_6 Grid__prefix_1">Let’s keep the conversation
                    going</p>
                <div class="Email-wrapper">
                    <p class="Footer Footer__subscribe-menu_subscribe-description Grid__cell_6 Grid__prefix_1">
                        Receive our newsletter and discover our stories, collections, and surprises.</p>
                    <form class="Footer__subscribe-menu_subscribe-email-place Grid__cell_5 ">
                        <input class="Footer__subscribe-menu_email Grid__cell_6 " type="email" placeholder="Email">
                        <button class="Footer__subscribe-menu_subscribe-button Grid__cell_4">Subscribe</button>
                    </form>
                </div>
                <p class="Footer__subscribe-menu_user-agreement Grid__cell_11 Grid__prefix_1">By subscribing to our
                    newsletter, you agree that your data will be processed in compliance with our General
                    <a class="Footer__subscribe-menu_user-agreement_privacy-policy" href="#">Terms and Conditions of
                        Use</a>
                    and our
                    <a class="Footer__subscribe-menu_user-agreement_privacy-policy" href="#">PrivacyPolicy</a>
                </p>
            </section>
            <div class="Fast-access-wrapper Grid__cell_12">
                <section class="Footer-fast-access-menu Grid__cell_3">
                    <p class="Footer-fast-access-menu_title">Services</p>
                    <a class="Footer-fast-access-menu_link" href="#">Contact Us</a>
                    <a class="Footer-fast-access-menu_link" href="#">FAQ</a>
                    <a class="Footer-fast-access-menu_link" href="#">Find a store</a>
                    <a class="Footer-fast-access-menu_link" href="#">Gifting</a>
                    <a class="Footer-fast-access-menu_link" href="#">Made to Measure</a>
                </section>
                <section class="Footer-fast-access-menu Grid__cell_3">
                    <p class="Footer-fast-access-menu_title">Orders</p>
                    <a class="Footer-fast-access-menu_link" href="#">Payment</a>
                    <a class="Footer-fast-access-menu_link" href="#">Shipping</a>
                    <a class="Footer-fast-access-menu_link" href="#">Collect in store</a>
                    <a class="Footer-fast-access-menu_link" href="#">Track orders</a>
                    <a class="Footer-fast-access-menu_link" href="#">Exchange & returns</a>
                </section>
                <section class="Footer-fast-access-menu Grid__cell_3">
                    <p class="Footer-fast-access-menu_title">Diamond House</p>
                    <a class="Footer-fast-access-menu_link" href="#">The Hermès Foundation</a>
                    <a class="Footer-fast-access-menu_link" href="#">Careers</a>
                    <a class="Footer-fast-access-menu_link" href="#">Find a store</a>
                    <a class="Footer-fast-access-menu_link" href="#">Finance</a>
                    <a class="Footer-fast-access-menu_link" href="#">Our partner brands</a>
                </section>
                <section class="Footer-fast-access-menu Grid__cell_3">
                    <p class="Footer-fast-access-menu_title">Legal</p>
                    <a class="Footer-fast-access-menu_link" href="#">Terms and conditions</a>
                    <a class="Footer-fast-access-menu_link" href="#">Privacy & cookies</a>
                    <a class="Footer-fast-access-menu_link" href="#">BCR</a>
                    <a class="Footer-fast-access-menu_link" href="#">California Supply Act</a>
                    <a class="Footer-fast-access-menu_link" href="#">Legal issues</a>
                    <a class="Footer-fast-access-menu_link" href="#">Accessibility</a>
                </section>
            </div>
            <div class="dividing-line"></div>
            <section class="Footer__social-networks Grid__cell_3">
                <span class="Image_gmail Image-social-networks Grid__cell_2"></span>
                <span class="Image_twitter Image-social-networks Grid__cell_2"></span>
                <span class="Image_facebook Image-social-networks Grid__cell_2"></span>
                <span class="Image_instagram Image-social-networks Grid__cell_2"></span>
            </section>
            <section class="Footer__copyright Grid__cell_4 Grid__prefix_5">
                Morocco © Copyright Uixone, Sarl 2017
            </section>
            <div class="Logo Footer-logo  Grid__cell_2 Grid__prefix_5">
                <img class="Logo__image" src="../images/Diamond-logo.png">
                <p class="Logo__name">DIAMOND</p>
                <p class="Logo__description">--fashion--</p>
            </div>
        </footer>
    </div>
</body>
</html>