<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/yLayout.css">
        <link rel="stylesheet" href="style/Search.css">
        <link rel="stylesheet" href="style/Logo.css">
        <link rel="stylesheet" href="style/Log-in.css">
        <link rel="stylesheet" href="style/Promotion-text.css">
        <link rel="stylesheet" href="style/Merchandise-picture.css">
        <link rel="stylesheet" href="style/Product-catalog.css">
        <link rel="stylesheet" href="style/Product-offer.css">
        <link rel="stylesheet" href="style/Interesting-things.css">
        <link rel="stylesheet" href="style/Grid/960_12.css">`
        <link rel="stylesheet" href="style/12_col.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <section class="Header">
                <nav class="Header__top">
                    <p class="Header__top-navigation">United Stats</p>
                    <p class="Header__top-navigation">Find a Store</p>
                    <p class="Header__top-navigation">Contact us</p>
                </nav>
                <section class="Header__bottom">
                    <div class="Header__bottom-left">
                        <img class="Header__menu-link"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png">
                        <p class="Header__menu-name">Extra</p>
                        <form class="Search" action="">
                            <img class="Search__icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/105498-200.png"/>
                            <input class="Search__input" type="search" placeholder="Search">
                        </form>
                    </div>
                    <div class="Header__bottom-center">
                        <div class="Logo">
                            <img class="Logo__image" src="../images/Diamond-logo.png">
                            <p class="Logo__name">DIAMOND</p>
                            <p class="Logo__description">--fashion--</p>
                        </div>
                    </div>
                    <div class="Header__bottom-right">
                        <div class="Log-in">
                            <img class="Log-in__image Log-in__image_account" src="images/icons8-customer-50.png" alt="">
                            <p class="Log-in__title">Account</p>
                        </div>
                        <div class="Log-in">
                            <img class="Log-in__image Log-in__image_cart" src="https://png.icons8.com/material/540/add-shopping-cart.png" alt="">
                            <p class="Log-in__title">Cart</p>
                        </div>
                    </div>
                </section>
            </section>
        </header>
        <main class="Layout__payload">
            <article class="Hero-article Promotion-text">
                <div class="Promotion-text__wrapper">
                    <p class="Promotion-text__heading">PEOPLE READY-TO-HELP</p>
                    <p class="Main-title">Provides All Essential Accessory Tips</p>
                    <a class="Promotion-text__link" href="#">Discover  the  meshe  shows</a>
                </div>
            </article>
            <article class="Product-catalog">
                <p class="Main-title Grid__cell_6 Grid__prefix_3">Our accessory for ladies</p>
                <p class="Additional-title Grid__cell_8 Grid__prefix_2">Creating Remarkable ladies bags Prints in 2 Colors Combination</p>
                <div class="Product-catalog__top">
                    <section class="Product-catalog__section Grid__cell_3">
                        <img class="Product-catalog__picture_1 Merchandise-picture" src="images/bag1.jpg" alt="">
                        <p class="Product-catalog__section-name">Snake bag</p>
                    </section>
                    <section class="Product-catalog__section Grid__cell_3">
                        <img class="Product-catalog__picture_2 Merchandise-picture" src="images/bag2.jpg" alt="">
                        <p class="Product-catalog__section-name">Woman bag</p>
                    </section>
                    <section class="Product-catalog__section Grid__cell_3">
                        <img class="Product-catalog__picture_3 Merchandise-picture" src="images/bag3.jpg" alt="">
                        <p class="Product-catalog__section-name">Fashionest bag</p>
                    </section>
                    <section class="Product-catalog__section Grid__cell_3">
                        <img class="Product-catalog__picture_4 Merchandise-picture" src="images/bag4.jpg" alt="">
                        <p class="Product-catalog__section-name">Black stylish bag</p>
                    </section>
                </div>
                <div class="Product-catalog__bottom">
                    <section class="Product-catalog__section Grid__cell_3">
                        <img class="Product-catalog__picture_5 Merchandise-picture" src="images/Futures-shoes.jpg" alt="">
                        <p class="Product-catalog__section-name">Futures shoes</p>
                    </section>
                    <section class="Product-catalog__section Grid__cell_3">
                        <img class="Product-catalog__picture_6 Merchandise-picture" src="images/Nice-shoes.jpg" alt="">
                        <p class="Product-catalog__section-name">Nice Shoes</p>
                    </section>
                    <section class="Product-catalog__section Grid__cell_3">
                        <img class="Product-catalog__picture_7 Merchandise-picture" src="images/Fashionest-sandals.jpg" alt="">
                        <p class="Product-catalog__section-name">Fashionest sandals</p>
                    </section>
                    <section class="Product-catalog__section Grid__cell_3">
                        <img class="Product-catalog__picture_8 Merchandise-picture" src="images/Stylish-sandals.jpg" alt="">
                        <p class="Product-catalog__section-name">stylish sandals</p>
                    </section>
                </div>
            </article>
            <article class="Hero-article Interesting-things">
                <p class=" Interesting-things__rubric-name">STYLERS PHILOSOPHY</p>
                <p class="Main-title">Simplicity & perfection</p>
                <p class="Additional-title">
                    The punk and cheeky version of the iconic “chaîne d’ancre” link is an ode to the wonders of time.
                    Prepare to be hooked.
                </p>
                <a class="Link" href="#">Tear and create</a>
                <img class="Interesting-things__picture_1 Preview-article-picture" src="#" alt="">
            </article>
            <article class="Hero-article Product-offer">
                <p class="Main-title">Best Women Shoes Collection</p>
                <p class="Additional-title">
                    A narcissistic robot ​infiltrated our ​collections.
                </p>
                <a class="Link" href="#">Follow it’s tracks</a>
                <div class="Product-offer__wrapper">
                    <img class="Product-offer__picture_1 Merchandise-picture_big Grid__prefix_1" src="images/Shoes-collection.jpg" alt="">
                    <div class="Product-offer__top">
                        <section class="Product-offer__section">
                            <img class="Product-offer__picture_2 Merchandise-picture Grid__prefix_2" src="images/Shoes-collection1.jpg" alt="">
                            <p class="Product-description Grid__cell_8 Grid__prefix_2">
                                More colors available
                                Flamboyant Web pocket
                                $145.00
                            </p>
                        </section>
                        <section class="Product-offer__section">
                            <img class="Product-offer__picture_3 Merchandise-picture Grid__prefix_2" src="images/Shoes-collection2.jpg" alt="">
                            <p class="Product-description Grid__cell_8 Grid__prefix_2">
                                More colors available
                                Flamboyant Web pocket
                                $145.00
                            </p>
                        </section>
                    </div>
                    <div class="Product-offer__bottom">
                        <section class="Product-offer__section">
                            <img class="Product-offer__picture_4 Merchandise-picture Grid__prefix_2" src="images/Shoes-collection3.jpg" alt="">
                            <p class="Product-description Grid__cell_8 Grid__prefix_2">
                                More colors available
                                Flamboyant Web pocket
                                $145.00
                            </p>
                        </section>
                        <section class="Product-offer__section">
                            <img class="Product-offer__picture_5 Merchandise-picture Grid__prefix_2" src="images/Shoes-collection4.jpg" alt="">
                            <p class="Product-description Grid__cell_8 Grid__prefix_2">
                                More colors available
                                Flamboyant Web pocket
                                $145.00
                            </p>
                        </section>
                    </div>
                </div>
            </article>
            <article class="Hero-article Interesting-things">
                <p class=" Interesting-things__rubric-name">JEWELRY</p>
                <p class="Main-title">Types Of Cosmetics</p>
                <p class="Additional-title">
                    Having Your Breasts Reduced With Breast Augmentation
                </p>
                <a class="Link" href="#">Tear and create</a>
                <img class="Interesting-things__picture_1 Preview-article-picture" src="#" alt="">
            </article>
            <article class="Hero-article Product-offer">
                <p class="Main-title">Beautiful Plants for Decoration</p>
                <p class="Additional-title">
                    A narcissistic robot ​infiltrated our ​collections.
                </p>
                <a class="Link" href="#">Follow it’s tracks</a>
                <img class="Product-offer__picture_6 Merchandise-picture_big" src="" alt="">
                <img class="Product-offer__picture_7 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_8 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_9 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_10 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
            </article>
            <article class="Hero-article Interesting-things">
                <p class=" Interesting-things__rubric-name">COSMETIC</p>
                <p class="Main-title">Cosmetics Accessories</p>
                <p class="Additional-title">
                    More and more people are opting to live the herbal life:
                    moving away from chemicals and scientific medicines,
                    and taking traditional herbs to do everything from losing weight to relieving pain.
                    They are awesome
                </p>
                <a class="Link" href="#">Tear and create</a>
                <img class="Interesting-things__picture_1 Preview-article-picture" src="#" alt="">
            </article>
            <article class="Hero-article Contacts">
                <p class="Contacts__main-title">Here to help</p>
                <p class="Contacts__info">
                    Have a question? You may find an answer in our FAQs.
                    But you can also contact us:
                </p>
                <a class="Link" href="#">Call 100-444-7700</a>
                <p class="Contacts__info">
                    Monday to Friday: 9:00 a.m. - 6:00 p.m. & Thursday: 9:00 a.m. - 7:00 p.m.
                    ET Saturday: 10:00 a.m. - 6:00 p.m.
                </p>
                <a class="Link" href="#">Send us an email</a>
                <p class="Contacts__main-title">Meshe parteners</p>
                <p class="Contacts__info">
                    Check ou our parteners:
                </p>
                <a class="Link" href="#">check all here</a>
            </article>
        </main>
        <footer class="Layout__footer">
        </footer>
    </body>
</html>