<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/layout.css">
        <link rel="stylesheet" href="style/Promotion-text.css">
    </head>
    <body class="Layout">
        <header class="Layout__header"></header>
        <main class="Layout__payload">
            <article class="Hero-article Promotion-text">
                <p class="Promotion-text__heading">PEOPLE READY-TO-HELP</p>
                <p class="Main-title">Provides All Essential Accessory Tips</p>
                <a class="Promotion-text_link" href="#">Discover  the  meshe  shows</a>
            </article>
            <article class="Hero-article Product-catalog">
                <p class="Main-title">Our accessory for ladies</p>
                <p class="Additional-title">Creating Remarkable ladies bags Prints in 2 Colors Combination</p>
                <img class="Product-catalog__picture_1 Merchandise-picture" src="#" alt="">
                <img class="Product-catalog__picture_2 Merchandise-picture" src="#" alt="">
                <img class="Product-catalog__picture_3 Merchandise-picture" src="#" alt="">
                <img class="Product-catalog__picture_4 Merchandise-picture" src="#" alt="">
                <img class="Product-catalog__picture_5 Merchandise-picture" src="#" alt="">
                <img class="Product-catalog__picture_6 Merchandise-picture" src="#" alt="">
                <img class="Product-catalog__picture_7 Merchandise-picture" src="#" alt="">
                <img class="Product-catalog__picture_8 Merchandise-picture" src="#" alt="">
            </article>
            <article class="Hero-article Interesting-things">
                <p class=" Interesting-things__rubric-name">STYLERS PHILOSOPHY</p>
                <p class="Main-title">Simplicity & perfection</p>
                <p class="Additional-title">
                    The punk and cheeky version of the iconic “chaîne d’ancre” link is an ode to the wonders of time.
                    Prepare to be hooked.
                </p>
                <a class="Link" href="#">Tear and create</a>
                <img class="Interesting-things__picture_1 Preview-article-picture" src="#" alt="">
            </article>
            <article class="Hero-article Product-offer">
                <p class="Main-title">Best Women Shoes Collection</p>
                <p class="Additional-title">
                    A narcissistic robot ​infiltrated our ​collections.
                </p>
                <a class="Link" href="#">Follow it’s tracks</a>
                <img class="Product-offer__picture_1 Merchandise-picture_big" src="" alt="">
                <img class="Product-offer__picture_2 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_3 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_4 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_5 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
            </article>
            <article class="Hero-article Interesting-things">
                <p class=" Interesting-things__rubric-name">JEWELRY</p>
                <p class="Main-title">Types Of Cosmetics</p>
                <p class="Additional-title">
                    Having Your Breasts Reduced With Breast Augmentation
                </p>
                <a class="Link" href="#">Tear and create</a>
                <img class="Interesting-things__picture_1 Preview-article-picture" src="#" alt="">
            </article>
            <article class="Hero-article Product-offer">
                <p class="Main-title">Beautiful Plants for Decoration</p>
                <p class="Additional-title">
                    A narcissistic robot ​infiltrated our ​collections.
                </p>
                <a class="Link" href="#">Follow it’s tracks</a>
                <img class="Product-offer__picture_6 Merchandise-picture_big" src="" alt="">
                <img class="Product-offer__picture_7 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_8 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_9 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
                <img class="Product-offer__picture_10 Merchandise-picture" src="" alt="">
                <span class="Product-description">
                    More colors available
                    Flamboyant Web pocket
                    $145.00
                </span>
            </article>
            <article class="Hero-article Interesting-things">
                <p class=" Interesting-things__rubric-name">COSMETIC</p>
                <p class="Main-title">Cosmetics Accessories</p>
                <p class="Additional-title">
                    More and more people are opting to live the herbal life:
                    moving away from chemicals and scientific medicines,
                    and taking traditional herbs to do everything from losing weight to relieving pain.
                    They are awesome
                </p>
                <a class="Link" href="#">Tear and create</a>
                <img class="Interesting-things__picture_1 Preview-article-picture" src="#" alt="">
            </article>
            <article class="Hero-article Contacts">
                <p class="Contacts__main-title">Here to help</p>
                <p class="Contacts__info">
                    Have a question? You may find an answer in our FAQs.
                    But you can also contact us:
                </p>
                <a class="Link" href="#">Call 100-444-7700</a>
                <p class="Contacts__info">
                    Monday to Friday: 9:00 a.m. - 6:00 p.m. & Thursday: 9:00 a.m. - 7:00 p.m.
                    ET Saturday: 10:00 a.m. - 6:00 p.m.
                </p>
                <a class="Link" href="#">Send us an email</a>
                <p class="Contacts__main-title">Meshe parteners</p>
                <p class="Contacts__info">
                    Check ou our parteners:
                </p>
                <a class="Link" href="#">check all here</a>
            </article>
        </main>
        <footer class="Layout__footer"></footer>
    </body>
</html>