<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/12_col.css">
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Search.css">
        <link rel="stylesheet" href="style/Logo.css">
        <link rel="stylesheet" href="style/Log-in.css">
        <link rel="stylesheet" href="style/Promotion-text.css">
        <link rel="stylesheet" href="style/Merchandise-picture.css">
        <link rel="stylesheet" href="style/Product-catalog.css">
        <link rel="stylesheet" href="style/Footer.css">
        <link rel="stylesheet" href="style/Footer-fast-access-menu.css">
        <link rel="stylesheet" href="style/Image-social-networks.css">
        <link rel="stylesheet" href="style/Product-offer.css">
        <link rel="stylesheet" href="style/Interesting-things.css">`
        <link rel="stylesheet" href="style/Contacts.css">
        <link rel="stylesheet" href="style/Copyright.css">
    </head>
    <body class="">
        <header class="Header">
            <nav class="Header__top">
                <p class="Header__top-navigation">United Stats</p>
                <p class="Header__top-navigation">Find a Store</p>
                <p class="Header__top-navigation">Contact us</p>
            </nav>
            <section class="Header__bottom">
                <div class="Header__bottom-left">
                    <img class="Header__menu-link"
                        src="http://res.cloudinary.com/dl8ivboct/image/upload/w_32,h_32/v1514134266/Hamburger_icon.svg_hxe5gg.png">

                    <form class="Search" action="">
                        <img class="Search__icon" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_23,h_23/v1514134673/Search_wnoted.png">
                        <input class="Search__input" type="search" placeholder="Search">
                    </form>
                </div>
                <div class="Header__bottom-center">
                    <div class="Logo">
                        <img class="Logo__image" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_27,h_32/v1514065092/Diamond-logo_gn3fyc.png">
                        <p class="Logo__name">DIAMOND</p>
                        <p class="Logo__description">--fashion--</p>
                    </div>
                </div>
                <div class="Header__bottom-right">
                    <div class="Log-in">
                        <img class="Log-in__image Log-in__image_account" src="images/icons8-customer-50.png" alt="">
                        <p class="Log-in__title">Account</p>
                    </div>
                    <div class="Log-in">
                        <img class="Log-in__image Log-in__image_cart" src="https://png.icons8.com/material/540/add-shopping-cart.png" alt="">
                        <p class="Log-in__title">Cart</p>
                    </div>
                </div>
            </section>
        </header>

        <article class="Hero-article Promotion-text">
            <div class="Promotion-text__wrapper">
                <p class="Promotion-text__heading">PEOPLE READY-TO-HELP</p>
                <p class="Main-title">Provides All Essential Accessory Tips</p>
                <a class="Promotion-text__link" href="#">Discover  the  meshe  shows</a>
            </div>
        </article>
        <article class="Product-catalog">
            <p class="Main-title Grid__cell_6 Grid__prefix_3">Our accessory for ladies</p>
            <p class="Additional-title Grid__cell_8 Grid__prefix_2">Creating Remarkable ladies bags Prints in 2 Colors Combination</p>
            <div class="Product-catalog__top">
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_1 Merchandise-picture" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513415031/bag1_j0hr5p.jpg" alt="">
                    <p class="Product-catalog__section-name">Snake bag</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_2 Merchandise-picture" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513415031/bag2_uaxjlw.jpg" alt="">
                    <p class="Product-catalog__section-name">Woman bag</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_3 Merchandise-picture" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513464000/HTB16oVHNVXXXXbUXVXXq6xXFXXX6_xrnech.jpg" alt="">
                    <p class="Product-catalog__section-name">Fashionest bag</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_4 Merchandise-picture" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513415031/bag4_dcs4te.jpg" alt="">
                    <p class="Product-catalog__section-name">Black stylish bag</p>
                </section>
            </div>
            <div class="Product-catalog__bottom">
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_5 Merchandise-picture" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513464167/img-thing_hjx30z.jpg" alt="">
                    <p class="Product-catalog__section-name">Futures shoes</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_6 Merchandise-picture" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513464574/Stylish_sandals_in_pink_and_white_mcktrk.jpg" alt="">
                    <p class="Product-catalog__section-name">Nice Shoes</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_7 Merchandise-picture" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513460354/Favim_com-designer-shoes-471143_p4esom.jpg" alt="">
                    <p class="Product-catalog__section-name">Fashionest sandals</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_8 Merchandise-picture" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513464406/Stylish-rhinestones_640x640_cd7lvj.jpg" alt="">
                    <p class="Product-catalog__section-name">stylish sandals</p>
                </section>
            </div>
        </article>
        <article class="Hero-article Interesting-things Grid__cell_12">
            <p class=" Interesting-things__rubric-name">STYLERS PHILOSOPHY</p>
            <p class="Main-title Grid__cell_6 Grid__prefix_3" >Simplicity & perfection</p>
            <p class="Additional-title Grid__cell_8 Grid__prefix_2">
                The punk and cheeky version of the iconic “chaîne d’ancre” link is an ode to the wonders of time.
                Prepare to be hooked.
            </p>
            <a class="Link Grid__cell_4 Grid__prefix_5" href="#">Tear and create</a>
            <img class="Interesting-things__picture_1 Preview-article-picture" src="http://res.cloudinary.com/dxwohbbol/image/upload/h_425/w_752/v1513465410/Big-image-1_dn7apm.jpg" alt="">
        </article>
        <article class="Hero-article Product-offer">
            <p class="Main-title">Best Women Shoes Collection</p>
            <p class="Additional-title">
                A narcissistic robot ​infiltrated our ​collections.
            </p>
            <a class="Link Grid__cell_3 Grid__prefix_5" href="#">Follow it’s tracks</a>
            <div class="Product-offer__wrapper">
                <img class="Product-offer__picture_1 Merchandise-picture_big Grid__prefix_1" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_554,h_554/e_grayscale/v1513466736/Shoes-collection_jsgypd.jpg" alt="">
                <div class="Product-offer__top">
                    <section class="Product-offer__section">
                        <img class="Product-offer__picture_2 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513467202/dbba_hxevkk.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </section>
                    <section class="Product-offer__section">
                        <img class="Product-offer__picture_3 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513469593/Expensive-Designer-Shoes_fzwuo7.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </section>
                </div>
                <div class="Product-offer__bottom">
                    <section class="Product-offer__section">
                        <img class="Product-offer__picture_4 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513469706/fashion-design-high-heels_hozaws.png" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </section>
                    <section class="Product-offer__section">
                        <img class="Product-offer__picture_5 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513469785/5g7bzt-l_utqdci.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </section>
                </div>
            </div>
        </article>
        <article class="Hero-article Interesting-things Grid__cell_12">
            <p class=" Interesting-things__rubric-name Grid__cell_2 Grid__prefix_5">JEWELRY</p>
            <p class="Main-title Grid__cell_8 Grid__prefix_2" >Types Of Cosmetics</p>
            <p class="Additional-title ">Having Your Breasts Reduced With Breast Augmentation</p>
            <a class="Link Grid__cell_4 Grid__prefix_5" href="#">Tear and create</a>
            <img class="Interesting-things__picture_1 Preview-article-picture" src="http://res.cloudinary.com/dxwohbbol/image/upload/q_100/h_425/w_752/v1513467242/Big-image-2_zelzda.jpg" alt="">
        </article>
        <article class="Hero-article Product-offer">
            <p class="Main-title">Beautiful Plants for Decoration</p>
            <p class="Additional-title">
                A narcissistic robot ​infiltrated our ​collections.
            </p>
            <a class="Link Grid__cell_3 Grid__prefix_5" href="#">Follow it’s tracks</a>
            <div class="Product-offer__wrapper">
                <img class="Product-offer__picture_6 Merchandise-picture_big Grid__prefix_1" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_554,h_554/e_grayscale/v1513469956/Flower-Greenery-Free_mp8xwi.jpg" alt="">
                <div class="Product-offer__top">
                    <section class="Product-offer__section">
                        <img class="Product-offer__picture_7 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513415033/plant-1269227_640_khgxqj.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </section>
                    <section class="Product-offer__section">
                        <img class="Product-offer__picture_8 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513415033/plants-2250221_640_nu6ztm.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </section>
                </div>
                <div class="Product-offer__bottom">
                    <section class="Product-offer__section">
                        <img class="Product-offer__picture_9 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513415033/plants-2804025_640_lx4cdg.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </section>
                    <section class="Product-offer__section">
                        <img class="Product-offer__picture_10 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513415034/plants-2810511_640_javc7b.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </section>
                </div>
            </div>
        </article>
        <article class="Hero-article Interesting-things">
            <p class=" Interesting-things__rubric-name">COSMETIC</p>
            <p class="Main-title">Cosmetics Accessories</p>
            <p class="Additional-title">
                More and more people are opting to live the herbal life:
                moving away from chemicals and scientific medicines,
                and taking traditional herbs to do everything from losing weight to relieving pain.
                They are awesome
            </p>
            <a class="Link Grid__cell_3 Grid__prefix_5" href="#">Tear and create</a>
            <img class="Interesting-things__picture_1 Preview-article-picture Grid__cell_8" src="http://res.cloudinary.com/dxwohbbol/image/upload/q_100/h_752/w_425/v1513469086/Big-image-3_p9f5zq.jpg" alt="">
        </article>
        <article class="Hero-article">
            <div class="Feedback">
                <div class="Help-info Grid__cell_6">
                    <h2 class="Help-info__header">Here to help</h2>
                    <p class="Help-info__text">Have a question? You may find an answer in our FAQs.
                        But you can also contact us:</p>
                    <p class="Help-info__link">Call 100-444-7700</p>
                    <p class="Help-info__text">Monday to Friday: 9:00 a.m. - 6:00 p.m. & Thursday: 9:00 a.m. - 7:00 p.m. ET Saturday: 10:00 a.m. - 6:00 p.m.</p>
                    <p class="Help-info__link">Send us an email</p>
                </div>
                <div class="Help-info Grid__cell_6">
                    <h2 class="Help-info__header">Meshe parteners</h2>
                    <p class="Help-info__text">Check ou our parteners:</p>
                    <p class="Help-info__link">check all here</p>
                </div>
            </div>
        </article>

        <div class="Footer">
            <section class="Footer__subscribe-menu ">
                <p class="Footer__subscribe-menu_title Grid__cell_6 Grid__prefix_1">Let’s keep the conversation going</p>
                <div class="Email-wrapper">
                    <p class="Footer Footer__subscribe-menu_subscribe-description Grid__cell_6 Grid__prefix_1">Receive our newsletter and discover our stories, collections, and surprises.</p>
                    <form class="Footer__subscribe-menu_subscribe-email-place Grid__cell_5 ">
                        <input class="Footer__subscribe-menu_email Grid__cell_6 " type="email" placeholder="Email">
                        <button class="Footer__subscribe-menu_subscribe-button Grid__cell_4">Subscribe</button>
                    </form>
                </div>
                <p class="Footer__subscribe-menu_user-agreement Grid__cell_10 Grid__prefix_1">By subscribing to our newsletter, you agree that your data will be processed in compliance with our General
                    <a class="Footer__subscribe-menu_user-agreement_privacy-policy" href="#">Terms and Conditions of Use</a>
                    and our
                    <a class="Footer__subscribe-menu_user-agreement_privacy-policy" href="#">PrivacyPolicy</a>
                </p>
            </section>
            <div class="Fast-access-wrapper Grid__cell_12">
                <section class="Footer-fast-access-menu Grid__cell_3 Grid__prefix_1">
                    <p class="Footer-fast-access-menu_title">Services</p>
                    <a class="Footer-fast-access-menu_link" href="#">Contact Us</a>
                    <a class="Footer-fast-access-menu_link" href="#">FAQ</a>
                    <a class="Footer-fast-access-menu_link" href="#">Find a store</a>
                    <a class="Footer-fast-access-menu_link" href="#">Gifting</a>
                    <a class="Footer-fast-access-menu_link" href="#">Made to Measure</a>
                </section>
                <section class="Footer-fast-access-menu Grid__cell_3 Grid__prefix_1">
                    <p class="Footer-fast-access-menu_title">Orders</p>
                    <a class="Footer-fast-access-menu_link" href="#">Payment</a>
                    <a class="Footer-fast-access-menu_link" href="#">Shipping</a>
                    <a class="Footer-fast-access-menu_link" href="#">Collect in store</a>
                    <a class="Footer-fast-access-menu_link" href="#">Track orders</a>
                    <a class="Footer-fast-access-menu_link" href="#">Exchange & returns</a>
                </section>
                <section class="Footer-fast-access-menu Grid__cell_3 Grid__prefix_1">
                    <p class="Footer-fast-access-menu_title">Diamond House</p>
                    <a class="Footer-fast-access-menu_link" href="#">The Hermès Foundation</a>
                    <a class="Footer-fast-access-menu_link" href="#">Careers</a>
                    <a class="Footer-fast-access-menu_link" href="#">Find a store</a>
                    <a class="Footer-fast-access-menu_link" href="#">Finance</a>
                    <a class="Footer-fast-access-menu_link" href="#">Our partner brands</a>
                </section>
                <section class="Footer-fast-access-menu Grid__cell_3 Grid__prefix_1">
                    <p class="Footer-fast-access-menu_title">Legal</p>
                    <a class="Footer-fast-access-menu_link" href="#">Terms and conditions</a>
                    <a class="Footer-fast-access-menu_link" href="#">Privacy & cookies</a>
                    <a class="Footer-fast-access-menu_link" href="#">BCR</a>
                    <a class="Footer-fast-access-menu_link" href="#">California Supply Act</a>
                    <a class="Footer-fast-access-menu_link" href="#">Legal issues</a>
                    <a class="Footer-fast-access-menu_link" href="#">Accessibility</a>
                </section>
            </div>
            <div class="dividing-line"></div>
            <section class="Footer__social-networks Grid__cell_3">
                <span class="Image_gmail Image-social-networks"></span>
                <span class="Image_twitter Image-social-networks"></span>
                <span class="Image_facebook Image-social-networks"></span>
                <span class="Image_instagram Image-social-networks"></span>
            </section>
            <section class="Copyright Grid__cell_4 Grid__prefix_5">
                Morocco   © Copyright Uixone, Sarl  2017
            </section>
            <div class="Logo Footer-logo  Grid__cell_2 Grid__prefix_5">
                <img class="Logo__image" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_27,h_32/v1514065092/Diamond-logo_gn3fyc.png">
                <p class="Logo__name">DIAMOND</p>
                <p class="Logo__description">--fashion--</p>
            </div>
        </div>
    </body>
</html>