<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Interesting-things.css">
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Interesting-things.css">
    <link rel="stylesheet" href="style/common.css">

</head>
<body>
<article class="Interesting-things">
    <p class="Interesting-things__rubric-name Grid__cell_4 Grid__prefix_4">STYLERS PHILOSOPHY</p>
    <p class="Main-title Grid__cell_6 Grid__prefix_3">Simplicity & perfection</p>
    <p class="Additional-title Grid__cell_8 Grid__prefix_2">
        The punk and cheeky version of the iconic “chaîne d’ancre” link is an ode to the wonders of time.
        Prepare to be hooked.
    </p>
    <a class="Link Grid__cell_5 Grid__prefix_5" href="#">Tear and create</a>
    <img class="Interesting-things__picture_1 Preview-article-picture Promo-big-image__image Grid__cell_8 Grid__prefix_2" src="images/Big-image-1.jpg" alt="">
</article>
</body>
</html>