<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Logo.css">
    </head>
    <body>
        <div class="Logo">
            <img class="Logo__image" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_27,h_32/v1514065092/Diamond-logo_gn3fyc.png">
            <p class="Logo__name">DIAMOND</p>
            <p class="Logo__description">--fashion--</p>
        </div>
    </body>
</html>