<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Product-catalog.css">
        <link rel="stylesheet" href="style/Merchandise-picture.css">
        <link rel="stylesheet" href="style/Grid/960_12.css">
    </head>
    <body>
        <article class="Product-catalog Grid-12">
            <p class="Main-title">Our accessory for ladies</p>
            <p class="Additional-title">Creating Remarkable ladies bags Prints in 2 Colors Combination</p>
            <section class="Product-catalog__section Grid-12__position_prefix-1 Grid-12__row-columns-2">
                <img class="Product-catalog__picture_1 Merchandise-picture" src="images/bag1.jpg" alt="">
                <p class="Product-catalog__section-name">Snake bag</p>
            </section>
            <section class="Product-catalog__section Grid-12__position_prefix-1 Grid-12__row-columns-2">
                <img class="Product-catalog__picture_2 Merchandise-picture" src="images/bag2.jpg" alt="">
                <p class="Product-catalog__section-name">Woman bag</p>
            </section>
            <section class="Product-catalog__section Grid-12__position_prefix-1">
                <img class="Product-catalog__picture_3 Merchandise-picture" src="images/bag3.jpg" alt="">
                <p class="Product-catalog__section-name">Fashionest bag</p>
            </section>
            <section class="Product-catalog__section Grid-12__position_prefix-1">
                <img class="Product-catalog__picture_4 Merchandise-picture" src="images/bag4.jpg" alt="">
                <p class="Product-catalog__section-name">Black stylish bag</p>
            </section>
            <section class="Product-catalog__section">
                <img class="Product-catalog__picture_5 Merchandise-picture" src="images/Futures-shoes.jpg" alt="">
                <p class="Product-catalog__section-name">Futures shoes</p>
            </section>
            <section class="Product-catalog__section">
                <img class="Product-catalog__picture_6 Merchandise-picture" src="images/Nice-shoes.jpg" alt="">
                <p class="Product-catalog__section-name">Nice Shoes</p>
            </section>
            <section class="Product-catalog__section">
                <img class="Product-catalog__picture_7 Merchandise-picture" src="images/Fashionest-sandals.jpg" alt="">
                <p class="Product-catalog__section-name">Fashionest sandals</p>
            </section>
            <section class="Product-catalog__section">
                <img class="Product-catalog__picture_8 Merchandise-picture" src="images/Stylish-sandals.jpg" alt="">
                <p class="Product-catalog__section-name">stylish sandals</p>
            </section>
        </article>
    </body>
</html>