<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Product-offer.css">
    </head>
    <body>
        <article class="Hero-article Product-offer">
            <p class="Main-title">Best Women Shoes Collection</p>
            <p class="Additional-title">
                A narcissistic robot ​infiltrated our ​collections.
            </p>
            <a class="Link Grid__cell_3 Grid__prefix_5" href="#">Follow it’s tracks</a>


            <div class="Product-offer__wrapper">
                <img class="Product-offer__picture_1 Merchandise-picture_big Grid__prefix_1" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_554,h_554/e_grayscale/v1513466736/Shoes-collection_jsgypd.jpg" alt="">
                <div class="Product-offer__top">
                    <figure class="Product-offer__section">
                        <img class="Product-offer__picture_2 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513467202/dbba_hxevkk.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </figure>
                    <figure class="Product-offer__section">
                        <img class="Product-offer__picture_3 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513469593/Expensive-Designer-Shoes_fzwuo7.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </figure>
                </div>
                <div class="Product-offer__bottom">
                    <figure class="Product-offer__section">
                        <img class="Product-offer__picture_4 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513469706/fashion-design-high-heels_hozaws.png" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </figure>
                    <figure class="Product-offer__section">
                        <img class="Product-offer__picture_5 Merchandise-picture Grid__prefix_2" src="http://res.cloudinary.com/dl8ivboct/image/upload/w_260,h_260/e_grayscale/v1513469785/5g7bzt-l_utqdci.jpg" alt="">
                        <p class="Product-description Grid__cell_8 Grid__prefix_2">
                            More colors available
                            Flamboyant Web pocket
                            $145.00
                        </p>
                    </figure>
                </div>
            </div>
        </article>
    </body>
</html>