<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/12_col.css">
        <link rel="stylesheet" href="style/Product-catalog.css">
        <link rel="stylesheet" href="style/Merchandise-picture.css">
        <link rel="stylesheet" href="style/Grid/960_12.css">
    </head>
    <body>
        <article class="Product-catalog">
            <p class="Main-title Grid__cell_6 Grid__prefix_3">Our accessory for ladies</p>
            <p class="Additional-title Grid__cell_8 Grid__prefix_2">Creating Remarkable ladies bags Prints in 2 Colors Combination</p>
            <div class="Product-catalog__top">
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_1 Merchandise-picture" src="" alt="">
                    <p class="Product-catalog__section-name">Snake bag</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_2 Merchandise-picture" src="" alt="">
                    <p class="Product-catalog__section-name">Woman bag</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_3 Merchandise-picture" src="" alt="">
                    <p class="Product-catalog__section-name">Fashionest bag</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_4 Merchandise-picture" src="" alt="">
                    <p class="Product-catalog__section-name">Black stylish bag</p>
                </section>
            </div>
            <div class="Product-catalog__bottom">
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_5 Merchandise-picture" src="" alt="">
                    <p class="Product-catalog__section-name">Futures shoes</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_6 Merchandise-picture" src="" alt="">
                    <p class="Product-catalog__section-name">Nice Shoes</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_7 Merchandise-picture" src="" alt="">
                    <p class="Product-catalog__section-name">Fashionest sandals</p>
                </section>
                <section class="Product-catalog__section Grid__cell_3">
                    <img class="Product-catalog__picture_8 Merchandise-picture" src="" alt="">
                    <p class="Product-catalog__section-name">stylish sandals</p>
                </section>
            </div>
        </article>
    </body>
</html>