<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Promo.css">
</head>
<body>
    <article class="Promo">
        <div class="Grid">
            <div class="Grid__cell_4 Grid__prefix_4 Grid__align">
                <h3 class="Promo__header">PEOPLE READY-TO-HELP</h3>
            </div>
            <div class="Grid__cell_10 Grid__prefix_1 Grid__align">
                <h2 class="Promo__title">Provides All Essential Accessory Tips</h2>
            </div>
            <div class="Grid__cell_4 Grid__prefix_4">
                <a href="#" class="Promo__description">Discover  the  meshe  shows</a>
            </div>
        </div>
    </article>
</body>
</html>