<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Product-big.css">
</head>
<body class="Grid">
    <article class="Product-big">
        <div class="Grid__cell_8 Grid__prefix_2">
            <h2 class="Product-big__title ">Best Women Shoes Collection</h2>
        </div>
        <div class="Grid__cell_8 Grid__prefix_2">
            <p class="Product-big__description">A narcissistic robot ​infiltrated our ​collections.</p>
        </div>
        <div class="Grid__cell_4 Grid__prefix_4">
            <p class="Product-big__link">Follow it’s tracks</p>
        </div>
        <div class="Grid__cell_6">
            <img src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_thumb,g_south,h_520,w_460/v1513997229/PI911MA10-O11_13_mv7rv4.jpg" alt="boots">
        </div>
        <div class="Grid__cell_6">
            <div class="Grid__cell_3 Grid__cell_alpha">
                <img class="Product-big__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_thumb,h_220,w_220/a_0/v1513998614/o_women-sexy-high-heels-dress-shoes-pumps-h1211031-3608_xvqdy7.jpg" alt="shoes">
                <p class="Product-big__promotext">More colors available</p>
                <p class="Product-big__item-name">Flamboyant Web pocket<br> square 45</p>
                <p class="Product-big__price">$145.00</p>
            </div>
            <div class="Grid__cell_3 Grid__cell_omega">
                <img class="Product-big__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_220,w_220/v1513998664/87e6974b451b60f6f60229b58701e06e--formal-shoes-fancy-shoes_gpwomm.jpg" alt="shoes">
                <p class="Product-big__promotext">More colors available</p>
                <p class="Product-big__item-name">Flamboyant Web pocket<br> square 45</p>
                <p class="Product-big__price">$145.00</p>
            </div>
            <div class="Grid__cell_3 Grid__cell_alpha">
                <img class="Product-big__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,w_220/v1513998677/gold-shoes-wedding-Sexy-Rhinestone-Sandals-2017-High-Heels-Women-Shoes-Platform-Shoes-Woman-High-Heels.jpg_640x640_mljnxz.jpg" alt="shoes">
                <p class="Product-big__promotext">More colors available</p>
                <p class="Product-big__item-name">Flamboyant Web pocket<br> square 45</p>
                <p class="Product-big__price">$145.00</p>
            </div>
            <div class="Grid__cell_3 Grid__cell_omega">
                <img class="Product-big__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_220,w_220/v1513998628/teddy-winnie-Blue-Velvet-Gladiator-Sandals-Women-Pumps-Ankle-Strap-High-Heel-Shoes-Woman-Peep-Toe_hes9om.jpg" alt="shoes">
                <p class="Product-big__promotext">More colors available</p>
                <p class="Product-big__item-name">Flamboyant Web pocket<br> square 45</p>
                <p class="Product-big__price">$145.00</p>
            </div>
        </div>
    </article>
    <article class="Product-big">
        <div class="Grid__cell_8 Grid__prefix_2">
            <h2 class="Product-big__title ">Beautiful Plants for Decoration</h2>
        </div>
        <div class="Grid__cell_8 Grid__prefix_2">
            <p class="Product-big__description">A narcissistic robot ​infiltrated our ​collections.</p>
        </div>
        <div class="Grid__cell_4 Grid__prefix_4">
            <p class="Product-big__link">Follow it’s tracks</p>
        </div>
        <div class="Grid__cell_6">
            <img src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_thumb,g_east,h_520,w_460/v1513388645/flowerpots-2924375_640_axu4js.jpg" alt="plants">
        </div>
        <div class="Grid__cell_6">
            <div class="Grid__cell_3 Grid__cell_alpha">
                <img class="Product-big__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_thumb,g_center,h_220,w_220/v1514001556/Prayer_Plant._Image_via_Decoist_cb0wmi.jpg" alt="plants">
                <p class="Product-big__promotext">More colors available</p>
                <p class="Product-big__item-name">Flamboyant Web pocket</p>
                <p class="Product-big__price">$145.00</p>
            </div>
            <div class="Grid__cell_3 Grid__cell_omega">
                <img class="Product-big__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_colorize:10,h_220,w_220/v1514001517/813175026474_dsbzj8.jpg" alt="plants">
                <p class="Product-big__promotext">More colors available</p>
                <p class="Product-big__item-name">Flamboyant Web pocket</p>
                <p class="Product-big__price">$145.00</p>
            </div>
            <div class="Grid__cell_3 Grid__cell_alpha">
                <img class="Product-big__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_thumb,g_south,h_220,w_220/v1514002558/e80da8762cc81bc4915b83090f24e22c--chlorophytum-indoor-plants_crbzyk.jpg" alt="plants">
                <p class="Product-big__promotext">More colors available</p>
                <p class="Product-big__item-name">Flamboyant Web pocket</p>
                <p class="Product-big__price">$145.00</p>
            </div>
            <div class="Grid__cell_3 Grid__cell_omega">
                <img class="Product-big__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_thumb,g_center,h_220,w_220/v1514002418/3bbb42b7243cddfbd1699c4bbd525c44--home-plants-indoor-plants_ybrakh.jpg" alt="plants">
                <p class="Product-big__promotext">More colors available</p>
                <p class="Product-big__item-name">Flamboyant Web pocket</p>
                <p class="Product-big__price">$145.00</p>
            </div>
        </div>
    </article>
</body>
</html>