<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Section-description.css">
</head>
<body class="Grid">
  <article class="Section-description">
      <div class="Grid__cell_4 Grid__prefix_4">
        <h3 class="Section-description__header">STYLERS PHILOSOPHY</h3>
      </div>
      <div class="Grid__cell_6 Grid__prefix_3">
        <h2 class="Section-description__title">Simplicity & perfection</h2>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
        <p class="Section-description__description">The punk and cheeky version of the iconic “chaîne d’ancre” link is an ode to the wonders of time.<br>
            Prepare to be hooked.</p>
      </div>
      <div class="Grid__cell_3 Grid__prefix_5">
          <a class="Section-description__link" href="#">Tear and create</a>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
          <img class="Section-description__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_fill_light:92,h_349,w_620/v1513215285/pexels-photo-206296_znhguv.jpg" alt="style">
      </div>
  </article>
  <article class="Section-description">
      <div class="Grid__cell_4 Grid__prefix_4">
        <h3 class="Section-description__header">JEWELRY</h3>
      </div>
      <div class="Grid__cell_6 Grid__prefix_3">
        <h2 class="Section-description__title">Types Of Cosmetics</h2>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
          <p class="Section-description__description">Having Your Breasts Reduced With Breast Augmentation</p>
      </div>
      <div class="Grid__cell_3 Grid__prefix_5">
          <a class="Section-description__link" href="#">Tear and create</a>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
          <img class="Section-description__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_349,w_620/v1513250638/makeup-brush-1768790_640_uujdzz.jpg" alt="jewelry">
      </div>
  </article>
  <article class="Section-description">
      <div class="Grid__cell_4 Grid__prefix_4">
          <h3 class="Section-description__header">COSMETIC</h3>
      </div>
      <div class="Grid__cell_6 Grid__prefix_3">
          <h2 class="Section-description__title">Cosmetics Accessories</h2>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
          <p class="Section-description__description">More and more people are opting to live the herbal life: moving away from chemicals and scientific medicines, and taking traditional herbs to do everything from losing weight to relieving pain. They are awesome</p>
      </div>
      <div class="Grid__cell_3 Grid__prefix_5">
          <a class="Section-description__link" href="#">Tear and create</a>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
          <img class="Section-description__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_fill_light:92,g_center,h_349,w_620/v1513299896/coconut-oil-in-jar-2089930_640_wvntdd.jpg" alt="cosmetics">
      </div>
  </article>
  <section class="Section-description">
      <div class="Grid__cell_6">
          <h2 class="Section-description__title Section-description__title_small">Here to help</h2>
          <p class="Section-description__description Section-description__description_small">Have a question? You may find an answer in our <a class="Section-description__link" href="#">FAQs</a>.
              But you can also contact us:</p>
          <a class="Section-description__link Section-description__link_shift" href="#">Call 100-444-7700</a>
          <p class="Section-description__description Section-description__description_small">Monday to Friday: 9:00 a.m. - 6:00 p.m. & Thursday: 9:00 a.m. - 7:00 p.m. ET Saturday: 10:00 a.m. - 6:00 p.m.</p>
          <a class="Section-description__link Section-description__link_shift" href="#">Send us an email</a>
      </div>
      <div class="Grid__cell_6">
          <h2 class="Section-description__title Section-description__title_small">Meshe parteners</h2>
          <p class="Section-description__description Section-description__description_small">Check ou our parteners:</p>
          <a class="Section-description__link Section-description__link_shift" href="#">check all here</a>
      </div>
  </section>
</body>
</html>