.Header{
  font-size: 20px;
  font-weight: 400;
  font-family: Brown-Pro-Regular,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #404040;


  &__wrapper {
    margin: 0 30px;
  }

  &__logo-mover {
    float: left;
    margin-right: 20px;
  }

  &__main-navigation-mover {
    top: 7px;
    position: relative;
  }

}