<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="Style.css">
  </head>
  <body>
    <div>
      {{#items}}
      <div class="">
        <span>{{name}}</span>
        {{#src}}
        <span>{{src}}</span>
        {{/src}}
      </div>
      {{/items}}
    </div>
  </body>
</html>
