<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Article.css">
        <link rel="stylesheet" href="style/Article-icon.css">
    </head>
    <body>
        <article class="Article">
            <header class="Article__news-title">
                <img class="Article__author-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p50x50/20840886_447297722320426_8379681607283316641_n.jpg?oh=fe34cbbebaf9aa7f7f2f3183e29a7279&oe=5AD1ED5C">
                <a class="Article__title-text Article__title-text_username" href="https://www.facebook.com/elits3232/photos/a.263068560743344.1073741828.258736811176519/464033693980162/?type=3&theater">Стоматологічна клініка Elit-S</a>
                <br><time>31 жовтня о 12:44</time>
            </header>
            <p>Коли дотримуються чистоти і стерильності - це викликає довіру до лікарів вже з перших кроків зроблених у клініці. 👣
                Кабінет лікаря сяє чистотою, всі інструменти проходять 5 етапів стерилізації в окремому приміщенні та знаходяться в герметичній упаковці.
                📲 098 057 46 46, 093 556 54 44</p>
            <img class="Article__main-image" src="http://www.elits.com.ua/wp-content/themes/elit/img/offer_1.jpg.pagespeed.ce._TyNDdbxlD.jpg" alt="Elit-S">
            <footer class="Article__user-choice">
                <button class="Article__button Article__button_like">
                    <span class="Article-icon Article-icon_like"></span>
                    Подобається
                </button>
                <button class="Article__button Article__button_comment">
                    <span class="Article-icon Article-icon_comment"></span>
                    Коментувати
                </button>
                <button class="Article__button Article__button_share">
                    <span class="Article-icon Article-icon_share"></span>
                    Поширити
                </button>
            </footer>
        </article>
        <article class="Article">
            <header class="Article__news-title">
                <img class="Article__author-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p100x100/20245417_481692872205527_6960547540637173228_n.png?oh=efe613a0fec3ba3796321b42523cdb14&oe=5AA0A554">
                <a class="Article__title-text Article__title-text_username" href="https://scontent-waw1-1.xx.fbcdn.net/v/t31.0-8/22459357_514105515630929_8646150581679370693_o.jpg?oh=82e696b16716a582cb4a4e4dae758446&oe=5A447A23">Brainy</a>
                <br><time>31 жовтня о 12:44</time>
            </header>
            <p>🚀 Відкрито набір в клуб дитячої робототехніки у Львові для дітей від 6 до 14 років. Запишіться на безкоштовне заняття!
                🎁 А також безкоштовні ігротеки, екскурсії до IT-компаній та багато іншого для відвідувачів клубу!
                Детальніше на сайті brainy.com.ua</p>
            <img class="Article__main-image" src="http://brainy.com.ua/img/kids.jpg" alt="Elit-S">
            <footer class="Article__user-choice">
                <button class="Article__button Article__button_like">
                    <span class="Article-icon Article-icon_like"></span>
                    Подобається
                </button>
                <button class="Article__button Article__button_comment">
                    <span class="Article-icon Article-icon_comment"></span>
                    Коментувати
                </button>
                <button class="Article__button Article__button_share">
                    <span class="Article-icon Article-icon_share"></span>
                    Поширити
                </button>
            </footer>
        </article>
    </body>
</html>