<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Create-post.css">
        <link rel="stylesheet" href="style/Icon-create-post.css">
        <link rel="stylesheet" href="style/User-pages-navigation.css">
    </head>
    <body>
        <section class="Create-post">
            <div class="Create-post__link">
                <a class="Create-post__link-item_create-a-post" href="">
                    <span class="Create-post__icon_create-a-post"></span>Створити допис
                </a>
                <a class="Create-post__link-item" href="">
                    <span class="Create-post__icon_album-with-pictures"></span>Альбом зі світлинами/відео
                </a>
                <a class="Create-post__link-item" href="">
                    <span class="Create-post__icon_live-video"></span>Відео наживо
                </a>
            </div>
            <form class="Create-post__text-form">
                <img class="Create-post__avatar" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p24x24/20292720_1612159462129851_5610464226235627753_n.jpg?oh=4bb4443d73b4b1922538c05f63293e3a&oe=5AD47D33">
                <input class="Create-post__input" type="text" name="text" placeholder="Що у Вас на думці?">
            </form>
            <div class="Create-post__footer">
                <button class="Create-post__footer-button">
                    <span class="Create-post__picture-video"></span>Світлини/відео
                </button>
                <button class="Create-post__footer-button">
                    <span class="Create-post__feeling"></span>Почуття або дії
                </button>
            </div>
        </section>
    </body>
</html>