<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/Search.css">
</head>
<body>
    <form class="Search">
        <input class="Search__input" type="search" name="search" placeholder="Пошук">
        <button class="Search__button" type="button" >
            Search
        </button>
    </form>
</body>
</html>