<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/User-pages-navigation.css">
</head>
<body>
    <nav class="User-pages-navigation">
        <img class="User-pages-navigation__avatar" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p24x24/20292720_1612159462129851_5610464226235627753_n.jpg?oh=4bb4443d73b4b1922538c05f63293e3a&oe=5AD47D33">
        <a class="User-pages-navigation__personal-page" href="https://www.facebook.com/jaryna.demkiv">Ярина</a>
        <a class="User-pages-navigation__main-page" href="https://www.facebook.com">Головна</a>
    </nav>
</body>
</html>