<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/Icon.css">
</head>
<body>
    <span class="Icon Icon_news"></span>
    <span class="Icon Icon_messenger"></span>
    Fast
    <span class="Icon Icon_plain"></span>
    Interesting
    <span class="Icon Icon_events"></span>
    <span class="Icon Icon_groups"></span>
    <span class="Icon Icon_friends"></span>
    <span class="Icon Icon_fan_club"></span>
    <span class="Icon Icon_friend-list"></span>
    <span class="Icon Icon_saved"></span>
    <span class="Icon Icon_direct-translation"></span>
</body>
</html>