<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style/Layout.css">
</head>
<body class="Layout">
<header class="Layout__header">
    <div class="Layout__wrapper">
        <<div class="Header">
        <div class="Header__left">
            <img class="Facebook_logo" src="http://www.freeiconspng.com/uploads/facebook-f-logo-white-background-21.jpg">
            <form class="Search">
                <input class="Search__input" type="search" name="search" placeholder="Пошук">
                <button class="Search__button" type="button" >
                    Search
                </button>
            </form>
        </div>
        <div class="Header__right">
            <nav class="User-pages-navigation">
                <img class="User-pages-navigation__avatar" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p24x24/20292720_1612159462129851_5610464226235627753_n.jpg?oh=4bb4443d73b4b1922538c05f63293e3a&oe=5AD47D33">
                <a class="User-pages-navigation__personal-page" href="https://www.facebook.com/jaryna.demkiv">Ярина</a>
                <a class="User-pages-navigation__main-page" href="https://www.facebook.com">Головна</a>
            </nav>
            <div class="Notification-menu">
                <input class="Notification-menu__friend-requests" type="button" title="Запити на дружбу"/>
                <input class="Notification-menu__new-messages" type="button" title="Повідомлення" />
                <input class="Notification-menu__notification" type="button" title="Сповіщення" />
                <input class="Notification-menu__fast-help" type="button" title="Швидка допомога" />
                <input class="Notification-menu__your-pages" type="button" />
            </div>
        </div>
    </div>
    </div>
</header>
</body>
</html>