<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style/Layout.css">
</head>
<body class="Layout">
<header class="Layout__header">
    <div class="Layout__wrapper">
        <div class="Header">
            <div class="Header__left">
                Lorem ipsum dolor sit amet
            </div>
            <div class="Header__right">
                Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>
</header>
<div class="Layout__wrapper">
    <aside class="Layout__navigation">
        <div class="Navigation">
            Lorem ipsum dolor sit amet.
        </div>
        </aside>
    <main class="Layout__news-line">
        <div class="News-line">
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. repellat rerum sequi voluptatem voluptatibus! lorem*10
        </div>
    </main>
    <aside class="Layout__additional-info">
        <div class="Additional-info">
            Lorem ipsum dolor sit amet.
        </div>
    </aside>
</div>
</body>
</html>