<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style/Layout.css">

</head>
<body class="Layout">
<header class="Layout__header">
    <div class="Layout__wrapper">
        <div class="Header__left">
            Lorem ipsum dolor sit amet
        </div>
        <div class="Header__right">
            Lorem ipsum dolor sit amet
        </div>
    </div>
</header>
<div class="Layout__wrapper">
    <aside class="Layout__navigation">Lorem ipsum dolor sit amet.</aside>
    <main class="Layout__news-line">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aperiam aut blanditiis cumque earum eum fugit itaque maiores minima minus molestiae, non nostrum quod repellat rerum sequi voluptatem voluptatibus! lorem*10</main>
    <aside class="Layout__additional-info">Lorem ipsum dolor sit amet.</aside>
</div>
</body>
</html>