
.button {
    border-radius: 3px;
    border: 1px solid black;
    background: #3498db;
    color: #ecf0f1;
    font-size: 30px;
    padding: 10px 30px;

    &_active {
         background: #e74c3c;


     }
}