
.main-container__actions {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  top: 50px;
  right: 0;
  bottom: 25px;
  width: 200px;
  border-left: 1px solid #cccccc;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.main-container__action__separator{
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
}

