.main-container__feeds__actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.main-container__feeds__actions__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
}

.main-container__feeds__actions__button_icon {
  margin-right: 5px;
  font-size: 18px
}