.main-container__quick__link{
    display: flex;
    align-items: center;
    margin: 3px;
}
.main-container__quick__link_event{
    object-position:  -11px -50px; object-fit: none;
    height: 25px;margin-right: 4px;
}
    .main-container__quick__link_birthday {object-position:  -11px -87px; object-fit: none;
        height: 25px;margin-right: 4px}

    .main-container__quick__link_more{color: midnightblue; font-weight: bold; display: inline-block; margin: 0;}