
.main-container__feeds {
  margin-right: 10px;
  position: absolute;
  left: 194px;
  top: 0;
  width: 500px;
}

/*FEED ITEM*/
.main-container__feeds__item {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 12px;
  border-radius: 7px;
}

/*FEED POST IMG*/
.main-container__feeds__img {
  border-radius: 50%;
  object-fit: cover;
  float: left
}

.main-container__feeds__icon {
  font-size: 13px;
  color: black;
  margin-left: 5px;
}

.main-container__feeds__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px
}
