.main-container__nav {
  position: fixed;
  top: 50px;
  width: 184px;
  margin-right: 10px;
  padding-top: 10px;
}


.main-container__nav__block{
  overflow: hidden;
  font-weight: 100;
  font-size: 13px;
}


.main-container__nav__paragraph{
  font-size: 13px;
  margin: 0;
}

.main-container__nav__img{
  margin-right: 5px;
  object-fit: none;
  width: 25px;
  height: 25px;
}