
.main-container {
  position: absolute;
  width: 1014px;
  top: 50px;
  left: calc(~"43% - 507px");
}

.main-container__img {
  float: left;
  margin-right: 5px;
  margin-left: 2px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.main-container__header {
  font-size: 13px;
  font-weight: bold;
  color: dimgrey
}