
.main-navigation {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #3b5998;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
  justify-content: center;
  border-bottom: 1px solid #29487d;
}

.main-navigation__input {
  width: 350px;
  margin: 0;
  border: none;
  height: 19px;
  padding: 0;
}

.main-navigation__submit {
  font-family: FontAwesome, sans-serif;
  height: 19px;
  margin: 0;
  border: none;

}

.main-navigation__paragraph {
  color: white;
}


.main-navigation__separator {
  width: 150px
}