
.main-container__feeds__header {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5px;
}

.main-container__feeds__header_main {
  font-size: 14px;
  font-weight: bold
}

.main-container__feeds__header_small {
  font-size: 13px;
  color: dimgrey;
  font-weight: 200
}

.main-container__feeds__header_action {
  color: dimgrey;
  font-weight: 200
}