
.main-container__feeds__new__actions_photo,
.main-container__feeds__new__actions_emotions,
.main-container__feeds__new__actions_more {
  border-radius: 20px;
}

.main-container__feeds__new__actions_more {
  width: 40px;
}

.main-container__feeds__new__actions_album,
.main-container__feeds__new__actions_video {
  border-left: 1px solid #ced0d4;
  padding: 0 0 0 8px;
  margin: 4px;
  color: #365899;

}

.main-container__feeds__new__actions_create {
  border-radius: 10px 0 0 0;
}

.main-container__feeds__new__actions_video {
  border-radius: 0 0 10px 0;

}

.main-container__feeds__new__actions_more,
.main-container__feeds__new__actions_emotions,
.main-container__feeds__new__actions_photo {
  margin: 0 3px;
  padding: 4px 12px;
}
