.main-container__quick__friends__item {
  margin: 7px;
}

.main-container__quick__friends__item__img {
  float: left;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px
}

.main-container__quick__friends__item__header {
  font-size: 13px;
  color: midnightblue;
  font-weight: 500;
  margin: 0;
}

.main-container__quick__friends__item__par {
  font-size: 12px;
  font-weight: 300;
  margin: 2px 0;
}

.main-container__quick__friends__item__button {
  background-color: #f6f7f9;
  border:1px solid #ced0d4;
  color: #4b4f56;
  box-shadow: none;
  height: 23px;
  font-weight: 600;
  font-size: 12px;
}