.main-container__quick__friends {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 12px;
}

.main-container__quick__friends__link {
  color: midnightblue;
  font-size: 13px;
  font-weight: 100;
  display: inline-block;
  margin-right: 12px;
  float: right;
  margin-top: 7px;
}


