.main-navigation__item{
  margin-right:2px;
  margin-left: 2px;
  text-indent:-9999px;
  width: 25px;
  height: 25px;
  opacity: .6;

}

.main-navigation__item__logo{
  border-radius: 2px;
}

.main-navigation__item_liner{
  border-left: 1px solid #29487d;
  height:20px;
}
.main-navigation__item_friend{
  margin-left: 10px;
  background: url("../../images/sprite_1.png")  0 -125px;
}
.main-navigation__item_messenger{
  background: url("../../images/sprite_2.png")  0 -88px;
}
.main-navigation__item_news{
  background: url("../../images/sprite_1.png")  0 -275px;
  margin-right: 9px;

}
.main-navigation__item_help{
  margin-left: 9px;
  background: url("../../images/sprite_2.png")  0 -328px;
  height: 22px;
  margin-bottom: 1px;
}
.main-navigation__item_quick{
  background: url("../../images/sprite_2.png")  0 -451px;
  height: 19px;
  margin-bottom: 4px;
  margin-right: 220px;
}
.main-navigation__item_big {
  margin-right: 8px;
  margin-left: 8px;
}