.main-navigation__item{
  margin-right:2px;
  margin-left: 2px;
  text-indent:-9999px;
  width: 30px;
}


.main-navigation__item_friend{
  background: url("../../images/facebook_sprite.png")  -20px -135px;
}
.main-navigation__item_messenger{
  background: url("../../images/facebook_sprite.png")  -48px -135px;
}
.main-navigation__item_news{
  background: url("../../images/facebook_sprite.png")  -71px -135px;
}
.main-navigation__item_help{
  background: url("../../images/facebook_sprite.png")  -71px -135px;
}
.main-navigation__item_quick{
  width: 9.5px;
  background: url("../../images/facebook_sprite.png")  -22px -155px;
}
.main-navigation__item_big {
  margin-right: 8px;
  margin-left: 8px;
}