
.main-container__actions__item--close {
  color: dimgrey;
  font-size: 15px;
  position: absolute;
  right: 1px;
  text-decoration: none;
  top: 1px;
  text-shadow: 1px 1px 1px #fff;
}

.main-container__actions__item--close:after {
  content: 'X';
}

/**/
.main-container__actions__item__dialog {
  float: left;
  position: relative;
}

/**/
.main-container__actions__item {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

/*IMG ACTIOns*/

.main-container__actions__item__dialog__img {
  border-radius: 22px;
}
