.main-container__feeds__new {
  background-color: white;
  border: #ced0d4 1px solid;
  border-radius: 10px;
  margin-top: 10px;
}

.main-container__feeds__new__actions_new{
  background-color: #f6f7f9;
  border-bottom: #ced0d4 1px solid;
  border-radius: 10px 10px 0 0;
}

.main-container__feeds__new__separator{
  width: 95%;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;}
.main-container__feeds__icons{
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-right: 4px;
}
.main-container__feeds__button{
background-color: #f6f7f9;
  border-color: #f6f7f9;

  border-style:solid;
padding: 5px;
font-weight: 600;
font-size: 12px; }

.create-post{
  background: url("../images/sprite_4.png") 0 -71px;

}

.album-post{
  background: url("../images/sprite_4.png") -18px -71px;
}

.video-post{
  background: url("../images/sprite_4.png") -421px -51px;
}

.photos-post{
  background: url("../images/sprite_5.png") -2px -536px;
}

.emotions-post{
  background: url("../images/sprite_5.png") -2px -430px;
}

.more-post{
  background: url("../images/sprite_5.png") -2px -472px;
}

.public-post{  background: url("../images/sprite_5.png") -18px -1918px;
}
