.main-container__actions__contacts__present {
   font-weight: 100;
   font-size: 12px;
   display: inline-block;
  margin-left: auto;
  margin-right: 10px;
 }

.main-container__actions__contacts__present_active {
  font-size: 10px;
  color: limegreen;
}

.main-container__actions__contacts__img {
  border-radius: 22px;
  float: left;
  margin: 0 5px;
}

.main-container__actions__contacts__item {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-container__actions__contacts{
  margin-bottom: 90px;
}