<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles/main_page_style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <title>Main Page</title>
</head>
<body>
<header>
    <a id="logo" href="#">
        <i class="fa fa-facebook-f" style="color: white;"></i>
    </a>
    <form action="#">
        <input type="search" placeholder="Search"/>
    </form>
    <a href="#">
        <i class="fa fa-search"></i>
    </a>
    <nav>
        <a id="user-name" class="user-profile" href="user_page" title="Profile">
            <img class="userpic"
                 src="images/user_avatar.jpeg"/>
            <span>Olya</span>
        </a>
        <a id="home" href="main_page">Home</a>
        <a id="friend-req" class="h-icon" href="#" title="Friends Requests">
            <i class="fa fa-user-o"></i>
        </a>
        <a id="messages" class="h-icon" href="#" title="Messages">
            <i class="fa fa-envelope-o"></i>
        </a>
        <a id="notifications" class="h-icon" href="#" title="Notifications">
            <i class="fa fa-globe"></i>
        </a>
        <a id="help" class="h-icon" href="#" title="Quick Help">
            <i class="fa fa-question-circle-o"></i>
        </a>
        <a id="other-info" class="h-icon" href="#">
            <i class="fa fa-caret-down"></i>
        </a>
    </nav>
</header>
<nav class="tool-bar">
    <h4>Account Settings</h4>
    <a href="user_page">
        <img class="userpic"
             src="images/user_avatar.jpeg" style="width: 30px;"/>
        <b>Olya Korabliova</b>
    </a>
    <section>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-newspaper-o" style="color: #5D92FF;"></i>
                    News Feed
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-envelope-o" style="color: #5D92FF;"></i>
                    Messenger
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h4>Shortcuts</h4>
        <ul>
            {{#shortcuts}}
                <li>
                    <a href="{{link}}">
                        <i class="{{icon-class}}" style="{{icon-style}}"></i>
                        {{name}}
                    </a>
                </li>
            {{/shortcuts}}
            <li class="see-more-li">
                <a class="see-more" href="#">
                    <i class="fa fa-caret-down"> See More...</i>
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h4>Explore</h4>
        <ul>
            {{#explore}}
                <li>
                    <a href="{{link}}">
                        <i class="{{icon-class}}" style="{{icon-style}}"></i>
                        {{name}}
                    </a>
                </li>
            {{/explore}}
            <li class="see-more-li">
                <a class="see-more" href="#">
                    <i class="fa fa-caret-down"> See More...</i>
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h4>Create</h4>
        <a class="see-more" href="#">Ad</a>
        <a class="see-more" href="#">Page</a>
        <a class="see-more" href="#">Group</a>
        <a class="see-more" href="#">Event</a>
    </section>
</nav>

<main id="main-section">
    <section id="main-section__news-feed">
        <div id="news-feed__make-post">
            <a href="#" style="padding: 3px; color: #4B4F56;">
                <i class="fa fa-pencil-square-o"></i>
                Make Post
            </a>
            <a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">
                <i class="fa fa-file-photo-o" style="color: #4B4F56;"></i>
                Photo/Video Album
            </a>
            <a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">
                <i class="fa fa-video-camera" style="color: #4B4F56;"></i>
                Video
            </a>
        </div>
        <div id="news-feed__post-content">
            <form>
                <a class="user-profile" href="user_page" style="text-decoration: none">
                    <img class="userpic" height="45px"
                         src="images/user_avatar.jpeg"/>
                </a>
                <textarea placeholder="What's on your mind, Olya?"></textarea>
            </form>
            <div id="post-content__add-content">
                <a href="#">
                    <i class="fa fa-photo" style="color: #8ABF4C;"></i>
                    Photo/Video
                </a>
                <a href="#">
                    <i class="fa fa-smile-o" style="color: #FFD62C;"></i>
                    Feeling/Activity
                </a>
                <a href="#">...</a>
            </div>
        </div>
        <section id="main-section__facebook-post">
            {{#main-page-posts}}
                <div>
                    <a class="user-profile" href="{{user-link}}">
                        <img class="userpic"
                             src="{{image-src}}"/>
                        {{name}}
                    </a>
                    <span><a class="add-info" href="#">{{additional-info}}</a></span>
                    <br>
                    <a href="#">
                        <time datetime="dd.mm.yyyy">{{post-time}}</time>
                    </a>
                    <p>
                        {{description}}
                    </p>
                    <img src="{{file}}"/>
                    <br>
                    <a class="like-com-share" href="#">
                        <i class="fa fa-thumbs-o-up"> Like</i>
                    </a>
                    <a class="like-com-share" href="#">
                        <i class="fa fa-comment-o"> Comment</i>
                    </a>
                    <a class="like-com-share" href="#">
                        <i class="fa fa-send-o"> Share</i>
                    </a>
                    <br>
                    <a class="who-liked" href="#">
                        <i class="fa fa-thumbs-up"> {{who-liked}}</i>
                    </a>
                    <a class="who-liked" href="#">
                        <i class="fa fa-send"> {{who-shared}}</i>
                    </a>
                    <div class="user-post__comments">
                        <a class="user-profile" href="#">
                            <img class="userpic"
                                 src="images/user_avatar.jpeg"/>
                        </a>
                        <form action="#">
                            <input type="text" placeholder="Write a comment..."/>
                        </form>
                    </div>
                </div>
            {{/main-page-posts}}
        </section>
    </section>
    <section id="main-section__ad-feed">
        <div class="ad-feed__block">
            <div id="block__stories">
                <h5>Stories
                    <i class="fa fa-question-circle-o"
                       title="Stories are photos and videos that only last temporarily. When a friend shares to their story, it'll appear here."
                       style="float: right; font-size: 20px;"></i>
                </h5>
                <div>
                    <a class="block__stories_new-story" href="#">
                        <img src="images/new_story.png"/>
                    </a>
                </div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="ad-feed__block">
            <div id="block__events">
                <ul>
                    {{#events}}
                        <li>
                            <a href="{{link}}">
                                <i class="{{icon-class}}" style="{{icon-style}}"></i>
                                {{event}}
                            </a>
                            <time datatype="#">{{event-time}}</time>
                        </li>
                    {{/events}}
                </ul>
            </div>
        </div>
        <div class="ad-feed__block">
            <h5>People You May Know <a href="#" class="see-more">See All</a></h5>
            {{#friends-suggestions}}
                <div class="block__friend-suggestion">
                    <a class="user-profile" href="{{user-link}}">
                        <img class="userpic"
                             src="{{user-picture}}"/>
                    </a>
                    <div>
                        <p>
                            <a class="user-name" href="{{user-link}}">{{user-name}}</a><br>
                            <a class="mutual-frs" href="#">{{mutual-friends}}</a><br>
                        <form action="#">
                            <button type="button">
                                <i class="fa fa-user-plus"></i>
                                Add Friend
                            </button>
                        </form>
                        </p>
                    </div>
                </div>
            {{/friends-suggestions}}
        </div>
        <div class="ad-feed__block">
            <div id="block__language">
                <a id="eng" href="#">English (US)</a>
                <a id="ukr" href="#">Українська</a>
                <a id="rus" href="#">Русский</a>
                <a id="esp" href="#">Español</a>
                <a id="por" href="#">Português (Brasil)</a>
            </div>
        </div>
        <footer>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Advertising</a>
            <a href="#">Ad Choices</a>
            <a href="#">Cookies</a>
            <a href="#">More</a>
            <a href="#">Facebook © 2017</a>
        </footer>
    </section>
</main>

<aside class="friends-and-games">
    <section id="games">
        <div id="your-games">
            <h6>YOUR GAMES
                <a href="#" class="see-more" style="font-size: 10px;">MORE</a>
            </h6>
            {{#user-games}}
                <a href="{{game-link}}">
                    <img src="{{img-src}}"/>
                </a>
            {{/user-games}}
        </div>
        <div id="recommended-games">
            <h6>RECOMMENDED GAMES
                <a href="#" class="see-more" style="font-size: 10px;">MORE</a>
            </h6>
            <a href="#"><i class="material-icons" style="color: black">keyboard_arrow_left</i></a>
            {{#games-suggestions}}
                <a href="{{game-link}}">
                    <img src="{{img-src}}"/>
                </a>
            {{/games-suggestions}}
            <a href="#"><i class="material-icons" style="color: black">keyboard_arrow_right</i></a>
        </div>
    </section>
    <section id="online-friends">
        {{#online-friends}}
            <a href="{{user-link}}">
                <p>
                    <img src="{{user-pic}}"/>
                    {{user-name}}
                    <span></span>
                </p>
            </a>
        {{/online-friends}}
    </section>
    <section id="more-contacts">
        <h5 style="color: black;">MORE CONTACTS</h5>
        {{#more-friends}}
            <a href="{{user-link}}">
                <p>
                    <img src="{{user-pic}}"/>
                    {{user-name}}
                </p>
            </a>
        {{/more-friends}}
    </section>
    <footer>
        <form action="#">
            <input type="search" placeholder="Search">
            <button>
                <i class="fa fa-search"></i>
            </button>
        </form>
    </footer>
</aside>

</body>
</html>