.channel-video-block{
  display: flex;
  flex-direction: row;
}
.channel-video-block_newest-video{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 50px;
  width: 856px;
  padding-bottom: 15px;
  border-bottom: 1px solid gainsboro;
}
.channel-video-block__newest-video_info{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  a{
    color: rgb(39, 147, 230);
  }
  h3{
    font-size: 13px;
    font-weight: 600;
  }
  span{
    font-size: 14px;
  }
}
.channel-video-block__newest-video_info>span:nth-child(2){
  color: gray;
  font-size: 13px;
  padding-bottom: 15px;
}
.channel-video-block__newest-video_info>span:nth-child(5){
  padding-bottom: 15px;
}
.channel-video-block__newest-video_info>span:nth-last-child(1){
  color: grey;
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 5px;
}
.channel-video-block__newest-video_dot:before{
  content: "•";
}
.channel-video-block__newest-video_emoji1:before{
  content: "🎧";
}
.channel-video-block__newest-video_emoji2:before{
  content: "💰";
}
.channel-video-block__video-row{
  width: 856px;
  margin-left: 50px;
  margin-top: 20px;
}