.main-layout-channel{
    margin-left: 240px;
    margin-top: 56px;
    font-family: "Roboto", Arial, sans-serif;
}
.main-layout-channel__description{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.main-layout-channel__description_title{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
}
.main-layout-channel__description_title>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.main-layout-channel__description_subscribers{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    h1{
        font-size: 24px;
    }
    span{
        font-size: 14px;
        color: gray;
        margin-top: -10px;
    }

}
.main-layout-channel__header>img{
    width: 1200px;
    height: 192px;
}
.main-layout-channel__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
    button:nth-child(1){
        background-color: #fc0300;
        border-radius: 2px;
        border: none;
        color: #ffffff;
        font-weight: 500;
        padding: 10px 16px;
        white-space: nowrap;
        letter-spacing: .007px;
        text-transform: uppercase;
        font-size: 14px;
    }
}
.main-layout-channel__video-block{
    width: 856px;
    margin-left: 70px;
    margin-top: 20px;
}
.main-layout-channel__newest-video{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 70px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}
.main-layout-channel__newest-video_info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    a{
        color: rgb(39, 147, 230);
    }
    h3{
        font-size: 13px;
        font-weight: 600;
    }
    span{
        font-size: 14px;
    }
}
.main-layout-channel__newest-video_info>span:nth-child(2){
    color: gray;
    font-size: 13px;
    padding-bottom: 15px;
}
.main-layout-channel__newest-video_info>span:nth-child(5){
    padding-bottom: 15px;
}
.main-layout-channel__newest-video_info>span:nth-last-child(1){
    color: grey;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 5px;
}
.main-layout-channel__newest-video_dot:before{
    content: "•";
}
.main-layout-channel__newest-video_emoji1:before{
    content: "🎧";
}
.main-layout-channel__newest-video_emoji2:before{
    content: "💰";
}