.main-layout-channel{
    margin-left: 240px;
    margin-top: 56px;
    font-family: "Roboto", Arial, sans-serif;
}
.main-layout-channel__content{
    width: 1144px;
    margin: auto;
}
.main-layout-channel__cover-img{
    width: 100%;
}