.Recipes {
  margin: 0 auto;
}
.Recipes__main{
  width: 884px;
  height: 488px;
  background-color: coral;
}

.Recipes__potato-pic {
  width: 398px;
  height: 265px;
  position: absolute;
  top: 10px;
  left: 782px;
}
