.Recipes__main_recipe-name {
  background: chartreuse;

}
.Recipes__main_title-block {
  width: 231px;
  display: inline-block;
}

.Recipes__main_description {
  background: #b71c1c;
  width: 231px;
  height: 152px;
  font-family: Helvetica Neue-Light, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: left;

}