.Sidebar-layot__mail-folders button, a{
    display: block;
    text-decoration: none;
    color: #222;
    font-size: 80%;
    height: 28px;
    vertical-align: middle;
    padding-left: 30px;
}

.Sidebar-layot__write-letter {
    margin-left: 20px;
    margin-bottom: 10px;
    width: 115px;
    height: 29px;
    background-color: #F5F5F5;
    border: 0.5px solid lightgray;
    border-radius: 2px;
    box-shadow: none;
    padding: 0;
}

.Sidebar-layot__more {
    background-color: #F5F5F5;
    border: none;
    margin: 0;
    padding-top: 0;
}

.Sidebar-layot__hangouts {
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
}

.Sidebar-layot__hangouts button {
    display: block;
    margin-left: 30px;
    background-color: #F5F5F5;
    font-size: 12px;
    font-family: arial,sans-serif;
    color: #222;
    border: none;
    height: 30px;
}

.Sidebar-layot__me {
    border-top: 0.7px solid lightgray;
    border-bottom: 0.7px solid lightgray;
    width: 120px;
    text-align: left;
}

.Sidebar-layot__hangouts-buttons button {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: 1px solid gray;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 40px;
    z-index: 1;
}

.Sidebar-layot__hangouts-buttons {
    position: absolute;
    bottom: 0;
    left:20px;
    margin-top: 20px;
    margin-left: 20px;
}
