
.Grid {

  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}



.Grid__cell,
.Grid__cell_1,
.Grid__cell_2,
.Grid__cell_3,
.Grid__cell_4,
.Grid__cell_5,
.Grid__cell_6,
.Grid__cell_7,
.Grid__cell_8,
.Grid__cell_9,
.Grid__cell_10,
.Grid__cell_11,
.Grid__cell_12,
.Grid__cell_13,
.Grid__cell_14,
.Grid__cell_15,
.Grid__cell_16{
  margin:1%;
  position: relative;

}



.Grid__cell_1 {
  flex-basis: 4.255%;
  max-width: 4.255%;
}

.Grid__cell_2 {
  flex-basis: 10.538%;
  max-width: 10.538%;
}

.Grid__cell_3 {
  flex-basis: 16.8%;
  max-width: 16.8%;
}

.Grid__cell_4 {
  flex-basis: 23.0%;
  max-width: 23.0%;
}

.Grid__cell_5 {

  flex-basis: 29.28%;
  max-width: 29.28%;
}

.Grid__cell_6 {
  flex-basis: 35.57%;
  max-width: 35.57%;
}

.Grid__cell_7 {
  flex-basis: 41.75%;
  max-width: 41.75%;
}

.Grid__cell_8 {
  flex-basis: 48.0%;
  max-width: 48.0%;
}

.Grid__cell_9 {
  flex-basis: 54.25%;
  max-width: 54.25%;
}

.Grid__cell_10 {
  flex-basis: 60.43%;
  max-width: 60.43%;
}

.Grid__cell_11 {
  flex-basis: 66.72%;
  max-width: 66.72%;
}

.Grid__cell_12 {
  flex-basis: 73.0%;
  max-width: 73.0%;
}

.Grid__cell_13 {
  flex-basis: 79.2%;
  max-width: 79.2%;
}

.Grid__cell_14 {
  flex-basis: 85.462%;
  max-width: 85.462%;
}

.Grid__cell_15 {
  flex-basis: 91.745%;
  max-width: 91.745%;
}

.Grid__cell_16 {
  flex-basis: 98%;
  max-width: 98%;
}

.Grid__cell_pull_1 {
  left: 8.333%;
}

.Grid__cell_pull_2 {
  left: 16.667%;
}

.Grid__cell_pull_3 {
  left: 25%;
}
.Grid__cell_pull_4 {
  left: 33.333%;
}

.Grid__cell_pull_5 {
  left: 41.667%;
}

.Grid__cell_pull_6 {
  left: 50%;
}

.Grid__cell_pull_7 {
  left: 58.333%;
}

.Grid__cell_pull_8 {
  left: 66.667%;
}

.Grid__cell_pull_9 {
  left: 75%;
}

.Grid__cell_pull_10 {
  left: 83.333%;
}

.Grid__cell_pull_11 {
  left: 91.667%;
}

.Grid__cell_push_1 {
  left: -8.333%;
}

.Grid__cell_push_2 {
  left: -16.667%;
}

.Grid__cell_push_3 {
  left: -25%;
}

.Grid__cell_push_4 {
  left: -33.333%;
}

.Grid__cell_push_5 {
  left: -41.667%;
}

.Grid__cell_push_6 {
  left: -50%;
}

.Grid__cell_push_7 {
  left: -58.333%;
}

.Grid__cell_push_8 {
  left: -66.667%;
}

.Grid__cell_push_9 {
  left: -75%;
}

.Grid__cell_push_10 {
  left: -83.333%;
}

.Grid__cell_push_11 {
  left: -91.667%;
}
.Grid__prefix_1{
  margin-left: 9.333%;
}
.Grid__prefix_2{
  margin-left: 17.667%;
}
.Grid__prefix_3{
  margin-left: 26%;
}
.Grid__prefix_4{
  margin-left: 34.333%;
}
.Grid__prefix_5{
  margin-left: 42.667%;
}

.Grid__prefix_6{
  margin-left: 51%;
}
.Grid__prefix_7{
  margin-left: 59.333%;
}
.Grid__prefix_8{
  margin-left: 67.667%;
}
.Grid__prefix_9{
  margin-left: 76%;
}
.Grid__prefix_10{
  margin-left: 84.333%;
}
.Grid__prefix_11{
  margin-left: 92.667%;
}

.Grid__suffix_1{
  margin-right: 8.333%;
}
.Grid__suffix_2{
  margin-right: 16.667%;
}
.Grid__suffix_3{
  margin-right: 25%;
}
.Grid__suffix_4{
  margin-right: 33.333%;
}
.Grid__suffix_5{
  margin-right: 41.667%;
}

.Grid__suffix_6{
  margin-right: 50%;
}
.Grid__suffix_7{
  margin-right: 58.333%;
}
.Grid__suffix_8{
  margin-right: 66.667%;
}
.Grid__suffix_9{
  margin-right: 75%;
}
.Grid__suffix_10{
  margin-right: 83.333%;
}
.Grid__suffix_11{
  margin-right: 92.667%;
}



.Grid:before,
.Grid:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
