body{
    margin:0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    height: 70px;
    width: 100%;
    position: fixed;
    box-shadow: 0 1px 5px lightgrey;
}

.main-nav {
    width: 250px;
    height: 100%;
    margin: 70px 0 0 0;
    position: fixed;
    background-color: #F5F5F5;
    overflow: auto;
}
.logo-main-menu {
    display: flex;
    height: 70%;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
}
.logo-main-menu >sup {
    color:darkgray;
    align-self: flex-start;
}
.mat-icons {
    cursor: pointer;
    color: grey;
}
.header-search {
    width: 40%;
}

.form-search{
    margin-right: 15%;
    height: 30px;
    width: 50%;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    border-right-style:none;

}
.form-search > input{
    width: 100%;
    height: 95%;
    color: black;
    border: none;
    padding-left: 2%;
}
.downloads-my-profile {
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: center;
}
.guide-section {
    display: flex;
    flex-direction:column;
    font-family: "Roboto", sans-serif;


}
.guide-section > a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width:90%;
    height:50px;
    padding-right: 10%;
}
.guide-section > i {
    margin-right: 10%;
}
.img-circle {
    border-radius: 50%;
}

.guide-section > a >  i {
    margin-left: 12%;
    margin-right: 12%;
}
.guide-section > a >  img{
    margin-left: 12%;
    margin-right: 12%;
}
.guide-section > a:hover {
    background-color: #EBEBEB;
}
.guide-section > h3 {
    margin-left: 12%;
    color: grey;

}
.main-nav > hr {
    height: 1px;
    margin: 0;
    border: 0;
    box-shadow: 0 5px 5px -5px lightgray inset;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;

}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.main-content {
    position:absolute;
    left: 300px;
    top: 80px;
    background-color: black;
}

.video-feed {

}
.feed-item {

}