<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Additional-info.css">
        <link rel="stylesheet" href="style/Language.css">
        <link rel="stylesheet" href="style/Copyright.css">
        <link rel="stylesheet" href="style/Company-information.css">
    </head>
    <body>
        <div class="Additional-info">
            <h4 class="Additional-info__title">Реклама</h4>
            <a href="" class="Additional-info__link-title">Створити рекламу</a>
            <img class="Additional-info__picture" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t45.1600-4/c0.0.284.149/p284x149/21901559_6072788667034_1554309099183669248_n.png?oh=2621cd14b1473130654ae9544503cfee&oe=5A6EDC92"
            width="250px">
            <a href="" class="Additional-info__link-advertising">Курси Java.</a>
        </div>
        <section class="Language">
            <div class="Language__another-language">
                <a href="">
                    <span class="Icon-add-language"></span>
                </a>
            </div>
            <span class="Language__item Language__item_ua">Українська</span>
            <span>·</span>
            <a class="Language__item" href="">Русский</a>
            <span>·</span>
            <a class="Language__item" href="">English (US)</a>
            <span>·</span>
            <a class="Language__item" href="">Espanol</a>
            <span>·</span>
            <a class="Language__item" href="">Portugues (Brasil)</a>
        </section>
        <section class="Company-information">
            {{#Company-info}}
                <a class="Company-information__item" href="https://www.facebook.com/privacy/explanation" title="{{text}}">
                    {{description}}
                </a>
            {{/Company-info}}
        </section>
        <section class="Copyright">
            <span>Facebook © 2017</span>
        </section>
    </body>
</html>