<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Additional-info.css">
    </head>
    <body>
        <div class="Additional-info">
            <h4 class="Additional-info_title">Реклама</h4>
            <a href="" class="Additional-info_link-title">Створити рекламу</a>
            <img class="Additional-info_picture" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t45.1600-4/c0.0.284.149/p284x149/21901559_6072788667034_1554309099183669248_n.png?oh=2621cd14b1473130654ae9544503cfee&oe=5A6EDC92"
            width="275px">
            <a href="">Курси Java.</a>
        </div>
        <section class="Language">
            <a href="">Українська</a>
            <a href="">Русский</a>
            <a href="">English (US)</a>
            <a href="">Espanol</a>
            <a href="">Portugues (Brasil)</a>
        </section>

    </body>
</html>