<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Article.css">
        <link rel="stylesheet" href="style/Article-icon.css">
    </head>
    <body>
        <article class="Article">
            <header class="Article__news-title">
                <img class="Article__author-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c1.0.100.100/p100x100/21557653_1930977090448892_649872714799394129_n.jpg?oh=2166b97e91553e05be60316d5a318491&oe=5A6F4D13">
                <a class="Article__title-text Article__title-text_username" href="#">Mitri Laatvala</a> поширив
                <a class="Article__title-text" href="#">допис</a> від
                <a class="Article__title-text" href="#">Баба і Кіт</a>
                <br><time>31 жовтня о 12:44</time>
            </header>
            <p>геніально</p>
            <img class="Article__main-image" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/22852256_1703104606401010_7156023106073182093_n.jpg?oh=0a4616e6a0f6332a5cd99fc97b3fc97c&oe=5A793C2C">
            <div class="Article__main-image-information">
                <a class="Article__main-image-link" href="#">Баба і Кіт</a>
                <time>Вчора о 15:09</time>
                <button class="Article__like-page-button">
                    <span class="Article-icon__like-page"></span>
                    Вподобати сторінку
                </button>
            </div>
            <footer class="Article__user-choice">
                <button class="Article__button Article__button-like">
                    <span class="Article-icon Article-icon__like"></span>
                    Подобається
                </button>
                <button class="Article__button Article__button-comment">
                    <span class="Article-icon Article-icon__comment"></span>
                    Коментувати
                </button>
                <button class="Article__button Article__button-share">
                    <span class="Article-icon Article-icon__share"></span>
                    Поширити
                </button>
            </footer>
        </article>
    </body>
</html>