<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Chat.css">
        <link rel="stylesheet" href="style/Search-chat.css">
        <link rel="stylesheet" href="style/Icon4-chat.css">
    </head>
    <body>
        <div class="Chat">
            {{#friends}}
                <a class="Chat__item" href="#">
                    <img class="Chat__user-photo" src="{{image}}">
                    {{description}}
                </a>
            {{/friends}}
            <footer class="Chat__search-placeholder">
                <form class="Search-chat">
                    <a class="Search-chat__item_icon" href="">
                        <span class="Icon4-chat Icon4-chat_find"></span>
                    </a>
                    <input class="Search-chat__input" type="search" name="search" placeholder="Пошук">
                    <a class="Search-chat__item_icon" href="">
                        <span class="Icon4-chat Icon4-chat_settings"></span>
                    </a>
                    <a class="Search-chat__item_icon" href="">
                        <span class="Icon4-chat Icon4-chat_new-message"></span>
                    </a>
                    <a class="Search-chat__item_icon" href="">
                        <span class="Icon4-chat Icon4-chat_create-group"></span>
                    </a>
                </form>

            </footer>

        </div>
    </body>
</html>