<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Chat.css">
    </head>
    <body>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/19731797_706298759556415_2690352492526738979_n.jpg?oh=a7a5d52073275d43762841860e3bbbd5&oe=5AAC03A4">Сергій Репетюк
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p160x160/11403220_828934570535528_8303005022196174075_n.jpg?oh=4c5282236957ac27d7bfe18044351c53&oe=5A6C8511">Ілля Дембовський
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c0.15.32.32/p32x32/22555141_1684004914983822_4759825806512834879_n.jpg?oh=7a7cb149b5faedb8fbd6af6f59ed59be&oe=5AAD517F">Axyra Mazda
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c31.31.391.391/s32x32/391246_261175660665133_1068950904_n.jpg?oh=950337541aee026ece9fec572f469fd7&oe=5A6AFD02">Ярослав Вадимович
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="">Юля Клепас
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="">Vitalik Ostapyk
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="">Макс Кранц
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="">Maria Maloletnia
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="">Таня Прищепюк
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="">Roman Svurud
        </a>
        <a class="Chat_item" href="#">
            <img class="User-photo" src="">Valeriy Kuznetsov
        </a>

    </body>
</html>