<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Company-information.css">
    </head>
    <body>
        <section class="Company-information">
            <a class="Company-information__item" href="https://www.facebook.com/privacy/explanation" title="Дізнайтеся про конфіденційність на Facebook.">
                Конфіденційність
            </a>
            <span>·</span>
            <a class="Company-information__item" href="https://www.facebook.com/policies?ref=pf" title="Ознайомтеся з нашими умовами і правилами.">
                Умови користування
            </a>
            <span>·</span>
            <a class="Company-information__item" href="https://www.facebook.com/campaign/landing.php?placement=pf_rhc&campaign_id=242449722530626&extra_1=auto" title="Розмістіть рекламу на Facebook.">
                Розміщення реклами
            </a>
            <span>·</span>
            <a class="Company-information__item" href="https://www.facebook.com/help/568137493302217" title="Дізнайтеся про рекламу.">
                Типи реклами
            </a>
            <span>·</span>
            <a class="Company-information__item" href="https://www.facebook.com/help/cookies?ref_type=sitefooter" title="Cookie-файли у Facebook.">
                Реп'яшки
            </a>
            <span>·</span>
            <a class="Company-information__item" href="">
                Ще
            </a>
        </section>
    </body>
</html>