<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Header.css">
    </head>
    <body>
        <div class="Header">
            <span class="Header__logo"></span>
            <form class="Header__search-form" action="#">
                <input class="Header__search-input" type="search" name="q" placeholder="Пошук">
                <button class="Header__search-button">Знайти</button>
            </form>
            <nav class="Header__main-navigation">
                <a href="https://www.facebook.com/yaroslav.rukavets">Yaroslav</a>
                <a href="https://www.facebook.com/">Головна</a>
                <a href="https://www.facebook.com/find-friends/browser/">Знайти друзів</a>
                <a href="https://www.facebook.com/friends/requests/?fcref=jwl">
                    <span class="Icon2 Icon2_friends-requests"></span>
                </a>
                <a href="https://www.facebook.com/messages/t/100005288926145">
                    <span class="Icon2 Icon2_message"></span>
                </a>
                <a href="https://www.facebook.com/notifications">
                    <span class="Icon2 Icon2_notification"></span>
                </a>
                <a href="https://www.facebook.com/help/?ref=contextual">
                    <span class="Icon2 Icon2_quick-help"></span>
                </a>
            </nav>
        </div>
    </body>
</html>