<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Icon4-chat.css">
    </head>
    <body>
        <span class="Icon4-chat Icon4-chat_find"></span>
        <span class="Icon4-chat Icon4-chat_settings"></span>
        <span class="Icon4-chat Icon4-chat_new-message"></span>
        <span class="Icon4-chat Icon4-chat_create-group"></span>
    </body>
</html>