<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Icon.css">
    </head>
    <body>
        <span class="Icon  Icon_news"></span>
        <span class="Icon Icon_big Icon_news"></span>
        <span class="Icon Icon_messenger"></span>
        <span class="Icon Icon_people"></span>
        <span class="Icon Icon_understand-group"></span>
        <span class="Icon Icon_outdoor"></span>
        <span class="Icon Icon_bukovel"></span>
        <span class="Icon Icon_sales"></span>

        <span class="Icon Icon_big Icon_friends-requests"></span>
    </body>
</html>