<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Facebook</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Layout.css">
        <link rel="stylesheet" href="style/Article.css">
        <link rel="stylesheet" href="style/Article-icon.css">
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Navigation.css">
        <link rel="stylesheet" href="style/Icon.css">
        <link rel="stylesheet" href="style/Additional-info.css">
        <link rel="stylesheet" href="style/Chat.css">
        <link rel="stylesheet" href="style/Search.css">
        <link rel="stylesheet" href="style/Main-navigation.css">
        <link rel="stylesheet" href="style/Icon2.css">
        <link rel="stylesheet" href="style/User-profile.css">
        <link rel="stylesheet" href="style/Search-chat.css">
        <link rel="stylesheet" href="style/Icon4-chat.css">
        <link rel="stylesheet" href="style/Language.css">
        <link rel="stylesheet" href="style/Copyright.css">
        <link rel="stylesheet" href="style/Company-information.css">
        <link rel="stylesheet" href="style/User-opinion.css">
        <link rel="stylesheet" href="style/Icon-User-opinion.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <div class="Header">
                <span class="Header__logo"></span>
                <form class="Search">
                    <input class="Search__input" type="search" name="search" placeholder="Пошук">
                    <button class="Search__activate-button" type="button" >
                        Search
                    </button>
                </form>
                <nav class="Main-navigation">
                    <div class="Main-navigation__User-profile-mover">
                        <div class="User-profile">
                            <img class="User-profile__photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/18556320_1438075489595724_6021204156907711401_n.jpg?oh=b4619e3fe0a48497395d50e8b817f0f9&oe=5A629AE5">
                            <a class="User-profile__name" href="https://www.facebook.com/yaroslav.rukavets">Yaroslav</a>
                        </div>
                    </div>
                    <a class="Main-navigation__item" href="https://www.facebook.com/">Головна</a>
                    <a class="Main-navigation__item" href="https://www.facebook.com/find-friends/browser/">Знайти друзів</a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/friends/requests/?fcref=jwl">
                        <span class="Icon2 Icon2_friends-requests"></span>
                    </a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/messages/t/100005288926145">
                        <span class="Icon2 Icon2_message"></span>
                    </a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/notifications">
                        <span class="Icon2 Icon2_notification"></span>
                    </a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/help/?ref=contextual">
                        <span class="Icon2 Icon2_quick-help"></span>
                    </a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/help/?ref=contextual">
                        <span class="Icon2 Icon2_additional_info"></span>
                    </a>
                </nav>
            </div>
        </header>
        <section class="Layout__Flex-box-payload">
            <aside class="Layout__navigation">
                <nav class="Navigation">
                    <div class="Navigation__User-profile-mover">
                        <div class="User-profile">
                            <img class="User-profile__photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/18556320_1438075489595724_6021204156907711401_n.jpg?oh=b4619e3fe0a48497395d50e8b817f0f9&oe=5A629AE5">
                            <a class="User-profile__name" href="https://www.facebook.com/yaroslav.rukavets">Yaroslav Rukavets</a>
                        </div>
                    </div>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_news"></span>Новини
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_messenger"></span>Messenger
                    </a>
                </nav>
                <nav class="Navigation">
                    <h5 class="Navigation__title">Quick access</h5>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_sales"></span>Барахолка
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_people"></span>Людоньки, порадьте
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_outdoor"></span>Туризм і походи
                        <span class="Navigation__item-counter">10+</span>
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_bukovel"></span>Буковель
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_understand-group"></span>И так поймут
                    </a>
                </nav>
                <nav class="Navigation">
                    <h5 class="Navigation__title">Interesting</h5>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_stream-of-pages"></span>Потік сторінок
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_group"></span>Групи
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_events"></span>Події
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_fan-club"></span>Фан-клуби
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_this-day"></span>Цього дня
                    </a>
                </nav>
            </aside>
            <main class="Layout__news-line">
                <section class="User-opinion">
                    <div class="User-opinion__link">
                        <a class="User-opinion__link-item User-opinion__link-item_create-a-post" href="">
                            <span class="Icon-User-opinion Icon-User-opinion__create-a-post"></span>Створити допис
                        </a>
                        <a class="User-opinion__link-item" href="">
                            <span class="Icon-User-opinion Icon-User-opinion__album-with-pictures"></span>Альбом зі світлинами/відео
                        </a>
                        <a class="User-opinion__link-item" href="">
                            <span class="Icon-User-opinion Icon-User-opinion__live-video"></span>Відео наживо
                        </a>
                    </div>
                    <div class="User-opinion__User-profile-mover">
                        <div class="User-profile">
                            <a class="User-profile__name" href="https://www.facebook.com/yaroslav.rukavets">
                                <img class="User-profile__photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/18556320_1438075489595724_6021204156907711401_n.jpg?oh=b4619e3fe0a48497395d50e8b817f0f9&oe=5A629AE5">
                            </a>
                        </div>
                    </div>
                    <form class="User-opinion__text-form">
                        <input class="Text-input" type="text" name="text" placeholder="Що у Вас на думці?">
                    </form>
                    <div class="User-opinion__footer">
                        <button class="User-opinion__footer-button">
                            <span class="Icon_picture-video"></span>Світлини/відео
                        </button>
                        <button class="User-opinion__footer-button">
                            <span class="Icon_feeling"></span>Почуття або дії
                        </button>
                    </div>
                </section>
                <article class="Article">
                    <header class="Article__news-title">
                        <img class="Article__author-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c1.0.100.100/p100x100/21557653_1930977090448892_649872714799394129_n.jpg?oh=2166b97e91553e05be60316d5a318491&oe=5A6F4D13">
                        <a class="Article__title-text Article__title-text_username" href="#">Mitri Laatvala</a> поширив
                        <a class="Article__title-text" href="#">допис</a> від
                        <a class="Article__title-text" href="#">Баба і Кіт</a>
                        <br><time>31 жовтня о 12:44</time>
                    </header>
                    <p>геніально</p>
                    <img class="Article__main-image" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/22852256_1703104606401010_7156023106073182093_n.jpg?oh=0a4616e6a0f6332a5cd99fc97b3fc97c&oe=5A793C2C">
                    <div class="Article__main-image-information">
                        <a class="Article__main-image-link" href="#">Баба і Кіт</a>
                        <time>Вчора о 15:09</time>
                        <button class="Article__like-page-button">
                            <span class="Article-icon__like-page"></span>
                            Вподобати сторінку
                        </button>
                    </div>
                    <footer class="Article__user-choice">
                        <button class="Article__button Article__button-like">
                            <span class="Article-icon Article-icon__like"></span>
                            Подобається
                        </button>
                        <button class="Article__button Article__button-comment">
                            <span class="Article-icon Article-icon__comment"></span>
                            Коментувати
                        </button>
                        <button class="Article__button Article__button-share">
                            <span class="Article-icon Article-icon__share"></span>
                            Поширити
                        </button>
                    </footer>
                </article>
                <article class="Article">
                    <header class="Article__news-title">
                        <img class="Article__author-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c1.0.100.100/p100x100/21557653_1930977090448892_649872714799394129_n.jpg?oh=2166b97e91553e05be60316d5a318491&oe=5A6F4D13">
                        <a class="Article__title-text Article__title-text_username" href="#">Mitri Laatvala</a> поширив
                        <a class="Article__title-text" href="#">допис</a> від
                        <a class="Article__title-text" href="#">Баба і Кіт</a>
                        <br><time>31 жовтня о 12:44</time>
                    </header>
                    <p>геніально</p>
                    <img class="Article__main-image" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/22852256_1703104606401010_7156023106073182093_n.jpg?oh=0a4616e6a0f6332a5cd99fc97b3fc97c&oe=5A793C2C">
                    <div class="Article__main-image-information">
                        <a class="Article__main-image-link" href="#">Баба і Кіт</a>
                        <time>Вчора о 15:09</time>
                        <button class="Article__like-page-button">
                            <span class="Article-icon__like-page"></span>
                            Вподобати сторінку
                        </button>
                    </div>
                    <footer class="Article__user-choice">
                        <button class="Article__button Article__button-like">
                            <span class="Article-icon Article-icon__like"></span>
                            Подобається
                        </button>
                        <button class="Article__button Article__button-comment">
                            <span class="Article-icon Article-icon__comment"></span>
                            Коментувати
                        </button>
                        <button class="Article__button Article__button-share">
                            <span class="Article-icon Article-icon__share"></span>
                            Поширити
                        </button>
                    </footer>
                </article>
            </main>
            <aside class="Layout__additional-info">
                <div class="Additional-info">
                    <h4 class="Additional-info__title">Реклама</h4>
                    <a href="" class="Additional-info__link-title">Створити рекламу</a>
                    <img class="Additional-info__picture" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t45.1600-4/c0.0.284.149/p284x149/21901559_6072788667034_1554309099183669248_n.png?oh=2621cd14b1473130654ae9544503cfee&oe=5A6EDC92"
                         width="250px">
                    <a href="" class="Additional-info__link-advertising">Курси Java.</a>
                </div>
                <div class="Additional-info">
                    <h4 class="Additional-info__title">Реклама</h4>
                    <a href="" class="Additional-info__link-title">Створити рекламу</a>
                    <img class="Additional-info__picture" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t45.1600-4/c0.0.284.149/p284x149/21901559_6072788667034_1554309099183669248_n.png?oh=2621cd14b1473130654ae9544503cfee&oe=5A6EDC92"
                         width="250px">
                    <a href="" class="Additional-info__link-advertising">Курси Java.</a>
                </div>
                <section class="Language">
                    <div class="Language__another-language">
                        <a href="">
                            <span class="Icon-add-language"></span>
                        </a>
                    </div>
                    <span class="Language__item Language__item_ua">Українська</span>
                    <span>·</span>
                    <a class="Language__item" href="">Русский</a>
                    <span>·</span>
                    <a class="Language__item" href="">English (US)</a>
                    <span>·</span>
                    <a class="Language__item" href="">Espanol</a>
                    <span>·</span>
                    <a class="Language__item" href="">Portugues (Brasil)</a>
                </section>
                <section class="Company-information">
                    {{#Company-info}}
                        <a class="Company-information__item" href="https://www.facebook.com/privacy/explanation" title="{{text}}">
                            {{description}}
                        </a>
                    {{/Company-info}}
                </section>
                <section class="Copyright">
                    <span>Facebook © 2017</span>
                </section>
            </aside>
        </section>
        <aside class="Layout__chat">
            <div class="Chat">
                {{#friends}}
                    <a class="Chat__item" href="#">
                        <img class="Chat__user-photo" src="{{image}}">
                        {{description}}
                    </a>
                {{/friends}}
                <footer class="Chat__search-placeholder">
                    <form class="Search-chat">
                        <a class="Search-chat__item_icon" href="">
                            <span class="Icon4-chat Icon4-chat_find"></span>
                        </a>
                        <input class="Search-chat__input" type="search" name="search" placeholder="Пошук">
                        <a class="Search-chat__item_icon" href="">
                            <span class="Icon4-chat Icon4-chat_settings"></span>
                        </a>
                        <a class="Search-chat__item_icon" href="">
                            <span class="Icon4-chat Icon4-chat_new-message"></span>
                        </a>
                        <a class="Search-chat__item_icon" href="">
                            <span class="Icon4-chat Icon4-chat_create-group"></span>
                        </a>
                    </form>
                </footer>
            </div>
        </aside>
    </body>
</html>