<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Facebook</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Layout.css">
        <link rel="stylesheet" href="style/User-photo.less">
        <link rel="stylesheet" href="style/Article.css">
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Navigation.css">
        <link rel="stylesheet" href="style/Icon.css">
        <link rel="stylesheet" href="style/Additional-info.css">
        <link rel="stylesheet" href="style/Chat.css">
        <link rel="stylesheet" href="style/Search.css">
        <link rel="stylesheet" href="style/Main-navigation.css">
        <link rel="stylesheet" href="style/Icon2.css">
        <link rel="stylesheet" href="style/User-profile.css">
        <link rel="stylesheet" href="style/Search-chat.css">
        <link rel="stylesheet" href="style/Icon4-chat.css">
        <link rel="stylesheet" href="style/Language.css">
        <link rel="stylesheet" href="style/Copyright.css">
        <link rel="stylesheet" href="style/Company-information.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <div class="Header">
                <span class="Header__logo"></span>
                <form class="Search">
                    <input class="Search__input" type="search" name="search" placeholder="Пошук">
                    <button class="Search__activate-button" type="button" >
                        Search
                    </button>
                </form>
                <nav class="Main-navigation">
                    <div class="Main-navigation__User-profile-mover">
                        <div class="User-profile">
                            <img class="User-profile__photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/18556320_1438075489595724_6021204156907711401_n.jpg?oh=b4619e3fe0a48497395d50e8b817f0f9&oe=5A629AE5">
                            <a class="User-profile__name" href="https://www.facebook.com/yaroslav.rukavets">Yaroslav</a>
                        </div>
                    </div>
                    <a class="Main-navigation__item" href="https://www.facebook.com/">Головна</a>
                    <a class="Main-navigation__item" href="https://www.facebook.com/find-friends/browser/">Знайти друзів</a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/friends/requests/?fcref=jwl">
                        <span class="Icon2 Icon2_friends-requests"></span>
                    </a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/messages/t/100005288926145">
                        <span class="Icon2 Icon2_message"></span>
                    </a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/notifications">
                        <span class="Icon2 Icon2_notification"></span>
                    </a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/help/?ref=contextual">
                        <span class="Icon2 Icon2_quick-help"></span>
                    </a>
                    <a class="Main-navigation__item_icon" href="https://www.facebook.com/help/?ref=contextual">
                        <span class="Icon2 Icon2_additional_info"></span>
                    </a>
                </nav>
            </div>
        </header>
        <section class="Layout__payload">
            <aside class="Layout__navigation">
                <nav class="Navigation">
                    <div class="Navigation__User-profile-mover">
                        <div class="User-profile">
                            <img class="User-profile__photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/18556320_1438075489595724_6021204156907711401_n.jpg?oh=b4619e3fe0a48497395d50e8b817f0f9&oe=5A629AE5">
                            <a class="User-profile__name" href="https://www.facebook.com/yaroslav.rukavets">Yaroslav Rukavets</a>
                        </div>
                    </div>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_news"></span>Новини
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_messenger"></span>Messenger
                    </a>
                </nav>
                <nav class="Navigation">
                    <h5 class="Navigation__title">Quick access</h5>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_sales"></span>Барахолка
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_people"></span>Людоньки, порадьте
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_outdoor"></span>Туризм і походи
                        <span class="Navigation__item-counter">10+</span>
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_bukovel"></span>Буковель
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_understand-group"></span>И так поймут
                    </a>
                </nav>
                <nav class="Navigation">
                    <h5 class="Navigation__title">Interesting</h5>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_stream-of-pages"></span>Потік сторінок
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_group"></span>Групи
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_events"></span>Події
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_fan-club"></span>Фан-клуби
                    </a>
                    <a href="" class="Navigation__item">
                        <span class="Icon Icon_this-day"></span>Цього дня
                    </a>
                </nav>
            </aside>
            <main class="Layout__news-line">
                <article class="Article">
                    <header class="Article__news-title">
                        <img class="Article__author-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c1.0.100.100/p100x100/21557653_1930977090448892_649872714799394129_n.jpg?oh=2166b97e91553e05be60316d5a318491&oe=5A6F4D13"
                             width="40px" height="40px">
                        <a class="Article__title-text" href="#">Mitri Laatvala</a> поширив
                        <a class="Article__title-text" href="#">допис</a> від
                        <a class="Article__title-text" href="#">Баба і Кіт</a>
                        <br><time>12 год</time>
                    </header>
                    <p>геніально</p>
                    <img class="Article__main-image" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/22852256_1703104606401010_7156023106073182093_n.jpg?oh=0a4616e6a0f6332a5cd99fc97b3fc97c&oe=5A793C2C"
                         width="476px" height="476px">
                    <div class="Article__main-image-information">
                        <a class="Article__main-image-link" href="#">Баба і Кіт</a>
                        <time>Вчора о 15:09</time>
                        <button class="Article__like-page-button">Вподобати сторінку</button>
                    </div>
                    <footer class="Article__user-choice">
                        <button class="Article__button-like">Подобається</button>
                        <button class="Article__button-comment">Коментувати</button>
                        <button class="Article__button-share">Поширити</button>
                    </footer>
                </article>
                <article class="Article">
                    <header class="Article__news-title">
                        <img class="Article__author-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c1.0.100.100/p100x100/21557653_1930977090448892_649872714799394129_n.jpg?oh=2166b97e91553e05be60316d5a318491&oe=5A6F4D13">
                        <a class="Article__title-text" href="#">Mitri Laatvala</a> поширив
                        <a class="Article__title-text" href="#">допис</a> від
                        <a class="Article__title-text" href="#">Баба і Кіт</a>
                        <br><time>12 год</time>
                    </header>
                    <p>геніально</p>
                    <img class="Article__main-image" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/22852256_1703104606401010_7156023106073182093_n.jpg?oh=0a4616e6a0f6332a5cd99fc97b3fc97c&oe=5A793C2C">
                    <div class="Article__main-image-information">
                        <a class="Article__main-image-link" href="#">Баба і Кіт</a>
                        <time>Вчора о 15:09</time>
                        <button class="Article__like-page-button">Вподобати сторінку</button>
                    </div>
                    <footer class="Article__user-choice">
                        <button class="Article__button-like">Подобається</button>
                        <button class="Article__button-comment">Коментувати</button>
                        <button class="Article__button-share">Поширити</button>
                    </footer>
                </article>
            </main>
            <aside class="Layout__additional-info">
                <div class="Additional-info">
                    <h4 class="Additional-info_title">Реклама</h4>
                    <a href="" class="Additional-info_link-title">Створити рекламу</a>
                    <img class="Additional-info_picture" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t45.1600-4/c0.0.284.149/p284x149/21901559_6072788667034_1554309099183669248_n.png?oh=2621cd14b1473130654ae9544503cfee&oe=5A6EDC92"
                         width="275px">
                    <a href="">Курси Java.</a>
                </div>
                <div class="Additional-info">
                    <h4 class="Additional-info_title">Реклама</h4>
                    <a href="" class="Additional-info_link-title">Створити рекламу</a>
                    <img class="Additional-info_picture" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t45.1600-4/c0.0.284.149/p284x149/21901559_6072788667034_1554309099183669248_n.png?oh=2621cd14b1473130654ae9544503cfee&oe=5A6EDC92"
                         width="275px">
                    <a href="">Курси Java.</a>
                </div>
                <section class="Language">
                    <div class="Language__another-language">
                        <a href="">
                            <span class="Icon-add-language"></span>
                        </a>
                    </div>
                    <span class="Language__item Language__item_ua">Українська</span>
                    <span>·</span>
                    <a class="Language__item" href="">Русский</a>
                    <span>·</span>
                    <a class="Language__item" href="">English (US)</a>
                    <span>·</span>
                    <a class="Language__item" href="">Espanol</a>
                    <span>·</span>
                    <a class="Language__item" href="">Portugues (Brasil)</a>
                </section>
                <section class="Company-information">
                    <a class="Company-information__item" href="https://www.facebook.com/privacy/explanation" title="Дізнайтеся про конфіденційність на Facebook.">
                        Конфіденційність
                    </a>
                    <span>·</span>
                    <a class="Company-information__item" href="https://www.facebook.com/policies?ref=pf" title="Ознайомтеся з нашими умовами і правилами.">
                        Умови користування
                    </a>
                    <span>·</span>
                    <a class="Company-information__item" href="https://www.facebook.com/campaign/landing.php?placement=pf_rhc&campaign_id=242449722530626&extra_1=auto" title="Розмістіть рекламу на Facebook.">
                        Розміщення реклами
                    </a>
                    <span>·</span>
                    <a class="Company-information__item" href="https://www.facebook.com/help/568137493302217" title="Дізнайтеся про рекламу.">
                        Типи реклами
                    </a>
                    <span>·</span>
                    <a class="Company-information__item" href="https://www.facebook.com/help/cookies?ref_type=sitefooter" title="Cookie-файли у Facebook.">
                        Реп'яшки
                    </a>
                    <span>·</span>
                    <a class="Company-information__item" href="">
                        Ще
                    </a>
                </section>
                <section class="Copyright">
                    <span>Facebook © 2017</span>
                </section>
            </aside>
        </section>
        <aside class="Layout__chat">
            <div class="Chat">
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/22449768_316577612144348_5295500041443365407_n.jpg?oh=ce7b2e69b2f257c27062ecfcaf51d36e&oe=5A988C8F">Альона Наливайко
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/19731797_706298759556415_2690352492526738979_n.jpg?oh=a7a5d52073275d43762841860e3bbbd5&oe=5AAC03A4">Сергій Репетюк
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p160x160/11403220_828934570535528_8303005022196174075_n.jpg?oh=4c5282236957ac27d7bfe18044351c53&oe=5A6C8511">Ілля Дембовський
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c0.15.32.32/p32x32/22555141_1684004914983822_4759825806512834879_n.jpg?oh=7a7cb149b5faedb8fbd6af6f59ed59be&oe=5AAD517F">Axyra Mazda
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c31.31.391.391/s32x32/391246_261175660665133_1068950904_n.jpg?oh=950337541aee026ece9fec572f469fd7&oe=5A6AFD02">Ярослав Вадимович
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/15541907_1246126062115617_1447593927665313868_n.jpg?oh=a4ec65c641a0b1e6d44049fb8d8c32d6&oe=5A960E87">Юля Клепас
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/19990336_1504720566250715_8152919758218814500_n.jpg?oh=ab2692c9c3fc6995c002447b67d3422b&oe=5A9EEA7D">Vitalik Ostapyk
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c11.0.32.32/p32x32/10846249_1385767501715994_2730552098722137565_n.jpg?oh=443757289b39cceb8c5aff3e3bbfb634&oe=5AA55AAE">Макс Кранц
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/22045880_1396560230461520_3945003042231352076_n.jpg?oh=b27ca3c7a8a2afb0aaceb81cf85a139c&oe=5A6270FE">Maria Maloletnia
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/22154643_1448919161882007_229337971419474738_n.jpg?oh=d16924871c69f7e939188ba47c727f57&oe=5AAC318C">Таня Прищепюк
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c0.0.32.32/p32x32/1452183_596425313753717_459851436_n.jpg?oh=f72ef866c05769df83c4fb4457300b75&oe=5AA54494">Roman Svurud
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/23316380_1755621914456824_1740065369850863434_n.jpg?oh=4b475912ce06af72d03ad801226d6a61&oe=5A98BFC4">Valeriy Kuznetsov
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/16174690_1764264770269170_996634976628739999_n.jpg?oh=a2c80023956fea0f2e2ce72694179b81&oe=5AA93360">Maria Maloletnia
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/c4.0.32.32/p32x32/13232989_126263247786254_8720846049196575917_n.jpg?oh=aeab5f6b8c4257832b9a08cb4e0c09e3&oe=5A6B67D6">Таня Прищепюк
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/13432185_896072997188975_2571055529790910386_n.jpg?oh=f36383cf37ae5ca308ce4482cb01d37e&oe=5AA9BC64">Roman Gvyr
                </a>
                <a class="Chat_item" href="#">
                    <img class="User-photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p32x32/12645009_957602557638450_1441479072278307882_n.jpg?oh=9322b55302268c1f5c38cf8ef162e002&oe=5AA143A9">Taras Ovramenko
                </a>
                <form class="Search-chat">
                    <a class="Search-chat__item_icon" href="">
                        <span class="Icon4-chat Icon4-chat_find"></span>
                    </a>
                    <input class="Search-chat__input" type="search" name="search" placeholder="Пошук">
                    <a class="Search-chat__item_icon" href="">
                        <span class="Icon4-chat Icon4-chat_settings"></span>
                    </a>
                    <a class="Search-chat__item_icon" href="">
                        <span class="Icon4-chat Icon4-chat_new-message"></span>
                    </a>
                    <a class="Search-chat__item_icon" href="">
                        <span class="Icon4-chat Icon4-chat_create-group"></span>
                    </a>
                </form>
            </div>
        </aside>
    </body>
</html>