<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Language.css">
    </head>
    <body>
        <section class="Language">
            <div class="Language__another-language">
                <a href="">
                    <span class="Icon-add-language"></span>
                </a>
            </div>
            <span class="Language__item Language__item_ua">Українська</span>
            <span>·</span>
            <a class="Language__item" href="">Русский</a>
            <span>·</span>
            <a class="Language__item" href="">English (US)</a>
            <span>·</span>
            <a class="Language__item" href="">Espanol</a>
            <span>·</span>
            <a class="Language__item" href="">Portugues (Brasil)</a>
        </section>
    </body>
</html>