<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Facebook</title>
        <link rel="stylesheet" href="style/Layout.css">
        <link rel="stylesheet" href="style/common.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <div class="Layout__header-wrapper">
                Lorem ipsum dolor sit amet.
            </div>
        </header>
        <section class="Layout__Flex-box-payload">
            <aside class="Layout__navigation">Lorem ipsum dolor sit amet.</aside>
            <main class="Layout__news-line">Lorem ipsum dolor sit amet.</main>
            <aside class="Layout__additional-info">Lorem ipsum dolor sit amet.</aside>
        </section>
        <aside class="Layout__chat">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </aside>
    </body>
</html>