<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Navigation.css">
        <link rel="stylesheet" href="style/Icon.css">
        <link rel="stylesheet" href="style/User-profile.css">
    </head>
    <body>
        <nav class="Navigation">
            <div class="Navigation__User-profile-mover">
                <div class="User-profile">
                    <img class="User-profile__photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/18556320_1438075489595724_6021204156907711401_n.jpg?oh=b4619e3fe0a48497395d50e8b817f0f9&oe=5A629AE5">
                    <a class="User-profile__name" href="https://www.facebook.com/yaroslav.rukavets">Yaroslav Rukavets</a>
                </div>
            </div>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_news"></span>Новини
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_messenger"></span>Messenger
            </a>
        </nav>
        <nav class="Navigation">
            <h5 class="Navigation__title">Quick access</h5>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_sales"></span>Барахолка
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_people"></span>Людоньки, порадьте
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_outdoor"></span>Туризм і походи
                <span class="Navigation__item-counter">10+</span>
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_bukovel"></span>Буковель
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_understand-group"></span>И так поймут
            </a>
        </nav>
        <nav class="Navigation">
            <h5 class="Navigation__title">Interesting</h5>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_stream-of-pages"></span>Потік сторінок
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_group"></span>Групи
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_events"></span>Події
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_fan-club"></span>Фан-клуби
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_this-day"></span>Цього дня
            </a>
        </nav>
    </body>
</html>