<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Navigation.css">
        <link rel="stylesheet" href="style/Icon.css">
    </head>
    <body>
        <nav class="Navigation">
            <a href="" class="Navigation__item">Yaroslav Rukavets</a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_news"></span>Новини
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_messenger"></span>Messenger
            </a>
        </nav>
        <nav class="Navigation">
            <h5 class="Navigtion__title">Quick access</h5>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_sales"></span>Барахолка
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_people"></span>Людоньки, порадьте
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_outdoor"></span>Туризм і походи
                <span class="Navigation__item-counter">10+</span>
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_bukovel"></span>Буковель
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_understand-group"></span>И так поймут
            </a>
        </nav>
        <nav class="Navigation">
            <h5 class="Navigation__title">Interesting</h5>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_stream-of-pages"></span>Потік сторінок
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_group"></span>Групи
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_events"></span>Події
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_fan-club"></span>Фан-клуби
            </a>
            <a href="" class="Navigation__item">
                <span class="Icon Icon_this-day"></span>Цього дня
            </a>
        </nav>
    </body>
</html>