<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/User-profile.css">
    </head>
    <body>
        <div class="User-profile">
            <img class="User-profile__photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/18556320_1438075489595724_6021204156907711401_n.jpg?oh=b4619e3fe0a48497395d50e8b817f0f9&oe=5A629AE5">
            <a class="User-profile__name" href="https://www.facebook.com/yaroslav.rukavets">Yaroslav</a>
        </div>
    </body>
</html>