<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/common.css">
</head>
<body class="Layout">
<header class="Layout__header">
    <div class="Destination">
        <div class="Header__left">
            Lorem ipsum dolor sit amet
        </div>
        <div class="Header__right">
            Lorem ipsum dolor sit amet
        </div>
    </div>
</header>
<aside class="Layout__aside">
    <div class="Aside">
        <div class="User-preferences">
            Lorem ipsum dolor sit amet
        </div>
        <div class="Footer">
            Lorem ipsum dolor sit amet
        </div>
    </div>
</aside>
<main class="Layout__main">
    <div class="Video-lists">
        Lorem ipsum dolor sit amet
    </div>
</main>
</body>
</html>