<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header class="Header">
    <h1 class="Header__caption">Cuba</h1>
    <p class="Header__description">Explore the world of Casas & Cadillacs</p>
</header>
<nav class="Navigation">
    {{#navigation}}
        <a href="" class="Navigation__item">{{title}}</a>
    {{/navigation}}
</nav>
<section class="Section Section__vacation">
    <h2 class="Vacation__caption">Why you’ll love vacation in Cuba</h2>
    <p class="Vacation__description">It always had the allure a forbidden fruit. I love it for its uniqueness,
        creativity and survivalist spirit. I love it because, despite 60 years of setbacks, it remains an upbeat and
        open place. Walk down the street with a Cuban friend and, within one block, you’ll have received five
        handshakes, four kisses, three greetings of ‘dime hermano!’ and at least two invites into someone’s house.</p>
    <aside><span class="icon__trip"></span><h4>1,920</h4>
        <p>Trip</p></aside>
    <aside><span class="icon__venues"></span><h4>271</h4>
        <p>Venues</p></aside>
    <aside><span class="icon__ticets"></span><h4>3,321</h4>
        <p>Tickets Sold</p></aside>
    <aside><span class="icon__venues"></span><h4>2,912</h4>
        <p>Reviews</p></aside>
</section>
<article class="Article Article__about">
    <h2 class="About__caption">What Cuba is about</h2>
    <p calss="About__description">Cuba is like a prince in a poor man’s coat; behind the sometimes shabby facades, gold
        dust lingers. It’s these rich dichotomies that make travel here the exciting. Trapped in a time warp and reeling
        from an economic embargo that has grated for more than half a century, this is a country where you can wave
        goodbye to everyday assumptions and expect the unexpected. <a href="">Read more <span class="icon__more"></span></a></p>
</article>

</body>
</html>