body {
  margin: 0;
  padding: 0;
  background-color: #E9EBEE;
}
aside {
  border-radius: 2px;
  width: 321px;
  float: left;
  margin: 0;
}
main {
  float: right;
  width: 512px;
  margin-left: 370;
  margin-top: 20px;
  padding: 0;
}
.site-width-wrapper {
  width: 851px;
  margin-right: auto;
  margin-left: auto;
}
