@color: #1a2e3b;

.Best-video {
  color: @color;
  text-align: center;
}

.Best-video-headers {
  
  &__section-header {
    font-family: sans-serif;
    font-size: 2.25rem;
    text-align: center;
    margin: 1.875rem 0;
    line-height: 2.875rem;
    font-weight: 400;
  }

  &__description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
  }

  @media screen {
    .Discover-wrapper {
      display: none;
    }
  }


  @media screen and (max-width: 37.5em){
    .Video {
      display: none;
    }
    .Discover-wrapper {
      display: block;
    }
  }

}
