.Footer-sitemap {
  background-color: #F2F4F5;

}

.Sitemap, .Stats-dashboard {
  display: inline-block;
  vertical-align: top;
}

.Stats-dashboard {
  margin-top: 2vh;
  position: absolute;
  right: 10px;
}

/*.Sitemap {
  float: left;
  width: 70%;
}

.Stats-dashboard {
  float: right;
  width: 30%;
}*/