.Layout {
  margin: 0;
  padding: 0;
  font-family:  "Helvetica Neue", sans-serif;

  &__header {
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    background-color: #fff;
    opacity: .95;
    padding-bottom: 10px;
    z-index: 999;
  }

  &__main {
    background-color: #fff;
  }

  &__footer {
    min-height: 58px;
  }

  @media (max-width: 767px) {
    &__header {
      height: 40px;
      background-color: #fff;
      padding-bottom: 0;
      position: fixed;
      width: 100%;
    }
  }
}