<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/HeroArticles.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<article class="Hero-articles">

    <div class="Hero-articles__description-section">
        <h2 class="Hero-articles__caption">Host videos in the highest quality possible</h2>
        <p class="Hero-articles__description">Start uploading and enjoy 4K Ultra HD quality, video management tools,
            no ads before, during, or after your videos,
            and professional live streaming plans.</p>
        <button class="Hero-articles__action-button">Upload</button>
    </div>



</article>
</body>
</html>