<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/b_logo.css">
    <link rel="stylesheet" href="styles/b_top-navigation.css">
    <link rel="stylesheet" href="styles/rainbow.css">
    <link rel="stylesheet" href="styles/b_search.css">
    <link rel="stylesheet" href="styles/Layout.css">
    <link rel="stylesheet" href="styles/intro.css">
    <link rel="stylesheet" href="styles/bFurure-list.css">

    <link rel="stylesheet" href="styles/b_creator.css">
</head>
<body class="Layout">
<header class="Layout__header">
    <div class="rainbow"></div>
    <a class="logo" href="">Vimeo</a>
    <nav class="top-navigation">
        <a class="top-navigation__link" href="">Join</a>
        <a class="top-navigation__link" href="">Log in</a>
        <a class="top-navigation__link" href="">Host video</a>
        <a class="top-navigation__link" href="">Sell</a>
        <a class="top-navigation__link" href="">Watch</a>
    </nav>
    <form class="search-form" action="">
        <input type="text" class="search-form__input" placeholder="Search videos,people and more">
        <button class="search-form__button ">Пошук</button>
    </form>
</header>
<section class="Layout__intro">
    <h1 class="intro__text">Where videos come first</h1>
    <form action="" class="intro__buttons">
        <button class="intro__buttons_find-plan">Find a plan</button>
        <button class="intro__buttons_join">Join free</button>
    </form>
</section>
<section class="future-list">
    <h2 class="future-list__description">The high-quality home to make, share, and watch videos</h2>
</section>
<section class="creator__upload">
    <img class="balloon__front" src="images/balloon_front_opt.png" alt="">
    <div class="upload">
        <h2 class="upload__description upload__description_caption">Host videos in the highest quality possible</h2>
        <p class="upload__description upload__description_paragraph">Start uploading and enjoy 4K Ultra HD quality, video management tools,
            no ads before, during, or after your videos,
            and professional live streaming plans.</p>
    </div>
    <button class="upload__button">Upload</button>
</section>
</body>
</html>