.header-layout{
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 56px;
    box-shadow: 0 2px 2px 0 rgba(245,243,245,1);
    z-index: 10;
}
.hamburger-menu{
    float: left;
    background: url("../../images/hamburger_menu.svg") no-repeat;
    height: 24px;
    padding-right: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 25px;
    margin-top: 16px;
    vertical-align: middle;
}