.search-keyboard{
    position: absolute;
    height: 100%;
    left: 17.5%;
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.search-keyboard input{
    width: 90%;
    height: 60%;
    padding-left: 1%;
}
.search-button{
    cursor: pointer;
    width: 10%;
    height: 60%;
    line-height: 10px;
    border: 1px solid #cccacc;
    background-color: #f6f4f6;
    color: #959395;
    border-radius: 0 2px 2px 0;
}