.header_logo_wrap{
    position: absolute;
    width: 17.5%;
    height: 100%;
    left: 0;
    line-height: 52px;
    display: flex;
    justify-content: center;
}
.header_logo_wrap a{
    text-decoration: none;
}
.logo_country{
    width: 12px;
    height: 24px;
    color: hsl(0, 0%, 53.3%);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-left: 3px;
    vertical-align: middle;
}
.logo_text{
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    color: #2c2a2c;
}