.header_additional_options_wrap{
    position: absolute;
    height: 100%;
    left: 65.5%;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}
.header_additional_option{
    height: 24px;
    padding-right: 50px;
    background: none;
    width: 40px;
    border: none;
    color: #959395;
}
.header_settings{
    display: flex;
    align-items: center;
    width: 50%;
    position: absolute;
    height: 100%;
}
.header_additional_option-img{
    border-radius: 50%;
}