.header-layout__logo{
    float: left;
    width: 240px;
    height: 56px;
    line-height: 56px;
}
.header-layout__logo_img{
    height: 24px;
    width: 24px;
}
.header-layout__logo_country-code{
    width: 12px;
    height: 24px;
    color: hsl(0, 0%, 53.3%);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-left: 3px;
    vertical-align: middle;
}
.header-layout__logo_text{
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    color: #2c2a2c;
    text-decoration: none;
}