.video-block {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 20px;
}
.video-block__main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video-block__video{
  width: 210px;
}
.video-block__video a {
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
  display: inline-block;
  line-height: 15px;
}
.video-block__video h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0 8px;
}
.video-block__video span {
  display: inline-block;
  color: #a09ea0;
  font-size: 13px;
  font-family: Roboto, Arial, sans-serif;
}
.video-block__cover-img{
  width: 210px;
  height: 118px;
}
.video-block__view-count:after{
  content: " •";
}