html {
  height: 100%;
  box-sizing: border-box;
}
#top-menu {
  left: 25%;
  right: 25%;
  width: 50%;
  background-color: #9b59b6;
  border-bottom: 0;
}
#top-menu h2 {
    font-size: 24px;
    padding-top: 0;
    color: black;
    padding-left: 10px;
}

body {
  padding-top:56px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.footer {
  height: 34px;
  position: relative;
  left: 25%;
  right: 25%;
  width: 50%;

  background-color: #f39c12;
  text-align: left;
  padding-left: 10px;
}
.content-wrappper {
  position: relative;
  left: 25%;
  right: 25%;
  width: 50%;
  flex: 1;
}
.left-content {
  float: left;
  background-color: #e74c3c;
  padding: 10px 10px 10px 10px;
  width: 60%;
}
.right-content {
  float: left;
  background-color: #2ecc71;
  padding: 10px 10px 10px 10px;
  width: 40%;
  overflow: auto;
}
