<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML5 Doctor</title>
</head>
<body>
<header>
    <div>
        <h1><a href="">HTML5 Doctor</a></h1>
        <h2><a href="">Helping you implement HTML5 today</a></h2>
    </div>
    <nav>
        <a href="">About</a>
        <a href="">RSS</a>
        <a href="">Comments RSS</a>
        <a href="">Doctor Network</a>
        <ul>
            <li><a href="">HTML5 Gallery</a></li>
            <li><a href="">Docteur HTML5</a></li>
            <li><a href="">HTML5 Doctor on Github</a></li>
        </ul>

    </nav>
    <nav>
        <a href="">Home</a>
        <a href="">Article Archive</a>
        <a href="">Element Index</a>
        <a href="">Resources</a>
        <form id="search-form" action="/search/" role="search" method="get">
            <input type="text">
            <input type="submit" value="Search">
        </form>
    </nav>
</header>
<main>
    <section>
        <h6>Featured Article</h6>
        <article>
            <h1>{{featured_article.title}}</h1>
            <small>
                <time datetime="2016-06-09">{{featured_article.date}}</time>
                by <a href="">{{featured_article.author}}</a>.
            </small>
            <p>
                {{featured_article.text}}
            </p>
            <a href="">
                Read full post
            </a>
        </article>
        <aside>
            <h3>Recent Comments</h3>
            {{#recent_comments}}
                <article>
                    <a href="">{{author}}</a> on
                    <a href="">{{article}}</a>
                </article>
            {{/recent_comments}}
        </aside>
    </section>
    <section>
        <h1>HTML5 Element Index</h1>
        {{#elements_indexes}}
            <h2>{{group}}</h2>
            <ul>
                {{#elements}}
                    <li><a href="">{{.}}</a></li>
                {{/elements}}
            </ul>
        {{/elements_indexes}}
    </section>
    <section>
        <h1>More Posts from HTML5 Doctor</h1>
        {{#more_posts}}
            <article>
                <h2>{{title}}</h2>
                <small>
                    <time datetime="2016-06-09">{{date}}</time>
                    by <a href="">{{author}}</a>.
                </small>
                <p>
                    {{text}}
                </p>
            </article>
        {{/more_posts}}
        <a href="">Find more articles in the complete HTML5 Doctor archive</a>
        <aside>
            <h3>SPONSORS</h3>
            {{#sponsors}}
                <a href="{{href_url}}"><img src="{{img_url}}" width="125" height="125"></a>
            {{/sponsors}}
            <a href="">Advertise Here</a>
        </aside>
    </section>
    <section>
        <section>
            <h3>HTML5 GALLERY</h3>
            <img src="http://html5doctor.com/wp-content/themes/html5doctor2/images/the-gallery.png">
        </section>
        <section>
            <h3>BEGINNING HTML5 & CSS3</h3>
            <img src="http://html5doctor.com/wp-content/uploads/2013/01/web-evolved.jpg">
            <p>
                The Web Evolved: A new book on HTML5 & CSS3 by Richard Clark, Oli Studholme, Christopher Murphy
                and Divya Manian.
            </p>
            <a href="">Buy it now</a>
        </section>
        <section>
            <h3>DIVE INTO HTML5</h3>
            <p>
                Sadly, Mark Pilgrim has stopped maintaining this project. Along with other members of the web
                community we want to see it continue. We’re hosting a copy and plan to help keep it up-to-date.
            </p>
            <a href="">Read Dive into HTML5</a>
        </section>
    </section>
</main>
<footer>
    <p>
        This site is licensed under a Creative Commons Attribution-Non-Commercial 2.0 share alike license. Feel free to
        change, reuse modify and extend it. Some authors will retain their copyright on certain articles.
    </p>
    <p>
        Copyright © 2017 HTML5 Doctor. All rights reserved. Hosted by (mt) Media Temple. Branding by Oliver Ker.
    </p>
    <img width="64" height="64" src="http://html5doctor.com/wp-content/themes/html5doctor2/images/HTML5_Badge_64.png">
</footer>
</body>
</html>