<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="output.css">
    <link rel="stylesheet" type="text/css" href="960.css">
  </head>
  <body>
    <section class="container_16">
      <header class="main-header margin-top-80">
        <section class="header-part container_16" >
          <section class="header-part__text-container grid_4">
            <a class="header-part__text header-part__text_font-size-24"href="#">
              {{headerColumn1Part1}}
              <br>
              {{headerColumn1Part2}}
              <br>
              {{headerColumn1Part3}}
            </a>
          </section>
          <section class="header-part__text-container grid_4">
            <h2 class="header-part__text">{{headerColumn2}}</h2>
          </section>
          <section class="header-part__text-container grid_2"></section>
          <section class="header-part__text-container grid_3">
            <h3 class="header-part__text">{{headerColumn3Part1}}</h3>
            <h3 class="header-part__text">{{headerColumn3Part2}}</h3>
          </section>
          <section class="header-part__text-container grid_3">
            <h3 class="header-part__text">
              {{headerColumn4Part1}}
            </h3>
            <h3 class="header-part__text">
              {{headerColumn4Part2}}
            </h3>
            <h3 class="header-part__text">
              {{headerColumn4Part3}} <a href="#" class="header-part__text">{{headerColumn4Part4}}</a>
            </h3>
            <br>
            <h3 class="header-part__text">{{headerColumn4Part5}} <a class="header-part__text"href="#">{{headerColumn4Part6}}</a></h3>
          </section>
        </section>
        <nav class="navigation container_16">
          <section class="navigation__text-container grid_4">
            <h3 class="navigation__text"><a class="navigation__text" href="#">{{navColumn1Part1}}</a></h3>
            <h3 class="navigation__text navigation__text_margin-80"><a class="navigation__text" href="#">{{navColumn1Part2}}</a></h3>
          </section>
          <section class="navigation__text-container grid_4">
            <a class="navigation__text" href="#">
              <h3 class="navigation__text">{{navColumn2Part1}}</h3>
              <h3 class="navigation__text">{{navColumn2Part2}}</h3>
            </a>
            <div>
              <h4 class="navigation__text navigation__text_margin-60">{{navColumn3Part1}}</h4>
              <h4 class="navigation__text">{{navColumn3Part2}}</h4>
            </div>
          </section>
          <section class="navigation__text-container grid_2">
            <a class="navigation__text" href="#">
              <h3 class="navigation__text">{{navColumn4Part1}}</h3>
              <h3 class="navigation__text">{{navColumn4Part2}}</h3>
            </a>
            <a class="navigation__text" href="#">
              <h4 class="navigation__text navigation__text_margin-60">{{navColumn5Part1}}</h4>
              <h4 class="navigation__text">{{navColumn5Part2}}</h4>
              <h4 class="navigation__text">{{navColumn5Part3}}</h4>
            </a>
          </section>
          <section class="navigation__text-container grid_3"></section>
          <section class="navigation__text-container grid_3">
            <h3 class="navigation__text"><a class="navigation__text" href="#">{{navColumn6Part1}}</a></h3>
          </section>
        </nav>
      </header>
      <main class="page-main">
        <section class="two-pic-section container_16">
          <img class="two-pic-section__img_under grid_10" src="{{twoPics1}}" alt="">
          <img class="two-pic-section__img_over grid_10" src="{{twoPics2}}" alt="">
        </section>
        <section class="black-estate-title container_16">
          <section class="black-estate-title__text-container grid_5 prefix_3">
            <p class="black-estate-title__text">{{blackEstateTitle}}</p>
          </section>
          <img class="black-estate-title__img"src="{{blackEstateTitlePic}}" alt="">
        </section>
        <section class="side-note container_16">
          <aside class="side-note__text-container grid_5">
            <p class="side-note__text">{{sideNoteTitle}}</p>
            <p class="side-note__text side-note__text_margin-40">{{sideNoteText}}</p>
          </aside>
          <img class="side-note__img grid_10" src="{{sideNotePic}}" alt="">
        </section>
        <section class="tasting-room container_16">
          <header class="tasting-room__header grid_3 prefix_5">
            <h1 class="tasting-room__text">{{tastingRoomTitle}}</h1>
          </header>
          <main class="tasting-room__main container_16">
            <section class="tasting-room__item grid_3 prefix_5">
              <h3 class="tasting-room__text"><a class="tasting-room__text" href="#">{{tastingRoomColumn1Part1}}</a></h3>
              <div class="margin-top-60">
                <h3 class="tasting-room__text">{{tastingRoomColumn1Part2}}</h3>
                <h3 class="tasting-room__text">{{tastingRoomColumn1Part3}}</h3>
                <h3 class="tasting-room__text">{{tastingRoomColumn1Part4}}</h3>
                <h3 class="tasting-room__text">{{tastingRoomColumn1Part5}}
                  <a class="tasting-room__text" href="#">{{tastingRoomColumn1Part6}}</a>
                </h3>
              </div>
              <h3 class="tasting-room__text tasting-room__text_margin-60"><a class="tasting-room__text" href="">{{tastingRoomColumn1Part7}}</a></h3>
            </section>
            <section class="tasting-room__item grid_4 prefix_1">
              <h3 class="tasting-room__text">{{tastingRoomColumn2Part1}}
                <a class="tasting-room__text" href="#">{{tastingRoomColumn2Part2}}</a>{{tastingRoomColumn2Part3}}
              </h3>
            </section>
            <section class="tasting-room__item grid_3">
              <h3 class="tasting-room__text"><a class="tasting-room__text" href="#">{{tastingRoomColumn3Part1}}</a></h3>
              <h3 class="tasting-room__text tasting-room__text_margin-60">{{tastingRoomColumn3Part2}}</h3>
              <h3 class="tasting-room__text tasting-room__text_margin-60"><a class="tasting-room__text" href="#">{{tastingRoomColumn3Part3}}</a></h3>
              <h3 class="tasting-room__text tasting-room__text_margin-60"><a class="tasting-room__text" href="#">{{tastingRoomColumn3Part4}}</a>{{tastingRoomColumn3Part5}}</h3>
            </section>
          </main>
        </section>
        <section class="two-pic-section container_16">
          <img src="{{secondTwoPics1}}" alt="" class="two-pic-section__img_under two-pic-section__img_left grid_10">
          <section  class="two-pic-section__img_over grid_10 prefix_6 container_16" >
            <h3  class="two-pic-section__text grid_2 prefix_8"><a class="two-pic-section__text" href="#">{{viewMorePics}}</a></h3>
            <img class="two-pic-section__img grid_10" src="{{secondTwoPics2}}" alt="">
          </section>
        </section>
        <section class="current-releases container_16">
          <aside class="current-releases__pic-container grid_5">
            <img class="current-releases__img"src="{{bottlePic}}">
          </aside>
          <main class=" current-releases__main grid_11 prefix_6">
            <header class="current-releases__header clearfix">
              <div  class="current-releases__text-container grid_5">
                <h2 class="current-releases__text current-releases__text_margin-200">{{currentReleasesTitle}}</h2>
              </div>
              <p class="current-releases__text-p grid_5">{{currentReleasesText}}</p>
            </header>
            <main class="current-releases__items-container">
              <section class="current-releases__item clearfix">
                {{#currentReleasesArticleInfo1}}
                  <article class="grid_5">
                    <h3 class="current-releases__text"><a class="current-releases__text" href="#">{{title}}</a></h3>
                    <p class="current-releases__text-p margin-top-20">{{text}}</p>
                    <h3 class="current-releases__text margin-top-20"><a href="#" class="current-releases__text">{{price}}</a></h3>
                  </article>
                {{/currentReleasesArticleInfo1}}
              </section>
              <section class="current-releases__item clearfix margin-top-80">
                {{#currentReleasesArticleInfo2}}
                  <article class="grid_5">
                    <h3 class="current-releases__text"><a class="current-releases__text" href="#">{{title}}</a></h3>
                    <p class="current-releases__text-p margin-top-20">{{text}}</p>
                    <h3 class="current-releases__text margin-top-20"><a class="current-releases__text" href="#">{{price}}</a></h3>
                  </article>
                {{/currentReleasesArticleInfo2}}
              </section>
              <section class="current-releases__item clearfix margin-top-80">
                {{#currentReleasesArticleInfo3}}
                  <article class="grid_5">
                    <h3 class="current-releases__text"><a class="current-releases__text" href="#">{{title}}</a></h3>
                    <p class="current-releases__text-p margin-top-20">{{text}}</p>
                    <h3 class="current-releases__text margin-top-20"><a class="current-releases__text" href="#">{{price}}</a></h3>
                  </article>
                {{/currentReleasesArticleInfo3}}
              </section>
            </main>
          </main>
        </section>
        <section class="wine-store container_16">
          <section class="wine-store__text-container grid_5 prefix_5">
            <p class="wine-store__text-p">{{wineStoreText}}</p>
            <h5 class="wine-store__text margin-top-20">{{wineStorePerson}}</h5>
            <h5 class="wine-store__text">{{wineStoreWine}}</h5>
          </section>
          <section class="wine-store__text-container grid_5">
            <h2 class="wine-store__text"><a href="#" class="wine-store__text wine-store__text_font-size-32">{{wineStoreTitlePart1}}</a></h2>
            <h2 class="wine-store__text wine-store__text_margin-120"><a href="#" class="wine-store__text wine-store__text_font-size-32">{{wineStoreTitlePart2}}<br>
              {{wineStoreTitlePart3}}<br>
               {{wineStoreTitlePart4}}</a></h2>
          </section>
        </section>
      </main>
      <footer class="main-footer">
        <section class="main-footer__item">
          <h3 class="main-footer__text"><a class="main-footer__text" href="#">{{footerSection1Part1}}</a></h3>
          <h3 class="main-footer__text margin-top-20"><a class="main-footer__text" href="#">{{footerSection1Part2}}</a></h3>
        </section>
        <section class="main-footer__item container_16 margin-top-20">
          <h5 class="main-footer__text grid_5"><a class="main-footer__text" href="#">{{footerSection2Part1}}</a></h5>
          <h5 class="main-footer__text grid_3 prefix_3"><a class="main-footer__text" href="#">{{footerSection2Part2}}</a></h5>
          <div class="grid_5">
            <h5 class="main-footer__text"><a class="main-footer__text" href="#">{{footerSection2Part3}}</a></h5>
            <h5 class="main-footer__text margin-top-20"><a class="main-footer__text" href="#">{{footerSection2Part4}}</a></h5>
          </div>
        </section>
        <section class="main-footer__item container_16 margin-top-20">
          <h5 class="main-footer__text prefix_8">{{footerSection3Part1}}</h5>
          <h5 class="main-footer__text margin-top-20 prefix_8">{{footerSection3Part2}}<a class="main-footer__text" href="#">{{footerSection3Part3}}</a></h5>
        </section>
      </footer>
    </section>
  </body>
</html>
