body {
    font-family: "PT Serif", sans-serif;
    background-image: url(pattern.svg);
    margin:0;
    color: #ecf0f1;

}

h1  {
    font-size: 15px;
    line-height: 20px;
    background: #9b59b6;
    margin: 20px;
}

#id1 {
    /*margin-right: auto;*/
    /*margin-left: 10px;*/
}

#id2 {
    /*margin-right: 10px;*/
    /*margin-left: auto;*/
}