body {
    background-color: #ffcbcb;
}

input {
    color: goldenrod;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    height: 40px;
}

div {
    position: relative;
    display: inline-block;
    width: 800px;
    left: calc(50% - 400px);
}

div.array {
    margin: 20px;
    display: inline-block;
    border: goldenrod solid 1px;
    padding: 10px;
}

h2 {
    margin-top: 10px;
}

h1 {
    font-family: "Arial Narrow", sans-serif;
    text-align: center;
}
