@import "_variables";

.button {
    margin: 10px;
    border-radius: 4px;
    border: 1px solid ;
    padding: 5px 20px;

    &_active { background: @company-color;}
    &_disabled { color: #ccc; }
}

