<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="f_st.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <title>Facebook</title>
</head>
<body>
<header>
    <a id="logo" href="#">
        <i class="fa fa-facebook-f" style="color: white;"></i>
    </a>
    <form action="">
        <input type="search" placeholder="Search"/>
    </form>
    <a href="#">
        <i class="fa fa-search"></i>
    </a>
    <nav>
        <a id="user-name" class="user-profile" href="#" title="Profile">
            <img class="userpic"
                 src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p24x24/21731146_1089079511228035_2310466288900761483_n.jpg?oh=a8db6f735c500a84cf8245f04906d1a8&oe=5A4D61EF"/>
            <span>Olya</span>
        </a>
        <a id="home" href="#">Home</a>
        <a id="friend-req" class="h-icon" href="#" title="Friends Requests">
            <i class="fa fa-user-o"></i>
        </a>
        <a id="messages" class="h-icon" href="#" title="Messages">
            <i class="fa fa-envelope-o"></i>
        </a>
        <a id="notifications" class="h-icon" href="#" title="Notifications">
            <i class="fa fa-globe"></i>
        </a>
        <a id="help" class="h-icon" href="#" title="Quick Help">
            <i class="fa fa-question-circle-o"></i>
        </a>
        <a id="other-info" class="h-icon" href="#">
            <i class="fa fa-caret-down"></i>
        </a>
    </nav>
</header>
<section class="payload">
    <nav class="tool-bar">
        <h3>Account Settings</h3>
        <a id="my-profile" href="#">
            <img class="userpic"
                 src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p24x24/21731146_1089079511228035_2310466288900761483_n.jpg?oh=a8db6f735c500a84cf8245f04906d1a8&oe=5A4D61EF"/>
            <b>Olya Korabliova</b>
        </a>
        <section>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-newspaper-o" style="color: #5D92FF;"></i>
                        News Feed
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-envelope-o" style="color: #5D92FF;"></i>
                        Messenger
                    </a>
                </li>
            </ul>
        </section>
        <h3>Shortcuts</h3>
        <section>
            <ul>
                {{#shortcuts}}
                    <li>
                        <a href="{{link}}">
                            <i class="{{icon-class}}" style="{{icon-style}}"></i>
                            {{name}}
                        </a>
                    </li>
                {{/shortcuts}}
                <li class="see-more-li">
                    <a class="see-more" href="#">
                        <i class="fa fa-caret-down"> See More...</i>
                    </a>
                </li>
            </ul>
        </section>
        <h3>Explore</h3>
        <section>
            <ul>
                {{#explore}}
                    <li>
                        <a href="{{link}}">
                            <i class="{{icon-class}}" style="{{icon-style}}"></i>
                            {{name}}
                        </a>
                    </li>
                {{/explore}}
                <li>
                    <a href="#">
                        <i class="material-icons" style="color: #5D92FF;">restore</i>
                        On This Day
                    </a>
                </li>
                <li class="see-more-li">
                    <a class="see-more" href="#">
                        <i class="fa fa-caret-down"> See More...</i>
                    </a>
                </li>
            </ul>
        </section>
        <section>
            <small>
                <h3>Create</h3>
                <a class="see-more" href="#">Ad</a>
                <a class="see-more" href="#">Page</a>
                <a class="see-more" href="#">Group</a>
                <a class="see-more" href="#">Event</a>
            </small>
        </section>
    </nav>
    <main class="news-feed">
        <section id="post-field">
            <div id="make-post">
                <a href="#" style="padding: 3px;">
                    <i class="fa fa-pencil-square-o"> Make Post</i>
                </a>
                <a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">
                    <i class="fa fa-file-photo-o"> Photo/Video Album</i>
                </a>
                <a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">
                    <i class="fa fa-video-camera"> Video</i>
                </a>
            </div>
            <form>
                <a class="user-profile" href="https://www.facebook.com/korabliovaolya" style="text-decoration: none">
                    <img class="userpic" height="45px"
                         src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-1/p24x24/21731146_1089079511228035_2310466288900761483_n.jpg?oh=a8db6f735c500a84cf8245f04906d1a8&oe=5A4D61EF"/>
                </a>
                <textarea placeholder="What's on your mind, Olya?"></textarea>
            </form>
            <div id="add-content">
                <a href="#">
                    <i class="fa fa-photo" style="color: #8ABF4C;"></i>
                    Photo/Video
                </a>
                <a href="#">
                    <i class="fa fa-smile-o" style="color: #FFD62C;"></i>
                    Feeling/Activity
                </a>
                <a href="#">...</a>
            </div>
        </section>
        <section id="facebook-post">
            {{#posts}}
                <div>
                    <b>
                        <a class="user-profile" href="#">
                            <img class="userpic"
                                 src="{{image-src}}"/>
                            {{name}}
                        </a>
                    </b>
                    <a class="add-info" href="#"> {{additional-info}}</a>
                    <small>
                        <p>
                            <a href="#">
                                <time datetime="dd.mm.yyyy">{{post-time}}</time>
                            </a>
                        </p>
                    </small>
                    <p>
                        {{description}}
                    </p>
                    <img src="{{file}}"/>
                    <br>
                    <a class="like-com-share" href="#">
                        <i class="fa fa-thumbs-o-up"> Like</i>
                    </a>
                    <a class="like-com-share" href="#">
                        <i class="fa fa-comment-o"> Comment</i>
                    </a>
                    <a class="like-com-share" href="#">
                        <i class="fa fa-send-o"> Share</i>
                    </a>
                    <br>
                    <a class="who-liked" href="#">
                        <i class="fa fa-thumbs-up"> {{who-liked}}</i>
                    </a>
                    <a class="who-liked" href="#">
                        <i class="fa fa-send"> {{who-shared}}</i>
                    </a>
                </div>
            {{/posts}}


        </section>
    </main>
    <aside class="ad-feed">
        <section id="stories">
            <h4>Stories
                <i class="fa fa-question-circle-o"
                   title="Stories are photos and videos that only last temporarily. When a friend shares to their story, it'll appear here."
                   style="float: right; font-size: 26px;"></i>
            </h4>
            <div>
                <a class="new-story" href="#">
                    <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/20155770_821049588093399_8120168482935531643_n.png?oh=893b346aafef82b58c2ed6801214b816&oe=5A87173D"/>
                </a>
            </div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section id="unread-notif">
            <ul>
                {{#unread-notifications}}
                    <small>
                        <li>
                            <a href="{{link}}">
                                <i class="{{icon-class}}" style="{{icon-style}}"></i>
                                {{event}}
                            </a>
                            <time datatype="#">{{event-time}}</time>
                        </li>
                    </small>
                {{/unread-notifications}}
            </ul>
        </section>
        <section id="friend-suggestion">
            <h4>People You May Know
                <a href="#" class="see-more" style="float: right">See All</a>
            </h4>
            {{#friends-suggestions}}
                <div>
                    <a class="user-profile" href="{{user-link}}">
                        <img class="userpic"
                             src="{{user-picture}}"/>
                    </a>
                    <p>
                        <a class="user-name" href="{{user-link}}">{{user-name}}</a><br>
                        <a class="mutual-frs" href="#">{{mutual-friends}}</a><br>
                        <button>
                            <i class="fa fa-user-plus"></i>
                            Add Friend
                        </button>
                    </p>
                </div>
            {{/friends-suggestions}}
        </section>
        <section id="facebook-info">
            <small>
                <div class="language">
                    <a id="eng" href="#">English (US)</a>
                    <a id="ukr" href="#">Українська</a>
                    <a id="rus" href="#">Русский</a>
                    <a id="esp" href="#">Español</a>
                    <a id="por" href="#">Português (Brasil)</a>
                </div>
                <footer>
                    <a href="#">Privacy</a>
                    <a href="#">Terms</a>
                    <a href="#">Advertising</a>
                    <a href="#">Ad Choices</a>
                    <a href="#">Cookies</a>
                    <a href="#">More</a>
                    <a href="#">Facebook © 2017</a>
                </footer>
            </small>
        </section>
    </aside>
</section>
<aside class="friends-and-games">
    <section id="games">
        <div id="your-games">
            <h6>YOUR GAMES
                <small>
                    <a href="#" class="see-more">MORE</a>
                </small>
            </h6>
            {{#user-games}}
                <a href="{{game-link}}">
                    <img src="{{img-src}}"/>
                </a>
            {{/user-games}}
        </div>
        <div id="recommended-games">
            <h6>RECOMMENDED GAMES
                <small>
                    <a href="#" class="see-more">MORE</a>
                </small>
            </h6>
            <a href="#"><i class="material-icons">keyboard_arrow_left</i></a>
            {{#games-suggestions}}
                <a href="{{game-link}}">
                    <img src="{{img-src}}"/>
                </a>
            {{/games-suggestions}}
            <a href="#"><i class="material-icons">keyboard_arrow_right</i></a>
        </div>
    </section>
    <section id="online-friends">
        {{#online-friends}}
            <a href="{{user-link}}">
                <p>
                    <img src="{{user-pic}}"/>
                    <small>{{user-name}}</small>
                    <span></span>
                </p>
            </a>
        {{/online-friends}}
    </section>
    <section id="more-contacts">
        <h5 style="color: black;">MORE CONTACTS</h5>
        {{#more-friends}}
            <a href="{{user-link}}">
                <p>
                    <img src="{{user-pic}}"/>
                    <small>{{user-name}}</small>
                    <span></span>
                </p>
            </a>
        {{/more-friends}}
    </section>
    <footer>
        <form action="#">
            <input type="search" placeholder="Search">
            <button>
                <i class="fa fa-search"></i>
            </button>
        </form>
    </footer>
</aside>

</body>
</html>