.header-calendar{

}

.calendar-header__month{

}

.calendar-header__year{

}

.header-week{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(7, 6% [row-start]);
    text-align: center;
}

.header-week__day {

}

.main-calendar {
    clear: both;
    display: grid;
    grid-template-columns: repeat(7, 6% [col-start]);
    grid-template-rows: repeat(5, 3% [row-start]);

}

.main-calendar__day{
    text-align: center;
    border: groove;
}
.main-calendar__day__current{
    text-align: center;
    border: groove;
    background-color: #f4f142;
}

.footer-calendar{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 21% [row-start]);
    text-align: center;
}