.Footer {
    background-color: #f8f8f8;

    &__wrapper {
        width: 1170px;
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
}