body{
    margin:0 0;
    font-family: Avenir;
    
}
.wrapper{
    width: 970px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.Link{
    &__read_more{
    
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.75;
        color: #089bd9;
    }
}

