<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/Article.css">
        <link rel="stylesheet" href="style/Article-icon.css">
    </head>
    <body>
        <article class="Article">
            <header class="Article__news-title">
                <img class="Article__author-photo" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-9/23755682_1548817188519348_539292420961435477_n.png?oh=192504772269725cac4e121f103a500f&oe=5AD0F1C5">
                <a class="Article__title-text Article__title-text_username" href="#">Веб-стандарты</a>

                <br><time>31 листопада</time>
            </header>
            <p>Открылся приём докладов на CSSconf EU 1 июня <a href="https://2018.cssconf.eu/call-for-speakers/">https://2018.cssconf.eu/call-for-speakers/</a> и JSConf EU 2–3 июня
                <a href="https://2018.jsconf.eu/call-for-speakers/">https://2018.jsconf.eu/call-for-speakers/</a> в Берлине. Заявки принимаются до 1 января.</p>
            <img class="Article__main-image" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-9/23755682_1548817188519348_539292420961435477_n.png?oh=192504772269725cac4e121f103a500f&oe=5AD0F1C5">
            <div class="Article__main-image-information">
                <a class="Article__main-image-link" href="#"></a>
                <time>22 листопада</time>
                <button class="Article__like-page-button">
                    <span class="Article-icon__like-page"></span>
                    Вподобати сторінку
                </button>
            </div>
            <footer class="Article__user-choice">
                <button class="Article__button Article__button-like">
                    <span class="Article-icon Article-icon__like"></span>
                    Подобається
                </button>
                <button class="Article__button Article__button-comment">
                    <span class="Article-icon Article-icon__comment"></span>
                    Коментувати
                </button>
                <button class="Article__button Article__button-share">
                    <span class="Article-icon Article-icon__share"></span>
                    Поширити
                </button>
            </footer>
        </article>
    </body>
</html>