<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/b_header.css">
    <title>Document</title>
</head>
<body class="Layout">
<header class="Layout__header">
    <nav class="header__navigation">
        <a class="navigation__link" href="index_personal_page.mustache">Моя сторінка</a>
        <a class="navigation__link" href="index.mustache">Головна</a>
        <a class="navigation__link" href="">Знайти друзів</a>
        <a class="navigation__link" title="Запит на дружбу" href="">Запит на дружбу</a>
        <a class="navigation__link" title="Повідомлення" href="">Messenger</a>
        <a class="navigation__link" title="Сповіщення" href="">Сповіщення</a>
        <a class="navigation__link" title="Швидка допомога" href="">Допомога</a>
    </nav>
<a href="" class="logo logo_img">Facebook</a>
<form action="" class="search__form">
    <input type="text"  placeholder="Шукайте людей, спільноти, місця" class="search__input">
    <button class="search__button">Пошук</button>
</form>

</header>
</body>
</html>