<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Search.css">
        <link rel="stylesheet" href="style/Icon2.css">
        <link rel="stylesheet" href="style/Main-navigation.css">
        <link rel="stylesheet" href="style/User-profile.css">
    </head>
    <body>
        <div class="Header">
            <span class="Header__logo"></span>
            <form class="Search">
                <input class="Search__input" type="search" name="search" placeholder="Пошук">
                <button class="Search__activate-button" type="button" >
                    Search
                </button>
            </form>
            <nav class="Main-navigation">
                <div class="Main-navigation__User-profile-mover">
                    <div class="User-profile">
                        <img class="User-profile__photo" src="">
                        <a class="User-profile__name" href="">Володимир</a>
                    </div>
                </div>
                <a class="Main-navigation__item" href="">Головна</a>
                <a class="Main-navigation__item" href="">Знайти друзів</a>
                <a class="Main-navigation__item_icon" href="">
                    <span class="Icon2 Icon2_friends-requests"></span>
                </a>
                <a class="Main-navigation__item_icon" href="">
                    <span class="Icon2 Icon2_message"></span>
                </a>
                <a class="Main-navigation__item_icon" href="">
                    <span class="Icon2 Icon2_notification"></span>
                </a>
                <a class="Main-navigation__item_icon" href="">
                    <span class="Icon2 Icon2_quick-help"></span>
                </a>
                <a class="Main-navigation__item_icon" href="">
                    <span class="Icon2 Icon2_additional_info"></span>
                </a>
            </nav>
        </div>
    </body>
</html>