<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Section.css">
    <link rel="stylesheet" href="less/Footer.css">
     <link rel="stylesheet" href="less/main.css">
    <link rel="stylesheet" href="less/Copyright.css">
    <link rel="stylesheet" href="less/Logo.css">
    <link rel="stylesheet" href="less/Course-selection.css">
</head>

<body>
       <footer class="Footer">
        <div class="wrapper">
            <a href="" class="Logo">T-Agency</a>
            <select name="Course-selection">
                <option> US Dolars</option>
                <option>UAH</option>
            </select>

            <div class="Footer__site-map">
                <h4 class="Footer__site-map_company">Company</h4>
                <a href="" class="Footer__site-map_company_item">About TripOp</a>
                <a href="" class="Footer__site-map_company_item">Work with us</a>
                <a href="" class="Footer__site-map_company_item">Press Room</a>
                <a href="" class="Footer__site-map_company_item">Become a Parent</a>
            </div>
            <div class="Footer__site-map">
                <h4 class="Footer__sitemap_discover">Discover</h4>
                <a href="" class="Footer__site-map_discover_item">How to book?</a>
                <a href="" class="Footer__site-map_discover_item">Methods of Payment</a>
                <a href="" class="Footer__site-map_discover_item">General Conditions</a>
                <a href="" class="Footer__site-map_discover_item">Privacy Policy</a>
                <a href="" class="Footer__site-map_discover_item">Site Map</a>
            </div>
            <div class="Footer__site-map">
                <h4 class="Footer__site-map_contact">Contact</h4>
                <a href="" class="Footer__site-map_contact_item">Contact Us</a>
                <a href="" class="Footer__site-map_contact_item">Facebook</a>
                <a href="" class="Footer__site-map_contact_item">Instagram</a>
                <a href="" class="Footer__site-map_contact_item">YouTube</a>
                <a href="" class="Footer__site-map_contact_item">Newsletter</a>
            </div>
            <div class="Footer__site-map">
                <h4 class="Footer__site-map_blog_caption">Blog</h4>
                <a href="" class="Footer__site-map_blog_item">Choosing A Static Caravan</a>
                <a href="" class="Footer__site-map_blog_item">Cost Cutting Ideas For Your Wedding</a>
                <a href="" class="Footer__site-map_blog_item">Do A Sporting Stag Do In Birmingham</a>
                <a href="" class="Footer__site-map_blog_item">YMother Earth Hosts Our TravelsouTube</a>
                <a href="" class="Footer__site-map_blog_item">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
            </div>


            <aside class="Copyright">© 2016 All rights reserved. </aside>
        </div>
    </footer>
</body>
</html>