<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    <link rel="stylesheet" href="less/Footer.css">
    <link rel="stylesheet" href="less/Destination.css">
    <link rel="stylesheet" href="less/Icons.css">
    <link rel="stylesheet" href="less/Navigation.css">
     <link rel="stylesheet" href="less/main.css">
    <link rel="stylesheet" href="less/Copyright.css">
</head>

<body>
  <header class="Destination">
        <h1 class="Destination__title">Antarctica</h1>
        <p class="Destination__description">Snow, ice, water, rock. Simply stunning.</p>
    </header>
    <nav class="Navigation">
        <a href="" class="Navigation__item">Summary</a>
        <a href="" class="Navigation__item">General</a>
        <a href="" class="Navigation__item">Sights</a>
        <a href="" class="Navigation__item">Weather</a>
        <a href="" class="Navigation__item">What to do</a>
        <a href="" class="Navigation__item">Recidental Guide</a>
        <a href="" class="Navigation__item">Photos</a>
    </nav>
    <div class="wrapper">
        <article class="Article">
            <h2 class="Article__title">Why you’ll love Antarctica</h2>
            <p class="Article__paragraphs">Preserved for peace and science, this ice-crowned continent rewards the traveler with inspiration, adventure and perspective. There’s </br> nothing quite like seeing ice shimmering in all directions, reflecting sunlight through each season, or the blazing twinkle of a velvet blanket of stars in winter. Wildlife roams freely, with penguins, seals and seabirds unafraid of human visitors.  <a href="" class="Link__read_more">Read more</a></p>
        </article>
         <div class="Statistic">
            <aside class="Statistic__item"> <img src="../img/trip.png" class="Icon__trip">
                <h4 class="Icon__caption">252</h4>
                <p class="Icon__description">Trip</p>
            </aside>
            <aside class="Statistic__item"> <img src="../img/srore.png" alt="" class="Icon__venues">
                <h4 class="Icon__caption">98</h4>
                <p class="Icon__description">Venues</p>
            </aside>
            <aside class="Statistic__item"><img src="../img/ticket.png" class="Icon__tickets">
                <h4 class="Icon__caption">456</h4>
                <p class="Icon__description">Tickets Sold</p>
            </aside>
            <aside class="Statistic__item"><img src="../img/chat.png" class="Icon__revies">
                <h4 class="Icon__caption">105</h4>
                <p class="Icon__description">Reviews</p>
            </aside>
        </div>
        <article class="Article">
            <h2 class="Article__title">What Antarctica is about</h2>
            <p class="Article__paragraphs">Antarctica consists of two main areas. East Antarctica (Greater Antarctica), and smaller West Antarctica (Lesser Antarctica) which also </br> has the Antarctic Peninsula. West Antarctica is an extension of the Andes mountains stretching from South America. It is thought that if </br>
            the ice sheet were removed, West Antarctica would actually be a collection of islands. <a href="" class="Link__read_more">Read more </a></p>
        </article>





        <article class="Section__block-article Section__block-article_left">
            <h3 class="Section__block-article_caption">No trees or bushes at all</h3>
            <p class="Section__block-article_description">Vegetation is limited to  about 350 species of mostly lichens, mosses, and algae. There are lush beds of such vegetation in some parts of the Antarctic Peninsula.  Lichens have been discovered growing on isolated mountains within 475 km (295 mls) of the South Pole.</p>
        </article>
        <img src="https://lh3.googleusercontent.com/-qJei38oOLCU/UUFjg-hChpI/AAAAAAAB1hs/z_oAOxnDfF4/w506-h750/iceberg.jpg" alt="" class="Section__img Section__img_position_right">

        <article class="Section__block-article Section__block-article_right">
            <h3 class="Section__block-article_caption">Wildlife of Antarctica</h3>
            <p class="Section__block-article_description">The most abundant and best known animals from the southern continent. Penguins, whales seals, albatrosses, other seabirds and a range of invertebrates you may have not heard of such as krill which form the basis of the Antarctic food web. </p>
        </article>
        <img src="https://imagesvc.timeincapp.com/v3/mm/image?url=http%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1488468996%2Fantarctica-penguins-ANTARCTIC317.jpg%3Fitok%3DPr-bsNaq&w=700&q=85" alt="" class="Section__img Section__img_position_left">




        <section class="Article Section__atribute">
            <h2 class="Section__caption">King Penguins</h2>
            <aside class="Section__atribute_hover"> Hover for more info</aside>
            <img src="img/atribut.png" alt="" class="Section__atribute_image">
            <p class="Section__description">King penguins are one of the species that people think of when the think of penguins. Along with Adelie penguins, and Emperor penguins they have come to represent the whole group. They are very upright, dignified and handsome birds and when they emerge from the sea pristine and glistening there can be no cleaner or more elegant creature around.</p>
        </section>

    </div>
    <footer class="Footer">
      <div class="Footer__wrapper">
          <div class="Footer__info">
              <a href="" class="Footer__logo">T-Agency</a>
              <select name="Footer__select">
                  <option> US Dolars</option>
                  <option>UAH</option>
              </select>
          </div>
          <div class="Footer__site-map">
              <div>
                  <h4 class="Footer__company">Company</h4>
                  <a href="" class="Footer__site-map-item">About TripOp</a>
                  <a href="" class="Footer__site-map-item">Work with us</a>
                  <a href="" class="Footer__site-map-item">Press Room</a>
                  <a href="" class="Footer__site-map-item">Become a Parent</a>
              </div>
              <div>
                  <h4 class="Footer__discover">Discover</h4>
                  <a href="" class="Footer__site-map-item">How to book?</a>
                  <a href="" class="Footer__site-map-item">Methods of Payment</a>
                  <a href="" class="Footer__site-map-item">General Conditions</a>
                  <a href="" class="Footer__site-map-item">Privacy Policy</a>
                  <a href="" class="Footer__site-map-item">Site Map</a>
              </div>
              <div>
                  <h4 class="Footer__contact">Contact</h4>
                  <a href="" class="Footer__site-map-item">Contact Us</a>
                  <a href="" class="Footer__site-map-item">Facebook</a>
                  <a href="" class="Footer__site-map-item">Instagram</a>
                  <a href="" class="Footer__site-map-item">YouTube</a>
                  <a href="" class="Footer__site-map-item">Newsletter</a>
              </div>
              <div>
                  <h4 class="Footer__blog-caption">Blog</h4>
                  <a href="" class="Footer__site-map-item">Choosing A Static Caravan</a>
                  <a href="" class="Footer__site-map-item">Cost Cutting Ideas For Your Wedding</a>
                  <a href="" class="Footer__site-map-item">Do A Sporting Stag Do In Birmingham</a>
                  <a href="" class="Footer__site-map-item">YMother Earth Hosts Our TravelsouTube</a>
                  <a href="" class="Footer__site-map-item">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
              </div>
          </div>
      </div>
      <aside class="Copyright">© 2016 All rights reserved. </aside>
    </footer>
</body>

</html>