<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <!--<link rel="stylesheet" href="style/12_col760px.css">-->
    <link rel="stylesheet" href="style/Product-small.css">
</head>
<body class="Grid">
<article class="Product-small">
    <div class="Grid__cell_6 Grid__prefix_3">
        <h2 class="Product-small__header">Our accessory for ladies</h2>
    </div>
    <div class="Grid__cell_8 Grid__prefix_2">
        <h3 class="Product-small__description">Creating Remarkable ladies bags Prints in 2 Colors Combination</h3>
    </div>
    <div class="Grid__cell_12 Grid__row">
        <div class="Grid__cell_3 Grid__cell_alpha">
            <figure class="Product-small__item">
                <img class="Product-small__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_220,w_220/v1513913669/752fb5187527204fa4fed90d6a195e84--popular-handbags-designer-handbags_lnj5ii.jpg" alt="bag">
                <figcaption class="Product-small__caption">Snake bag</figcaption>
            </figure>
        </div>
        <div class="Grid__cell_3 Grid__cell_omega">
            <figure class="Product-small__item">
                <img class="Product-small__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_pad,h_220,w_220/v1513913488/w-11699322_dtgxy3.jpg" alt="bag">
                <figcaption class="Product-small__caption">Woman bag</figcaption>
            </figure>
        </div>
        <div class="Grid__cell_3 Grid__cell_alpha">
            <figure class="Product-small__item">
                <img class="Product-small__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_improve,h_220,w_220/v1513913847/0a0904c0604a143dfb92089ea348a267--leather-handbags-leather-bags_mrkxsu.jpg" alt="bag">
                <figcaption class="Product-small__caption">Fashionest bag</figcaption>
            </figure>
        </div>
        <div class="Grid__cell_3 Grid__cell_omega">
            <figure class="Product-small__item">
                <img class="Product-small__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_pad,e_fill_light:70,g_center,h_220,w_220/v1513911113/4ac429c3bf8e7ddf66938bc46f94133e--coach-shoulder-bag-shoulder-bags_ggdtvq.jpg" alt="bag">
                <figcaption class="Product-small__caption">Black stylish bag</figcaption>
            </figure>
        </div>
        <div class="Grid__cell_3 Grid__cell_alpha">
            <figure class="Product-small__item">
                <img class="Product-small__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_improve,h_220,w_220/v1513913030/High-Heel-shoes-for-bride-2017-Design-20k_zoxztk.jpg" alt="shoes">
                <figcaption class="Product-small__caption">Futures shoes</figcaption>
            </figure>
        </div>
        <div class="Grid__cell_3 Grid__cell_omega">
            <figure class="Product-small__item">
                <img class="Product-small__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_improve,h_220,w_220/v1513913392/66a78435-748a-4699-ac2e-4ae1d918e1d1_dpzaea.jpg" alt="shoes">
                <figcaption class="Product-small__caption">Nice Shoes</figcaption>
            </figure>
        </div>
        <div class="Grid__cell_3 Grid__cell_alpha">
            <figure class="Product-small__item">
                <img class="Product-small__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_pad,h_220,w_220/v1513912062/black-leather-bridal-shoes_fashion-classics-peep-toe-buckle-trap-high-heels-sandals-shoes-woman-black_nwuhip.jpg" alt="shoes">
                <figcaption class="Product-small__caption">Fashionest sandals</figcaption>
            </figure>
        </div>
        <div class="Grid__cell_3 Grid__cell_omega">
            <figure class="Product-small__item">
                <img class="Product-small__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_pad,h_220,w_220/v1513912105/item_XL_26691140_73477627_sfmhth.jpg" alt="shoess">
                <figcaption class="Product-small__caption">Stylish sandals</figcaption>
            </figure>
        </div>
    </div>
</article>
</body>
</html>