<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Section-description.css">
</head>
<body class="Grid">
  <article class="Section-description">
      <div class="Grid__cell_4 Grid__prefix_4">
        <h3 class="Section-description__header">STYLERS PHILOSOPHY</h3>
      </div>
      <div class="Grid__cell_6 Grid__prefix_3">
        <h2 class="Section-description__title">Simplicity & perfection</h2>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
        <p class="Section-description__description">The punk and cheeky version of the iconic “chaîne d’ancre” link is an ode to the wonders of time.<br>
            Prepare to be hooked.</p>
      </div>
      <div class="Grid__cell_2 Grid__prefix_5">
          <a class="Section-description__link" href="#">Tear and create</a>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
          <img class="Section-description__image" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:primavera,h_424,w_752/v1513215285/pexels-photo-206296_znhguv.jpg" alt="">
      </div>
  </article>
  <article class="Section-description">
      <div class="Grid__cell_4 Grid__prefix_4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolorem eius, eos error id laboriosam modi nisi nobis nulla numquam, odio optio perferendis quaerat qui quidem quisquam veritatis! Neque, ratione?
      </div>
      <div class="Grid__cell_6 Grid__prefix_3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, consequatur deleniti, deserunt dignissimos doloremque illum iste laborum molestias neque nesciunt placeat quaerat quas quasi sint sunt voluptate. Asperiores, quidem.
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis natus tempore vero. Culpa, dolor dolorem eos esse in nostrum porro temporibus unde. Alias enim quidem quos similique! Illum, quod!
      </div>
      <div class="Grid__cell_2 Grid__prefix_5">
          <a href="#">Tear and create</a>
      </div>
      <div class="Grid__cell_8 Grid__prefix_2">
          <img src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_424,w_752/v1513250638/makeup-brush-1768790_640_uujdzz.jpg" alt="">
      </div>

  </article>
</body>
</html>