header {
  position: fixed;
  height: 45px;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
  background-color: #4267B2;
  border-bottom: #29487d solid 1px;
}
header * {
  position: absolute;
  width: 1200px;
  left: calc(25% - 300px);
  right: calc(75% - 900px);
}
header input {
  left: 45px;
  margin-top: 10px;
  width: 500px;
  height: 24px;
}
header i.fa.fa-search {
  left: 550px;
  margin: 10px 5px 5px 1px;
  background-color: #F6F7F9;
  font-size: 15px;
  padding: 5px 15px 5px 10px;
  border-radius: 2px;
  width: 10px;
}
header i.fa.fa-search:hover {
  background-color: #D6D6D6;
}
a.header-nav__h-icon {
  text-decoration: none;
}
a.header-nav__h-icon i {
  color: #1A2947;
  margin: 10px;
  font-size: 25px;
}
a.header-nav__h-icon:hover i {
  color: #0D1524;
}
#logo {
  margin: 10px 0 0 10px;
  width: 25px;
}
.header-nav .user-profile__user-pic {
  left: 650px;
  width: 30px;
  margin-top: 5px;
  border-radius: 50%;
}
#user-name,
#home {
  padding: 2px 10px 2px 10px;
  margin-top: 10px;
  font-size: 18px;
  font-family: Gill Sans, sans-serif;
  font-weight: 500;
  color: white;
}
