@import "vars.less";

.tool-bar {
  position: fixed;
  top: @main-top + 5px;
  width: 240px;
  line-height: 25px;
  overflow: auto;
  bottom: 0;
  padding-left: 10px;
  font-size: 14px;
  left: calc(~"25% - 300px");
}

.news-feed {
  position: relative;
  margin: 10px;
  left: calc(~"25% - 60px");
  top: @main-top;
  width: 500px;
}

.ad-feed {
  top: @main-top;
}

.ad-feed__block {
  padding: 5px;
}

