@import "vars.less";

.ad-feed__block-language {
  color: @main-blue;
  font-size: small;
  &.active {
    color: @grey-info;
  }
}

.ad-feed__footer-info {
  color: @grey-info;
  font-size: small;
}

footer {
  margin: 10px;
  padding-left: 10px;
}