body {
  margin: 0;
  background-color: #E9EBEE;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/*===================================================*/
header {
  position: fixed;
  height: 45px;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
  background-color: #4267B2;
  border-bottom: #29487d solid 1px;
}
header * {
  position: absolute;
  width: 1200px;
}
header input {
  left: 45px;
  margin-top: 10px;
  width: 500px;
  height: 24px;
}
header i.fa.fa-search {
  left: 550px;
  margin: 10px 5px 5px 1px;
  background-color: #F6F7F9;
  font-size: 15px;
  padding: 5px 15px 5px 10px;
  border-radius: 2px;
  width: 10px;
}
header i.fa.fa-search:hover {
  background-color: #D6D6D6;
}
#logo {
  margin: 5px 0 0 10px;
  font-size: 30px;
}
#user-name span {
  left: 680px;
}
#user-name img.userpic {
  left: 650px;
  width: 30px;
  margin-top: 5px;
}
#home {
  left: 740px;
}
#user-name span,
#home {
  padding: 2px 10px 2px 10px;
  margin-top: 10px;
  font-size: 18px;
  font-family: Gill Sans, sans-serif;
  font-weight: 500;
  color: white;
}
#friend-req {
  left: 850px;
}
#messages {
  left: 890px;
}
#notifications {
  left: 930px;
}
#help {
  left: 990px;
}
#other-info {
  left: 1030px;
}
/*===================================================*/
.tool-bar {
  position: fixed;
  top: 50px;
  width: 240px;
  line-height: 25px;
  overflow: auto;
  bottom: 0;
  padding-left: 10px;
  font-size: 14px;
}
.tool-bar li {
  padding: 5px;
}
.tool-bar li:not(.see-more-li):active {
  background-color: #DDDFE2;
}
.tool-bar li:not(.see-more-li):hover {
  background-color: #F6F7F9;
  text-decoration: none;
  padding: 5px;
  border: #dddfe2 solid 1px;
  border-radius: 3px;
}
#main-section h5 {
  color: #90949C;
  margin: 5px;
}
h4 {
  color: #4B4F56;
  margin-top: 5px;
}
/*===================================================*/
#main-section__news-feed {
  position: absolute;
  margin: 10px;
  left: 250px;
  top: 45px;
  width: 500px;
}
#news-feed__make-post {
  background-color: #F6F7F9;
  padding: 10px;
  border: #dddfe2 solid 1px;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  font-size: 14px;
}
#news-feed__make-post a:not(.active) {
  color: #365899;
}
#news-feed__post-content {
  padding: 10px;
  size: 50px;
  background: white;
  font-size: 14px;
  border-left: #dddfe2 solid 1px;
  border-right: #dddfe2 solid 1px;
  border-bottom: #dddfe2 solid 1px;
}
#post-content__add-content {
  padding: 15px 0 10px 0;
  margin-top: 5px;
  border-top: #dddfe2 solid 1px;
}
#post-content__add-content a {
  background-color: #F6F7F9;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  color: #4b4f56;
  font-weight: bold;
}
#post-content__add-content a:hover {
  background-color: #DDDFE2;
}
#main-section__facebook-post div {
  background-color: white;
  margin: 10px auto 10px auto;
  padding: 10px;
  border: #dddfe2 solid 1px;
  border-radius: 3px;
}
#main-section__facebook-post img {
  max-width: 100%;
  max-height: 100%;
}
#main-section__facebook-post .user-profile,
#main-section__facebook-post .add-info {
  color: #365899;
}
#main-section__facebook-post img.userpic {
  height: 45px;
  width: 45px;
}
div.user-post__comments {
  border: #DDDFE2 solid 1px;
  border-radius: 3px;
  padding: 20px 0 20px 0;
}
div.user-post__comments form {
  position: relative;
  left: 10px;
}
/*===================================================*/
#main-section__ad-feed {
  position: absolute;
  top: 45px;
  left: 760px;
  /*calc(25% + 452px);*/
  width: 310px;
}
div.ad-feed__block {
  background-color: white;
  border: #dddfe2 solid 1px;
  margin: 10px;
  padding: 5px;
}
#block__stories div {
  display: inline-block;
  margin: 0 2px 0 2px;
  padding: 2px;
  background-color: #F6F7F9;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
a.block__stories_new-story img {
  height: 45px;
  border: #557AD5 solid 2px;
  border-radius: 50%;
  padding: 2px;
}
/*---------------------------------------------------*/
div.block__friend-suggestion {
  margin: 15px 5px 15px 5px;
  padding: 0 2px 0 2px;
}
div.block__friend-suggestion img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  margin: 5px 10px auto auto;
}
div.block__friend-suggestion a.user-name {
  font-size: 14px;
  color: #365899;
  font-weight: bold;
}
div.block__friend-suggestion a.mutual-frs {
  font-size: 12px;
  color: #90949c;
}
div.block__friend-suggestion div * {
  margin: 0;
}
/*---------------------------------------------------*/
#block__events {
  font-size: small;
  margin: 5px;
}
#block__language a:not(#eng) {
  color: #365899;
}
#block__language a:not(#eng):hover {
  text-decoration: underline;
}
#main-section__ad-feed footer {
  position: relative;
  width: 285px;
  left: 5px;
  padding-left: 10px;
  font-size: small;
  margin: 5px;
}
#main-section__ad-feed footer a {
  color: #616770;
}
/*===================================================*/
.friends-and-games {
  position: fixed;
  top: 45px;
  bottom: 0;
  right: 0;
  width: 200px;
  overflow: auto;
  z-index: -5;
  border: #a1a6ba solid 1px;
  padding-left: 5px;
}
.friends-and-games h6 {
  margin: 5px;
  color: #a1a6ba;
}
.friends-and-games h6 a {
  color: #a1a6ba;
  float: right;
}
.friends-and-games img {
  height: 20%;
  width: 20%;
  border-radius: 50%;
}
#your-games,
#recommended-games {
  border-bottom: #a1a6ba solid 1px;
  padding-bottom: 5px;
}
#online-friends,
#more-contacts {
  overflow: auto;
  position: relative;
  height: 45%;
  padding: 3px;
  margin: 3px;
}
#online-friends {
  border-bottom: #a1a6ba solid 1px;
}
#online-friends a {
  line-height: 3px;
  color: black;
}
#online-friends span {
  background: #42b72a;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-left: 4px;
  width: 6px;
}
#more-contacts {
  border-top: #a1a6ba solid 1px;
}
#more-contacts a {
  line-height: 3px;
  color: black;
}
#more-contacts h5 {
  padding-top: 5px;
  margin: 2px;
}
.friends-and-games footer input {
  position: fixed;
  width: 180px;
  height: 25px;
  bottom: 0;
  border: #a1a6ba solid 1px;
  border-radius: 3px;
  right: 26px;
}
.friends-and-games footer button {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 26px;
  padding: 5px 5px 5px 3px;
  height: 25px;
}
/*===================================================*/
img.userpic {
  border-radius: 50%;
}
#user-name img.userpic {
  left: 650px;
  width: 30px;
  margin-top: 5px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
a.user-profile {
  font-weight: bold;
}
a.user-profile:hover {
  text-decoration: underline;
}
a:not(.see-more):link,
a:not(.see-more):visited {
  color: black;
  text-decoration: none;
}
a.add-info:hover {
  text-decoration: underline;
}
a.h-icon i {
  color: #1A2947;
  margin: 10px;
  font-size: 25px;
}
a.h-icon:hover i {
  color: #0D1524;
}
.who-liked i {
  color: #365899;
}
#eng,
.like-com-share i {
  color: #616770;
}
time {
  color: #90949C;
  font-size: small;
}
a.see-more {
  font-size: 13px;
  color: #365899;
}
a.see-more:hover {
  text-decoration: underline;
}
.tool-bar a.see-more:visited,
#main-section a.see-more:visited {
  color: #365899;
}
