<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Help-info.css">
</head>
<body>
<div class="Help-info Grid__cell_6">
    <h2 class="Help-info__header">Here to help</h2>
    <p class="Help-info__text">Have a question? You may find an answer in our FAQs.
        But you can also contact us:</p>
    <p class="Help-info__link">Call 100-444-7700</p>
    <p class="Help-info__text">Monday to Friday: 9:00 a.m. - 6:00 p.m. & Thursday: 9:00 a.m. - 7:00 p.m. ET Saturday: 10:00 a.m. - 6:00 p.m.</p>
    <p class="Help-info__link">Send us an email</p>
</div>
<div class="Help-info Grid__cell_6">
    <h2 class="Help-info__header">Meshe parteners</h2>
    <p class="Help-info__text">Check ou our parteners:</p>
    <p class="Help-info__link">check all here</p>
</div>
</body>
</html>