<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Subscribe.css">
    <link rel="stylesheet" href="style/12_col.css">
</head>
<body class="Grid">
    <section class="Subscribe">
        <div class="Subscribe__top">
            <div class="Subscribe__call-to-action">
                <h3 class="Subscribe__header">Let’s keep the conversation going</h3>
                <p class="Subscribe__description">Receive our newsletter and discover our stories, collections, and surprises.</p>
            </div>
            <form class="Subscribe__form" action="#">
                <input class="Subscribe__input" type="text" placeholder="E-mail">
                <button class="Subscribe__button">Subscribe</button>
            </form>
        </div>
        <p class="Subscribe__details">By subscribing to our newsletter, you agree that your data will be processed in compliance with our General
            <a class="Subscribe__details Subscribe__details_link" href="#">Terms and Conditions of Use</a> and our <a class="Subscribe__details Subscribe__details_link" href="#">Privacy Policy</a></p>
    </section>
</body>
</html>