<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Sitemap.css">
    <link rel="stylesheet" href="style/Social-media.css">
    <link rel="stylesheet" href="style/Logo.css">
</head>
<body>
<footer>
    <div class="Grid">
        <nav class="Sitemap">
            <div class="Grid__cell_3 Grid__alpha">
                <section class="Sitemap__section">
                    <p class="Sitemap__section-title">Services</p>
                    <a class="Sitemap__item" href="#">Contact Us</a>
                    <a class="Sitemap__item" href="#">FAQ</a>
                    <a class="Sitemap__item" href="#">Find a store</a>
                    <a class="Sitemap__item" href="#">Gifting</a>
                    <a class="Sitemap__item" href="#">Made to Measure</a>
                </section>
            </div>
            <div class="Grid__cell_3 Grid__omega">
                <section class="Sitemap__section">
                    <p class="Sitemap__section-title">Orders</p>
                    <a class="Sitemap__item" href="#">Payment</a>
                    <a class="Sitemap__item" href="#">Shipping</a>
                    <a class="Sitemap__item" href="#">Collect in store</a>
                    <a class="Sitemap__item" href="#">Track orders</a>
                    <a class="Sitemap__item" href="#">Exchange & returns</a>
                </section>
            </div>
            <div class="Grid__cell_3">
                <section class="Sitemap__section">
                    <p class="Sitemap__section-title">Diamond House</p>
                    <a class="Sitemap__item" href="#">The Hermès Foundation</a>
                    <a class="Sitemap__item" href="#">Careers</a>
                    <a class="Sitemap__item" href="#">Find a store</a>
                    <a class="Sitemap__item" href="#">Finance</a>
                    <a class="Sitemap__item" href="#">Our partner brands</a>
                </section>
            </div>
            <div class="Grid__cell_3">
                <section class="Sitemap__section">
                    <p class="Sitemap__section-title">Legal</p>
                    <a class="Sitemap__item" href="#">Terms and conditions</a>
                    <a class="Sitemap__item" href="#">Privacy & cookies</a>
                    <a class="Sitemap__item" href="#">BCR</a>
                    <a class="Sitemap__item" href="#">California Supply Act</a>
                    <a class="Sitemap__item" href="#">Legal issues</a>
                    <a class="Sitemap__item" href="#">Accessibility</a>
                </section>
            </div>
        </nav>
    </div>
    <hr>
    <section class="Social-media">
        <div class="Grid">
            <div class="Grid__cell_3">
                <a href="#"> <img class="Social-media__icons" src="/img/40-google-plus-128.png" alt=""></a>
                <a href=""><img class="Social-media__icons" src="/img/twitter.png" alt=""></a>
                <a href=""> <img class="Social-media__icons" src="/img/facebook-2048-black.png" alt=""></a>
                <a href=""><img class="Social-media__icons" src="/img/instagram_PNG8.png" alt=""></a>
            </div>
            <div class="Grid__cell_4 Grid__prefix_5">
                <section class="Social-media__copyright">
                    Morocco   © Copyright Uixone, Sarl  2017
                </section>
            </div>
        </div>
    </section>
    <div class="Grid">
        <div class="Logo Grid__cell_2 Grid__prefix_5">
            <img class="Logo__image" src="../img/Diamond-logo.png">
            <p class="Logo__name">DIAMOND</p>
            <p class="Logo__description">--fashion--</p>
        </div>
    </div>

</footer>

</body>
</html>
