.Button{
&__action{
  &_blue{
    display: block;
    padding: 5px 15px;
    max-width: 9.375rem;
    font-size: 1.25rem;
    font-weight: 400;
    min-width: 7rem;
    color: #FFF;
    border: 3px solid #00ADEF;
    background-color: #00ADEF;
    margin-top: 24vh;
    margin-left: 87vh;
    }
  }

}