.Layout {
  &__header {
    position: fixed;
    height: 45px;
    width: 100%;
    background-color: #fff;
    padding-bottom:10px;
  }
  @media (max-width: 768px) {
    &__header {
      height: 40px;
      background-color: #fff;
      padding-bottom:0;
      position: fixed;
      width: 100%;
    }
  }
  &__intro{
    background-image: url("../images/cover.png");
    background-repeat: no-repeat;
    background-size: auto 70vh;
  }
}