body{
    font-family: arial,sans-serif;
    margin:0;
}
.nav-1 {
    background-color: #F1F1F1;
    border-bottom: 1px solid #cecaca;
}

#grid-nav-1, #grid-nav-2, #grid-nav-3 {
    display: grid;
}

#grid-nav-1 {
    grid-template-columns: 202px 1fr 352px; /* three columns */
    grid-template-rows: 60px auto auto; /* three rows  */
}

#grid-nav-2 {
    grid-template-columns: 202px 1fr; /* three columns */
    grid-template-rows: 60px auto; /* three rows  */
}

#grid-nav-3 {
    grid-template-columns: 202px 300px auto; /* three columns */
    grid-template-rows: 515px auto auto; /* three rows  */
}

#nav-search-input{
    width: 600px;
    height: 30px;
    border: 1px solid #cecaca;
    padding: 0;
    margin: 0;

}

#nav-submit-input{
    padding: 0;
    width: 60px;
    height: 30px;
    background-color: #4485F4;
    border: 1px solid #4485F4;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    margin-left: -4px;
    margin-top: 5px;
    }

#circle-photo {
    border-radius: 15px;
    margin-top: 1%;
}
#logo-nav img{
    float:right;
margin-top: 2%;
    margin-left: 20px;
}
#mail-nav-2 {
    color: #D64937;
    font-stretch: ultra-condensed;
    font: 1.5em serif;
    text-align: center;
}



#logo-inline {
    align-items: center;
    display: inline-flex;
}

.nav-button-style {
    border-radius: 4px;
    border: 1px solid #cecaca;
    background-color: #F1F1F1;
    width: 69px;
    height: 29px;

}

#nav-group-left {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: 20px;

}

#nav-group-right {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-right: 20px;
}

#nav-group-middle {
    border-radius: 0px;

}

#nav-item-margin {
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

#aside-red-button {
    background-color: #D64937;
    width: 130px;
    height: 35px;
    color: white;
    border: 1px solid #D64937;
    border-radius: 3px;
    margin-top: 3%;
    margin-left: 10%;
}

ul > li {
    list-style: none;
}

.nav-ul li:before {
    color: red;
    content: "|";
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #cecaca;
}


.grid-item{
    /*border: solid black;*/

    /*border-radius: 10px;*/
    /*background-color: lightpink;*/
    /*padding: .2em;*/
    /*margin:10px 10px 10px 10px;*/
    border-top: 0.7px solid #cecaca;
    /*border-bottom: 1px solid #cecaca;*/


    /*padding: 10px;*/
}

#check-nav {
    border: 1px solid #fff;
    border-radius: 5px;
}
.inline-flex-container {
    display: -webkit-flex;
    display: flex;
    /*margin-right:10px;*/

    /*background-color: lightgrey;*/
}
/*.inline-flex-container div{*/
    /*!*background-color: cornflowerblue;*!*/

    /*!*width: 20px;*!*/

/*}*/
#left{
    width: 10%;
    margin: 0;
}
#medium{
    width: 80%;
}
#right{
    text-align: right;
    width: 9%;
}
h4{
    /*line-height: 0.1;*/
}

p{
margin: 0;
    text-decoration: none;
    font-size: 15.5px;
    color: #222222;
    line-height: 1.5;
}

h4{
    font-weight: 1;
    text-decoration: none;
    font-size: 15.5px;
    color: #222222;
    margin: 0;
}
small{
    color: #777;
    text-decoration: none;
    font-size: 15.5px;
    line-height: 1.5;

}

.inline-flex-container div{
    /*background-color: #D64937;*/
    /*display: inline-flex;*/
    /*border: solid black;*/
    /*margin:5px;*/
}
.logo{
height: 31px;
    width: 31px;
margin-left: 15px;
 /*aling:right;*/
}
#margin-item{
    margin-left:10px;
    margin-right:5px;

}
#center-text{
    text-align: center;
}
#blue-text{
    text-align: center;
    color: #4485F4;
}
p a{
    text-decoration: none;
}
.inline-flex-container li{
    float: right;
}
.big-margin p{
    margin-top:60px;
}
