<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/app.css">
    <link rel="stylesheet" href="less/Footer.css">
</head>
<body>
       <footer class="Footer">
           <div class="Footer__wrapper">
               <div class="Footer__info">
                   <a href="" class="Footer__logo">T-Agency</a>
                   <select name="Footer__select">
                       <option> US Dolars</option>
                       <option>UAH</option>
                   </select>
               </div>
               <div class="Footer__site-map">
                   <div>
                       <h4 class="Footer__company">Company</h4>
                       <a href="" class="Footer__site-map-item">About TripOp</a>
                       <a href="" class="Footer__site-map-item">Work with us</a>
                       <a href="" class="Footer__site-map-item">Press Room</a>
                       <a href="" class="Footer__site-map-item">Become a Parent</a>
                   </div>
                   <div>
                       <h4 class="Footer__discover">Discover</h4>
                       <a href="" class="Footer__site-map-item">How to book?</a>
                       <a href="" class="Footer__site-map-item">Methods of Payment</a>
                       <a href="" class="Footer__site-map-item">General Conditions</a>
                       <a href="" class="Footer__site-map-item">Privacy Policy</a>
                       <a href="" class="Footer__site-map-item">Site Map</a>
                   </div>
                   <div>
                       <h4 class="Footer__contact">Contact</h4>
                       <a href="" class="Footer__site-map-item">Contact Us</a>
                       <a href="" class="Footer__site-map-item">Facebook</a>
                       <a href="" class="Footer__site-map-item">Instagram</a>
                       <a href="" class="Footer__site-map-item">YouTube</a>
                       <a href="" class="Footer__site-map-item">Newsletter</a>
                   </div>
                   <div>
                       <h4 class="Footer__blog-caption">Blog</h4>
                       <a href="" class="Footer__site-map-item">Choosing A Static Caravan</a>
                       <a href="" class="Footer__site-map-item">Cost Cutting Ideas For Your Wedding</a>
                       <a href="" class="Footer__site-map-item">Do A Sporting Stag Do In Birmingham</a>
                       <a href="" class="Footer__site-map-item">YMother Earth Hosts Our TravelsouTube</a>
                       <a href="" class="Footer__site-map-item">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                   </div>
               </div>
           </div>
            <aside class="Footer__copy">© 2016 All rights reserved. </aside>
      </footer>
</body>
</html>