<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Section.css">
     <link rel="stylesheet" href="less/main.css">
    <link rel="stylesheet" href="less/Icons.css">
</head>

<body>
        <div class="Icon">
            <aside> <img src="../img/trip.png" class="Icon__trip">
                <h4 class="Icon__caption">252</h4>
                <p class="Icon__description">Trip</p>
            </aside>
            <aside> <img src="../img/srore.png" alt="" class="Icon__venues">
                <h4 class="Icon__caption">98</h4>
                <p class="Icon__description">Venues</p>
            </aside>
            <aside><img src="../img/ticket.png" class="Icon__ticets">
                <h4 class="Icon__caption">456</h4>
                <p class="Icon__description">Tickets Sold</p>
            </aside>
            <aside><img src="../img/chat.png" class="Icon__revies">
                <h4 class="Icon__caption">105</h4>
                <p class="Icon__description">Reviews</p>
            </aside>
        </div>
</body>
</html>