
block{
  display: flex;
  align-items: center;
  margin-top: 30px;



  &__item {
    font-weight: normal;
    -webkit-flex: 1; /* Safari 6.1+ */
    flex: 1;
    color: black;
    font-size: 20px;
  }

  &__item a {
    color: black;
  }

  &__item_main {
    font-size: 1.9em;
    line-height: 1.2;
    text-decoration: none;
  }

  &__item_secondary {
    line-height: 1.3;
    font-size: 20px;

  }

  &__one-by-one {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }}