.layout {
  margin: 0;
  background: #ccc;

  &_debug-mode {
    background: blueviolet;

    .layout__header { background-color: red; }
    .layout__sidebar { background-color: #1A2947; }
    .layout__main { background-color: green; }
  }

  &__header {
    height: 30px;
    position: fixed;
    width: 100%;
    top: 0;
  }

  &__sidebar {
    position: fixed;
    width: 150px;
    top: 30px;
    bottom: 0;
    overflow: auto;
  }

  &__main {
    margin-top: 30px;
    margin-left: 150px;
  }

}

