<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/creator_tools.css">
    <title>Document</title>
</head>
<body>
    <section class="Creator__tools">
        <div class="Creator__tools_wrapper">

        <aside class="Creator__tools_advertising">
            <h2 class="Creator__tools_advertising_title">Get powerful video tools, made for creators and brands</h2>

           <form class="Creator__tools_advertising-stuf">
            <a href="">Review videos with collaborators</a>


            <a href="">Drive engagement and embed anywhere</a>


            <a href=""> Easily see how your videos are performing</a>
           </form>

        </aside>

        <aside class="Creator__tools_player-conteiner">
            PLAYER HERE
        </aside>

        <footer class="Creator__tools_additional-info">
            <p class="Creator__tools_additional-info_title">
                We’ve got tons more features to help your videos go further. See our plans for hosting, live streaming, and selling your videos.
            </p>
            <a class="">Learn more</a>
        </footer>
        </div>
    </section>
</body>
</html>