<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/creator_tools.css">
    <title>Document</title>
</head>
<body>
    <section class="Creator__tools">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus aut autem doloremque magnam maiores, praesentium quia sapiente soluta!
        Eum exercitationem facere illum labore magnam maxime mollitia numquam odit quibusdam ratione.
    </section>
</body>
</html>