<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/layout.less">

</head>
<body class="Layout">
<header class="Layout__header">
    <div class="Layout__header-wrapper">
        Lorem ipsum dolor sit amet.
    </div>
</header>
<section class="Layout__payload">
    <main class="Layout__news-line">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aperiam aut blanditiis cumque earum eum fugit itaque maiores minima minus molestiae, non nostrum quod repellat rerum sequi voluptatem voluptatibus! lorem*10</main>
</section>
<aside class="Layout__chat"> lorem*10Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Alias assumenda atque aut consequuntur corporis delectus, dolor doloribus ea eligendi illo labore modi natus nesciunt odio porro sequi tenetur veritatis voluptatum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id modi numquam rerum sunt.
    Illo in sapiente tempora! Assumenda atque cumque minima nisi numquam quibusdam repudiandae sit tempore totam voluptatum?</aside>
</body>
</html>