<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link rel="stylesheet" href="style/Video-intro.css">
    <link rel="stylesheet" href="style/common.css">
</head>
<body>
    <section class="Video-intro">
        <h1 class="main-title">Where videos come first</h1>
    </section>
</body>
</html>