.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__logo {
  position: absolute;
  left: 70px;
  top: 16px;
}

.form__search {
  height: 30px;
  width: 590px;
  left: 240px;
  position: absolute;
  top: 10px;
}

.header__search-button {
  position: relative;
  left: 830px;
  top: 9px;
  height: 32px;
}

.header__nav {
  position: relative;
  float: right;
  bottom: 15px;
  right: 20px;
}