.Search {
  height: 30px;
  width: 590px;
  line-height: 26px;
  border: 1px solid lightgrey;
  border-right: none;
  border-radius: 2px;
  background: white;
  display: inline-block;
  overflow: hidden;
  float: left;

  &__input {
    width: 553px;
    height: 27px;
    border: none;
    padding-left: 6px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  &__keyboard {
    background-image: url(../images/search-keyboard.gif);
    display: inline-block;
    height: 11px;
    line-height: 0;
    width: 19px;
  }

  &__activate-button {
    height: 32px;
    width: 47px;
    color: transparent;
    border: 1px solid lightgray;
    vertical-align: sub;
  }

  &__icon-loupe {
    background-image: url(../images/search-button.png);
    background-size: 24px auto;
    background-repeat: no-repeat;
    background-position: 1px -336px;
    display: block;
    color: transparent;
    height: 15px;
    width: 15px;
    margin-left: 6px;
    margin-top: 5px;
  }
}