body {
    margin:0;
    font-family: Roboto, Arial, sans-serif;
}
header {
    display: flex;
    position:fixed;
    height:40px;
    width: 100%;
    background-color: #FFFFFF;
    padding:16px 24px 0;
}
header *{
    vertical-align: middle;
}

header img {
    max-width: 20px;
    max-height: 20px;

}

.header-left img:last-child {
    margin-left: 50px;
    max-width: 80px;
    max-height: 24px;
}

header input {

    width: 578px;
    height: 17px;
    /*border: none;*/
    /*box-shadow: none;*/
    /*border-radius: 0px 0px 0px 0px;*/

}

header button {
    height: 30px;
    width:65px;
}

header button img {
    max-height: 15px;
    max-width: 15px;
}

.header-left {
    display:flex;
    /*display:inline-block;*/
    width: 256px;
    height:24px;
    /*margin-right:50px;*/
}
.header-right {
    display:flex;
    align-content: space-around;
    width:calc(100% - 256px);
    height:24px;
}

.header-search {
    display:flex;
    height:24px;
    width: 700px;

}
.header-menu {
    display:flex;
    width: 200px;
    height:24px;
    margin-left: auto;
    padding-right: 16px;
}

.header-menu img {
    margin-left: 20px;
}

.header-menu img:last-child {
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%
}



aside {
    display: inline-block;
    background-color: #F4F4F4;
    position: fixed;
    margin-top:56px;
    width:280px;
    height: 92%;
    padding:10px 0 10px;
    overflow: hidden;
}

aside:hover {
    overflow-y: scroll;
}

aside div:not(.aside-footer) {
    width:256px;
    height: 35px;
    padding:10px 24px 0;
}

aside  div:not(.aside-footer):hover {
    background-color: #EAEAEA;
}

aside h3 {
    color:rgba(17, 17, 17, 0.6);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    margin-left: 24px;
}
aside  span {
    color:#000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-left:30px;
}
.numb-new-videos {
    color:#989898;
    text-align: right;
}

aside img {
    max-height: 20px;
    max-width: 20px;
    vertical-align: middle;
}

.nav-subscriptions img{
    border-radius: 50%;
}

aside div:not(.aside-footer) a{
    display:flex;
    /*margin-top: 20px;*/
    width:208px;
}

main {
    display:inline-block;
    background-color: #F9F9F9;
    margin-top: 56px;
    margin-left: 256px;
    width:calc(100% - 256px);
    height:91.3vh;

}

h2 {
    display: flex;
    justify-content: flex-start;
    margin:31px 98px;
}

h2 span {
    font-size: 20px;
    font-weight: 500;
    line-height: 2rem;
    color: #111135;


}

a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color:#878787;

}

a:visited {
    color:#111111;
}



.recommended {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 10px;

}
.video {
    margin:0 8px;
    width: 200px;
    height:230px;

}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    max-height: 32px;
    text-decoration-color: #111111;
    text-decoration-line: none;
    text-decoration-style: solid;

}

.video-publisher, .video-date, .video-views{
    color: rgba(17, 17, 17, 0.6);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

}

.aside-footer {
    margin-top:10px;
    margin-left:24px;
    width:200px;
    height: 100px;
}

.aside-footer a {
    margin-right: 15px;
    color: hsl(0, 0%, 53.3%);
}

.aside-footer a:visited{
    color: hsl(0, 0%, 53.3%);
}

