<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/chanel.css">
    <link rel="stylesheet" href="styles/video.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/aside_block.css">
    <link rel="stylesheet" href="styles/icons.css">
    <title>Youtube</title>
</head>
<body>
<header class="header">
    <section class="header__search-section">
        <i class="header__icon" id="icon-hamburger"></i>
        <img class="header__logo" src="images/logo.svg" alt="Youtube logo">
        <input class="header__search" type="text" placeholder="Пошук">
    </section>
    <section class="header__google-nav">
        <i class="header__icon icon-upload"></i>
        <i class="header__icon icon-apps"></i>
        <i class="header__icon icon-notifications"></i>
        <img class="header__user-icon" src="images/user_icon.jpg" alt="user icon">
    </section>
</header>
<main>
    <aside class="aside-block">
        {{#navigations}}
        <nav class="aside-block__nav">
            {{#elements}}
                <a class="aside-block__nav__link" href="">{{.}}</a>
            {{/elements}}
        </nav>
        {{/navigations}}
        <footer class="aside-block__footer">
            {{#footer_navigation}}
            <nav class="aside-block__footer__nav">
                {{#elements}}
                <a class="aside-block__footer__nav__link">{{.}}</a>
                {{/elements}}
            </nav>
            {{/footer_navigation}}
            <p class="aside-block__copyright">
                @ 2017 YouTube, LLC
            </p>
        </footer>
    </aside>
    <section>
        {{#channels}}
        <section class="chanel">
            <header class="chanel__header">
                <img class="chanel__icon" src="{{icon_url}}">
                <h3 class="chanel__title">{{name}}</h3>
                <small class="chanel__info">Рекомендований канал</small>
                <img class="chanel__close-icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/52944-200.png">
                <button class="chanel__subscript">
                    ПІДПИСАТИСЯ {{subscr_count}} ТИС.
                </button>
            </header>
            <section class="chanel__list-name">
                {{#videos}}
                <article class="chanel__video">
                    <img class="chanel__video__prewiew-img" src="{{picture_url}}">
                    <h3 class="chanel__video__title">{{name}}</h3>
                    <aside>
                        <h4 class="chanel__video__info">{{author}}</h4>
                        <p class="chanel__video__info">{{viewers}} переглядів *</p>
                        <p class="chanel__video__info">{{date}}</p>
                    </aside>
                </article>
                {{/videos}}
            </section>
        </section>
        {{/channels}}
    </section>
</main>
</body>
</html>