<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    
    <link rel="stylesheet" href="less/main.css">
</head>

<body>

    <div class="wrapper">
        <section class="Section Section__vacation">
            <h2 class="Section__caption">Why you’ll love vacation in Cuba</h2>
            <p class="Section__description">There may be no more beautiful way to explore the countryside villages of timeless Burgundy than from a river barge coasting the Saône River. Drift from one stunning landscape to another, stopping to roam the region’s famous vineyards, ride bikes through its vast forests, and indulge in its unforgettable flavours. This is a unique perspective of the France you've dreamed about.<a href="" class="Link__read_more">Read more</a></p>
        </section>
       

        <article class="Section Section__about">
            <h2 class="Section__caption">What Cuba is about</h2>
            <p calss="Section__description">Two great French passions, wine and food, come together here in a particularly rich and enticing form. In 2015, Burgundy's vineyards were granted Unesco World Heritage status in recognition of the region's centuries-old history of viticulture, combined with the remarkable diversity of its winegrowing terroir. Combining wine and gastronomy, Burgundy will stimulate your senses.<a href="" class="Link__read_more">Read more </a></p>
        </article>

    </div>
 
</body>

</html>