<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="less/Interactive.css">
    <link rel="stylesheet" href="less/main.css">

    
</head>

<body>
   <section class="Interactive">
            <h2 class="Interactive__caption">The Cadillacs of Cuba</h2>

            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/v1513984569/dscf0207_lyzfyh.jpg" alt="" class="Interactive__image">
            <p class="Interactive__description">The American trade embargo with Cuba in 1960 had the effect of instantly separating thousands of 1940s and 1950s Detroit-built cars from their spare parts supply. Convertibles were always popular, thanks to year-round tropical weather. The
                place for posing with your ride is hard to miss in Havana. The squares around Capitolio, a flattering copy of Washington’s Capitol building, are lined with 50-year-old American cars during daylight hours.</p>
        </section>
</body>
</html>