<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Section.css">
    <link rel="stylesheet" href="less/Footer.css">
    <link rel="stylesheet" href="less/Header.css">
    <link rel="stylesheet" href="less/Icons.css">
    <link rel="stylesheet" href="less/Navigation.css">
    <link rel="stylesheet" href="less/main.css">
</head>

<body>
   <header class="Header">
        <h1 class="Header__caption">Burgundy</h1>
        <p class="Header__description">Explore the luxury of Wine & Food</p>
    </header>
    <nav class="Navigation">
        <a href="" class="Navigation__item">Summary</a>
        <a href="" class="Navigation__item">General</a>
        <a href="" class="Navigation__item">Sights</a>
        <a href="" class="Navigation__item">Weather</a>
        <a href="" class="Navigation__item">What to do</a>
        <a href="" class="Navigation__item">Recidental Guide</a>
        <a href="" class="Navigation__item">Photos</a>
    </nav>
    <div class="wrapper">
        <section class="Section Section__vacation">
            <h2 class="Section__caption">Why you’ll love vacation in Burgundy</h2>
            <p class="Section__description">There may be no more beautiful way to explore the countryside villages of timeless Burgundy than from a river barge coasting the </br>Saône River. Drift from one stunning landscape to another, stopping to roam the region’s famous vineyards, ride bikes through its vast</br> forests, and indulge in its unforgettable flavours. This is a unique perspective of the France you've dreamed about. <a href="" class="Link__read_more">Read more</a></p>
        </section>
        <div class="Icon">
            <aside> <img src="../img/trip.png" class="Icon__trip">
                <h4 class="Icon__caption">672</h4>
                <p class="Icon__description">Trip</p>
            </aside>
            <aside> <img src="../img/srore.png" alt="" class="Icon__venues">
                <h4 class="Icon__caption">98</h4>
                <p class="Icon__description">Venues</p>
            </aside>
            <aside><img src="../img/ticket.png" class="Icon__ticets">
                <h4 class="Icon__caption">2.231</h4>
                <p class="Icon__description">Tickets Sold</p>
            </aside>
            <aside><img src="../img/chat.png" class="Icon__revies">
                <h4 class="Icon__caption">1.245</h4>
                <p class="Icon__description">Reviews</p>
            </aside>
        </div>

        <article class="Section Section__about">
            <h2 class="Section__caption">What Burgundy is about</h2>
            <p calss="Section__description">Two great French passions, wine and food, come together here in a particularly rich and enticing form. In 2015, Burgundy's vineyards </br> were granted Unesco World Heritage status in recognition of the region's centuries-old history of viticulture, combined with the </br> remarkable diversity of its winegrowing terroir. Combining wine and gastronomy, Burgundy will stimulate your senses. <a href="" class="Link__read_more">Read more </a></p>
        </article>

        <article class="Section__block-article Section__block-article_left">
            <h3 class="Section__block-article_caption">Route des Grands Crus</h3>
            <p class="Section__block-article_description">The Route des Grands Crus (roughly, "road of the great wines") runs along the foot of the Côte d'Or escarpment, from Dijon in the north to Santenay in the south. Thus it runs through many of the great appellations of Burgundy wine, hence the name of the route. </p>
        </article>
        <img src="https://stacieflinner.com/wp-content/uploads/2017/09/Stacie-Flinner-Things-to-Do-in-Burgundy-France-50-700x467.jpg" alt="" class="Section__img Section__img_position_right">

        <article class="Section__block-article Section__block-article_right">
            <h3 class="Section__block-article_caption">Heart of French Gastronomy</h3>
            <p class="Section__block-article_description">Burgundians are passionate about both their food and their wine. Escargots à la Bourgogne, Boeuf Bourguignon, and Coq au Vin are just three of the famous regional dishes. There are 29 restaurants with the renowned Michelin stars, and one with three stars within Burgundy.</p>
        </article>
        <img src="http://images.archant.co.uk/polopoly_fs/1.4586236.1466513180!/image/image.jpg_gen/derivatives/landscape_630/image.jpg" alt="" class="Section__img Section__img_position_left">

        <section class="Section Section__atribute">
            <h2 class="Section__caption">Wine of Burgundy</h2>
            <aside class="Section__atribute_hover"> Hover for more info</aside>
            <img src="img/atribute.png" alt="" class="Section__atribute_image">
            <p class="Section__description">The grapevines around the town of Chablis make a dry white wine renowned for the purity of its aroma and taste. There are seven officially delineated Grand Cru climats, covering an area of 247 acres , all located on one southwest facing hill overlooking the town of Chablis at elevations between 490–660 feet. All of Chablis' Grand Cru vineyards and Premier Cru vineyards are planted on primarily Kimmeridgean soil which is composed of limestone, clay and fossilized oyster shells.</p>
        </section>

    </div>
    <footer class="Footer">
           <div class="Footer__wrapper">
               <div class="Footer__info">
                   <a href="" class="Footer__logo">T-Agency</a>
                   <select name="Footer__select">
                       <option> US Dolars</option>
                       <option>UAH</option>
                   </select>
               </div>
               <div class="Footer__site-map">
                   <div>
                       <h4 class="Footer__company">Company</h4>
                       <a href="" class="Footer__site-map-item">About TripOp</a>
                       <a href="" class="Footer__site-map-item">Work with us</a>
                       <a href="" class="Footer__site-map-item">Press Room</a>
                       <a href="" class="Footer__site-map-item">Become a Parent</a>
                   </div>
                   <div>
                       <h4 class="Footer__discover">Discover</h4>
                       <a href="" class="Footer__site-map-item">How to book?</a>
                       <a href="" class="Footer__site-map-item">Methods of Payment</a>
                       <a href="" class="Footer__site-map-item">General Conditions</a>
                       <a href="" class="Footer__site-map-item">Privacy Policy</a>
                       <a href="" class="Footer__site-map-item">Site Map</a>
                   </div>
                   <div>
                       <h4 class="Footer__contact">Contact</h4>
                       <a href="" class="Footer__site-map-item">Contact Us</a>
                       <a href="" class="Footer__site-map-item">Facebook</a>
                       <a href="" class="Footer__site-map-item">Instagram</a>
                       <a href="" class="Footer__site-map-item">YouTube</a>
                       <a href="" class="Footer__site-map-item">Newsletter</a>
                   </div>
                   <div>
                       <h4 class="Footer__blog-caption">Blog</h4>
                       <a href="" class="Footer__site-map-item">Choosing A Static Caravan</a>
                       <a href="" class="Footer__site-map-item">Cost Cutting Ideas For Your Wedding</a>
                       <a href="" class="Footer__site-map-item">Do A Sporting Stag Do In Birmingham</a>
                       <a href="" class="Footer__site-map-item">YMother Earth Hosts Our TravelsouTube</a>
                       <a href="" class="Footer__site-map-item">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                   </div>
               </div>
           </div>
            <aside class="Footer__copy">© 2016 All rights reserved. </aside>
      </footer>

</body>

</html>