<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    <link rel="stylesheet" href="less/Interactive.css">
    <link rel="stylesheet" href="less/Header.css">
    <link rel="stylesheet" href="less/Footer.css">
    <link rel="stylesheet" href="less/main.css">
    <link rel="stylesheet" href="less/Navigation.css">
    <link rel="stylesheet" href="less/Photo__description.css">
    <link rel="stylesheet" href="less/Statistics.css">
    <link rel="stylesheet" href="less/Roundabout.css">

</head>

<body>
    <header class="Destination">
        <h1 class="Destination__caption">Burgundy</h1>
        <p class="Destination__description">Explore the luxury of Wine & Food</p>
    </header>

    <nav class="Navigation">
        <a href="" class="Navigation__item">Summary</a>
        <a href="" class="Navigation__item">General</a>
        <a href="" class="Navigation__item">Sights</a>
        <a href="" class="Navigation__item">Weather</a>
        <a href="" class="Navigation__item">What to do</a>
        <a href="" class="Navigation__item">Recidental Guide</a>
        <a href="" class="Navigation__item">Photos</a>
    </nav>
    <div class="wrapper">
        
         <section class="Article">
            <h2 class="Article__caption">Why you’ll love vacation in Cuba</h2>
            <p class="Article__description">There may be no more beautiful way to explore the countryside villages of timeless Burgundy than from a river barge coasting the Saône River. Drift from one stunning landscape to another, stopping to roam the region’s famous vineyards, ride bikes through its vast forests, and indulge in its unforgettable flavours. This is a unique perspective of the France you've dreamed about.<a href="" class="Link__read_more">Read more</a></p>
        </section>
       
        <div class="Statistic">
        <aside> <img src="../img/trip.png" class="Statistic__trip">
            <h4 class="Statistic__caption">672</h4>
            <p class="Statistic__description">Trip</p>
        </aside>
        <aside> <img src="../img/srore.png" alt="" class="Statistic__venues">
            <h4 class="Statistic__caption">98</h4>
            <p class="Statistic__description">Venues</p>
        </aside>
        <aside><img src="../img/ticket.png" class="Statistic__ticets">
            <h4 class="Statistic__caption">2.231</h4>
            <p class="Statistic__description">Tickets Sold</p>
        </aside>
        <aside><img src="../img/chat.png" class="Statistic__revies">
            <h4 class="Statistic__caption">1.245</h4>
            <p class="Statistic__description">Reviews</p>
        </aside>
</div>
          <article class="Article">
            <h2 class="Article__caption">What Cuba is about</h2>
            <p calss="Article__description">Two great French passions, wine and food, come together here in a particularly rich and enticing form. In 2015, Burgundy's vineyards were granted Unesco World Heritage status in recognition of the region's centuries-old history of viticulture, combined with the remarkable diversity of its winegrowing terroir. Combining wine and gastronomy, Burgundy will stimulate your senses.<a href="" class="Link__read_more">Read more </a></p>
        </article>
 <article class="Photo__description Photo__description_left">
            <h3 class="Photo__description_caption">Route des Grands Crus</h3>
            <p class="Photo__description_article">The Route des Grands Crus (roughly, "road of the great wines") runs along the foot of the Côte d'Or escarpment, from Dijon in the north to Santenay in the south. Thus it runs through many of the great appellations of Burgundy wine, hence the name of the route.  </p>
        </article>
 <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_570/v1514106370/Vignoble-cabotte-Cote-de-Beaune-Photo-Alain-Doire-Bourgogne-Tourisme_wv1ucc.jpg" alt="" class="Photo__description_image Photo__description_image_right">

        <article class="Photo__description Photo__description_right">
            <h3 class="Photo__description_caption">Heart of French Gastronomy</h3>
            <p class="Photo__description_article">Burgundians are passionate about both their food and their wine. Escargots à la Bourgogne, Boeuf Bourguignon, and Coq au Vin are just three of the famous regional dishes. There are 29 restaurants with the renowned Michelin stars, and one with three stars within Burgundy.</p>
        </article>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_570/v1514008466/boeuf-bourguignon-gastronomy-burgundy_xj8usk.jpg" alt="" class="Photo__description_image Photo__description_image_left">

        <section class="Interactive">
            <h2 class="Interactive__caption">Wine of Burgundy</h2>

            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_272/v1514009317/jadot-81243-macon-2014_yssxxw.jpg" alt="" class="Interactive__image">
            <p class="Interactive__description">The grapevines around the town of Chablis make a dry white wine renowned for the purity of its aroma and taste. There are seven officially delineated Grand Cru climats, covering an area of 247 acres , all located on one southwest facing hill overlooking the town of Chablis at elevations between 490–660 feet. All of Chablis' Grand Cru vineyards and Premier Cru vineyards are planted on primarily Kimmeridgean soil which is composed of limestone, clay and fossilized oyster shells.</p>
        </section>
        <article class="Article">
            <h2 class="Article__caption">Burgundy in Photos</h2>
            <p class="Article__description">Burgundy offers some of France's most gorgeous countryside: it’s a paradise for lovers of the great outdoors. You can cycle through the Côte d'Or vineyards, hike the wild reaches of the Parc Naturel Régional du Morvan, glide along the Yonne's waterways in a canal boat, or float above it all in a hot-air balloon. Every perspective will be fine to discover a glorious architectural heritage that goes back to the Renaissance, the Middle Ages and into the mists of Gallo-Roman and Celtic antiquity.</p>
        </article>
        <div class="Roundabout">
            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,h_420,w_580/v1514010202/joigny-by-night_wgd8lc.jpg" alt="" class="Roundabout__image Roundabout__image_second_right">
            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_560/v1514010445/958cc7c4969a116d4f345bcd556615cc_pqvsgb.jpg" alt="" class="Roundabout__image Roundabout__image_second_left">
            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_640/v1514010619/aaaa2f9b002312aac6366327d28a508c--burgundy-france-travelling_qh8beo.jpg" alt="" class="Roundabout__image Roundabout__image_center">
        </div>

    </div>
    <footer class="Footer">
        <div class="Footer__wrapper">
            <div class="Footer__info">
                <a href="" class="Footer__logo">T-Agency</a>
                <select name="Footer__select">
                    <option> US Dolars</option>
                    <option>UAH</option>
                </select>
            </div>
            <div class="Footer__site-map">
                <div>
                    <h4 class="Footer__company">Company</h4>
                    <a href="" class="Footer__site-map-item">About TripOp</a>
                    <a href="" class="Footer__site-map-item">Work with us</a>
                    <a href="" class="Footer__site-map-item">Press Room</a>
                    <a href="" class="Footer__site-map-item">Become a Parent</a>
                </div>
                <div>
                    <h4 class="Footer__discover">Discover</h4>
                    <a href="" class="Footer__site-map-item">How to book?</a>
                    <a href="" class="Footer__site-map-item">Methods of Payment</a>
                    <a href="" class="Footer__site-map-item">General Conditions</a>
                    <a href="" class="Footer__site-map-item">Privacy Policy</a>
                    <a href="" class="Footer__site-map-item">Site Map</a>
                </div>
                <div>
                    <h4 class="Footer__contact">Contact</h4>
                    <a href="" class="Footer__site-map-item">Contact Us</a>
                    <a href="" class="Footer__site-map-item">Facebook</a>
                    <a href="" class="Footer__site-map-item">Instagram</a>
                    <a href="" class="Footer__site-map-item">YouTube</a>
                    <a href="" class="Footer__site-map-item">Newsletter</a>
                </div>
                <div>
                    <h4 class="Footer__blog-caption">Blog</h4>
                    <a href="" class="Footer__site-map-item">Choosing A Static Caravan</a>
                    <a href="" class="Footer__site-map-item">Cost Cutting Ideas For Your Wedding</a>
                    <a href="" class="Footer__site-map-item">Do A Sporting Stag Do In Birmingham</a>
                    <a href="" class="Footer__site-map-item">YMother Earth Hosts Our TravelsouTube</a>
                    <a href="" class="Footer__site-map-item">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                </div>
            </div>
        </div>
        <aside class="Footer__copy">© 2016 All rights reserved. </aside>

    </footer>

</body>

</html>