<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Section.css">
    <link rel="stylesheet" href="less/Footer.css">
    <link rel="stylesheet" href="less/Header.css">
    <link rel="stylesheet" href="less/Icons.css">
    <link rel="stylesheet" href="less/Navigation.css">
    <link rel="stylesheet" href="less/main.css">
</head>

<body>
    <header class="Header">
        <h1 class="Header__caption">Cuba</h1>
        <p class="Header__description">Explore the world of Casas & Cadillacs</p>
    </header>

    <nav class="Navigation">
        <a href="" class="Navigation__item">Summary</a>
        <a href="" class="Navigation__item">General</a>
        <a href="" class="Navigation__item">Sights</a>
        <a href="" class="Navigation__item">Weather</a>
        <a href="" class="Navigation__item">What to do</a>
        <a href="" class="Navigation__item">Recidental Guide</a>
        <a href="" class="Navigation__item">Photos</a>
    </nav>
    <div class="wrapper">
        <section class="Section Section__vacation">
            <h2 class="Section__caption">Why you’ll love vacation in Cuba</h2>
            <p class="Section__description">It always had the allure a forbidden fruit. I love it for its uniqueness, creativity and survivalist spirit. I love it because, despite 60 years</br> of setbacks, it remains an upbeat and open place. Walk down the street with a Cuban friend
                and, within one block, you’ll have </br>received five handshakes, four kisses, three greetings of ‘dime hermano!’ and at least two invites into someone’s house. <a href="" class="Link__read_more">Read more</a></p>
        </section>
        <div class="Icon">
            <aside> <img src="../img/trip.png" class="Icon__trip">
                <h4 class="Icon__caption">1,920</h4>
                <p class="Icon__description">Trip</p>
            </aside>
            <aside> <img src="../img/srore.png" alt="" class="Icon__venues">
                <h4 class="Icon__caption">271</h4>
                <p class="Icon__description">Venues</p>
            </aside>
            <aside><img src="../img/ticket.png" class="Icon__ticets">
                <h4 class="Icon__caption">3,321</h4>
                <p class="Icon__description">Tickets Sold</p>
            </aside>
            <aside><img src="../img/chat.png" class="Icon__revies">
                <h4 class="Icon__caption">2,912</h4>
                <p class="Icon__description">Reviews</p>
            </aside>
        </div>

        <article class="Section Section__about">
            <h2 class="Section__caption">What Cuba is about</h2>
            <p calss="Section__description">Cuba is like a prince in a poor man’s coat; behind the sometimes shabby facades, gold dust lingers. It’s these rich dichotomies that make travel here the exciting. Trapped in a time warp and reeling from an economic embargo that has grated
                for more than half a century, this is a country where you can wave goodbye to everyday assumptions and expect the unexpected. <a href="" class="Link__read_more">Read more </a></p>
        </article>

        <article class="Section__block-article Section__block-article_left">
            <h3 class="Section__block-article_caption">Historical Heritage</h3>
            <p class="Section__block-article_description">Bereft of modern interference, Cuba’s colonial cities haven’t changed much since musket-toting pirates stalked the Caribbean. Atmosphere and architecture is particularly stirring in Havana, Trinidad and Camagüey where grandiose squares and
                cobbled streets tell erstwhile tales of opulence and intrigue. </p>
        </article>
        <img src="http://s7.travelask.ru/system/images/files/000/116/385/wysiwyg/1.jpg?1486437215" alt="" class="Section__img Section__img_position_right">

        <article class="Section__block-article Section__block-article_right">
            <h3 class="Section__block-article_caption">Astonishing Beaches</h3>
            <p class="Section__block-article_description">Whether you’re staying in a luxury hotel in Havana or exploring the rural charms of Vinales, in some ways it’s all the real Cuba. Some travellers might opt to miss the beach resort town of Varadero, but this energetic beachside paradise should
                still be an option to consider as part of your Cuban travel plans.</p>
        </article>
        <img src="http://samisusanin.ru/wp-content/uploads/2016/07/Varadero-975x609.jpg" alt="" class="Section__img Section__img_position_left">

        <section class="Section Section__atribute">
            <h2 class="Section__caption">The Cadillacs of Cuba</h2>
            <aside class="Section__atribute_hover"> Hover for more info</aside>
            <img src="img/cadilac.png" alt="" class="Section__atribute_image">
            <p class="Section__description">The American trade embargo with Cuba in 1960 had the effect of instantly separating thousands of 1940s and 1950s Detroit-built cars from their spare parts supply. Convertibles were always popular, thanks to year-round tropical weather. The
                place for posing with your ride is hard to miss in Havana. The squares around Capitolio, a flattering copy of Washington’s Capitol building, are lined with 50-year-old American cars during daylight hours.</p>
        </section>

    </div>
    <footer class="Footer">
        <div class="wrapper">
            <a href="" class="Footer__logo">T-Agency</a>
            <select name="Footer__select">
                <option> US Dolars</option>
                <option>UAH</option>
            </select>

            <div class="Footer__site-map">
                <h4 class="Footer__site-map_company">Company</h4>
                <a href="" class="Footer__site-map_company_item">About TripOp</a>
                <a href="" class="Footer__site-map_company_item">Work with us</a>
                <a href="" class="Footer__site-map_company_item">Press Room</a>
                <a href="" class="Footer__site-map_company_item">Become a Parent</a>
            </div>
            <div class="Footer__site-map">
                <h4 class="Footer__sitemap_discover">Discover</h4>
                <a href="" class="Footer__site-map_discover_item">How to book?</a>
                <a href="" class="Footer__site-map_discover_item">Methods of Payment</a>
                <a href="" class="Footer__site-map_discover_item">General Conditions</a>
                <a href="" class="Footer__site-map_discover_item">Privacy Policy</a>
                <a href="" class="Footer__site-map_discover_item">Site Map</a>
            </div>
            <div class="Footer__site-map">
                <h4 class="Footer__site-map_contact">Contact</h4>
                <a href="" class="Footer__site-map_contact_item">Contact Us</a>
                <a href="" class="Footer__site-map_contact_item">Facebook</a>
                <a href="" class="Footer__site-map_contact_item">Instagram</a>
                <a href="" class="Footer__site-map_contact_item">YouTube</a>
                <a href="" class="Footer__site-map_contact_item">Newsletter</a>
            </div>
            <div class="Footer__site-map">
                <h4 class="Footer__site-map_blog_caption">Blog</h4>
                <a href="" class="Footer__site-map_blog_item">Choosing A Static Caravan</a>
                <a href="" class="Footer__site-map_blog_item">Cost Cutting Ideas For Your Wedding</a>
                <a href="" class="Footer__site-map_blog_item">Do A Sporting Stag Do In Birmingham</a>
                <a href="" class="Footer__site-map_blog_item">YMother Earth Hosts Our TravelsouTube</a>
                <a href="" class="Footer__site-map_blog_item">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
            </div>


            <aside class="copy">© 2016 All rights reserved. </aside>
        </div>
    </footer>

</body>

</html>