.Header {
  &__searchfield, &__searchbutton {
    display: inline-block;
    vertical-align: middle;
  }

  &__searchfield {
    border: #3b5ca0 solid 1px;
  }

  &__searchbutton {
    height: 31px;
    width: 60px;
  }

  &__searchicon {
    height: 10px;
    width: 10px;
  }
}
