.Layout__aside-library,
.Layout__aside-subscriptions,
.Layout__aside-channels,
.Layout__aside-films {
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 5px;
  vertical-align: middle;
}
.Layout__aside-library a,
.Layout__aside-subscriptions a,
.Layout__aside-channels a,
.Layout__aside-films a {
  display: block;
  color: #111111;
  font-size: 14px;
  text-decoration: none;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  white-space: nowrap;
}
