.Aside {
  &__footer-help {
    border-bottom: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__footer-settings {
    display: block;
    color: #111111;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    white-space: nowrap;
    font-family: Roboto, Arial, sans-serif;
  }

  &__footer-reference,
  &__footer-feedback {
    display: block;
    color: #111111;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    padding-left: 0;
    font-family: Roboto, Arial, sans-serif;
  }

  &__footer-copyright {
    margin-top: 20px;
    margin-left: 40px;
  }

  &__footer-copyright-item {
    color: gray;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }

  &__footer-terms {
    margin-top: 20px;
    margin-left: 40px;
  }

  &__footer-terms-item {
    color: gray;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }

  &__footer-copyright-line {
    color: gray;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
  }
}