.Header {
  &__button-icon,
  &__profile-icon {
    display: inline-block;
    vertical-align: middle;
  }
  &__action-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin-right: 30px;
  }
  &__profile-button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-right: 40px;
  }
  &__button-icon {
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }
  &__profile-icon {
    border-radius: 50%;
    width: 33px;
    height: 33px;
  }
}