.Header {
  &__menu-button,
  &__youtube-logo,
  &__searchbar {
    display: inline-block;
    vertical-align: middle;
  }

  &__searchbar  {
    margin-left: 40px;
  }

  &__activity-buttons {
    float: right;
  }
}