.Menu-button,
.Youtube-logo,
.Searchbar {
    display: inline-block;
    vertical-align: middle;
  }

.Searchbar  {
    margin-left: 40px;
  }

.Activity-buttons {
    float: right;
    padding-top: 8px;
  }
.Profile-button {
    float: right;
  }