.Layout {
  &__header-menu-button, &__youtube-logo, &__searchbar {
    display: inline-block;
    vertical-align: middle;
  }
  &__header-activity-buttons {
    float: right;
    margin-top: 0px;
    margin-right: 100px;
  }

}

