.Hamburger,
.Youtube-logo,
.Searchbar {
    display: inline-block;
    vertical-align: middle;
  }

.Searchbar  {
    margin-left: 40px;
  }

.User-navigation, .Profile-button {
  display: inline-block;
  vertical-align: middle;
}

.Header__left {
  width: 800px;
  float: left;
}

.Header__right {
  float: right;
  width: 250px;
}