.Searchbar {
  &__searchfield,
  &__keyboard,
  &__searchbutton {
    display: inline-block;
    vertical-align: middle;
  }

  &__searchfield {
    border: lightgray solid 1px;
    height: 24px;
    width: 546px;
    font-family: Roboto, Arial, sans-serif;
    color: darkgrey;
    font-size: 16px;
  }

  &__keyboard {
    height: 24px;
    width: 60px;
    background-color: transparent;
    border: lightgray solid 1px;
    margin-left: -70px;
    /*background-image: url ("http://www.gstatic.com/inputtools/images/tia.png");*/
  }

  &__searchbutton {
    height: 28px;
    width: 60px;
    background-color: #FAFAFA;
    border: lightgray solid 1px;
    margin-left: -20px;
  }

  &__searchicon {
    height: 15px;
    width: 15px;
    opacity: 0.7;
  }

  /*&__keyboard-icon {
    height: 11px;
    width: 19px;
  }*/
}