@body-color: #111111;
@font-size: 14px;
@border-width: 1px;
@border-style: solid;
@border-color: lightgray;
@margin-left: 50px;
@a-height: 21px;

.User-preferences {
    border-bottom: @border-width @border-style @border-color;
    vertical-align: middle;

  &__section-item {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: @a-height;
    white-space: nowrap;
    color: @body-color;
    font-size: @font-size;
    text-decoration: none;
    font-family: Roboto, Arial, sans-serif;
  }

  &__section-title {
    margin-left: 20px;
  }

  &__section-icon,
  &__section-title {
    vertical-align: bottom;
  }

  &__section-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    opacity: 0.5;
  }

  &__section-header {
    text-transform: uppercase;
    font-family: Roboto, Arial, sans-serif;
    font-size: @font-size;
    color: gray;
    font-weight: 600;
    letter-spacing: .007px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}