.Layout {
  &__video {
    width: 210px;
    display: inline-block;
    vertical-align: top;
    }
  &__video-description-black {
    color: #111111;
    font-weight: bold;
    padding-top: 10px;
  }
  &__video-description-grey {
    color: gray;
    padding-top: 10px;
  }
}