@font-family: "Roboto", Arial, sans-serif;

.Video-lists {
  &__video {
    width: 210px;
    display: inline-block;
    vertical-align: top;
  }
  &__description-black {
    color: #111111;
    font-weight: bold;
    padding-top: 10px;
    font-size: 12px;
    font-family: @font-family;
  }
  &__description-grey {
    color: gray;
    padding-top: 10px;
    font-size: 10px;
    font-family: @font-family;
  }
  &__section {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__header {
    font-size: 1.00rem;
    font-weight: 500;
    /*line-height: 2rem;*/
    font-family: @font-family;
  }

}


