<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="style/Youtube.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <img class="Layout__header-logo"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHG1kU1p_xFZDMg8eSgw4cun0uwomdaPR3XagV-sbXy9gXMMQH">
            <input class="Layout__header-search" name="search" type="search" placeholder="">
            <button class="Layout__header-button">Пошук</button>
            <a href="https://accounts.google.com/ServiceLogin?uilel=3&service=youtube&passive=true&continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fnext%3D%252Fupload%26hl%3Den%26action_handle_signin%3Dtrue%26app%3Ddesktop"
               class="Layout__header-edit">
                Edit
            </a>
            <a href="" class="Layout__header-applications">Applications
            </a>
            <a href="" class="Layout__header-settings">Settings
            </a>
        </header>
        <aside class="Layout__navigation">
            <a href="https://www.youtube.com/" class="Layout__navigation-tag">Home</a>
            <a href="https://www.youtube.com/feed/trending" class="Layout__navigation-tag">Trending</a>
            <a href="https://www.youtube.com/feed/history" class="Layout__navigation-tag">History</a>
            <h1>Best of Youtube</h1>
            <a href="https://www.youtube.com/channel/UC-9-kyTW8ZkZNDHQJ6FgpwQ" class="Layout__navigation-tag">Music</a>
            <a href="https://www.youtube.com/channel/UCEgdi0XIXXZ-qJOFPf4JSKw" class="Layout__navigation-tag">Sports</a>
            <a href="https://www.youtube.com/channel/UCOpNcN46UbXVtpKMrmU4Abg" class="Layout__navigation-tag">Gaming</a>
            <a href="https://www.youtube.com/channel/UClgRkhTL3_hImCAmdLfDE4g" class="Layout__navigation-tag">Films</a>
            <a href="https://www.youtube.com/channel/UCYfdidRxbB8Qhf0Nx7ioOYw" class="Layout__navigation-tag">News</a>
            <a href="https://www.youtube.com/channel/UC4R8DWoMoI7CAwX8_LjQHig" class="Layout__navigation-tag">Live</a>
            <a href="https://www.youtube.com/channel/UCzuqhhs6NWbgTzMuM09WKDQ" class="Layout__navigation-tag">360 Video</a>
            <h2>Browse channels</h2>
            <a href="" class="Layout__navigation-tag">Sign in now to see your channels and recommendations!</a>
            <a href="" class="Layout__navigation-tag">SIGN IN</a>
            <a href="https://www.youtube.com/account" class="Layout__navigation-tag">Settings</a>
            <a href="" class="Layout__navigation-tag">Help</a>
            <a href="" class="Layout__navigation-tag">Send feedback</a>
            <a href="https://www.youtube.com/yt/about/en-GB/" class="Layout__navigation-add">About</a>
            <a href="https://www.youtube.com/yt/press/en-GB/" class="Layout__navigation-add">Press</a>
            <a href="https://www.youtube.com/yt/copyright/en-GB/" class="Layout__navigation-add">Copyright</a>
            <a href="https://www.youtube.com/yt/creators/en-GB/" class="Layout__navigation-add">Creators</a>
            <a href="https://www.youtube.com/yt/advertise/en-GB/" class="Layout__navigation-add">Advertise</a>
            <a href="https://www.youtube.com/yt/dev/en-GB/" class="Layout__navigation-add">Developers</a>
            <a href="https://plus.google.com/+youtube" class="Layout__navigation-add">+YouTube</a>
            <a href="https://www.youtube.com/t/terms" class="Layout__navigation-else">Terms Privacy</a>
            <a href="https://www.youtube.com/yt/policyandsafety/en-GB/" class="Layout__navigation-else">Policy & Safety</a>
            <a href="https://www.youtube.com/testtube" class="Layout__navigation-else">Test new features</a>
        </aside>
        <main class="Layout__recommended">
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/rMD9yjH_Zvc/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLD9ur3JigmRawLk7xOHsQlqho9ucA"
                     alt="" class="">
                <p class="Layout__recommended-video-comment">Hear N' Aid - Stars (W.A.S.P. + Dio + Judas Priest...)</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/1ieqHL15yEw/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLBoVmDTb0azrgjl0HYAO60MUAFv-A"
                     alt="" class="">
                <p class="Layout__recommended-video-comment">Ian Gillan When A Blind Man Cries live</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/hW_WLxseq0o/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLDo6jFre4Tg1bL5kilRsiq7xtAvdw"
                     alt="" class="P">
                <p class="Layout__recommended-video-comment">Led Zeppelin - Kashmir (Live Video)</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/gBUTbHHH3I8/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLAYvlByaaylViTM7yfcNfPioKVOcQ"
                     alt="" onclick="">
                <p class="Layout__recommended-video-comment">David Gilmour - Comfortably numb</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/tiF-q2h7tSA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLCDOT0eGHmndayd0nOvw0fxsWCvsQ" alt="">
                <p class="Layout__recommended-video-comment">Pink Floyd - Wish You were here</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/fqfYy_il2-Q/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLBFgPHHNGrVJOSaCJjgGsFrAT9CCA" alt="">
                <p class="Layout__recommended-video-comment">Led Zeppelin - Stairway to Heaven LIVE</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/CzUgX-HB9tA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLDM27ddSHx8KazEPLJHtW512Y3ieA" alt="">
                <p class="Layout__recommended-video-comment">B.B. King - The Trill Is Gone (Live)</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/N0H48bpJziQ/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLAwihsGP_45rGAO-EEM5xv9wbnkSw" alt="">
                <p class="Layout__recommended-video-comment">Uriah Heeo - Lady in Black 1971 (1977) (HQ)</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/vzGX3BA11nk/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLBV1ig01rkz5vtk4hoOiI3oPiwTVA" alt="">
                <p class="Layout__recommended-video-comment">The Road To Hell - Chris Rea Paris 2017</p>
            </a>
            <a href="" class="Layout__recommended-video">
                <img src="https://i.ytimg.com/vi/tiF-q2h7tSA/hqdefault.jpg?sqp=-oaymwEWCNIBEHZIWvKriqkDCQgBFQAAiEIYAQ==&rs=AOn4CLCDOT0eGHmndayd0nOvw0fxsWCvsQ" alt="">
                <p class="Layout__recommended-video-comment">Pink Floyd - Wish You were here</p>
            </a>
        </main>
    </body>
</html>