.current-releases {
  display: grid;
  grid-template-columns: 40% 36%;
  grid-template-rows: 35% 35% 35% 35%;
  grid-column-gap: 4%;
  grid-row-gap: 20%;
  margin-left: 40%;
  font-size: 19px;
  line-height: 1.37;

  &__header {
    font-weight: normal;
    font-size: 26px;
    align-self: end;
  }

  &__note {
    font-weight: normal;
    font-size: 19px;
    align-self: start;
  }

  &__wine{
    &_wine-name{
      margin-left: 0;
      width: 100%;
      display: inline-block;
      align-self: center;
    }
  }
}