<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/create_group.css"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <title>Create Group</title>
</head>
<body>
<div class="ad-feed__block">
    <h5 class="ad-feed__block-title">CREATE NEW GROUPS</h5>
    <p>Groups make it easier than ever to share with friends, family and teammates.</p>
    <a id="block__new-group_button-type" href="#">Create Group</a>
</div>
</body>
</html>