<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/events.css"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Events</title>
</head>
<body>
<div class="ad-feed__block">
    <div class="ad-feed__block-event">
        <a href="#">
            <i class="fa fa-question" style="color: #F1C40F;"></i>
            "1 request from Anna Anna"
        </a>
    </div>
    <div class="ad-feed__block-event">
        <a href="#">
            <i class="fa fa-calendar" style="color: #D14357;"></i>
            Екслюзивні семінари...
        </a>
        <time datatype="#">on Monday</time>
    </div>
    <div class="ad-feed__block-event">
        <a href="#">
            <i class="fa fa-gift" style="color: #D14357;"></i>
            Anna Anna's birthday
        </a>
        <time datatype="#">is today</time>
    </div>
</div>
</body>
</html>