<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/common.css"/>
    <title>Friends</title>
</head>
<body>
<section class="nav-bar__block">
    <h4 class="nav-bar__block-title">Friends</h4>
    <div class="nav-bar__photos">
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
        <a href="#">
            <img class="smaller-img" src="../images/friend_avatar_photos_block_user_page.png"/>
        </a>
        <!--<span>Michael Michael</span>-->
    </div>
    <span>See what you have in common with your friends.</span>
    <form action="#">
        <button type="button">View</button>
    </form>
</section>
</body>
</html>