<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/common.css"/>
    <title>Group Photos</title>
</head>
<body>
<div class="ad-feed__block">
    <h5 class="ad-feed__block-title">RECENT GROUP PHOTOS
        <a href="#" class="see-more">See All</a>
    </h5>
    <div class="ad-feed__block-item">
        <a href="#">
            <img src="../images/recent_group_photo_1.jpg"/>
        </a>
        <a href="#">
            <img src="../images/recent_group_photo_2.jpg"/>
        </a>
        <a href="#">
            <img src="../images/recent_group_photo_3.jpg"/>
        </a>
    </div>
</div>
</body>
</html>