<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/group_cover.css"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <title>Group Cover</title>
</head>
<body>
<section class="group__header">
    <a href="#">
        <div id="header__cover-photo"></div>
    </a>
    <div>
        <a class="header__some-settings" href="#">Joined</a>
        <a class="header__some-settings" href="#">Notifications</a>
        <a class="header__some-settings" href="#">Share</a>
        <a class="header__some-settings" href="#">...</a>
    </div>
</section>
</body>
</html>