<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/common.css"/>
    <link rel="stylesheet" href="../styles/group_suggestions.css">
    <title>Group Suggestions</title>
</head>
<body>
<div class="ad-feed__block">
    <h5 class="ad-feed__block-title">Suggested Groups
        <a href="#" class="see-more">See All</a>
    </h5>
    <div class="ad-feed__group-ads">
        <a href="#">
            <div class="ad-feed__group-cover"></div>
        </a>
        <div class="ad-feed__short-group-info">
            <a href="#"><h5 class="ad-feed__group-name">MMMMM</h5></a>
            <p>35 members</p>
            <form action="#">
                <button type="button">+ Join</button>
            </form>
        </div>
    </div>
    <div class="ad-feed__group-ads">
        <a href="#">
            <div class="ad-feed__group-cover"></div>
        </a>
        <div class="ad-feed__short-group-info">
            <a href="#"><h5 class="ad-feed__group-name">MMMMM</h5></a>
            <p>35 members</p>
            <form action="#">
                <button type="button">+ Join</button>
            </form>
        </div>
    </div>
    <div class="ad-feed__group-ads">
        <a href="#">
            <div class="ad-feed__group-cover"></div>
        </a>
        <div class="ad-feed__short-group-info">
            <a href="#"><h5 class="ad-feed__group-name">MMMMM</h5></a>
            <p>35 members</p>
            <form action="#">
                <button type="button">+ Join</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>