<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/header.css"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Header</title>
</head>
<body>
<header>
    <a href="index">
        <img id="logo" src="../images/facebook-logo.jpg"/>
    </a>
    <form action="#" >
        <input type="search" placeholder="Search"/>
    </form>
    <a href="#">
        <i class="fa fa-search" style="color: black;"></i>
    </a>
    <nav class="header-nav">
        <a class="header-nav user-profile" href="#" title="Profile">
            <img class="user-profile__user-pic"
                 src="../images/user_avatar.jpeg"/>
            <span id="user-name" style="left: 680px;">Olya</span>
        </a>
        <a id="home" href="index" style="left: 740px;">Home</a>
        <a class="header-nav__h-icon" href="#" title="Friends Requests" style="left: 850px;">
            <i class="fa fa-user-o"></i>
        </a>
        <a class="header-nav__h-icon" href="#" title="Messages" style="left: 890px;">
            <i class="fa fa-envelope-o"></i>
        </a>
        <a class="header-nav__h-icon" href="#" title="Notifications" style="left: 930px;">
            <i class="fa fa-globe"></i>
        </a>
        <a class="header-nav__h-icon" href="#" title="Quick Help" style="left: 990px;">
            <i class="fa fa-question-circle-o"></i>
        </a>
        <a class="header-nav__h-icon" href="#" style="left: 1030px;">
            <i class="fa fa-caret-down"></i>
        </a>
    </nav>
</header>
</body>
</html>