<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/intro.css"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <title>Intro</title>
</head>
<body>
<section class="nav-bar__block">
    <h4 class="nav-bar__block-title">Intro</h4>
    <div id="intro__questions">
        <a href="#"> + What makes you happy?</a>
    </div>
    <div id="intro__education-etc">
        <p>Studied German Language at <a href="#">Universität Passau</a></p>
        <p>Studies Computer Science at <a href="#">Ukrainian Catholic University</a></p>
        <p>Went to <a href="#">Lviv Physics and Mathematics Lyceum</a></p>
        <p>From <a href="#">Lviv, Ukraine</a></p>
    </div>
    <div class="nav-bar__photos">
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="bigger-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="bigger-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="bigger-img" src="../images/featured_photo.jpg"/>
        </a>

    </div>
    <div id="intro__add-links">
        <a href="#"> + Add Instagram, Websites, Other Links</a>
    </div>
</section>
</body>
</html>