<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/common.css"/>
    <title>Photos</title>
</head>
<body>
<section class="nav-bar__block">
    <h4 class="nav-bar__block-title">Photos</h4>
    <div class="nav-bar__photos">
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
        <a href="#">
            <img class="smaller-img" src="../images/featured_photo.jpg"/>
        </a>
    </div>
</section>
</body>
</html>