<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/stories.css"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Stories</title>
</head>
<body>
<div class="ad-feed__block">
    <h5 class="ad-feed__title">Stories
        <i class="fa fa-question-circle-o"
           title="Stories are photos and videos that only last temporarily. When a friend shares to their story, it'll appear here."
           style="float: right; font-size: 20px;"></i>
    </h5>
    <div class="ad-feed__block-story">
        <div class="ad-feed__block-story_active">
            <a href="#">
                <img src="../images/new_story.png"/>
            </a>
        </div>
        <div class="ad-feed__block-story_empty"></div>
        <div class="ad-feed__block-story_empty"></div>
        <div class="ad-feed__block-story_empty"></div>
    </div>
</div>
</body>
</html>