<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/user_page_header.css"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <title>User Page Header</title>
</head>
<body>
<section class="user-page-header">
    <a href="#"><div class="user-page-header__cover-photo"></div></a>
    <a href="#">
        <img src="../images/user_avatar.jpeg"/>
        <span>Olya Korabliova</span>
    </a>
    <a class="user-page-header__edit-profile" href="#">Edit Profile</a>
    <a class="user-page-header__edit-profile" href="#" title="See your activity on Facebook">View Activity Log</a>
    <a class="user-page-header__edit-profile" href="#" title="More">...</a>
    <div class="user-page-header__about-user-profile">
        <a href="#" style="color: #4b4f56;">Timeline</a><a href="#">About</a><a href="#">Friends</a><a
            href="#">Photos</a><a href="#" style="border-right: #e9eaed solid 1px;">More</a>
    </div>
</section>
</body>
</html>