<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/user_post.css"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <title>User Post</title>
</head>
<body>
<section class="news-feed">
    <div class="news-feed__make-post">
        <a class="news-feed__make-post_active" href="#" style="padding: 3px; color: #4B4F56;">
            <i class="fa fa-pencil-square-o"></i>
            Make Post
        </a>
        <a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">
            <i class="fa fa-file-photo-o" style="color: #4B4F56;"></i>
            Photo/Video Album
        </a>
        <a href="#" style="border-left: 2px solid #ced0d4; padding-left: 7px;">
            <i class="fa fa-video-camera" style="color: #4B4F56;"></i>
            Video
        </a>
    </div>
    <div class="news-feed__post-content">
        <form>
            <a class="user-profile" href="#">
                <img class="user-profile__user-pic" height="45px"
                     src="../images/user_avatar.jpeg"/>
            </a>
            <textarea placeholder="What's on your mind, Olya?"></textarea>
        </form>
        <div class="news-feed__add-content">
            <a href="#">
                <i class="fa fa-photo" style="color: #8ABF4C;"></i>
                Photo/Video
            </a>
            <a href="#">
                <i class="fa fa-smile-o" style="color: #FFD62C;"></i>
                Feeling/Activity
            </a>
            <a href="#">...</a>
        </div>
    </div>
    {{#main-page-posts}}
        <div class="news-feed__user-post">
            <a href="{{user-link}}">
                <img class="user-profile__user-pic" src="{{img-src}}"/>
            </a>
            <div class="user-profile__info">
                <a class="user-profile__name" href="{{user-link}}">{{name}}</a>
                {{#add-info}}
                    <span>{{preposition}} <a href="#">{{info}}</a></span>
                {{/add-info}}
                <br>
                <a href="#">
                    <time datetime="dd.mm.yyyy">{{post-time}}</time>
                </a>
            </div>
            <p>{{description}}</p>
            <img class="news-feed__user-file" src="{{file}}"/>
            <br>
            <a class="user-post__like-comm-share" href="#">
                <i class="fa fa-thumbs-o-up"> Like</i>
            </a>
            <a class="user-post__like-comm-share" href="#">
                <i class="fa fa-comment-o"> Comment</i>
            </a>
            <a class="user-post__like-comm-share" href="#">
                <i class="fa fa-send-o"> Share</i>
            </a>
        </div>
        <div class="who-likes-shared-commented">
            <div class="user-post__likes-shares">
                <a class="who-liked" href="#">
                    <i class="fa fa-thumbs-up"> {{who-liked}}</i>
                </a>
                <a class="who-liked" href="#">
                    <i class="fa fa-send"> {{who-shared}}</i>
                </a>
            </div>
            <div class="user-post__comments">
                <form class="user-post__comments-form" action="#">
                    <a href="#">
                        <img class="user-profile__user-pic"
                             src="../images/user_avatar.jpeg"/>
                    </a>
                    <input type="text" placeholder="Write a comment..."/>
                </form>
            </div>
        </div>
    {{/main-page-posts}}
</section>
</body>
</html>