<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/mail-settings-buttons.css">
    <link rel="stylesheet" href="styles/select-message-button.css">
    <link rel="stylesheet" href="styles/button-refresh.css">
</head>
<body>
<section class="header__mail-settings">
    <button class="mail-settings__gmail_button">Gmail</button>
    <button class="select-messages__button">
        <input type="checkbox" placeholder="">
    </button>
    <button class="mail-settings__button_refresh">Оновити</button>
    <button class="mail-settings__more">Більше</button>
    <div class="buttons-position">
        <button class="mail-settings__button_previous">Попереднє</button>
        <button class="mail-settings__button_next">Наступне</button>
        <button class="mail-settings__button_setting">Настройки</button>
    </div>
</section>
</body>
</html>