<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/chat.css">
    <link rel="stylesheet" href="styles/chat-buttons.css">
</head>
<body>
<section class="chat">
    <span class="chat__profile">
        <img class="chat__profile_img" src="images/photo1.png" alt="">
        <p class="chat__profile_name">Volodimir</p>
        <button class="chat__new-chat">Створити чат</button>
    </span>
    <aside class="chat__data">
        <p >Немає нещодавніх бесід</p>
        <a href="">Розпочати новий сеанс</a>
    </aside>
    <footer class="chat__footer">
        <button class="button__contacts">Contacts</button>
        <button class="button__chats">Chats</button>
        <button class="button__calls">Calls</button>
    </footer>
</section>

</body>
</html>