<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bchat.css">
    <title>Document</title>

</head>
<body>
<section class="Chat">
    <span class="Chat__profile">
        <img class="Chat__profile_img" src="images/photo1.png" alt="">
        <p class="Chat__profile_name" >Volodimir</p>
        <button class="Chat__new-chat">Створити чат</button>
    </span>
    <aside class="Chat__data">
        <p >Немає нещодавніх бесід</p>
        <a href="">Розпочати новий сеанс</a>
    </aside>
    <footer class="Chat__buttons">
        <button class="Chat__buttons_contacts">Contacts</button>
        <button class="Chat__buttons_chats">Chats</button>
        <button class="Chat__buttons_calls">Calls</button>
    </footer>
</section>

</body>
</html>