<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/Layout.css">
    <link rel="stylesheet" href="styles/bMailNavigation.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>

</head>
<body>


    <nav class="Navigation">
        <a class="Navigation__link" href="">Inbox</a>
        <a class="Navigation__link" href="">Draft</a>
        <a class="Navigation__link" href="">With star</a>
        <a class="Navigation__link" href="">Sent</a>
    </nav>



</body>
</html>