<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/Layout.css">
</head>
<body>
<header class="Layout__header">
    <form class="search__form" action="">
        <input class="search__input" type="search" placeholder="">
        <button class="search__settings" title="Показати параметри пошуку"></button>
        <button class="search__button search__button_img" >Search</button>
    </form>
</header>
</body>
</html>