<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/google-apps.css">
    <link rel="stylesheet" href="styles/logo.css">
</head>
<body>
<a href="" class="logo">Google</a>
<section class="google-apps">
    <a class="google-apps__link google-apps__link_apps" href="">Google apps</a>
    <a class="google-apps__link google-apps__link_notification" href="">Notification</a>
    <a class="google-apps__link google-apps__link_profile" href="">Profile</a>
</section>

<form class="search__form" action="">
    <input class="search__input" type="search" placeholder="">
    <button class="search__settings" title="Показати параметри пошуку"></button>
    <button class="search__button search__button_img" >Search</button>
</form>



</body>
</html>