<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/bSearchForm.css">
    <link rel="stylesheet" href="styles/bGoogleApps.less">
    <link rel="stylesheet" href="styles/bLogo.css">
</head>
<body>
<a href="" class="Logo">Google</a>
<section class="Apps">
    <a class="Apps__link_more" href="">Google apps</a>
    <a class="Apps__link_notification" href="">Notification</a>
    <a class="Apps__link_profile" href="">Profile</a>
</section>
<form class="Search" action="">
    <input class="Search__input" type="search" placeholder="">
    <button class="Search__settings" title="Показати параметри пошуку"></button>
    <button class="Search__button Search__button_img" >Search</button>
</form>
</body>
</html>