<!DOCTYPE HTML>
<html>

<head>
    <title>Gmail</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bLogo.css">
    <link rel="stylesheet" href="styles/Layout.css">
    <link rel="stylesheet" href="styles/bchat.css">
    <link rel="stylesheet" href="styles/bGoogleApps.css">
    <link rel="stylesheet" href="styles/bButtonNewMessage.css">
    <link rel="stylesheet" href="styles/bMail.css">
    <link rel="stylesheet" href="styles/bMailFooter.css">
    <link rel="stylesheet" href="styles/bMailNavigation.css">
    <link rel="stylesheet" href="styles/bMailsButton.css">
    <link rel="stylesheet" href="styles/bMailTabs.css">
    <link rel="stylesheet" href="styles/bSearchForm.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body class="Layout">
<header class="Layout__header">

    <a href="" class="Logo">Google</a>
    <section class="Apps">
        {{#apps}}
            <a class="Apps__link Apps__link_{{attribute}}" href="">{{title}}</a>
        {{/apps}}
    </section>

    <form class="Search" action="">
        <input class="Search__input" type="search" placeholder="">
        <button class="Search__settings" title="Показати параметри пошуку"></button>
        <button class="Search__button Search__button_img">Search</button>
    </form>

</header>
<section class="Mail-buttons">
    {{#buttons}}
        <button class="Mail-buttons__{{attribute}}">{{title}}</button>
    {{/buttons}}
    <div class="buttons_right">
        {{#button}}
            <button class="Mail-buttons__{{attribute}}">{{title}}</button>
        {{/button}}
    </div>

</section>


<aside class="Layout__aside">
    <button class="Button__new_message">НАПИСАТИ</button>
    <nav class="Navigation">
        {{#aside}}
            <a class="Navigation__link" href="">{{title}}</a>
        {{/aside}}
    </nav>
    <section class="Chat">
    <span class="Chat__profile">
        <img class="Chat__profile_img" src="images/photo1.png" alt="">
        <p class="Chat__profile_name">Volodimir</p>
        <button class="Chat__new-chat">Створити чат</button>
    </span>
        <aside class="Chat__data">
            <p>Немає нещодавніх бесід</p>
            <a href="">Розпочати новий сеанс</a>
        </aside>
        <footer class="Chat__buttons">
            <button class="Chat__buttons_contacts">Contacts</button>
            <button class="Chat__buttons_chats">Chats</button>
            <button class="Chat__buttons_calls">Calls</button>
        </footer>
    </section>

</aside>
<main class="Layout__main">
    <section class="Tabs">
        {{#tabs}}
        <a class="Tabs__link Tabs__link_{{attribute}} " href="#">{{title}}</a>

    {{/tabs}}
            </section><!--
             -->
    <section class="Mail-list">
        {{#mails}}
            <article class="Mail-list__item">
                <form action="#" class="Mail-list__item-form">
                    <input class="Mail-list__item-checkbox" type="checkbox">
                    <input class="Mail-list__item-checkbox" type="checkbox">
                    <input class="Mail-list__item-checkbox" type="checkbox">
                </form><!--
                 -->
                <header class="Mail-list__item-sender">
                        {{sender}}
                </header><!--
                    --><p class="Mail-list__item-paragraph"> {{content}} </p><!--
                  -->
                <time class="Mail-list__item-time">
                    {{time}}
                </time>
            </article>
        {{/mails}}
    </section>


    <footer class="Footer">
        <a class="Footer__link" href="">Умови</a>
        <a class="Footer__link" href="">Конфіденційність</a>
    </footer>
</main>
</body>

</html>