<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    
    <link rel="stylesheet" href="less/main.css">
</head>

<body>

    <div class="wrapper">
        <section class="Section Section__vacation">
            <h2 class="Section__caption">Why you’ll love vacation in Cuba</h2>
            <p class="Section__description">It always had the allure a forbidden fruit. I love it for its uniqueness, creativity and survivalist spirit. I love it because, despite 60 years</br> of setbacks, it remains an upbeat and open place. Walk down the street with a Cuban friend
                and, within one block, you’ll have </br>received five handshakes, four kisses, three greetings of ‘dime hermano!’ and at least two invites into someone’s house. <a href="" class="Link__read_more">Read more</a></p>
        </section>
       

        <article class="Section Section__about">
            <h2 class="Section__caption">What Cuba is about</h2>
            <p calss="Section__description">Cuba is like a prince in a poor man’s coat; behind the sometimes shabby facades, gold dust lingers. It’s these rich dichotomies that make travel here the exciting. Trapped in a time warp and reeling from an economic embargo that has grated
                for more than half a century, this is a country where you can wave goodbye to everyday assumptions and expect the unexpected. <a href="" class="Link__read_more">Read more </a></p>
        </article>

    </div>
 
</body>

</html>