<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    <link rel="stylesheet" href="less/Photo__description.css">
    <link rel="stylesheet" href="less/main.css">
    
</head>

<body>
   <article class="Photo__description Photo__description_left">
            <h3 class="Photo__description_caption">Historical Heritage</h3>
            <p class="Photo__description_article">Bereft of modern interference, Cuba’s colonial cities haven’t changed much since musket-toting pirates stalked the Caribbean. Atmosphere and architecture is particularly stirring in Havana, Trinidad and Camagüey where grandiose squares and
                cobbled streets tell erstwhile tales of opulence and intrigue. </p>
        </article>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,e_auto_contrast,h_428/v1513982172/ja-mashinka_xfmq1b.jpg" alt="" class="Photo__description_image Photo__description_image_right">

        <article class="Photo__description Photo__description_right">
            <h3 class="Photo__description_caption">Astonishing Beaches</h3>
            <p class="Photo__description_article">Whether you’re staying in a luxury hotel in Havana or exploring the rural charms of Vinales, in some ways it’s all the real Cuba. Some travellers might opt to miss the beach resort town of Varadero, but this energetic beachside paradise should
                still be an option to consider as part of your Cuban travel plans.</p>
        </article>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,h_428,w_570/v1513981484/Kuba-2_o7ps5h.jpg" alt="" class="Photo__description_image Photo__description_image_left">

</body>
</html>