<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    <link rel="stylesheet" href="less/Statistics.css">
    <link rel="stylesheet" href="less/main.css">
</head>

<body>
    <div class="Statistic">
        <aside> <img src="../img/trip.png" class="Statistic__trip">
            <h4 class="Statistic__caption">1,920</h4>
            <p class="Statistic__description">Trip</p>
        </aside>
        <aside> <img src="../img/srore.png" alt="" class="Statistic__venues">
            <h4 class="Statistic__caption">271</h4>
            <p class="Statistic__description">Venues</p>
        </aside>
        <aside><img src="../img/ticket.png" class="Statistic__ticets">
            <h4 class="Statistic__caption">3,321</h4>
            <p class="Statistic__description">Tickets Sold</p>
        </aside>
        <aside><img src="../img/chat.png" class="Statistic__revies">
            <h4 class="Statistic__caption">2,912</h4>
            <p class="Statistic__description">Reviews</p>
        </aside>
    </div>
</body>
</html>