<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    <link rel="stylesheet" href="less/Interactive.css">
    <link rel="stylesheet" href="less/Destination.css">
    <link rel="stylesheet" href="less/Footer.css">
    <link rel="stylesheet" href="less/main.css">
    <link rel="stylesheet" href="less/Navigation.css">
    <link rel="stylesheet" href="less/Photo__description.css">
    <link rel="stylesheet" href="less/Statistics.css">
    <link rel="stylesheet" href="less/Roundabout.css">

</head>

<body>
    <header class="Destination">
        <h1 class="Destination__caption">Cuba</h1>
        <p class="Destination__description">Explore the world of Casas & Cadillacs</p>
    </header>

    <nav class="Navigation">
        <a href="" class="Navigation__item">Summary</a>
        <a href="" class="Navigation__item">General</a>
        <a href="" class="Navigation__item">Sights</a>
        <a href="" class="Navigation__item">Weather</a>
        <a href="" class="Navigation__item">What to do</a>
        <a href="" class="Navigation__item">Recidental Guide</a>
        <a href="" class="Navigation__item">Photos</a>
    </nav>
    <div class="wrapper">
        <section class="Article">
            <h2 class="Article__caption">Why you’ll love vacation in Cuba</h2>
            <p class="Article__description">It always had the allure a forbidden fruit. I love it for its uniqueness, creativity and survivalist spirit. I love it because, despite 60 years</br> of setbacks, it remains an upbeat and open place. Walk down the street with a Cuban friend
                and, within one block, you’ll have </br>received five handshakes, four kisses, three greetings of ‘dime hermano!’ and at least two invites into someone’s house. <a href="" class="Link__read_more">Read more</a></p>
        </section>
        <div class="Statistic">
            <aside> <img src="../img/trip.png" class="Statistic__trip">
                <h4 class="Statistic__caption">1,920</h4>
                <p class="Statistic__description">Trip</p>
            </aside>
            <aside> <img src="../img/srore.png" alt="" class="Statistic__venues">
                <h4 class="Statistic__caption">271</h4>
                <p class="Statistic__description">Venues</p>
            </aside>
            <aside><img src="../img/ticket.png" class="Statistic__ticets">
                <h4 class="Statistic__caption">3,321</h4>
                <p class="Statistic__description">Tickets Sold</p>
            </aside>
            <aside><img src="../img/chat.png" class="Statistic__revies">
                <h4 class="Statistic__caption">2,912</h4>
                <p class="Statistic__description">Reviews</p>
            </aside>
        </div>

        <article class="Article">
            <h2 class="Article__caption">What Cuba is about</h2>
            <p class="Article__description">Cuba is like a prince in a poor man’s coat; behind the sometimes shabby facades, gold dust lingers. It’s these rich dichotomies that make travel here the exciting. Trapped in a time warp and reeling from an economic embargo that has grated
                for more than half a century, this is a country where you can wave goodbye to everyday assumptions and expect the unexpected. <a href="" class="Link__read_more">Read more </a></p>
        </article>

        <article class="Photo__description Photo__description_left">
            <h3 class="Photo__description_caption">Historical Heritage</h3>
            <p class="Photo__description_article">Bereft of modern interference, Cuba’s colonial cities haven’t changed much since musket-toting pirates stalked the Caribbean. Atmosphere and architecture is particularly stirring in Havana, Trinidad and Camagüey where grandiose squares and
                cobbled streets tell erstwhile tales of opulence and intrigue. </p>
        </article>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,e_auto_contrast,h_428/v1513982172/ja-mashinka_xfmq1b.jpg" alt="" class="Photo__description_image Photo__description_image_right">

        <article class="Photo__description Photo__description_right">
            <h3 class="Photo__description_caption">Astonishing Beaches</h3>
            <p class="Photo__description_article">Whether you’re staying in a luxury hotel in Havana or exploring the rural charms of Vinales, in some ways it’s all the real Cuba. Some travellers might opt to miss the beach resort town of Varadero, but this energetic beachside paradise should
                still be an option to consider as part of your Cuban travel plans.</p>
        </article>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,h_428,w_570/v1513981484/Kuba-2_o7ps5h.jpg" alt="" class="Photo__description_image Photo__description_image_left">

        <section class="Interactive">
            <h2 class="Interactive__caption">The Cadillacs of Cuba</h2>

            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/v1513984569/dscf0207_lyzfyh.jpg" alt="" class="Interactive__image">
            <p class="Interactive__description">The American trade embargo with Cuba in 1960 had the effect of instantly separating thousands of 1940s and 1950s Detroit-built cars from their spare parts supply. Convertibles were always popular, thanks to year-round tropical weather. The
                place for posing with your ride is hard to miss in Havana. The squares around Capitolio, a flattering copy of Washington’s Capitol building, are lined with 50-year-old American cars during daylight hours.</p>
        </section>
        <article class="Article">
            <h2 class="Article__caption">Cuba in Photos</h2>
            <p class="Article__description">When you think of Carribean, you’re probably not thinking of Cuba. It’s the lone acacia silhouetted against a horizon stretching into eternity. It’s the snow-capped mountain almost on the equator and within sight of harsh deserts. It’s the
                lush, palm-fringed coastline of the Indian Ocean, it’s the Great Rift Valley that once threatened to tear the continent asunder, and it’s the dense forests reminiscent of the continent’s heart. In short, Kenya is a country of epic landforms
                that stir our deepest longings for this very special continent.</p>
        </article>
        <div class="Roundabout">
            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,h_420,w_560/v1513988696/376299-svetik_l5sjfz.jpg" alt="" class="Roundabout__image Roundabout__image_second_right">
            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,h_420,w_560/v1513988233/1_aik55m.jpg" alt="" class="Roundabout__image Roundabout__image_second_left">
            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,e_auto_contrast,h_480,w_640/v1513988060/scaled-cuba_michael_petit_vintage_cars_old_havana_cuba_cr_michael_petit_ts1vik.png" alt="" class="Roundabout__image Roundabout__image_center">
        </div>

    </div>
    <footer class="Footer">
        <div class="Footer__wrapper">
            <div class="Footer__info">
                <a href="" class="Footer__logo">T-Agency</a>
                <select name="Footer__select">
                    <option> US Dolars</option>
                    <option>UAH</option>
                </select>
            </div>
            <div class="Footer__site-map">
                <div>
                    <h4 class="Footer__company">Company</h4>
                    <a href="" class="Footer__site-map-item">About TripOp</a>
                    <a href="" class="Footer__site-map-item">Work with us</a>
                    <a href="" class="Footer__site-map-item">Press Room</a>
                    <a href="" class="Footer__site-map-item">Become a Parent</a>
                </div>
                <div>
                    <h4 class="Footer__discover">Discover</h4>
                    <a href="" class="Footer__site-map-item">How to book?</a>
                    <a href="" class="Footer__site-map-item">Methods of Payment</a>
                    <a href="" class="Footer__site-map-item">General Conditions</a>
                    <a href="" class="Footer__site-map-item">Privacy Policy</a>
                    <a href="" class="Footer__site-map-item">Site Map</a>
                </div>
                <div>
                    <h4 class="Footer__contact">Contact</h4>
                    <a href="" class="Footer__site-map-item">Contact Us</a>
                    <a href="" class="Footer__site-map-item">Facebook</a>
                    <a href="" class="Footer__site-map-item">Instagram</a>
                    <a href="" class="Footer__site-map-item">YouTube</a>
                    <a href="" class="Footer__site-map-item">Newsletter</a>
                </div>
                <div>
                    <h4 class="Footer__blog-caption">Blog</h4>
                    <a href="" class="Footer__site-map-item">Choosing A Static Caravan</a>
                    <a href="" class="Footer__site-map-item">Cost Cutting Ideas For Your Wedding</a>
                    <a href="" class="Footer__site-map-item">Do A Sporting Stag Do In Birmingham</a>
                    <a href="" class="Footer__site-map-item">YMother Earth Hosts Our TravelsouTube</a>
                    <a href="" class="Footer__site-map-item">Trip To Iqaluit In Nunavut A Canadian Arctic City</a>
                </div>
            </div>
        </div>
        <aside class="Footer__copy">© 2016 All rights reserved. </aside>

    </footer>

</body>

</html>