body{
    margin: 0;
}


.header-background{
    background-color: #4267b2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*position: fixed;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.page-header {
    background-color: #4267b2;
    margin-left: 5%;
    width: 85%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-header .menu{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.page-header a {
    font-weight: bold;
    color: #FFFFFF;
}

.page-header .menu span{
    float: right;
    margin: 5px;
    color: #FFFFFF;
}

.page-header nav.menu img.v_bar{
    width: 10px;
    height: 24px;
}

.page-header .menu img{
    max-height: 24px;
    border-radius: 50%;
    float: right;
}

.page-header .menu a img
{
    margin-left: 5px;
    border-radius: 0;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding-bottom: 7px;
    padding-top: 7px;
}

.search img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
    border-radius: 2px;
}

.search form, input{
    display: flex;
    align-self: flex-start;
    margin-left: auto;
    height: 24px;
    width: 100%;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search button{
    float: left;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.left-sidebar {
    width: 15%;
    /*position: -webkit-sticky;
    position: sticky;
    top: -50px;*/
    position: fixed;
/*    border: 2px #000 dotted;*/
}

.left-sidebar .user{
    width: 100%;
}

.left-sidebar section a{
    width: 80%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    font-weight: lighter;
    color: #000000;
    border-radius: 2px;
    border: 1px #e9ebee solid;
}

.left-sidebar section a:hover {
    text-decoration: none;
    background-color: rgb(238, 238, 238);
    border: 1px #FFFFFF solid;
}

section a.active{
    background-color: rgb(238, 238, 238);
    border: 1px #FFFFFF solid;
}

.left-sidebar section img{
    width: 20px;
    height: auto;
    border-radius: 50%;
}


.left-sidebar section h6{
    color: rgba(8, 8, 8, 0.7);
    font-weight: bold;
    margin-bottom: 0px;
}

.content {
    background-color: #e9ebee;
    max-width: 100%;
    padding-left: 5%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-area {
    max-width: 80%;
    display: flex;
/*    align-items: center;
    justify-content: center;*/
}

.content-main{
    width: 60%;
    padding-left: 18%;
    margin-left: 20px;
}

.single-post{
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #FFFFFF;

}

.post-header {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    max-height: 60px;
    display: flex;
    align-items: center;
}

.post-header img{
    margin-right: 10px;
    height: 40px;
    border-radius: 50%;
}

.post-header section h5 {
    margin-bottom: 0;
}

.messages{
    width: 15%;
    padding-top: 55px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right:0;
    /*border: 2px #000 dotted;*/
}


.messages ul::-webkit-scrollbar {
    display: none;
}


.messages ul {
    overflow-y: scroll;
    border-left: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 0px;
    list-style: none;
}

.messages li{
    padding-left: 5px;
}

.messages img {
    max-height: 48px;
    border-radius: 50%;
}

.messages .msg-shortcut{
    margin-bottom: 10px;
}

.messages .msg-search {
    margin-top: auto;
    width: 100%;
}

.right-sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    max-width: 30%;
    margin-left: 15px;
    margin-right: 15px;
}

.right-sidebar img{
    width: 100%;
}

.rs-bar-block h6{
    display: inline;
}

.rs-bar-block {
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFFFFF;
}

.ad {
    margin-bottom: 20px;
}

.ad p{
    color: #396ae4;
    font-weight: bold;
    margin-bottom: 0px;
}

.ad a{
    color: #000000;
}

.ad a:hover{
    color: #000000;
    text-decoration: none;
}

.copyright-info  a:nth-child(1):before {
    content: "";
}

.copyright-info{
    background-color: inherit;
    color: #acacac;
}

.copyright-info a {
    color: #acacac;
}