@import "vars";

.Activity {
  &__button {
    //position: relative;
    //top: -153px;
    //left: 270px;
    font-size: 12px;
    font-weight: bold;
    //font-family: inherit;
    //text-align: center;
    padding: 5px 10px 5px 10px;
    border: @main-border;
    border-radius: 2px;
    margin-left: 3px;
    background-color: @milk;
    color: @dark-grey;
    &:hover {
      background-color: @main-grey;
    }
  }

  &__icon1 {
    width: 20px;
    height: 20px;
    //margin: 3px;
    display: inline-block;
    background-image: url("../images/icon-sprite1.png");
    //background-size: image-width(@sprite) image-height(@sprite);
    vertical-align: middle;
  }
}

.Icon1_edit-pencil {background-position: -42px 49px;}
