@import "vars";

.Cover__photo {
  background-image: url("../images/cover_photo.jpg");
  background-size: cover;
  width: auto;
  height: 350px;
  border-left: @cover-photo-border;
  border-right: @cover-photo-border;
  //position: relative;
  //left: 0;
}