@import "vars";

.Events {
  margin-top: 10px;
  background-color: white;
  border: @main-border;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  &__item {
    &-link {
      color: black;
    }
    &-time {
      color: @title_time;
    }
  }
}