.Icon {
  height: 20px;
  width: 20px;
  margin: 3px;
  display: inline-block;
  background-image: url("../images/my-icons-sprite.png");
  background-size: 35px 1985px;
  vertical-align: middle;
}
.Icon_news {
  background-position: 0 -1036px;
}
.Icon_messenger {
  background-position: 0 -638px;
}
.Icon_light-bulb {
  background-position: 0 -1583px;
}
.Icon_fist {
  background-position: 0 -1709px;
}
.Icon_photo-video-option {
  background-position: 0 -535px;
}
.Icon_feeling-activity-option {
  background-position: 0 -429px;
}
.Icon_more-options {
  background-position: 0 -157px;
}
.Icon_education {
  background-position: 0 -1437px;
}
.Icon_win-cup {
  background-position: 0 -1499px;
}
.Icon_house {
  background-position: 0 -1543px;
}
.Icon_request {
  background-position: 0 -241px;
}
.Icon_calendar21 {
  background-position: 0 -701px;
}
.Icon_calendar23 {
  background-position: 0 -743px;
}
.Icon_calendar25 {
  background-position: 0 -785px;
}
.Icon_pages {
  background-position: 0 -1142px;
}
.Icon_saved {
  background-position: 0 -1289px;
}
.Icon_groups {
  background-position: 0 -911px;
}
.Icon_friend-list {
  background-position: 0 -1058px;
}
.Icon_on-this-day {
  background-position: 0 -1122px;
}
.Icon_pokes {
  background-position: 0 -1268px;
}
.Icon_pages-feed {
  background-position: 0 -1163px;
}
.Icon_photos {
  background-position: 0 -1226px;
}
.Icon_games {
  background-position: 0 -828px;
}
.Icon_poll {
  background-position: 0 -134px;
}
