@import "vars";

body {
  margin: 0;
  background-color: @main-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.Facebook {
  margin-right: 205px;
  &__payload {
    margin-top: @main-top + 10px;
    width: 961px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  &__news-line {
    float: left;
    width: 500px;
  }
  &__ad-feed {
    float: left;
    width: 250px;
    margin-left: 10px;
  }
}
.Tool-bar {
  float: left;
  width: 180px;
}