@import "vars";

.Languages {
  background-color: white;
  border: @main-border;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  &__item {
    color: @main-blue;
    font-size: 12px;
    &.active {
      color: @grey-info;
    }
  }

}