@import "vars";

body {
  margin: 0;
  background-color: @main-grey;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
}

.Tool-bar {
  float: left;
  width: 180px;
}

a {
  text-decoration: none;
  //&:visited {
    color: inherit;
  //}
}