@import "vars";

body {
  margin: 0;
  background-color: @main-grey;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
}

.Tool-bar {
  position: fixed;
  top: @main-top + 15px;
  width: 180px;
}

.News {
  position: relative;
  top: 30px;
  margin-top: 10px;
  left: 190px;
  width: 450px;
}

a {
  text-decoration: none;
  //&:visited {
    color: inherit;
  //}
}