@import "vars.less";
@sprite: "../images/icons-user-page-2.png";

.Photos {
  padding: 5px 5px 5px 10px;
  border: @main-border;
  border-radius: 3px;
  background-color: white;
  margin-top: 10px;
  &__title {
    margin: 10px;
  }
  &__photo {
    border: @main-border;
    &.bigger {
      width: 140px;
    }
    &.smaller {
      width: 91px;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: 3px;
    display: inline-block;
    background-image: url(@sprite);
    background-size: image-width(@sprite) image-height(@sprite);
    vertical-align: middle;
  }
}

.Icon_photos {background-position: 0 91px;}