body {
  font-size: 0;
  margin: 0;
  background: gray;
}
.calendar {
  font-size: 20px;
  width: 322px;
  padding: 20px;
  background: green;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.calendar__yearnumber {
  text-align: center;
  font-style: italic;
  font-size: 200%;
  /* header year notion */
}
.calendar__mounthname {
  text-align: center;
  font-style: italic;
  font-size: 150%;
  /* header with notion */
}
.calendar__day {
  height: 40px;
  width: 40px;
  background: yellow;
  border-radius: 5px;
  text-align: center;
  float: left;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  outline: black solid 1px;
}
.calendar__day_names {
  font-style: italic;
  background: none;
}
.calendar__day_holyday {
  background: #ff0000;
}
