<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Logo.css">
    </head>
    <body>
        <div class="Logo">
            <img class="Logo__picture" src="http://www.newagora.ca/wp-content/uploads/2017/03/167f9dbd-7f63-46fb-8c3f-d28aeec0a7bb-300x102.png">
        </div>
    </body>
</html>