<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Layout.css">
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Main-navigation.css">
        <link rel="stylesheet" href="style/Logo.css">
        <link rel="stylesheet" href="style/Creator-footer.css">
        <link rel="stylesheet" href="style/media.css">
        <link rel="stylesheet" href="style/Multicolored-block.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <div class="Multicolored-block"></div>
            <div class="Header">
                <div class="Header__wrapper">
                    <div class="Header__logo-mover">
                        <div class="Logo">
                            <img class="Logo__picture" src="http://www.newagora.ca/wp-content/uploads/2017/03/167f9dbd-7f63-46fb-8c3f-d28aeec0a7bb-300x102.png">
                        </div>
                    </div>
                    <div class="Header__main-navigation-mover">
                        <nav class="Main-navigation">
                            <button class="Main-navigation__join">Join</button>
                            <a class="Main-navigation__item" href="">Log in</a>
                            <a class="Main-navigation__item" href="">Host videos</a>
                            <a class="Main-navigation__item" href="">Sell</a>
                            <a class="Main-navigation__item" href="">Watch</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main class="Layout__payload">
            <section class="Creator-footer">
                <div class="Creator-footer__wrapper">
                    <h2 class="Creator-footer__title">Welcome to the world’s best community of video creators</h2>
                    <aside class="Creator-footer__link-block">
                        <a class="Creator-footer__link Creator-footer__link-find" href="">Find a plan</a>
                        <a class="Creator-footer__link Creator-footer__link-join" href="">Join free</a>
                    </aside>
                </div>
                <cite class="Creator-footer__picture-info">
                    Wilderness
                    <br>from
                    <strong>Studiocanoe</strong>
                </cite>
            </section>
        </main>
        <footer class="Layout__footer"></footer>
    </body>
</html>