.Header {
  background-color: #4267B2;
  margin: 0;
}

.Facebook_logo, .Search {
  display: inline-block;
  vertical-align: middle;
}

.Facebook_logo {
  padding-top: 6px;
}

.User-pages-navigation, .Notification-menu {
  display: inline-block;
  vertical-align: middle;
}

.Header__left, .Header__right {
  display: inline-block;
  vertical-align: middle;
}

.Header__right {
  margin-left: 150px;
}