@sprite: "../images/icons-sprite.png";

.Icon{
  height: 20px;
  width: 20px;
  margin: 3px;
  display: inline-block;
  background-image: url(@sprite);
  background-size: image-width(@sprite) * 0.6 image-height(@sprite) * 0.6;
  vertical-align: middle;
}


.Icon_news {background-position: 0px -2565px;}
.Icon_messenger {background-position: 0px -2188px;}
.Icon_plain {background-position: 0  2594.6px;}
.Icon_events {background-position: 0 2733.6px;}
.Icon_groups {background-position: 0 1940.6px;}
.Icon_friends {background-position: 0  2594.6px;}
.Icon_fan_club {background-position: 0  2594.6px;}
.Icon_friend-list {background-position: 0  2594.6px;}
.Icon_saved {background-position: 0 1940.6px;}
.Icon_direct-translation {background-position:  0  2594.6px;}
