.Create-post {

  &__icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 5px;
  }

  &__icon_create-a-post {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 5px;
    background-position: 0 91px;
    background-image: url(../images/icon-sprite6.png);
  }

  &__icon_album-with-pictures {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 5px;
    background-position: 18px 17px;
    background-image: url(../images/icon-sprite7.png);
  }

  &__icon_live-video {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
    margin-right: 5px;
    background-position: 0 34px;
    background-image: url(../images/icon-sprite7.png);
  }

}
