.Language {
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: white;
  padding: 12px;
  margin-bottom: 8px;
  margin-left: 5px;

  &__item  {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #365899;
  }

  &__another-language {
    height: 25px;
    width: 34px;
    float: right;
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: #e9ebee
  }

  &__icon {
    background-position: 0 20px;
    background-image: url(../images/icon-sprite5.png);
    height: 12px;
    width: 12px;
    display: block;
    margin: 5px 11px 0;
  }

  &__item_ua {
    color: #90949c;
  }
}

