.Layout {}

.Layout__header {
  //background: aqua;
  position: fixed;
  width: 100%;
  height: 41px;
  top: 0;
}

.Layout__header-wrapper {
  //background: darkgray;
  width: 961px;
  margin-left: auto;
  margin-right: auto;
}

.Layout__navigation {
  //background: brown;
  float: left;
  width: 180px;
}

.Layout__news-line {
  //background: chartreuse;
  float: left;
  width: 500px;
}

.Layout__additional-info {
  //background: darkorchid;
  float: left;
  width: 281px;
}

.Layout__chat {
  //background: goldenrod;
  position: fixed;
  right: 0;
  top: 41px;
  width: 205px;
  bottom: 0;
  //overflow: 0;
}

.Layout__payload {
  //background: deeppink;
  margin-top: 41px;
  width: 961px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
