.Layout {
  margin: 0;
  padding: 0;
  background-color: #E9EBEE;

  &__header {
    width: 100%;
    height: 41px;
    background-color: #4267B2;
  }

  &__wrapper {
    width: 961px;
    margin-left: auto;
    margin-right: auto;
  }

  &__navigation {
    float: left;
    width: 180px;
  }

  &__news-line {
    float: left;
    width: 500px;
  }

  &__additional-info {
    background: white;
    float: left;
    width: 281px;
  }

}

