@sprite: "../images/icons-sprite.png";

.Navigation{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 8px;
  border-radius: 4px;

  &__item {
    display: block;
    margin-left: 2px;
    max-width: 126px;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: #1D2129;
    height: 30px;
  }

  &__title {
    color: #696969;
    padding: 4px;
    font-size: 14px;
    overflow: hidden;
  }

  &__create-items {
    text-decoration: none;
    color: #4267B2;
    display: inline;

  }
}



