.User-pages-navigation {
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color: #4267B2;;


  &__personal-page, &__main-page {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    margin-right: 10px;

  }

  &__avatar {
    width: 23px;
    height: 23px;
    border-radius: 100% ;
    vertical-align: middle;
    padding: 3px;
  }

  &__main-page {
    border-left: 1px solid gray;
    padding-left: 8px;
  }
}
