.search {
    margin-left: -120px;
}

.search {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 3px;
}

.search img {
    margin-left: 33px;
    margin-right: 6px;
}

.search input {
    width: 440px;
    border-radius: 3px;
    border: none;
    height:22px;
    margin-right: -49px;
    padding-left: 9px;
}

.search button {
    width: 47px;
    height: 24px;
    top:30px;
    border: none;
    border-radius: 1px;
    z-index: 1;
    background-color: #f7f7f7;
}