
 
.Footer{
    background-color: #f8f8f8;
    
    &__logo{
        font-size: 34px;
        font-weight: 500;
        color: #37c491;
    
    }
    &__site-map{
       display: flex;
    }
    &__select{
    width: 100px;
    padding-left: 20px;
}}