.chat{
  &__profile_img{
    position: relative;
    height: 35px;
    width: 35px;
    top: 50px;
    left: 20px;
  }


  &__footer{
    position: fixed;
    bottom:0;
  }
  &__button {
    position: relative;
    bottom: 0;
    left: 60px;
    height: 26px;
    width: 26px;
    color: transparent;

  }
}



