
.google-apps {
  &__link {
    display: inline-block;

    &_apps {
      position: fixed;
      right: 170px;
      top: 22px;
      height: 20px;
      width: 20px;
      overflow: hidden;
      color: transparent;
      background-image: url(https://cdn4.iconfinder.com/data/icons/web-mobile1/100/Untitled-34-512.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
    }

    &_notification {
      position: fixed;
      right: 100px;
      top: 20px;
      height: 25px;
      width: 25px;
      overflow: hidden;
      border-radius: 50%;
      color: transparent;
      background-image: url(https://image.flaticon.com/icons/png/128/181/181539.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
    }
    &_profile {
      position: fixed;
      right: 40px;
      top: 19px;
      height: 30px;
      width: 30px;
      overflow: hidden;
      border-radius: 50%;
      color: transparent;
      background-image: url(https://cdn1.iconfinder.com/data/icons/business-charts/512/avatar-512.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
    }
  }
}