@bgcolor: #f1f1f1;

.Layout__header {
  background-color: @bgcolor;
  height: 110px;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 5px;
}

.header{
  &__logo,
  &__search,
  &__profile{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  &__profile-button {
    float: right;
    margin-left: auto;
    margin-right: 30px;
  }
  &__logo{
    margin-left: 50px;
    width: 120px;
    height:50px;
    }
  }


