.Layout__header {
  background-color: #f1f1f1;
  height: 110px;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 5px;
}
.header__logo,
.header__search,
.header__profile {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.header__profile-button {
  float: right;
  margin-left: auto;
  margin-right: 30px;
}
.header__logo {
  margin-left: 50px;
  width: 120px;
  height: 50px;
}
