@button-color: #DF4B39;
@bg-color: #f3f3f3;

.mail-settings {

  &__gmail-button {
    color: @button-color;
    font-size: 22px;
    border: none;
    margin-left: 50px;
    margin-top: 10px;
  }
  &__select-messages {
    margin-top: 10px;
    margin-left: 90px;
    height: 26px;
    width: 72px;
  }
  &__button-refresh {
    width:30px;
    height: 30px;
    margin-left: 20px;
    overflow: hidden;
    color: transparent;
    border:none;
    background-image: url(https://www.materialui.co/materialIcons/navigation/refresh_grey_192x192.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
  }
  &__button-previous{
    color: transparent;
    height: 25px;
    width: 25px;
    background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-128.png);
    background-size: 25px 25px;
    background-color: @bg-color;
    border: none;
  }
  &__button-next{
    color: transparent;
    height: 25px;
    width: 25px;
    background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png);
    background-size: 25px 25px;
    background-color: @bg-color;
    border: none;
  }
  &__button-setting{
    color: transparent;
    height: 28px;
    width: 50px;
    background-image: url(https://cdn3.iconfinder.com/data/icons/fez/512/FEZ-04-512.png);
    background-size: 24px 24px;
    background-color: @bg-color;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
  }
}
