.search {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 40px;
}
.search__button {
  border: 1px solid transparent;
  height: 30px;
  margin: 0;
  left: -10px;
  outline: none;
  color: transparent;
  border-radius: 2px;
  width: 40px;
  overflow: hidden;
  box-shadow: none;
  background-size: 30px 30px;
  background-image: url(https://ssl.gstatic.com/gb/images/v1_aad35c85.png);
  background-color: #6DB1ED;
  background-position: 0 -479px;
  background-repeat: no-repeat;
}
.search__input {
  top: 20px;
  width: 590px;
  height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #BDBDBD;
}
.search__input:focus {
  top: 20px;
  width: 590px;
  height: 28px;
  outline: none;
  border: 1px solid #727272;
}
