.header__search-button{
  border: 1px solid transparent;
  height: 28.4px;
  margin: 0;
  left:-5px;
  outline: none;
  color: transparent;
  width: 29px;
  overflow: hidden;
  box-shadow: none;
  background-size: 29px 28.4px;
  background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-128.png) ;
  background-color: #4189ff;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="search"] {
  top: 20px;
  width: 590px;
  height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #BDBDBD;
}

input[type=search]:focus {
  top: 20px;
  width: 590px;
  height: 28px;
  outline: none;
  border: 1px solid #727272;
}