
aside {
    left: 0;
    width: 200px;
    top: 120px;
    bottom: 0;
    position: fixed;

    max-height: 100%;
}

main {
    position: fixed;
    overflow: auto;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 200px;
    font-size: 80%;

    max-height: 100%;
}

article {
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
    background-color: white;
}

.header__logo {
    width: 92px;
}



.Layout__header {
    height: 110px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.header__profile-button {
    float: right;
    margin-left: auto;
    margin-right: 30px;
}

.buttons-to-right button {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.searchbar {
    margin-left: 50px;
    vertical-align: middle;
}

.searchbar button {
    width: 60px;
    height: 30px;
    overflow: hidden;
    margin-left: -10px;
}

.searchbar input {
    height: 28px;
    border: none;
    box-shadow: #ced0d4;
    margin-right: 0;
}

.top-buttons {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.7px solid lightgray;
    border-bottom: 0.7px solid lightgray;
}

#gmail-button, .operate-letters {
    display: inline-block;
}

.navigate-letters {
    float: right;
    margin-right: 30px;
}

#gmail-button {
    background-color: #F5F5F5;
    color: red;
    border: none;
    padding-left: 10px;
    font-size: 14pt;
}

.operate-letters {
    margin-left: 120px;
}

.operate-letters button {
    width: 60px;
    height: 29px;
    overflow: hidden;
}

.navigate-letters button {
    width: 50px;
    height: 29px;
    overflow: hidden;
}

/*
.navigate-letters {
    margin-right: auto;
}
*/
.mail-folders button, a {
    display: block;
    text-decoration: none;
    color: #222;
    font-size: 80%;
    height: 28px;
    vertical-align: middle;
    padding-left: 30px;
}

#write-letter {
    margin-left: 50px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    box-shadow: none;
    padding: 3px;
}

#more {
    background-color: #F5F5F5;
    border: none;
    margin: 0;
    padding-top: 0;
}

.hangouts {
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
}

.hangouts button {
    display: block;
    margin-left: 30px;
    background-color: #F5F5F5;
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #222;
    border: none;
    height: 30px;
}

#me {
    border-top: 0.7px solid lightgray;
    border-bottom: 0.7px solid lightgray;
    width: 120px;
    text-align: left;
}

.hangouts-buttons button {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: 1px solid gray;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 40px;
    z-index: 1;
}

.hangouts-buttons {
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.mail-tabs a {
    display: inline-block;
    text-decoration: none;
    height: 34px;
    width: 245px;
    font-size: 13px;
    color: #222;
    border: 1px solid lightgray;
    margin-left: -5px;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0;
    background-color: #F5F5F5;
}

.mail-tabs {
    padding-bottom: 10px;
    background-color: white;
    margin-left: 8px;

}

article > * {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 5.20ex;
    font-size: 90%;
    vertical-align: bottom;
}

article .select-marker {
    width: 50px;
}

article .sender {
    width: 30%;
    overflow: hidden;
}

article time {
    width: 40px;
    text-align: left;
}

article p {
    padding: 0;
    margin: 0;
    width: calc(70% - 90px);
}

article .select-marker #checkBox1 {
    border: none;
}