<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Eaty</title>
    <link rel="stylesheet" href="style/Contact-chef.css">
</head>
<body>
    <aside class="Layout__contact-chef">Lorem ipsum dolor sit amet.</aside>
</body>
</html>