<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Eaty</title>
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/Navigation.css">
</head>
<body>
    <header class="Layot__navigation">Lorem ipsum dolor sit amet. lorem
    </header>
</body>
</html>