.Additional {
  margin-top: 569px;
  width: 884px;
  height: 488px;
  background-color: #FEF9F6;

  &__comment {
    position: relative;
    top: 77px;
    left: 122px;
    width: 155px;
    height: 22px;
    font-family: AllerDisplay, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    text-align: left;
    border-color: #e5725e;
    color: #e5725e;
  }

  &__title {
    position: relative;
    left: 125px;
    top: 107px;
    width: 231px;
    height: 114px;
    font-family: AllerDisplay, sans-serif;
    font-size: 28px;
    font-weight: inherit;
    color: #4A4A4A;
  }

  &__text {
    position: relative;
    left: 125px;
    top: 48px;
    width: 231px;
    height: 152px;
    font-family: AllerDisplay, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    color: #4A4A4A;
  }

  &__button {
    position: relative;
    top: 24px;
    left: 125px;
    width: 177px;
    height: 40px;
    font-family: AllerDisplay, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    text-align: left;
    border-color: #e5725e;
    color: #e5725e;
  }

  &__picture {
    position: absolute;
    top: 1245px;
    left: 600px;
    width: 197px;
    height: 344px;
    background-image: url("https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/131532CC-C3D3-4B41-8CA0-FC660E91F13F.png");
  }

  &__picture-title {
    position: relative;
    left: 66px;
    top: 241px;
    width: 65px;
    height: 22px;
    font-family: AllerDisplay, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    text-align: center;
    color: #ffffff;
  }

  &__picture-text {
    position: relative;
    left: 10px;
    top: 231px;
    width: 178px;
    height: 63px;
    font-family: AllerDisplay, sans-serif;
    font-size: 15px;
    font-weight: inherit;
    text-align: center;
    color: #ffffff;
  }

  &__banner {
    position: absolute;
    left: 800px;
    top: 1320px;
    width: 398px;
    height: 265px;

  }
}