.Banner {
  width: 1154px;
  height: 488px;
  background-image: url("https://cdn.zeplin.io/5a1a860a8d83bb39f5fcc833/assets/08824691-AEC4-4E4D-898A-855B9295C274.png");

  &__button {
    position: absolute;
    margin-left: 65px;
    margin-top: 298px;
    width: 177px;
    height: 40px;
    font-family: AllerDisplay, sans-serif;
    font-size: 18px;
    font-weight: inherit;
    text-align: center;
    vertical-align: middle;
    color: #e5725e;
    background-color: #ffffff;
  }
}

h1 {
  position: absolute;
  margin-left: 65px;
  margin-top: 140px;
  width: 663px;
  font-family: AllerDisplay, sans-serif;
  font-size: 40px;
  text-align: left;
  color: #ffffff;
  font-weight: inherit;
}

h2 {
  position: absolute;
  margin-left: 65px;
  margin-top: 205px;
  width: 691px;
  font-family: AllerDisplay, sans-serif;
  font-size: 28px;
  font-weight: inherit;
  text-align: left;
  color: #ffffff;
}