.Feedback {

  &__pic {
    position: absolute;
    top: 1687px;
    left: 206px;
    width: 307px;
    height: 549px;
  }

  &__title {
    position: absolute;
    left: 580px;
    top: 1798px;
    width: 549px;
    height: 57px;
    font-family: AllerDisplay, sans-serif;
    font-size: 38px;
    font-weight: inherit;
    color: #E76F61;
  }

  &__comment {
    position: absolute;
    left: 580px;
    top: 1855px;
    width: 731px;
    height: 37px;
    font-family: AllerDisplay, sans-serif;
    font-size: 28px;
    font-weight: inherit;
    color: #4A4A4A;
  }

  &__text {
    position: absolute;
    left: 580px;
    top: 1908px;
    width: 731px;
    height: 57px;
    font-family: AllerDisplay, sans-serif;
    font-size: 18px;
    font-weight: inherit;
    color: #737373;
  }

  &__button {
    position: absolute;
    top: 2016px;
    left: 580px;
    width: 177px;
    height: 40px;
    font-family: AllerDisplay, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    border-color: #e5725e;
    color: #e5725e;
  }
}