.Footer {
  position: absolute;
  top: 2235px;
  width: 1170px;
  height: 177px;
  background-color: #4A4A4A;

  &__text {
    position: relative;
    left: 24px;
    top: 40px;
    width: 605px;
    height: 53px;
    font-family: AllerDisplay, sans-serif;
    font-size: 14px;
    font-weight: inherit;
    text-align: left;
    color: #F0F0F0;
  }

  &__search {
    position: absolute;
    left: 712px;
    top: 60px;
    width: 317px;
    height: 40px;
    font-family: AllerDisplay, sans-serif;
    font-size: 14px;
    font-weight: inherit;
    text-align: left;
    color: #F0F0F0;
  }

  &__button {
    position: absolute;
    top: 47px;
    left: 1037px;
    width: 109px;
    height: 40px;
    font-family: AllerDisplay, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    border-color: #e5725e;
    color: #e5725e;
  }

  &__copyright {
    position: absolute;
    top: 139px;
    left: 24px;
    width: 1122px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: AllerDisplay, sans-serif;
    font-size: 14px;
    font-weight: inherit;
    color: #F0F0F0;
  }
}