.Main {
  position: absolute;
  margin-left: 261px;
  margin-top: -60px;
  width: 854px;
  height: 264px;
  background-color: #E76F61;

  &__title {
    position: absolute;
    left: 24px;
    top: 103px;
    width: 205px;
    height: 38px;
    font-family: AllerDisplay, sans-serif;
    font-size: 28px;
    font-weight: inherit;
    text-align: left;
    color: #ffffff;
  }

  &__text {
    position: absolute;
    left: 24px;
    top: 147px;
    width: 261px;
    height: 69px;
    font-family: AllerDisplay, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    text-align: left;
    color: #ffffff;
  }
}