.Main {
  position: absolute;
  left: 261px;
  top: 466px;
  width: 854px;
  height: 264px;
  background-color: #e76f61;

  &__title {
    position: absolute;
    left: 24px;
    top: 103px;
    width: 205px;
    height: 38px;
    font-family: AllerDisplay, sans-serif;
    font-size: 28px;
    font-weight: inherit;
    text-align: left;
    color: #ffffff;
  }

  &__text {
    position: absolute;
    left: 24px;
    top: 147px;
    width: 261px;
    height: 69px;
    font-family: AllerDisplay, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    text-align: left;
    color: #ffffff;
  }

  &__groceries {
    position: absolute;
    left: 17px;
    top: 21px;

  }

  &__vegetables {
    position: absolute;
    left: 123px;
    top: 27px;
  }

  &__carrot {
    position: absolute;
    left: 263px;
    top: 19px;
  }

  &__cheese {
    position: absolute;
    left: 394px;
    top: 63px;
  }

  &__juice {
    position: absolute;
    left: 538px;
    top: 24px;
  }

  &__spaghetti {
    position: absolute;
    left: 742.2px;
    top: 14.6px;
  }

  &__lemonade {
    position: absolute;
    left: 184px;
    top: 193px;
  }

  &__apple {
    position: absolute;
    left: 260px;
    top: 194px;
  }
}