<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="facebook_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Facebook</title>
</head>
<body>


<header class="main-navigation">
    <a href="https://www.facebook.com/"><img src="../images/facebook_logo.png" height="25"
                                             alt="Facebook logo"/></a>
    <input type="text" placeholder="Пошук" style="width: 350px;"><input type="submit" value="&#xf002">
    <div class="main-navigation__separator" style="width: 150px"></div>
    <a href="https://www.facebook.com/"><img class="profile-img" src="../images/home-team-3.jpg"
                                             alt="Profile photo"></a>
    <a href="#"><p style="color: white">Наталя</p></a>
    <a><p style="color: white">Головна </p></a>
    <a href="#">Запити на дружбу</a>
    <a href="#">Повідомлення</a>
    <a href="#">Сповіщення</a>
    <a href="#">Швидка допомога</a>
    <a href="#">Швидкий доступ</a>
</header>
<section class="main-container">
    <section class="flex-item main-container__nav">
        <nav>
            <section class="main-container__nav__block">

                <a href="#">
                    <img src="../images/home-team-3.jpg" alt="Profile picture"
                         style="float: left; margin-right: 5px; border-radius: 50%; width:25px;height: 25px;object-fit: cover;">
                    <p style="font-size: 13px; margin: 0"> Наталя Параняк</p></a>

                <section class="main-container__nav__block__interesting">
                    {{#dataFacebook}}
                        {{#news-messenger}}
                            <a href="{{src}}">
                                <img src="{{img-src}}" style="{{img-options}}">
                                <p>{{text}}</p></a>
                        {{/news-messenger}}
                    {{/dataFacebook}}
                </section>
                <h2 style="font-size: 13px; font-weight: bold">Швидкий доступ</h2>
                {{#dataFacebook}}
                    {{#menu-items}}
                        <a href="{{menu-src}}" style="padding: 3px 0;">
                            <img src="{{img-src}}" alt="Page 1"
                                 style="float: left; margin-right: 5px; border-radius: 50%; width:25px;height: 25px;object-fit: cover;">
                            <p style="margin: 0;">{{name-item}}</p></a>
                    {{/menu-items}}
                {{/dataFacebook}}
                <h2 style="font-size: 13px; font-weight: bold">Огляд</h2>
                <section class="main-container__nav__block__interesting">
                    {{#dataFacebook}}
                        {{#interesting-things}}
                            <a href="{{src}}">
                                <img src="{{img-src}}" style="{{img-options}}">
                                <p>{{text}}</p></a>
                        {{/interesting-things}}
                    {{/dataFacebook}}
                </section>
            </section>

            <aside class="main-container__nav__creation">
                <h2 style="font-size: 13px; font-weight: bold">Створити</h2>
                <a href="https://www.facebook.com/"><p>Реклама</p></a>
                <a href="https://www.facebook.com/"><p>Сторінки</p></a>
                <a href="https://www.facebook.com/"><p>Група</p></a>
                <a href="https://www.facebook.com/"><p>Подія</p></a>
            </aside>
        </nav>
    </section>
    <section class="flex-item main-container__feeds">

        <div class="main-container__feeds__item">
            {{#dataFacebook}}
                {{#posts}}
                    <section class="main-container__feeds__item__post">
                        <a href="{{profile-url}}"><img src="{{profile-picture-url}}" alt="Profile picture" width="55"
                                                       height="55"
                                                       style=" border-radius: 50%;object-fit: cover; float: left"></a>
                        <div style="display: inline-block">
                            <h2
                                    style="font-size: 14px; font-weight: bold"><a href="{{profile-url}}"
                                                                                  style="display: inline;  color: midnightblue;">{{profile-name}}</a>
                                <span style="color: dimgrey; font-weight: 200">{{user-action}}</span></h2>
                            <h2 style=" font-size: 13px; color: dimgrey; font-weight:200"><a href="{{extra-info-url}}"
                                                                                             style="display: inline;">{{time-info}}
                                тому</a><a href="#" style="display: inline;">
                                {{extra-paragraph}}</a> <i class="fa fa-globe "
                                                           style="font-size:13px;color:black; margin-left: 5px; "></i>
                            </h2>

                        </div>
                        <article
                                style="font-size: 16px; color: black; font-weight:300; margin-top: 10px;">{{main-post-info}}
                            <span style="color: midnightblue; font-weight: 500">{{tags}}</span>
                        </article>
                        <img src="{{post-images-url}}" width="400"
                             style="display: block; margin-left: auto; margin-right: auto; margin-top:10px"
                             alt="Post-image">

                        <section class="main-container__feeds__item__post__actions">
                            <button type="submit"><i class="fa fa-thumbs-o-up "
                                                     style="margin-right: 5px"></i>Подобається
                            </button>
                            <button type="submit"><i class="fa fa-comments"
                                                     style="margin-right: 5px"></i>Коментувати
                            </button>
                            <button type="submit"><i class="fa fa-share"
                                                     style="margin-right: 5px"></i>Поширити
                            </button>
                        </section>


                    </section>
                {{/posts}}
            {{/dataFacebook}}
        </div>
    </section>

    <section class="flex-item main-container__quick">
        <div class="main-container__quick__item">
            <section class="main-container__quick__item__this__week"
                     style="background-color: white; border-radius: 5px; margin-bottom: 10px;">
                <a href="#">
                    <img src="../images/gift.png" alt="gift" width="25" style="object-position:  -11px -50px; object-fit: none;
    height: 25px;margin-right: 4px;">
                    <p style="color: midnightblue; font-weight: bold; display: inline-block; margin: 0">4 запрошення на
                        подіїї</p></a>
                <a href="#">
                    <img src="../images/gift.png" alt="gift" width="25" style="object-position:  -11px -87px; object-fit: none;
    height: 25px;margin-right: 4px;">
                    <p>Сьогодні день народження у <span
                            style="color: midnightblue; font-weight: bold; display: inline-block; margin: 0">Віктора</span>
                    </p></a>
            </section>
            <section class="main-container__quick__item__friends__propositions"
                     style="background-color: white; border-radius: 5px; padding-bottom: 12px;">
                <h2 style="font-size: 13px; color: dimgrey;  margin: 0; display: inline-block; margin-left:12px; margin-top: 7px;">
                    Запити на дружбу</h2>
                <a href="#"
                   style="color: midnightblue; font-size: 13px; font-weight: 100; display: inline-block; margin-right:12px; float: right; margin-top: 7px;">Переглянути
                    більше</a>
                {{#dataFacebook}}
                    {{#friends-request}}
                        <section class="main-container__quick__item__friends__proposition__item" style="margin: 7px">
                            <a href="{{friend-src}}"> <img src="{{friend-image-src}}" height="50" width="50"
                                                           alt="Friend name"
                                                           style="float: left; border-radius: 50%;object-fit: cover; margin-right: 7px"></a>
                            <a href="#">
                                <h3 style="font-size: 13px; color: midnightblue; font-weight: 500; margin: 0;">{{friend-name}}</h3>
                            </a>
                            <p style="font-size: 13px; font-weight: 300; margin: 0;">{{common-friends-count}} спільних
                                друга</p>
                            <button type="submit" style="color: #4b4f56">Підтвердити друга</button>
                        </section>
                    {{/friends-request}}
                {{/dataFacebook}}


            </section>
            <section class="main-container__quick__item__recomendation"
                     style="background-color: white; border-radius: 5px; padding-bottom: 12px; margin-top: 10px">
                <h2 style="font-size: 13px; color: dimgrey;  margin: 0; display: inline-block; margin-left:12px; margin-top: 7px;">
                    Рекомендовані сторінки</h2>
                <a href="#"
                   style="color: midnightblue; font-size: 13px; font-weight: 100; display: inline-block; margin-right:12px; float: right; margin-top: 7px;">Переглянути
                    всі</a>
                <section style="margin: 7px">
                    <a href="#"> <img src="../images/headerimg9.jpg" width="290" alt="Main page image"
                                      style="display: block; margin-left: auto; margin-right: auto;"></a>
                    <a href="#">
                        <h3 style="font-size: 13px; color: midnightblue; font-weight: 500; margin-left: 12px;margin-bottom: 0">
                            Блог Л.М.</h3>
                    </a>
                    <p style="font-size: 13px; font-weight: 300; margin-left: 12px; margin-top: 0">2345 вподобань</p>
                    <button type="submit" >Уподобати сторінку </button>
                </section>
            </section>
            <section class="main-container__quick__item__language"
                     style="background-color: white; border-radius: 5px; padding-bottom: 12px;">
                    <a href="#">English</a>
                    <a href="#">German</a>
                    <a href="#">Spanish</a>
                <button type="submit" ><i class="fa fa-plus" style="margin-right: 5px"></i>
                </button>
            </section>
        </div>
    </section>

</section>

<section class="flex-item main-container__actions">

    <div>
        <section class="main-container__actions__games">
            <h2 style="font-size: 12px; color: dimgrey;  margin: 0; display: inline-block; margin-left:12px; margin-top: 7px;">
                ВАШІ ІГРИ</h2>
            <a href="#"
               style="color: dimgrey; font-size: 11px; font-weight: 100; display: inline-block; margin-right:12px; float: right; margin-top: 7px;">Ще</a>
            <section class="main-container__actions__item">
                <section>
                    <div class="main-container__actions__item__dialog">
                        <a href="#"> <img src="../images/html5_doctor.jpg" height="45" width="45" alt="Your game"
                                          style="border-radius: 22px;"></a>
                        <a href="#" class="main-container__actions__item--close"></a>
                    </div>
                </section>
                <section>
                    <div class="main-container__actions__item__dialog">
                        <a href="#"> <img src="../images/headerimg9.jpg" height="45" width="45" alt="Your game"
                                          style="border-radius: 22px;"></a>
                        <a href="#" class="main-container__actions__item--close"></a>
                    </div>
                </section>
                <section>
                    <div class="main-container__actions__item__dialog">
                        <a href="#"> <img src="../images/facebook_logo.png" height="45" width="45" alt="Your game"
                                          style="border-radius: 22px;"></a>
                        <a href="#" class="main-container__actions__item--close"></a>
                    </div>
                </section>
            </section>
        </section>
        <hr>
        <section class="main-container__actions__friends__feeds">
            {{#dataFacebook}}
                {{#friends-feeds}}
                    <section class="main-container__actions__friends__feeds__item">
                        <a href="{{friend-src}}">
                            <img src="{{friend-image-src}}" height="40" width="40" alt="Profile img"
                                 style="border-radius: 22px; float: left; margin-left: 5px; margin-right: 5px;">

                            <p style="font-size: 12px; font-weight: 100;"><span
                                    style="font-weight: bold">{{friend-name}}</span>
                                {{action}}</p>
                        </a>
                    </section>
                    <hr>
                {{/friends-feeds}}
            {{/dataFacebook}}

        </section>
        <section class="main-container__actions__contacts">
            {{#dataFacebook}}
                {{#contacts}}
                    <section><a href="{{friend-src}}"> <img src="{{friend-image-src}}" height="40" width="40"
                                                            alt="Profile img"
                                                            style="border-radius: 22px; float: left;">
                        <p style="font-weight: 100; font-size: 12px; display: inline-block">{{friend-name}}</p></a>
                        <p class="main-container__actions__contacts__present" style=" font-weight: 100; font-size: 12px;  display: inline-block"><i
                                class="fa fa-circle"
                                style="font-size:10px;color:limegreen;"></i></p>
                    </section>
                {{/contacts}}
            {{/dataFacebook}}


        </section>
    </div>
</section>

</body>
</html>