<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/layout.css">
</head>
<body class="layout">
    <header class="layout__header">
        <div class="layout__header-left-part">
            Lorem ipsum dolor sit amet
        </div>
        <div class="layout__header-right-part">
            Lorem ipsum dolor sit amet
        </div>
    </header>
    <aside class="layout__sidebar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid amet, animi dignissimos dolore nam natus numquam odit quaerat quibusdam, reiciendis repellat unde velit? Atque cumque et libero nesciunt possimus?</aside>
    <main class="layout__main">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam animi consequuntur delectus dignissimos dolor doloremque eveniet expedita incidunt minima minus natus officia porro quia quos soluta suscipit vel, vitae.</main>
</body>
</html>