<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/video-section.css">
    <link rel="stylesheet" href="style/video.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/navigation.css">
    <link rel="stylesheet" href="style/humburger.css">
    <link rel="stylesheet" href="style/logo.css">
    <link rel="stylesheet" href="style/search.css">
    <link rel="stylesheet" href="style/google-options.css">
    <title>YouTube</title>
</head>
<body class="layout">
<header class="layout__header">

    <div class="layout__header__left-part">
        <button class="hamburger"></button>

        <div class="logo">
            <a href="http://google.com"><img class="logo__image"
                                             src="https://www.youtube.com/yt/about/media/images/brand-resources/logos/YouTube-logo-full_color_light.svg"
                                             alt=""></a>
        </div>

        <div class="search">
            <input class="search__input" title="search" type="text" placeholder="Пошук">
            <button class="search__button"><img class="search__icon"
                                                src="https://digiday.com/wp-content/themes/digiday/static/images/icon_search.svg"
                                                alt=""></button>
        </div>
    </div>
    <div class="layout__header__right-part">

        <div class="google-options">
            <a href="http://google.com" class="google-options__icon"><img class="google-options__image"
                                                                          src="https://image.flaticon.com/icons/png/128/60/60723.png"
                                                                          alt=""></a>
            <a href="http://google.com" class="google-options__icon"><img class="google-options__image"
                                                                          src="http://www.myiconfinder.com/uploads/iconsets/256-256-255dcbc5f25c5a617cd0f7fb5c8c906d-grid.png"
                                                                          alt=""></a>
            <a href="http://google.com" class="google-options__icon"><img class="google-options__image"
                                                                          src="http://www.download3k.com/article_images/0/384/thumb_7_fc5baf86b725ec5f2b536d32725f24e3.png"
                                                                          alt=""></a>
            <a href="http://google.com"><img class="google-options__image__user"
                                             src="https://scontent.fiev4-1.fna.fbcdn.net/v/t1.0-9/18664143_1140212246124572_6073999332882978418_n.jpg?oh=bf12a5322a4251f2fda25a123a82f0f5&oe=5A931725"
                                             alt=""></a>
        </div>

    </div>
</header>
<aside class="layout__sidebar">
    <nav>
        {{#application.main-navigation}}
            <div class="navigation">
                {{#title}}
                    <h3 class="navigation__title">{{.}}</h3>
                {{/title}}

                {{#items}}
                    <a href="{{url}}" class="navigation__item"><img class="navigation__image"
                                                                           src="{{icon}}">{{title}}</a>
                {{/items}}
            </div>
        {{/application.main-navigation}}

        <div class="navigation">
            {{#application.user-preferences}}
                {{#title}}
                    <h3 class="navigation__title">{{.}}</h3>
                {{/title}}

                {{#items}}
                    <a href="{{url}}" class="navigation__item"><img class="navigation__image__channel"
                                                                           src="{{icon}}">{{title}}</a>
                {{/items}}
            {{/application.user-preferences}}
        </div>

        <div class="navigation">
            <a href="http://google.com" class="navigation__item"><img class="navigation__image"
                                                                             src="https://png.icons8.com/plus/win8/1600">Переглянути
                кан...</a>
        </div>

        <div class="navigation">
            <a href="http://google.com" class="navigation__item"><img class="navigation__image"
                                                                             src="https://image.flaticon.com/icons/svg/61/61342.svg">Фільми
                YouTube</a>
        </div>

        <div class="navigation">
            <a href="http://google.com" class="navigation__item"><img class="navigation__image"
                                                                             src="https://image.flaticon.com/icons/svg/17/17214.svg">Налаштування</a>
            <a href="http://google.com" class="navigation__item"><img class="navigation__image"
                                                                             src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-help-circled-128.png">Довідка</a>
            <a href="http://google.com" class="navigation__item"><img class="navigation__image"
                                                                             src="https://www.materialui.co/materialIcons/action/feedback_black_192x192.png">Надіслати
                відгук</a>
        </div>


        <div class="navigation__footer">
            <a class="navigation__footer__item" href="">Інфо</a>
            <a class="navigation__footer__item" href="">Преса</a>
            <a class="navigation__footer__item" href="">Авторські права</a>
            <a class="navigation__footer__item" href="">Творці</a>
            <a class="navigation__footer__item" href="">Реклама</a>
            <a class="navigation__footer__item" href="">Розробники</a>
            <a class="navigation__footer__item" href="">+YouTube</a>
        </div>

        <div class="navigation__footer">
            <a class="navigation__footer__item" href="">Умови</a>
            <a class="navigation__footer__item" href="">Конфіденційність</a>
            <a class="navigation__footer__item" href="">Політика та безпека</a>
            <a class="navigation__footer__item" href="">Спробувати нові функції</a>
        </div>

        <div class="navigation__footer">
            <a class="navigation__footer__item" href="">© 2017 YouTube, LLC</a>
        </div>
    </nav>

</aside>
<main class="layout__main">
    <section class="video-section">
        {{#channel}}
            <h3 class="video-section__title"><img class="video-section__image" src="{{channel_img}}"
                                                  alt="">{{title_name}}</h3>
            <div class="video-section__feed">
                {{#videos}}
                    <div class="video-section__video">
                        <article class="video">
                            <img class="video__cover" src="{{video_url}}">
                            <h2 class="video__title">{{video_name}}</h2>
                            <aside>
                                <h6 class="video__channel-name">{{channel_name}}</h6>
                                <p class="video__view-count">{{views}} </p>
                                <time class="video__upload-time">{{data_of_published}}</time>
                            </aside>
                        </article>
                    </div>
                {{/videos}}
            </div>
        {{/channel}}
    </section>
</main>


</body>
</html>