<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/video-section.css">
    <link rel="stylesheet" href="style/video.css">
    <link rel="stylesheet" href="style/layout.css">
    <title>Document</title>
</head>
<body class="layout">
<header class="layout__header">Lorem ipsum dolor.</header>
<aside class="layout__sidebar">Lorem ipsum dolor.</aside>
<main class="layout__main">
    <section class="video-section">

        <h3 class="video-section__title">Enter Shikari</h3>
        <div class="video-section__feed">
            <div class="video-section__video">
                <article class="video">
                    <img class="video__cover"
                         src="http://img-fotki.yandex.ru/get/6724/216683536.16/0_b884a_2c897ebe_XXXL.jpg">
                    <h2 class="video__title">Live Outside</h2>
                    <aside>
                        <h6 class="video__channel-name">Enter Shikari</h6>
                        <p class="video__view-count">1000000000000000000000000000 </p>
                        <time class="video__upload-time">1 секунду тому</time>
                    </aside>
                </article>
            </div>
            <div class="video-section__video">
                <article class="video">
                    <img class="video__cover"
                         src="http://img-fotki.yandex.ru/get/6724/216683536.16/0_b884a_2c897ebe_XXXL.jpg">
                    <h2 class="video__title">Live Outside</h2>
                    <aside>
                        <h6 class="video__channel-name">Enter Shikari</h6>
                        <p class="video__view-count">1000000000000000000000000000 </p>
                        <time class="video__upload-time">1 секунду тому</time>
                    </aside>
                </article>
            </div>
            <div class="video-section__video">
                <article class="video">
                    <img class="video__cover"
                         src="http://img-fotki.yandex.ru/get/6724/216683536.16/0_b884a_2c897ebe_XXXL.jpg">
                    <h2 class="video__title">Live Outside</h2>
                    <aside>
                        <h6 class="video__channel-name">Enter Shikari</h6>
                        <p class="video__view-count">1000000000000000000000000000 </p>
                        <time class="video__upload-time">1 секунду тому</time>
                    </aside>
                </article>
            </div>
            <div class="video-section__video">
                <article class="video">
                    <img class="video__cover"
                         src="http://img-fotki.yandex.ru/get/6724/216683536.16/0_b884a_2c897ebe_XXXL.jpg">
                    <h2 class="video__title">Live Outside</h2>
                    <aside>
                        <h6 class="video__channel-name">Enter Shikari</h6>
                        <p class="video__view-count">1000000000000000000000000000 </p>
                        <time class="video__upload-time">1 секунду тому</time>
                    </aside>
                </article>
            </div>
            <div class="video-section__video">
                <article class="video">
                    <img class="video__cover"
                         src="http://img-fotki.yandex.ru/get/6724/216683536.16/0_b884a_2c897ebe_XXXL.jpg">
                    <h2 class="video__title">Live Outside</h2>
                    <aside>
                        <h6 class="video__channel-name">Enter Shikari</h6>
                        <p class="video__view-count">1000000000000000000000000000 </p>
                        <time class="video__upload-time">1 секунду тому</time>
                    </aside>
                </article>
            </div>
            <div class="video-section__video">
                <article class="video">
                    <img class="video__cover"
                         src="http://img-fotki.yandex.ru/get/6724/216683536.16/0_b884a_2c897ebe_XXXL.jpg">
                    <h2 class="video__title">Live Outside</h2>
                    <aside>
                        <h6 class="video__channel-name">Enter Shikari</h6>
                        <p class="video__view-count">1000000000000000000000000000 </p>
                        <time class="video__upload-time">1 секунду тому</time>
                    </aside>
                </article>
            </div>
        </div>

    </section>
</main>


</body>
</html>