<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>YouTube</title>
    <link rel="stylesheet" href="style/youtube.css">
</head>
<body>


<header>

    <section id="header_left_part">
        <img id="hamburger"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png">

        <img id="youtube_logo"
             src="https://www.youtube.com/yt/about/media/images/brand-resources/logos/YouTube-logo-full_color_light.svg">

        <input id="main_search" type="text" placeholder="Пошук">
        <button class="search_button"><img class="search_icon"
                                           src="https://digiday.com/wp-content/themes/digiday/static/images/icon_search.svg">
        </button>
    </section>

    <section id="header_right_part">
        <img class="icon"
             src="https://image.flaticon.com/icons/png/128/60/60723.png">

        <img class="icon"
             src="http://www.myiconfinder.com/uploads/iconsets/256-256-255dcbc5f25c5a617cd0f7fb5c8c906d-grid.png">

        <img class="icon"
             src="http://www.download3k.com/article_images/0/384/thumb_7_fc5baf86b725ec5f2b536d32725f24e3.png">


        <img id="header_circle_image"
             src="https://scontent.fiev4-1.fna.fbcdn.net/v/t1.0-9/18664143_1140212246124572_6073999332882978418_n.jpg?oh=cf9f7c43f424787b4daa632957b388e5&oe=5A6B8A25">

    </section>
</header>


<aside>
    <nav>
        <section>
            <a href="">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/77002-200.png">
                <span>Головна</span>
            </a>
            <a href="">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/68987-200.png">
                <span>Популярне</span>
            </a>
            <a href="">
                <img src="https://www.materialui.co/materialIcons/av/subscriptions_black_192x192.png">
                <span>Підписки</span>
            </a>
        </section>

        <hr>
        <h3>БІБЛІОТЕКА</h3>
        <section>
            <a href="">
                <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_history_48px-512.png">
                <span>Історія</span>
            </a>
            <a href="">
                <img src="https://www.materialui.co/materialIcons/action/watch_later_black_192x192.png">
                <span>Переглянути пізніше</span>
            </a>
            <a href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Thumb_up_icon_2.svg/512px-Thumb_up_icon_2.svg.png">
                <span>Відео, що сподобались</span>
            </a>
        </section>
        <hr>
        <h3>ПІДПИСКИ</h3>
        <section>
            <a href="">
                <img class="circle_image" src="https://i.ytimg.com/vi/mrewJHnNGuQ/maxresdefault.jpg">
                <span>AcademeG</span>
            </a>

            <a href="">
                <img class="circle_image" src="https://pbs.twimg.com/profile_images/547397233092468736/FHxKK2iw.png">
                <span>ЛАРИН</span>
            </a>

            <a href="">
                <img class="circle_image"
                     src="https://yt3.ggpht.com/-d30Hu-uB3Ug/AAAAAAAAAAI/AAAAAAAAAAA/oQKRU1upOm8/s900-c-k-no-mo-rj-c0xffffff/photo.jpg">
                <span>BadComedian</span>
            </a>

            <a href="">
                <img class="circle_image"
                     src="https://pbs.twimg.com/profile_images/3446721107/52915b3821a3dbbda4ba9390f61144ef.jpeg">
                <span>Wylsacom</span>
            </a>
        </section>
        <hr>

        <section>
            <a href="">
                <img src="https://png.icons8.com/plus/win8/1600">
                <span>Переглянути канали</span>
            </a>
        </section>

        <hr>
        <section>
            <a href="">
                <img src="https://image.flaticon.com/icons/svg/61/61342.svg">
                <span>Фільми  YouTube</span>
            </a>
        </section>
        <hr>
        <section>
            <a href="">
                <img src="https://image.flaticon.com/icons/svg/17/17214.svg">
                <span>Налаштування</span>
            </a>
            <a href="">
                <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-help-circled-128.png">
                <span>Довідка</span>
            </a>
            <a href="">
                <img src="https://www.materialui.co/materialIcons/action/feedback_black_192x192.png">
                <span>Надіслати відгук</span>
            </a>
        </section>
        <footer>
            <section>
                <h6>Інфо</h6>
                <h6>Преса</h6><br>
                <h6>Авторські права</h6>
                <h6>Творці</h6><br>
                <h6>Реклама</h6>
                <h6>Розробники</h6><br>
                <h6>+YouTube</h6>
            </section>

            <section>
                <h6>Умови</h6>
                <h6>Конфеденційність</h6><br>
                <h6>Політика та безпека</h6><br>
                <h6>Спробувати нові функції</h6><br>
            </section>
            <section>
                <h6 id="footer_end">© 2017 YouTube, LLC</h6>
            </section>
        </footer>

    </nav>
</aside>

<main>

    {{#channel_h}}
        <section class="channel_header">

            <section id="left_part_of_channel_header">
                <img class="channel_image"
                     src={{channel_img}}>
                <span>{{channel_name}}</span>
                <p style="margin-left:10px">Рекомендований канал</p>
            </section>

            <section id="right_part_of_channel_header">
                <button>Підписатися {{number_of_subscribers}}</button>
                <img style="margin-left: 20px" class="icon"
                     src="https://d30y9cdsu7xlg0.cloudfront.net/png/52944-200.png">
            </section>
        </section>


        <section class="channel">
            {{#content}}
                <article class="video">
                    <img class="content_video"
                         src="{{video_url}}">
                    <section>
                        <h4>{{video_name}}</h4>
                        <p>{{channel_name}}</p>
                        <p>{{views}}</p>
                        <p>{{data_of_published}}</p>
                    </section>
                </article>

            {{/content}}

        </section>


    {{/channel_h}}

</main>

</body>
</html>