<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Layout.css">
</head>
<body class="Layout">
<header class="Layout__header">
    <div class="Header">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
</header>
<main class="Layout__main">
    <div class="Promo">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
    <section class="Footer-sitemap">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </section>
</main>
<footer class="Layout__footer">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</footer>
</body>
</html>