<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style/layout.css">
    <title>Title</title>
</head>
<body class="layout">

<header class="layout__header">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis cupiditate
    ducimus exercitationem fuga harum iure labore minus molestias nemo, officia provident quibusdam ratione,
    repudiandae, sapiente sed sequi velit veniam.
</header>
<aside class="layout__user-menu">Lorem ipsum dolor sit amet.</aside>
<main class="layout__payload">
    <div class="layout__wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
</main>

</body>
</html>