ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav ul li {
    float: left;
}

li button, li img {
    display: inline-block;
    padding: 8px;
}


.top-nav {
    height: 40px;
    background-color: #3D9970;
    padding: 10px;
}

.top-nav img {
    margin-right: 70px;
}

.natasha-pisya {
    margin-left: 700px;

}

.tool-button {
    margin-left: 20px;
}

.search-wrapper {
    display: flex;
}

.top-nav input {
    display: flex;
    height: 29px;
}

/*.main-wrapper {*/
    /*background-color: #f8f8f8;;*/
    /*display: flex*/
/*}*/

.main-page {
    position: fixed;
    left: 225px;
    top: 60px;
    padding-left: 180px;
    padding-right: 100px;
    background-color: #DDDDDD;
    right: 0;
}

.side-nav {
    width: 225px;
    background-color: 	#f1f1f1;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    overflow: auto;
}

.main-recommended {
    display: flex;
    border-bottom: 1px solid black;
    /*justify-content: space-between;*/
    padding-bottom: 5px;

}

h3 {
    padding-left: 10px;
}

.main-watch-again {
    display: flex;
    border-bottom: 1px solid black;
    /*justify-content: space-between;*/
    padding-bottom: 5px
}



/*.main-page div:not(:first-child) {*/
    /*margin-left: 10px;*/
    /*border: 5px solid red;*/
/*}*/


.video{
    display: inline-block;
    margin-right: 10px;
}

.video:last-child{
    margin-right: 0;
}

body {
    margin: 0;
    height: 100vh;
}

nav section div{
    padding-left: 15px;
    margin-top: 10px;
}

a:link, a:visited {
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    padding-right: 140px;
}


