:root {
    --icon-width: 24px;
    --icon-height: 24px;
    --header-height: calc(46px + 10px * 2);
}

.layout-header {
    height: 46px;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}

.layout-header__search {
    height: 29px;
    width: 400px;
}

.layout-header__logo {
    width: 80px;
    margin-left: 15px;
    margin-right: 70px;
    vertical-align: middle;
    line-height: var(--header-height);
}

.layout-header__settings {
    float: right;
    vertical-align: middle;
    text-align: right;
    background-color: gold;

}

.layout-header__hamburger-menu {
    background: transparent url("../images/hamburger.svg") no-repeat;
    border: none;
    color: transparent;
    width: var(--icon-width);
    height: var(--icon-height);
    line-height: var(--header-height);
    vertical-align: middle;

}

.layout-header__upload {
    background: url("../images/upload.svg") no-repeat;
    color: transparent;
    width: var(--icon-width);
    height: var(--icon-height);
    vertical-align: middle;
    border: none;

}

.layout-header__youtube-apps {
    background: url("../images/youtube-apps.svg") no-repeat;
    width: var(--icon-width);
    height: var(--icon-height);
    color: transparent;
    border: none;
    vertical-align: middle;
}

.layout-header__hamburger-menu:active, .layout-header__hamburger-menu:focus,
.layout-header__hamburger-menu:enabled {
    outline: none;
    border: none;

}

.layout-header__google-profile {

}

.layout-header__search-wrapper {
    display: inline-block;
}
