.layout-header {
    height: 46px;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}

.layout-header__search {
    height: 29px;
    width:400px;
}

.layout-header__logo {
    width: 80px;
    margin-left: 15px;
    margin-right: 70px;
    vertical-align: middle;
    line-height:66px;
}

.layout-header__settings {
    float: right;
    vertical-align: middle;
    text-align: right;
    background-color: gold;

}

.layout-header__hamburger-menu {
    background-image: url("../images/hamburger.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    color: transparent;
    width: 24px;
    height: 24px;
    line-height: 66px;
    vertical-align: middle;

}

.layout-header__hamburger-menu:active, .layout-header__hamburger-menu:focus,
.layout-header__hamburger-menu:enabled {
    outline: none;
    border: none;

}

.layout-header__google-profile {


}


.layout-header__search-wrapper {
    display: inline-block;
}
