.layout-header {
    height: 46px;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}


.layout-header__search {
    height: 29px;
}


.layout-header__logo {
    width: 80px;
    margin-left: 15px;
    margin-right: 70px;
    float: left;
}

.layout-header__settings {
    float: right;
}


.layout-header__hamburger-menu {
    float: left;
}

.layout-header__google-profile {
    float: right;

}
