.next-video {
  &__preview {
    margin-bottom: 5px;
  }
  &__img {
    height: 95px;
    vertical-align: middle;
    border-radius: 2px;
  }
  &__info {
    display: inline-block;
    padding-left: 7px;
  }
  &__tittle {
    display: inline;
    vertical-align: top;
    font-size: 16px;
  }
  &__channel-tittle {
    display: block;

  }
  &__views {
    display: block;
  }

}