
.subscription {
  padding: 7px 24px;
  text-decoration: none;
  display: block;
  color: hsl(0, 0%, 6.7%);

  &:hover {
    background-color: grey;
  }
  &__image {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-size: contain;
    border-radius: 20px;
    vertical-align: middle;
  }

  &__text {
    margin-left: 20px;
  }

}

