
.subscription:hover {
    background-color: grey;
}

.subscription {
    padding: 10px 24px;
    text-decoration: none;
    display: block;
    color: #0C0C0C;
}

.subscription__image {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-size: contain;
    border-radius: 20px;
    vertical-align: middle;
}

.subscription__text {
    margin-left: 20px;
}