.video-comment {
  margin-top: 40px;

  &__user-logo {
    width: 50px;
    border-radius: 33px;
    vertical-align: middle;
  }

  &__info {
    display: inline;

  }

  &__comment {
    margin-left: 60px;
    display: block;
    width: 35%;
    font-size: 15px;
  }

  &__author {
    display: inline;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 700;
  }

  &__published-date {
    display: inline;
    margin-left: 10px;
    font-size: 16px;

  }
}