.next-videos {
  float: right;
  width: 35%;
  //background-color: pink;
  height: 1200px;

  &__autoplay {

  }
  &__title {
    display: inline;

  }
  &__autoplay-toggle {
    float: right;
    margin-right: 35px;
  }

}