.video {
  display: inline-block;
  margin-right: 10px;
  width: 230px;
  font-size: 13px;
  color: #8b898b;
  margin-bottom: 13px;

  &__img {
    width: 230px;
    background: no-repeat center center;
  }

  &__title {
    font-weight: 600;
    color: black;
  }

  &__details:link, &__details:visited {
    color: #8b898b;
    text-decoration: none;
    font-style: normal;
  }

  &__views {
    display: block;
  }

  &__date {
  }

  &__link {
    color: black;
    text-decoration: none;
    &:link {

    }
    &:visited {
    }
  }
}

