.video-section {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding-bottom: 5px;
  margin: auto;

  &__video {
    width: 160px;
    display: inline-block;
  }

  &__title {
    max-height: 2rem;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
  }
  &__feed {
    max-height: 521px;
    overflow: hidden;
  }
}

