.video-description {
  width: 80%;
  height: 200px;
  background-color: #4aaee8;

  &__channel-info {
    display: inline-block;

  }
  &__channel-title {

  }

  &__published {
    display: block;

  }

  &__channel-logo {
    width: 75px;
    padding-left: 10px;
    padding-top: 10px;
  }
}