.video-section {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: auto;

}

.video-section__video {
    width: 160px;
    display: inline-block;
}

.video-section__title {
    max-height: 2rem;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
}