
.video-article {
  padding-left: 25px;
  margin-top: -15px;

  &__option {
    float: right;

  }
  &__views {
  }

  &__info {
    background-color: yellowgreen;
    width: 80%;
    line-height: 45px;


  }
  &__title {
    width: 80%;
    font-size: 18px;
    padding-top: 10px;
  }

}

.info__button {
  //float: right;
}