.video {
    display: inline-block;
    margin-right: 10px;
    width: 230px;
    font-size: 13px;
    color: #8b898b;

}

.video__img {
    width: 230px;
    background: no-repeat center center;
}

.video__title {
    font-weight: 600;
    color: black;
}

.video__details:link,
.video__details:visited {
    color: #8b898b;
    text-decoration: none;
}

.video__views {
    display: block;

}

.video__date {

}
