.float-grid:after {
  content: "";
  display: table;
  clear: both; }

.float-grid.col-n-5 .col {
  width: 20%; }

.float-grid.col-n-5 .col-l-1 {
  margin-left: 20%; }

.float-grid.col-n-5 .col-r-1 {
  margin-right: 20%; }

.float-grid.col-n-5 .col-2 {
  width: 40%; }

.float-grid .col {
  float: left;
  width: 33.3%;
  padding: 0 15px;
  box-sizing: border-box; }

.float-grid .col-2 {
  width: 66.6%; }

.flex-grid {
  display: flex; }
  .flex-grid.space-around {
    justify-content: space-around; }
  .flex-grid.space-between {
    justify-content: space-between; }
  .flex-grid .col {
    flex: 1;
    padding: 0 15px; }
  .flex-grid .col-2 {
    flex: 2; }
  .flex-grid .col-3 {
    flex: 3; }
  .flex-grid .col-4 {
    flex: 4; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 0 15px; }
  .grid.col-n-5 {
    grid-template-columns: repeat(5, 1fr); }
  .grid .col {
    grid-column: span 1; }
  .grid .col-2 {
    grid-column: span 2; }

.t-center {
  text-align: center; }
