<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/main-page/header-layout.css">
    <link rel="stylesheet" href="styles/main-page/header-layout__google-options.css">
    <link rel="stylesheet" href="styles/main-page/header-layout__logo.css">
    <link rel="stylesheet" href="styles/main-page/header-layout__search.css">
    <link rel="stylesheet" href="styles/channel-page/main.css">
    <link rel="stylesheet" href="styles/channel-page/main__header.css">
    <link rel="stylesheet" href="styles/main-page/aside-guide-content__block.css">
    <link rel="stylesheet" href="styles/main-page/aside__block.css">
    <link rel="stylesheet" href="styles/main-page/aside__footer.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>
<body>
<header class="header-layout">
    <button class="hamburger-menu"></button>
    <div class="header-layout__logo">
        <a class="header-layout__logo header-layout__logo_img" href="index"><img src="images/youtube_icon.png" alt=""></a>
        <a class="header-layout__logo_text" href="index">YouTube<sup class="header-layout__logo_country-code">UA</sup></a>

    </div>
    <div class="header-layout__search">
        <form action="#">
            <input class="header-layout__search_input" title="search" type="text" placeholder="Пошук">
            <button class="header-layout__search_button"><i class="icons fa fa-search"></i></button>  <!--delete i-->
        </form>
    </div>
    <div class="header-layout__google-options">
        <button class="header-layout__google-options_icon"></button>
        <button class="header-layout__google-options_icon"></button>
        <button class="header-layout__google-options_icon"></button>
        <button class="header-layout__google-options_img"></button>
    </div>
</header>
<main class="main">
    <header class="main__header">
        <img src="https://yt3.ggpht.com/njLcfrobcky9s9mJ-BpfWzzzFPiMcoGkvcZ7Gt26I-iJ2a1XKCLdgdn_IxelT2dxMYQvaN4DOJY=w2560-fcrop64=1,00005a57ffffa5a8-nd-c0xffffffff-rj-k-no"
             alt="">
    </header>
    <main class="main__main"></main>
    <aside class="main__aside"></aside>
</main>
<aside class="aside-guide-content">
    <div class="aside-guide-content__block aside-guide-content__block_home">
        <a class="menu-block" href="index">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text menu-block__text_home">Головна</span>
        </a>
        <a class="menu-block" href="">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text">Популярне</span>
        </a>
        <a class="menu-block" href="">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text">Підписки</span>
        </a>
    </div>
    <div class="aside-guide-content__block">
        <h3 class="aside-guide-content__block_title">Бібліотека</h3>
        <a class="menu-block" href="">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text">Історія</span>
        </a>
        <a class="menu-block" href="">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text_hidden">Переглянути пізніше</span>
        </a>
    </div>
    <div class="aside-guide-content__block">
        <h3 class="aside-guide-content__block_title">Підписки</h3>
        <a class="menu-block" href="">
            <img class="menu-block__img" src="//i.ytimg.com/i/esO4-UStBz-iTTgkY645yw/1.jpg" alt="" height="24"
                 width="24">
            <span class="menu-block__text menu-block__text_hidden">Популярні на YouTube</span>
        </a>
        <a class="menu-block" href="">
            <img class="menu-block__img" src="//i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg" alt="" height="24"
                 width="24">
            <span class="menu-block__text">Музика</span>
        </a>
        <a class="menu-block" href="">
            <img class="menu-block__img" src="//i.ytimg.com/i/Egdi0XIXXZ-qJOFPf4JSKw/1.jpg" alt="" height="24"
                 width="24">
            <span class="menu-block__text">Спорт</span>
        </a>
        <a class="menu-block" href="">
            <img class="menu-block__img" src="//i.ytimg.com/i/OpNcN46UbXVtpKMrmU4Abg/1.jpg" alt="" height="24"
                 width="24">
            <span class="menu-block__text">Комп'ютерні ігри</span>
        </a>
    </div>
    <div class="aside-guide-content__block">
        <a class="menu-block" href="">
            <img class="menu-block__img" src="//s.ytimg.com/yts/img/innertube/guide/add_channel_guide-vflSJDanE.png"
                 alt="">
            <span class="menu-block__text_hidden">Переглянути канали</span>
        </a>
    </div>
    <div class="aside-guide-content__block">
        <a class="menu-block" href="">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text">Фільми YouTube</span>
        </a>
    </div>
    <div class="aside-guide-content__block">
        <a class="menu-block" href="">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text">Налаштування</span>
        </a>
        <a class="menu-block" href="">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text">Довідка</span>
        </a>
        <a class="menu-block" href="">
            <span class="menu-block__icon"></span>
            <span class="menu-block__text">Надіслати відгук</span>
        </a>
    </div>
    <div class="aside-guide-content__footer">
        <a href="">Інфо</a>
        <a href="">Преса</a>
        <a href="">Авторські права</a>
        <a href="">Творці</a>
        <a href="">Реклама</a>
        <a href="">Розробники</a>
        <a href="">+YouTube</a>
    </div>
    <div class="aside-guide-content__footer aside-guide-content__footer_conditions">
        <a href="">Умови</a>
        <a href="">Конфіденційність</a>
        <a href="">Політика та безпека</a>
        <a href="">Спробувати нові функції</a>
    </div>
    <div class="aside-guide-content__footer aside-guide-content__footer_ownership">© 2017 YouTube, LLC</div>

</aside>
</body>
</html>