<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/common.less">
    <link rel="stylesheet" href="styles/main-page/header.css">
    <link rel="stylesheet" href="styles/main-page/header_search.css">
    <link rel="stylesheet" href="styles/main-page/header_logo.css">
    <link rel="stylesheet" href="styles/main-page/header_settings.css">
    <link rel="stylesheet" href="styles/video-page/main_video.css">
    <link rel="stylesheet" href="styles/video-page/aside_video.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="header__logo">
        <button class="header__logo_hamburger-menu"></button>
        <a class="header__logo_img" href=""><img src="images/youtube_icon.png" alt=""></a>
        <a class="header__logo_text" href="index">YouTube<sup class="header__logo_country-code">UA</sup></a>

    </div>
    <div class="header__search">
        <form action="#">
            <input class="header_search_input" title="search" type="text" placeholder="Пошук">
            <button class="header__search_button"><i class="icons fa fa-search"></i></button>  <!--delete i-->
        </form>
    </div>
    <div class="header__google-options">
        <button class="header__google-options_icon"></button>
        <button class="header__google-options_icon"></button>
        <button class="header__google-options_icon"></button>
        <button class="header__google-options_img"></button>
    </div>
</header>
<main class="main">
    <iframe class="main__video" width="854" height="480" src="https://www.youtube.com/embed/uRuTlXdLt5w?autoplay=1"
            frameborder="0" allowfullscreen></iframe>
    <h1 class="main__video_title">Fresian Horses</h1>
    <div class="main__video_info"></div>
    <div class="main__author"></div>
    <div class="main__description"></div>
    <div class="main__comments"> </div>

</main>
<aside class="aside">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse iure natus nisi placeat, repellendus
        voluptates. Assumenda error nihil non? Ad aut dolorum, fugiat labore qui ratione tempore veritatis voluptate!
    </div>
    <div>A dolorum exercitationem iure maxime rerum unde. Aspernatur, aut beatae commodi cupiditate debitis dolorum enim
        eveniet, hic id laboriosam modi nihil nobis nulla numquam qui rerum, sit soluta velit veniam.
    </div>
    <div>Alias cumque dolore ipsum nemo nostrum praesentium quas quos sequi similique. Animi, autem cumque ea ex
        expedita illo natus nobis nulla officia porro qui repellat vitae voluptas voluptatem voluptates. Officiis.
    </div>
    <div>Dicta eum eveniet illum, iusto maiores natus praesentium quis quod recusandae suscipit vel voluptate,
        voluptatem. Aliquam amet asperiores at, impedit odio possimus qui quia quidem. Ab et fuga harum sunt.
    </div>
    <div>Aliquid animi autem beatae consequuntur culpa dolorem doloremque doloribus eum illum laborum magnam, maiores
        maxime minus mollitia nam nesciunt non numquam odio placeat porro quisquam repellat repellendus saepe ullam vel?
    </div>
    <div>Accusamus accusantium adipisci architecto blanditiis consectetur cumque inventore ipsam labore magni molestias
        nam odio officiis, recusandae repellendus sunt veritatis vero. Deserunt dolores incidunt iure maxime mollitia
        neque nesciunt quia sunt.
    </div>
    <div>Aperiam at autem culpa, debitis dignissimos, doloremque doloribus earum error esse eveniet exercitationem, hic
        iste laboriosam mollitia natus porro possimus quidem quod reiciendis tempore velit vitae voluptates.
        Consequatur, eos, eum.
    </div>
    <div>Amet atque deleniti dolore optio placeat quis sequi ut! Aliquam blanditiis, commodi, consequatur cum
        dignissimos, dolor fugit harum inventore ipsa ipsum iste magni molestiae mollitia quia sapiente unde veniam
        voluptas!
    </div>
    <div>Accusantium esse maiores tempore. Adipisci delectus deleniti eos fuga iusto labore necessitatibus odio,
        officiis praesentium provident, quasi rem, sit tenetur? Debitis exercitationem explicabo minima nihil officiis
        optio quia unde voluptate?
    </div>
    <div>Modi officiis quam rerum. Ipsum iusto omnis optio. Architecto commodi consequatur, culpa, cupiditate dolorem
        fugit, impedit minus nesciunt quaerat quisquam sapiente tempore. Debitis fugiat, illum impedit nostrum quis
        saepe suscipit?
    </div>
</aside>
</body>
</html>