<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Article.css">
    <link rel="stylesheet" href="less/Photo__description.css">
    <link rel="stylesheet" href="less/main.css">
    
</head>

<body>
   <article class="Photo__description Photo__description_left">
            <h3 class="Photo__description_caption">Route des Grands Crus</h3>
            <p class="Photo__description_article">The Route des Grands Crus (roughly, "road of the great wines") runs along the foot of the Côte d'Or escarpment, from Dijon in the north to Santenay in the south. Thus it runs through many of the great appellations of Burgundy wine, hence the name of the route.  </p>
        </article>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,e_auto_contrast,h_428/v1513982172/ja-mashinka_xfmq1b.jpg" alt="" class="Photo__description_image Photo__description_image_right">

        <article class="Photo__description Photo__description_right">
            <h3 class="Photo__description_caption">Heart of French Gastronomy</h3>
            <p class="Photo__description_article">Burgundians are passionate about both their food and their wine. Escargots à la Bourgogne, Boeuf Bourguignon, and Coq au Vin are just three of the famous regional dishes. There are 29 restaurants with the renowned Michelin stars, and one with three stars within Burgundy.</p>
        </article>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,h_428,w_570/v1513981484/Kuba-2_o7ps5h.jpg" alt="" class="Photo__description_image Photo__description_image_left">

</body>
</html>