<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="less/Section.css">
    <
    <link rel="stylesheet" href="less/main.css">
</head>

<body>

    <div class="wrapper">
        <section class="Article Section__vacation">
            <h2 class="Section__caption">Why you’ll love vacation in Cuba</h2>
            <p class="Section__description">It always had the allure a forbidden fruit. I love it for its uniqueness, creativity and survivalist spirit. I love it because, despite 60 years</br> of setbacks, it remains an upbeat and open place. Walk down the street with a Cuban friend
                and, within one block, you’ll have </br>received five handshakes, four kisses, three greetings of ‘dime hermano!’ and at least two invites into someone’s house. <a href="" class="Link__read_more">Read more</a></p>
        </section>
       

        <article class="Article Section__about">
            <h2 class="Section__caption">What Cuba is about</h2>
            <p calss="Section__description">Cuba is like a prince in a poor man’s coat; behind the sometimes shabby facades, gold dust lingers. It’s these rich dichotomies that make travel here the exciting. Trapped in a time warp and reeling from an economic embargo that has grated
                for more than half a century, this is a country where you can wave goodbye to everyday assumptions and expect the unexpected. <a href="" class="Link__read_more">Read more </a></p>
        </article>

        <article class="Section__block-article Section__block-article_left">
            <h3 class="Section__block-article_caption">Historical Heritage</h3>
            <p class="Section__block-article_description">Bereft of modern interference, Cuba’s colonial cities haven’t changed much since musket-toting pirates stalked the Caribbean. Atmosphere and architecture is particularly stirring in Havana, Trinidad and Camagüey where grandiose squares and
                cobbled streets tell erstwhile tales of opulence and intrigue. </p>
        </article>
        <img src="http://s7.travelask.ru/system/images/files/000/116/385/wysiwyg/1.jpg?1486437215" alt="" class="Section__img Section__img_position_right">

        <article class="Section__block-article Section__block-article_right">
            <h3 class="Section__block-article_caption">Astonishing Beaches</h3>
            <p class="Section__block-article_description">Whether you’re staying in a luxury hotel in Havana or exploring the rural charms of Vinales, in some ways it’s all the real Cuba. Some travellers might opt to miss the beach resort town of Varadero, but this energetic beachside paradise should
                still be an option to consider as part of your Cuban travel plans.</p>
        </article>
        <img src="http://samisusanin.ru/wp-content/uploads/2016/07/Varadero-975x609.jpg" alt="" class="Section__img Section__img_position_left">

        <section class="Article Section__atribute">
            <h2 class="Section__caption">The Cadillacs of Cuba</h2>
            <aside class="Section__atribute_hover"> Hover for more info</aside>
            <img src="img/cadilac.png" alt="" class="Section__atribute_image">
            <p class="Section__description">The American trade embargo with Cuba in 1960 had the effect of instantly separating thousands of 1940s and 1950s Detroit-built cars from their spare parts supply. Convertibles were always popular, thanks to year-round tropical weather. The
                place for posing with your ride is hard to miss in Havana. The squares around Capitolio, a flattering copy of Washington’s Capitol building, are lined with 50-year-old American cars during daylight hours.</p>
        </section>

    </div>
 
</body>

</html>