body {
    background-color: #e9ebee;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding-top: 43px;

}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #365899;
}

:focus {
    outline: 0;
}

.header {
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
    float: left;
    height: 42px;
    line-height: 42px;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
}

.header_content {
    height: 24px;
    margin: 9px 205px 9px 34px;
    display: inline-flex;
}

.header .logo {
    float: left;
    margin-right: 5px;
}

.header .logo span {
    background-image: url(../img/icons.png);
    background-position: 0 -63px;
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    height: 24px;
    outline: none;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
}

.header .searchbar {
    float: left;
    margin-left: 2px;
    min-width: 144px;
    display: inline-flex;
}

.header .searchbar input {
    border: 0;
    border-radius: 2px 0 0 2px;
    color: #1d2129;
    float: left;
    height: 22px;
    padding-left: 5px;
    width: 395px;
}

.header .searchbar .search_button {
    background: #f6f7f9;
    border: 0;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    float: left;
    height: 24px;
    width: 46px;
}

.header .searchbar .search_button:hover {
    background: #e9ebee;
}

.header .searchbar .search_icon {
    background-image: url(../img/icons2.png);
    background-position: 0 -351px;
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 14px;
}

.header .header_menu {
    align-items: stretch;
    display: flex;
    float: left;
    height: 27px;
    justify-content: flex-end;
    line-height: 27px;
    list-style-type: none;
    margin-left: 100px;
    padding: 0;
}

.new_post_header{
    background-color: #f6f7f9;
    padding:10px;
}

.post_new{
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    padding: 0;
}

.new_post_form{
    padding:10px;
}

.new_post_menu{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.new_post_menu li{
    display: inline;
    margin-right: 20px;
}

.header .header_menu .menu_item {
    cursor: pointer;
    white-space: nowrap;
}

.header .header_menu .menu_item:hover {
    background: #365899;
    border-radius: 2px;
}

.header .header_menu .menu_item a {
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
    text-decoration: none;
}

.header .menu_item .user-pic{
    width: 24px;
    height: 24px;
}

.user-pic {
    border-radius: 50%;
    float: left;
    margin: 1px 0 0 2px;
}

.nav_icon {
    float: left;
    height: 24px;
    margin: 0 5px;
    opacity: .6;
    width: 24px;
}

.icon_friends_requests {
    background-image: url(../img/icons2.png);
    background-position: 0 -50px;
}

.icon_messages {
    background-image: url(../img/icons.png);
    background-position: 0 -138px;
}

.icon_notifications {
    background-image: url(../img/icons2.png);
    background-position: 0 -200px;
}

.icon_help {
    background-image: url(../img/icons.png);
    background-position: 0 -316px;
    height: 20px;
    margin-top: 2px;
}

.icon_arrow_down {
    background-image: url(../img/icons.png);
    background-position: 0 -438px;
    height: 16px;
    margin-top: 5px;
}

.left-sidebar {
    float: left;
    height: 600px;
    margin: 15px 10px 0 33px;
    position: fixed;
    top: 43px;
}

.left-sidebar div{
    font-size: 13px
}

.left-sidebar .lsb-item {
    cursor: pointer;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.left-sidebar .lsb-header {
    color: #4b4f56;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: 17px;
    line-height: 17px;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 170px;
}

.lsb-item a{
    color: inherit;
}

.lsb-item a:hover{
    text-decoration: none;
}
.left-sidebar .lsb-item:hover {
    background-color: #f6f7f9;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    height: 26px;
    line-height: 26px;
    margin-left: 0;
    padding: 0 4px;
    width: 168px;
}

.left-sidebar .lsb-icon {
    margin: 3px 10px 0 0;
    width: 20px;
}


.content-main {
    float: left;
    margin-left: 220px;
    width: 500px;
}

.block {
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px;
}

.content-main article header {
    height: 50px;
}

.block-body {
    line-height: 1.5;
}

.author-userpic {
    border-radius: 100%;
    float: left;
    width: 40px;
    padding-right: 10px;
}

.sys-info{
    font-size: 13px
}

.post-header {
    color: #90949c;
    font-size: 14px;
    height: 50px;
    margin-left: 40px;
    padding: 2px 5px;
}

.post-header b {
    color: #365899;
}

.post_header_date {
    font-size: 11px;
}

.post-image {
    margin-top: 10px;
    width: 100%;
}

.reaction-ctrl {
    border-top: 1px solid #dddfe2;
    margin-top: 10px;
    padding-top: 5px;
}

.single-ctrl {
    color: #616770;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
}

.single-ctrl a {
    color: #616770;
}

.icon-ctrl {
    background-image: url(../img/icons4.png);
    background-repeat: no-repeat;
    background-size: auto;
    float: left;
    height: 18px;
    margin: 6px 0 0 8px;
    width: 18px;
    margin-right: 5px;
}

.icon-like {
    background-position: 0 -193px;
}

.icon-comment {
    background-position: 0 -155px;
}

.icon-share {
    background-position: -19px -269px;
}

.right-sidebar {
    float: left;
    left: 720px;
    margin: 0 10px;
    position: fixed;
    top: 43px;
    width: 320px;
}

.block-header {
    color: #90949c;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
}

.block-header a{
    font-size:13px;
    margin-left:15px;
}

.events_notification{
    background-image: url("../img/event.png");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 20px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */
    font-weight:bold;
}

.birthday_notification{
    background-image: url("../img/giftbox.png");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 20px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */
}

.block-entry{
    width:100%;
    padding: 3px;
    border-radius: 3px;
}

.block-entry span{
    color: rgba(0,0,0,0.41);
}

.new_post_group{
    display: flex;
}

.new_post{
    width: 100%;
}

.new_post_prof_pic{
    border-radius: 50%;
    width:48px;
    height: 48px;
}

.new_post textarea{
    resize: none;
    padding-left: 20px;
    height:100%;
    width: 90%;
    border: none;
}

.block-entry:hover{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.11);
}

.block-entry a:hover{
    text-decoration: none;
}

.suggested-inf {
    color: #616770;
    font-size: 13px;
    line-height: 20px;
}

.suggested-title {
    color: #365899;
    font-size: 14px;
    font-weight: 700;
}

.rsb-footer {
    color: #90949c;
    font-size: 13px;
    line-height: 1.4;
    padding: 0 10px;
    text-align: left;
}

.rsb-footer a {
    color: #90949c;
}

.block-msg {
    border: 1px solid #dddfe2;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;
    position: fixed;
    right: 0;
    top: 43px;
    width: 210px;
}

.block-msg::-webkit-scrollbar {
    display: none;
}

.block-msg .au-item {
    float: left;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.block-msg .au-item img {
    margin: 4px 8px;
    width: 34px;
}

.block-msg .msg-search {
    bottom: 0;
    height: 30px;
    position: fixed;
    width: 100%;
}

.block-msg .msg_search_field {
    border: 0;
    border-radius: 2px 0 0 2px;
    height: 30px;
    padding: 0 5px;
    width: 100%;
}

.block-msg .au-item:hover {
    background-color: #dddfe2;
}