<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/b_additional-info.css">
</head>
<body>
<aside class="Additional-info">
    <header class="Additional-info_advertising-usability">
        <a href="" class="Additional-info_title">Реклама</a>
        <a href="" class="Additional-info_link-title">Створити рекламу</a>
     </header>
    <img class="Additional-info_picture" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t45.1600-4/c0.0.284.149/p284x149/21901559_6072788667034_1554309099183669248_n.png?oh=2621cd14b1473130654ae9544503cfee&oe=5A6EDC92"
         width="275px">
    <footer>
    <a href="" class="Additional-info_advertising-link">Курси Java</a>
    </footer>
</aside>
</body>
</html>
