<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/Additional-info.css">
</head>
<body>
<aside class="Additional-info">
    <header class="Additional-info_advertising-usability">
        <a href="" class="Additional-info_title">Реклама</a>
        <a href="" class="Additional-info_link-title">Створити рекламу</a>
     </header>
    <img class="Additional-info_picture" src="https://akket.com/wp-content/uploads/2017/10/Internet-Reklama-7.jpg"
         width="275px">
    <footer>
    <a href="" class="Additional-info_advertising-link">Курси Java</a>
    </footer>
</aside>
</body>
</html>
