<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook</title>
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/Layout.css">
    <link rel="stylesheet" href="style/Article.css">
    <link rel="stylesheet" href="style/Navigation.css">
    <link rel="stylesheet" href="style/Icon.css">
    <link rel="stylesheet" href="style/Search.css">
    <link rel="stylesheet" href="style/Facebook_logo.css">
    <link rel="stylesheet" href="style/User-profile-link.css">
    <link rel="stylesheet" href="style/User-opinion.css">
    <link rel="stylesheet" href="style/Icon-User-opinion.css">
    <link rel="stylesheet" href="style/User-profile.css">
</head>
<body class="Layout">
    <header class="Layout__header">
        <div class="Layout__header-wrapper">
            <img class="Facebook_logo" src="http://www.freeiconspng.com/uploads/facebook-f-logo-white-background-21.jpg">
            <form class="Search">
                <input class="Search__input" type="search" name="search" placeholder="Пошук">
                <button class="Search__activate-button" type="button" >
                    Search
                </button>
            </form>
        </div>
    </header>
    <section class="Layout__payload">
        <aside class="Layout__navigation">
            <nav class="Navigation">
                <nav class="User-profile-link">
                    <img class="User-profile-pic" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-9/19731797_706298759556415_2690352492526738979_n.jpg?oh=c1b673beadeecced89251e69afe3f24c&oe=5A9F347B">
                    <a class="User-profile-page" href="111">Сергій Репетюк</a>
                </nav>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_news"></span> News
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_messenger"></span>Messenger
                    <span class="Navigation__item-counter">5</span>
                </a>
            </nav>

            <nav class="Navigation">
                <h3 class="Navigation__title">Fast access</h3>

                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_psy"></span> Психологія у Львові.
                    <span class="Navigation__item-counter">5</span>
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_psy-in-lvov"></span>Психологія. Львів.
                    <span class="Navigation__item-counter">5</span>
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_psy-SNPT"></span> СНПТ психологів.
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_psy-study-help"></span> Курча.Рефералло.
                    <span class="Navigation__item-counter">5</span>
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_near-event"></span> Критичне мислення.
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_xiaomi-zahid"></span> XIAOMI ZAHID.
                    <span class="Navigation__item-counter">5</span>
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_lvivmotion"></span> NGO Lvivmotion.
                    <span class="Navigation__item-counter">5</span>
                </a>
            </nav>

            <nav class="Navigation">
                <h3 class="Navigation__title">Interesting</h3>

                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_events"></span>Події.
                    <span class="Navigation__item-counter">5</span>
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_groups"></span> Групи.
                    <span class="Navigation__item-counter">5</span>
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_friends"></span> Друзі.
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_fan_club"></span> Фан-клуби.
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_friend-list"></span> Список друзів.
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_saved"></span> Збрежені.
                    <span class="Navigation__item-counter">5</span>
                </a>
                <a class="Navigation__item" href="111">
                    <span class="Icon Icon_direct-translation"></span> Пряма трансяляція.
                </a>
            </nav>
        </aside>
        <main class="Layout__news-line">
            <section class="User-opinion">
                <div class="User-opinion__link">
                    <a class="User-opinion__link-item User-opinion__link-item_create-a-post" href="">
                        <span class="Icon-User-opinion Icon-User-opinion__create-a-post"></span>Створити допис
                    </a>
                    <a class="User-opinion__link-item" href="">
                        <span class="Icon-User-opinion Icon-User-opinion__album-with-pictures"></span>Альбом зі світлинами/відео
                    </a>
                    <a class="User-opinion__link-item" href="">
                        <span class="Icon-User-opinion Icon-User-opinion__live-video"></span>Відео наживо
                    </a>
                </div>
                <div class="User-opinion__User-profile-mover">
                    <div class="User-profile">
                        <a class="User-profile__name" href="https://www.facebook.com/profile.php?id=100005288926145">
                            <img class="User-profile__photo" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/19731797_706298759556415_2690352492526738979_n.jpg?oh=c1b673beadeecced89251e69afe3f24c&oe=5A9F347B">
                        </a>
                    </div>
                </div>
                <form class="User-opinion__text-form">
                    <input class="Text-input" type="text" name="text" placeholder="Що у Вас на думці?">
                </form>
                <div class="User-opinion__footer">
                    <button class="User-opinion__footer-button">
                        <span class="Icon_picture-video"></span>Світлини/відео
                    </button>
                    <button class="User-opinion__footer-button">
                        <span class="Icon_feeling"></span>Почуття або дії
                    </button>
                </div>
            </section>
            {{#article}}
                <article class="Article">
                    <header class="Article__news-title">
                        <img class="Article__author-photo" src="{{author.picture}}">

                        <h2 class="Article__title-text">
                            {{#author.name}} {{.}}.{{/author.name}}
                            {{title}}
                        </h2>
                    </header>
                    {{{description}}}

                    <img class="Article__main-image" src="{{cover}}">

                    <footer class="Article__user-choice">
                        <button class="Article__like">Подобається</button>
                        <button class="Article__comment">Коментувати</button>
                        <button class="Article__share">Поширити</button>
                    </footer>
                </article>
            {{/article}}
        </main>
        <aside class="Layout__additional-info">Lorem ipsum dolor sit amet.</aside>
    </section>
    <aside class="Layout__chat">Ваші сторінки

        СНПТ психологів ЛНУ ім. І. Франка

        КОНТАКТИ

        Igorko Podvirny
        1год
        Tanya Kozlovska
        Надя Лисевич
        10год
        Roma Kmyta
        57хв
        Yaroslav Rukavets
        Андрей Вандакуров
        Юра Старик
        Volodya Kopitko
        Оксана Піхур
        Olia Konyukh
        Ірочка Чернобель
        59хв
        Erika Tovt
        Ілля Мальцев</aside>
</body>
</html>