<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/Notification-menu.css">
    <link rel="stylesheet" href="style/Icon-notification-menu.css">
</head>
    <body>
    <article class="Notification-menu">
        <input class="friend-requests" type="button" title="Запити на дружбу" />
        <input class="new-messages" type="button" title="Повідомлення" />
        <input class="notification" type="button" title="Сповіщення" />
        <input class="fast-help" type="button" title="Швидка допомога" />
        <input class="your-pages" type="button" />
    </article>
    </body>
</html>