<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/Search.css">
</head>
<body>
    <form class="Search">
        <input class="Search_field" type="search" placeholder="Пошук" title="chicho">
        <button class="Search_activate-button" type="button" >
            <img class="Search_button-image" src="images/if_search_925911.png">
        </button>
    </form>
</body>
</html>