<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/User-profile-link.css">
</head>
<body>
    <nav class="User-profile-link">
    <img class="User-profile-pic" src="https://scontent.flwo1-1.fna.fbcdn.net/v/t1.0-9/19731797_706298759556415_2690352492526738979_n.jpg?oh=c1b673beadeecced89251e69afe3f24c&oe=5A9F347B">
    <a class="User-profile-page" href="111">Сергій</a>
    </nav>
</body>
</html>