<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Navigation.css">
    <link rel="stylesheet" href="style/Statistic.css">
    <style>
        .Destination {background-color: red}
        .Destination__title {background-color: #00ADEF}
        .Destination__paragraph {background-color: #00ADEF}
        .Navigation {background-color: #00CB79}
        .Navigation__item {background-color: orangered}
        .Article {background-color: #9ce3ff}
        .Article__title {background-color: #A05BB0}
        .Article__paragraph {background-color: #A05BB0}
        .Statistic {background-color: #4387fd}
        .Interesting-things {background-color: yellowgreen}
        .Interesting-things__title {background-color: #A05BB0}
        .Interesting-things__paragraph {background-color: #A05BB0}
        .Interesting-things__article {background-color: #D14357}
        .Interactive {background-color: #00CB79}
    </style>
</head>
    <body class="Grid">
    <header class="Destination Grid__cell_12">
        <h1 class="Destination__title Grid__cell_10 Grid__prefix_1">Burgundy</h1>
        <p class="Destination__paragraph Grid__cell_6 Grid__prefix_3">Explore the luxury of Wine & Food</p>
    </header>

    <nav class="Navigation Grid__cell_9">
        <a href="" class="Navigation__item Grid__cell_1 Grid__prefix_2">Summary</a>
        <a href="" class="Navigation__item Grid__cell_1">General</a>
        <a href="" class="Navigation__item Grid__cell_1">Sights</a>
        <a href="" class="Navigation__item Grid__cell_1">Weather</a>
        <a href="" class="Navigation__item Grid__cell_2">What to do</a>
        <a href="" class="Navigation__item Grid__cell_2">Recidental Guide</a>
        <a href="" class="Navigation__item Grid__cell_1">Photos</a>
    </nav>

    <article class="Article Grid__cell_12">
        <h2 class="Article__title Grid__cell_4 Grid__prefix_4">Why you’ll love vacation in Cuba</h2>
        <p class="Article__paragraph Grid__cell_12">
            There may be no more beautiful way to explore the countryside villages of timeless Burgundy than from a river barge coasting the Saône River.
            Drift from one stunning landscape to another, stopping to roam the region’s famous vineyards, ride bikes through its vast forests, and indulge in its unforgettable flavours.
            This is a unique perspective of the France you've dreamed about.
        <a href="" class="Link__read_more">Read more</a>
        </p>
    </article>

    <aside class="Statistic Grid__cell_12">
        <figure class="Statistic__item Grid__cell_2 Grid__prefix_2"> <img src="../img/trip.png" class="Statistic__trip">
            <h4 class="Statistic__title">672</h4>
            <p class="Statistic__description">Trip</p>
        </figure>
        <figure class="Statistic__item Grid__cell_2"> <img src="../img/srore.png" alt="" class="Statistic__venues">
            <h4 class="Statistic__caption">98</h4>
            <p class="Statistic__description">Venues</p>
        </figure>
        <figure class="Statistic__item Grid__cell_2"><img src="../img/ticket.png" class="Statistic__ticets">
            <h4 class="Statistic__caption">2.231</h4>
            <p class="Statistic__description">Tickets Sold</p>
        </figure>
        <figure class="Statistic__item Grid__cell_2"><img src="../img/chat.png" class="Statistic__revies">
            <h4 class="Statistic__caption">1.245</h4>
            <p class="Statistic__description">Reviews</p>
        </figure>
    </aside>
    <article class="Article Grid__cell_12">
        <h2 class="Article__title Grid__cell_4 Grid__prefix_4">What Cuba is about</h2>
        <p class="Article__paragraph Grid__cell_12">
            Two great French passions, wine and food, come together here in a particularly rich and enticing form.
            In 2015, Burgundy's vineyards were granted Unesco World Heritage status in recognition of the region's centuries-old history of viticulture,
            combined with the remarkable diversity of its winegrowing terroir.
            Combining wine and gastronomy, Burgundy will stimulate your senses.
            <a href="" class="Link__read_more">Read more</a>
        </p>
    </article>

    <aside class="Interesting-things Grid__cell_12">
        <div class="Interesting-things__article Grid__cell_4">
        <h3 class="Interesting-things__title">Route des Grands Crus</h3>
        <p class="Interesting-things__paragraph">
            The Route des Grands Crus (roughly, "road of the great wines")
            runs along the foot of the Côte d'Or escarpment, from Dijon in the north to Santenay in the south.
            Thus it runs through many of the great appellations of Burgundy wine, hence the name of the route.
        </p>
        </div>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_570/v1514008472/vineyards-champagne-france_isazxm.jpg" alt="" class="Interesting-things__picture Grid__cell_4">

    </aside>

    <aside class="Interesting-things Grid__cell_12">
        <div class="Interesting-things__article Grid__cell_4">
        <h3 class="Interesting-things__title">Heart of French Gastronomy</h3>
        <p class="Interesting-things__paragraph">
            Burgundians are passionate about both their food and their wine.
            Escargots à la Bourgogne, Boeuf Bourguignon, and Coq au Vin are just three of the famous regional dishes.
            There are 29 restaurants with the renowned Michelin stars, and one with three stars within Burgundy.
        </p>
        </div>
            <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_570/v1514008466/boeuf-bourguignon-gastronomy-burgundy_xj8usk.jpg" alt="" class="Interesting-things__picture Grid__cell_4">

    </aside>
    <section class="Interactive Grid__cell_12">
        <h2 class="Interactive__title">Wine of Burgundy</h2>
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_272/v1514009317/jadot-81243-macon-2014_yssxxw.jpg" alt="" class="Interactive__image">
        <p class="Interactive__paragraph">
            The grapevines around the town of Chablis make a dry white wine renowned for the purity of its aroma and taste.
            There are seven officially delineated Grand Cru climats, covering an area of 247 acres , all located on one southwest facing hill overlooking the town of
            Chablis at elevations between 490–660 feet. All of Chablis' Grand Cru vineyards and Premier Cru vineyards are planted on primarily
            Kimmeridgean soil which is composed of limestone, clay and fossilized oyster shells.
        </p>
    </section>

    <article class="Article Grid__cell_12">
        <h2 class="Article__title Grid__cell_4 Grid__prefix_4">Burgundy in Photos</h2>
        <p class="Article__paragraph Grid__cell_12">
            Burgundy offers some of France's most gorgeous countryside: it’s a paradise for lovers of the great outdoors.
            You can cycle through the Côte d'Or vineyards, hike the wild reaches of the Parc Naturel Régional du Morvan, glide along the
            Yonne's waterways in a canal boat, or float above it all in a hot-air balloon.
            Every perspective will be fine to discover a glorious architectural heritage that goes back to the Renaissance,
            the Middle Ages and into the mists of Gallo-Roman and Celtic antiquity.
            <a href="" class="Link__read_more">Read more</a>
        </p>
    </article>

    <div class="Roundabout">
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,h_420,w_580/v1514010202/joigny-by-night_wgd8lc.jpg" alt="" class="Roundabout__image Roundabout__image_second_right">
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_560/v1514010445/958cc7c4969a116d4f345bcd556615cc_pqvsgb.jpg" alt="" class="Roundabout__image Roundabout__image_second_left">
        <img src="http://res.cloudinary.com/dnc8zjt4d/image/upload/c_scale,w_640/v1514010619/aaaa2f9b002312aac6366327d28a508c--burgundy-france-travelling_qh8beo.jpg" alt="" class="Roundabout__image Roundabout__image_center">
    </div>

    <div class="Logo"></div>
    <div class="Payment-select"></div>
    <section class="Site-map"></section>
    <section class="copyrights"></section>
    </body>
</html>