@margin-top: 66px;

.layout {

  margin: 0;
  background: #fbf9fb;
  font-family: "PT Serif", sans-serif;

  &__header {
    height: 46px;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  &__user-menu {
    overflow: auto;
    width: 225px;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
  }

  &__payload {
    background-color: #27ae60;
    margin: @margin-top 0 0 225px;
  }

  &__wrapper {
    margin: auto;
    //width:1274px;
    width: 800px;
  }
}