

.header-nav {
    height: 46px;
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


.header-nav input {
    display: flex;
    height: 29px;
}


.header-logo {
    width: 80px;
    margin-left: 15px;
    margin-right: 70px;
    float: left;
}



.hamburger-menu {
    float: left;
}

.google-profile {
    float: right;

}
