



.video-section {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: auto;
}

.video {
    display: inline-block;
    margin-right: 10px;
    width: 230px;
    font-size: 13px;

}

.video img {
    width: 230px;
    background-position: center center;
    background-repeat: no-repeat;
}


.video-details p {
    font-weight: 600;
}

.video-details a:link, a:visited {
    color: black;
    text-decoration: none;

}

.views {
    display: inline;
    color: #8b898b;
}