.video {
  display: inline-block;
  margin-right: 10px;
  width: 230px;
  font-size: 13px;
}
.video img {
  width: 230px;
  background: no-repeat center center;
}
.video-details p {
  font-weight: 600;
}
.video-details p a:link,
.video-details p a:visited {
  color: black;
  text-decoration: none;
}
.views {
  display: inline;
  color: #8b898b;
}
