.video {
  display: inline-block;
  margin-right: 10px;
  width: 230px;
  font-size: 13px;

  img {
    width: 230px;
    background: no-repeat center center;
  }
}

.video-details p {
  font-weight: 600;

  a:link, a:visited {
    color: black;
    text-decoration: none;
  }
}

.views {
  display: inline;
  color: #8b898b;
}