.Layout {
  width: 1440px;
  height: 2412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
  border: 1px solid;
  &__header {
    width: 1154px;
    height: 58px;
  }
  &__payload {
    width: 1154px;
    height: 488px;
    flex-grow: 1;
    position: relative;
  }
  &__footer {
    width: 1170px;
    height: 177px;
  }
}