.Recipe-card {
  background-image: url("../images/food1.png");
  width: 197px;
  height: 344px;
  color: white;
  background-size: cover;
  &__photo {
    width: 197px;
    height: 344px;
  }
  &__title {
    text-align: center;
    padding-top: 214px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    line-height: 1.38;
  }
  &__text {
    text-align: center;
    font-family: HelveticaNeue, sans-serif;
    font-size: 18px;
  }
}