.Recipe-card {
  width: 197px;
  height: 344px;
  color: white;

  &__title {
    text-align: center;
    padding-top: 214px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    line-height: 1.38;
  }
  &__text {
    text-align: center;
    font-family: HelveticaNeue, sans-serif;
    font-size: 18px;
  }
}

.Recipe-card1 {
  background-image: url("../images/food1.png");
}
.Recipe-card2 {
  background-image: url("../images/food2.png");
}
.Recipe-card3 {
  background-image: url("../images/food3.png");
}

.Recipe-card4 {
  background-image: url("../images/food4.png");
}