* {
    font-family: "Segoe UI", Tahoma;
}

ul {
    list-style-type: none;
}

.main-navigation{position: fixed;
    top: 0; z-index: 1; width: 100%;}
.main-navigation ul {
    padding-left: 25px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #3b5998;
    font-weight: bold;
    font-size: 13px;
    margin: 0 !important;
}

.main-navigation li, .main-container__quick__item__language li {
    text-align: center;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}

.main-navigation li a {
    display: block;
    color: white;
    text-align: center;
}

.fa:hover {
    color: black !important;
}

input[type="submit"] {
    font-family: FontAwesome, sans-serif;
}

.separator {
    width: 15vw;
}

body {
    background-color: #d8dfea !important;
    margin: 0 !important;
}

.main-container {
    position: absolute;
    width: 1014px;
    top: 50px;
    left: calc(43% - 507px);
}


.main-container__nav {
    position: fixed;
    top: 50px;
    width: 184px;
    margin-right: 10px;
}

.main-container__feeds {
    margin-right: 10px;
    position: absolute;
    left: 194px;
    top: 0;
    width: 500px;
}

.main-container__quick {
    position: absolute;
    left: 704px;
    top: 0;
    width: 308px;
}

.main-container__actions {
   position: fixed;
    overflow-y: scroll;
    height: 100%;    top:50px;
    right:0;
    bottom: 0;
    width:200px;
}

@media screen and (max-width: 1220px){
    .main-container__actions{display: none}
}

@media screen and (max-width: 1220px) {
    .main-container{
        left: calc(50% - 507px);
    }
}
    .main-navigation img {
    border-radius: 30px;
}

.image-div {
    align-items: center;
}

.main-container__nav ul, .main-container__nav aside, .main-container__quick ul {
    padding-left: 20px;
    overflow: hidden;
    font-weight: 100;
    font-size: 13px;
}

a {
    display: block;
    color: black;
    text-decoration: none;
}

.main-container__nav li:hover {
    background-color: #e9ebee;
}

.main-container__nav aside a {
    display: inline-block;
    color: darkblue;
    text-decoration: none;
}

.main-container__quick__item__this__week li:hover {
    background-color: #e9ebee;
}

.main-container__quick__item__language {
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
}

.main-container__feeds__item__post h2{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 5px;
}

.main-container__feeds__item__post__actions{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.main-container__feeds__item__post__actions button{
    background-color: transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
.main-container__feeds__item__post{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 12px;
    border-radius: 7px;
}


.main-container__actions__item--close {
    color: dimgrey;
    font-size: 15px;
    position: absolute;
    right: 1px;
    text-decoration: none;
    top: 1px;
    text-shadow: 1px 1px 1px #fff;
}

.main-container__actions__item--close:after {
    content: 'X'; }



.main-container__actions__item__dialog {
    float: left;
    position: relative;
}

.main-container__actions__item {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.contacts section{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contacts section img{
    margin-right: 5px;
}
