<section class="Layout">
    <header class="Layout__header">{{{header}}}</header>
    <aside class="Layout__aside">{{{aside}}}</aside>
    <main class="Layout__payload">{{{payload}}}</main>
</section>