.comments {
  &__views {
    float: left;
    margin: 0;
    line-height: 24px;
    vertical-align: middle;
    font-weight: normal;
    margin-right: 32px;
  }
  &__sorts {
    color: rgba(17, 17, 17, 0.5);
    font-weight: bolder;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  &__add {
    margin-top: 24px;
    display: flex;
    margin-bottom: 32px;

  }
  &__typing {
    color: rgba(17, 17, 17, 0.6);
    width: 100%;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #efedef;
    height: 21px;
  }

}