.comments {
  padding-bottom: 100px;

  &__views {
    float: left;
    margin: 0;
    line-height: 24px;
    vertical-align: middle;
    font-weight: normal;
    margin-right: 32px;
  }
  &__sorts {
    color: rgba(17, 17, 17, 0.6);
    font-weight: bolder;
    font-size: 14px;
    display: flex;
    align-items: center;
    .material-icons {
      margin-right: 8px;
    }
  }
  &__add {
    margin-top: 24px;
    display: flex;
    margin-bottom: 32px;
    &__typing {
      color: rgba(17, 17, 17, 0.6);
      width: 100%;
      border: none;
      font-size: 14px;
      border-bottom: 1px solid #efedef;
      height: 21px;
    }
  }

  &__one {
    display: flex;
    margin-bottom: 16px;
    &__content {
      &__name {
        margin: 0;
        float: left;
        margin-right: 8px;
      }
      &__time {
        font-size: 13px;
        color: rgba(17, 17, 17, 0.6);
      }
      &__comment {
        font-size: 14px;
        margin: 3px 0;
      }
      &__respond {
        margin-top: 4px;
        height: 32px;
        display: flex;
        align-items: center;
        &__answer {
          color: rgba(17, 17, 17, 0.6);
          font-size: 14px;
          padding: 0;
          text-transform: uppercase;
          cursor: pointer;
          margin-right: 16px;
        }
        &__answer:hover {
          color: rgb(17, 17, 17);
        }
        &__number {
          color: rgba(17, 17, 17, 0.6);
          font-size: 14px;
          margin-right: 16px;
        }
        .material-icons {
          font-size: 16px;
          margin: 0 8px;
        }
        .material-icons:hover {
          color: rgb(17, 17, 17);
        }
      }

      &__see-comments {
        font-size: 14px;
        padding: 0;
        margin: 7px 0;
        &::after {
          content: "";
          background-image: url("../images/icons/drop_down.svg");
          display: inline-block;
          width: 19px;
          height: 15px;
        }
      }

    }

  }
}