.content{
  background: #fbf9fb;
  margin-top: 56px;
  margin-left: 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__see-more{
    font-size: 13px;
    color: #8b898b;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
    background-color: inherit;
  }

  &__recommended{
    padding-bottom: 20px;
    border-bottom: 1px solid #efedef;
    width: 864px;
  }

  &__recommended-name{
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}


