.guide {
  background: #f6f4f6;
  width: 240px;
  font-size: 14px;
  position: fixed;
  top: 56px;
  bottom: 0;

  &:hover {
    overflow-y: auto;
  }
  &::-webkit-scrollbar-track {
    background-color: #f6f4f6;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cac8ca;
  }
  &__chapter {
    font-family: "Roboto", sans-serif;
    color: rgb(17, 17, 17);
    padding: 8px 24px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__chapter:hover {
    background-color: #eceaec;
    padding: 8px 0 8px 24px;
  }

  &__chapter::before {
    margin-right: 24px;
  }

  &__see-chanel {
    border-bottom: 1px solid #efedef;
    padding: 8px 0;
  }
  &__data-model{
    margin-top: 6px;
  }
  &__settings,
  &__data-model{
    display: flex;
    flex-direction: column;
    padding: 7px 0;
    border-bottom: 1px solid #efedef;
  }
  &__signin-for-chanel {
    padding: 2px 32px 16px 32px;
    border-bottom: 1px solid #efedef;
    color: rgb(17, 17, 17);
  }
  &__signin-link {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
  }
}
