.menu {
    padding-top: 10px;
    border-bottom: 1px solid #efedef;

    display: flex;
    flex-direction: column;
}

.menu__item {
    font-family: "Roboto", sans-serif;
    color: rgb(17, 17, 17);
    padding: 8px 24px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu__item:hover {
    background-color: #eceaec;
    padding: 8px 0 8px 24px;
}

.menu__item_red-icons:before {
    border-radius: 50%;
    background-size: 100%;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: "";
}

.menu__item::before { margin-right: 24px; }

.menu__item_img_home::before    { content: url("../images/icons/home.svg");  opacity: 0.45; }
.menu__item_img_popular::before {  content: url("../images/icons/popular.svg");  opacity: 0.45;  }
.menu__item_img_history::before {  content: url("../images/icons/history.svg"); opacity: 0.45;  }
.menu__item_img_help::before {  content: url("../images/icons/help.svg");  opacity: 0.45; }
.menu__item_img_music::before { background-image: url("//i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg"); }
.menu__item_img_sport::before { background-image: url("//i.ytimg.com/i/Egdi0XIXXZ-qJOFPf4JSKw/1.jpg"); }
.menu__item_img_film::before {  background-image: url("//i.ytimg.com/i/lgRkhTL3_hImCAmdLfDE4g/1.jpg"); }
.menu__item_img_game::before {  background-image: url("//i.ytimg.com/i/OpNcN46UbXVtpKMrmU4Abg/1.jpg"); }
.menu__item_img_news::before { background-image: url("//i.ytimg.com/i/YfdidRxbB8Qhf0Nx7ioOYw/1.jpg"); }
.menu__item_img_spherical-video::before { background-image: url("//i.ytimg.com/i/zuqhhs6NWbgTzMuM09WKDQ/1.jpg"); }
.menu__item_img_live-streaming::before { background-image: url("//i.ytimg.com/i/4R8DWoMoI7CAwX8_LjQHig/1.jpg"); }