<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Upload.css">
    <link rel="stylesheet" href="style/Wrapper.css">
</head>
<body>
  <section class="Upload">
    <h2 class="Upload__head">Host videos in the highest quality possible</h2>
      <p class="Upload__information">Start uploading and enjoy 4K Ultra HD quality, video management tools, no ads before, during, or after your videos, and professional live streaming plans.</p>
      <button class="Upload__button">Upload</button>
  </section>
  <section class="Wrapper">
      <img class="Wrapper__logo" src="https://f.vimeocdn.com/images_v6/marketing/creator_lohp/LOHP_SP.svg" alt="">
  </section>
</body>
</html>