.Article-icon {
  background-image: url("../images/icon-sprite9.png");
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: bottom;

  &__like-page {
    background-image: url("../images/icon-sprite8.png");
    background-position: 0 204px;
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  &__like {
    background-position: -19px 204px;
  }

  &__comment {
    background-position: -19px 242px;
  }

  &__share {
    background-position: 0 110px;
  }
}
