.Article {
    padding: 12px;
    background-color: white;
    border-radius: 5px;
}

.Article__author-photo {
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.Article__main-image {
    width: 476px;
    height: 476px;
}

.Article__main-image-information {
    border-left: 2px solid lightgray;
    padding-left: 10px;
}

.Article__main-image-link {
    display: block;
}

.Article__like-page-button {
    float: right;
}

.Article__user-choice {
    border-top: 1px solid lightgray;
    margin-top: 5px;
    padding-top: 5px;
}

.Article__button-like {
    margin-right: 20px;
    padding: 4px 4px 4px 0;
}

.Article__button-comment {
    margin-right: 20px;
    padding: 4px 4px 4px 0;
}

.Article__button-share {
    margin-right: 20px;
    padding: 4px 4px 4px 0;
}
