.Article {
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    &__author-photo {
        border-radius: 100%;
        float: left;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
    &__main-image {
        width: 476px;
        height: 476px;
        &-information {
            border-left: 2px solid lightgray;
            padding-left: 10px;
        }
        &-link {
            display: block;
        }
    }
    &__like-page-button {
        float: right;
    }
    &__user-choice {
        border-top: 1px solid lightgray;
        margin-top: 5px;
        padding-top: 5px;
    }
    &__button{
        &-like {
            margin-right: 20px;
            padding: 4px 4px 4px 0;
        }
        &-comment {
            margin-right: 20px;
            padding: 4px 4px 4px 0;
        }
        &-share {
            margin-right: 20px;
            padding: 4px 4px 4px 0;
        }
    }
    &__title-text {
        display: inline;
        text-decoration: none;

    }


}
