.Header {
  background-color: #4267b2;


}
.Header__logo {
  background-image: url(../images/icon-sprite3.png);
  background-size: 24px auto;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: 0 -53px;
  margin-left: 5px;
  display: inline-block;
}
.Header__search-block {
  padding-top: 5px;
  display: inline-block;


}
.Header__search-form {
  width: 400px;
  display: inline-block;
}

.Header__main-navigation {
  float: right;
}
