.Header {
  background-color: #4267b2;
  height: 42px;
  line-height: 42px;
  width: 961px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 205px;
}
.Header__logo {
  background-image: url(../images/icon-sprite3.png);
  background-size: 27px auto;
  height: 27px;
  width: 27px;
  background-repeat: no-repeat;
  background-position: 0 -61px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.Header__main-navigation {
  float: right;
}
