.Layout__header-wrapper {
  width: 961px;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
}
.Layout__logo {
  float: left;
}
.Layout__search-block {
  float: left;
  padding-top: 5px;
}
.Layout__search-form {
  width: 400px;
}
.Layout__main-navigation a {
  color: white;
}
