.Icon4-chat {
  width: 18px;
  height: 18px;
  background-image: url(../images/icon-sprite4.png);
  float: left;
  margin-top: 5px;
}

.Icon4-chat_find {
  background-position: 3px 32px;
  background-image: url(../images/icon-sprite2.png);
}

.Icon4-chat_settings {
  background-position: -2px 289px;
}

.Icon4-chat_new-message {
  background-position: 4px 45px;
}

.Icon4-chat_create-group {
  background-position: 3px 93px;
}