.Icon {
  margin: 3px;
  height: 19px;
  width: 19px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../image/icon-sprite.png");
  background-size: 20.4px 1690.65px;
}
.Icon_news {
  background-position: 0px -2503px;
}
.Icon_messenger {
  background-position: 0px -437px;
}
.Icon_people {
  background-position: 0px -724px;
}
.Icon_understand-group {
  background-position: 0px -4961px;
}
.Icon_outdoor {
  background-position: 0px -724px;
}
.Icon_bukovel {
  background-position: 0px -724px;
}
.Icon_sales {
  background-position: 0px -706px;
}
.Icon_stream-of-pages {
  background-position: 0px -918px;
}
.Icon_group {
  background-position: 0px -724px;
}
.Icon_events {
  background-position: 0px -563px;
}
.Icon_fan-club {
  background-position: 0px 790px;
}
.Icon_this-day {
  background-position: 0px 808px;
}
