.Icon2 {
  width: 27px;
  height: 27px;
  background-image: url(../images/icon-sprite2.png);
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 4px 3px 0;

}

.Icon2_friends-requests {
  background-position: 2px -432px;

}

.Icon2_message {

}

.Icon2_notification {
  background-position: 2px -200px;
  margin-right: 15px;

}

.Icon2_quick-help {
  margin-left: 15px;
}