.Icon2 {
  margin: 3px;
  height: 27px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../image/icon-sprite2.png");
}
.Icon2_friends-requests {
  background-position: 0 -50px;
}
.Icon2_message {
  background-position: 0 -50px;
}
