.Icon {
  height: 19px;
  width: 28px;
  display: inline-block;
  background-image: url("../image/icon-sprite.png");
  background-size: 32.4px 1686.6px;
}
.Icon_news {
  background-position: 0px -2496px;
}
.Icon_messenger {
  background-position: 0px -2122px;
}
.Icon_people {
  background-position: 0px -722px;
}
