.Layout {
  background-color: #e9ebee;
  padding-right: 205px;
  &__header {
    background-color: #4267b2;
    position: fixed;
    width: 100%;
    height: 42px;
    top: 0;
    z-index: 1;
  }
  &__Flex-box-payload {
    margin-top: 42px;
    width: 961px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    display: flex;
  }
  &__navigation {
    float: left;
    width: 180px;
  }
  &__news-line {
    float: left;
    width: 500px;
  }
  &__additional-info {
    float: left;
    width: 281px;
  }
  &__chat {
    position: fixed;
    width: 205px;
    right: 0;
    top: 42px;
    bottom: 0;
  }
}
