.Layout {
  background-color: #e9ebee;
}
a {
  text-decoration: none;
}
.Layout__header {
  background-color: #365899;
  position: fixed;
  width: 100%;
  height: 42px;
  top: 0;
}
.Layout__payload {
  margin-top: 42px;
  width: 961px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.Layout__navigation {
  float: left;
  width: 180px;
}
.Layout__news-line {
  float: left;
  width: 500px;
}
.Layout__additional-info {
  background-color: pink;
  float: left;
  width: 281px;
}
.Layout__chat {
  background-color: goldenrod;
  position: fixed;
  width: 205px;
  right: 0;
  top: 42px;
  bottom: 0;
}
