.Main-navigation {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  float: right;
}

.Main-navigation__User-profile-mover {
  float: left;
  margin-right: 13px;
  color: white;
}

.Main-navigation__item {
  color: white;
  text-decoration: none;
  padding: 0 10px 1px;
  float: left;
}