.Navigation__title {
  margin-bottom: 1px;
  font-family: Helvetica, Arial, sans-serif;
}

.Navigation__item {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
  clear: both;
}

.Navigation__item-counter {
  float: right;
  margin-top:5px;
  font-size: 11px;
}
