.User-profile {
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
}

.User-profile__photo {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  vertical-align: text-bottom;
}

.User-profile__name {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  vertical-align: super;
  font-weight: bold;
  color: white;
  text-decoration: none;
}