.Promoarticle {
  margin: 66px;

  &__header {
    font-family: Baskerville, sans-serif;
    font-size: 54px;
    color: #000000;
    text-align: center;
    margin-bottom: 12px;
  }

  &__description {
    font-family: GillSans, sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    color: #000000;
    margin-bottom: 78px;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
  }

  &__main-item {
    max-width: 100%;
  }

  &__main-item-photo {
    max-width: 100%;
  }

  &__main-item-about {
    font-family: GillSans;
    font-size: 28px;
    font-weight: 300;
    text-align: left;
    color: #000000;
  }
}