.Search {
  width: 185px;
  height: 52px;
  border: solid 2px rgba(0, 0, 0, 0.09);
  position: relative;

  &__input {
    border: none;
    width: calc(~"100% - 25px");
    height: 45px;
    font-family: HelveticaNeue, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #a2a2a2;
    margin-left: 25px;
    padding-left: 9px;
    line-height: 156px;
    display: inline-block;
    padding-right: 9px;
    margin-top: 6px;
  }

  &__icon {
    height: 23px;
    width: 23px;
    opacity: 0.3;
    position: absolute;
    top: 16px;
    left: 7px;
  }
}