<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Help.css">
</head>
<body>
    <section class="Help">
        <a class="Help__settings" href="https://www.youtube.com/account">Налаштування</a>
        <button type="button" class="Help__reference">Довідка</button>
        <button type="button" class="Help__feedback">Написати відгук</button>
    </section>
</body>
</html>