<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Profile-button.css">
</head>
<body>
   <button type="button" class="Profile-button"><img class="Profile-button__icon"
                                                             src="https://yt3.ggpht.com/-Sf5jwMHGczE/AAAAAAAAAAI/AAAAAAAAAAA/gMmMai3rK4Q/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"/>
   </button>
</body>
</html>