<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" media="screen" href="style/User-preferences.css">
    <link rel="stylesheet" href="style/Help.css">
    <link rel="stylesheet" href="style/Copyright-and-policy.css">
    <link rel="stylesheet" href="style/Footer.css">
    <link rel="stylesheet" href="style/Layout.css">
</head>
<body>
    <div class="Aside">
        <div class="User-preferences">
            {{#navigation}}
                <nav class="User-preferences">
                    <h6 class="User-preferences__section-header">{{section-name}}</h6>
                    {{#items}}
                        <a class="User-preferences__section-item" href="{{url}}"><img class="User-preferences__section-icon" style="opacity: {{type}}" src="{{icon}}"> <span class="User-preferences__section-title">{{title}}</span></a>
                    {{/items}}
                </nav>
            {{/navigation}}
        </div>
        <div class="Footer">
            <section class="Help">
                <a class="Help__settings" href="https://www.youtube.com/account">Налаштування</a>
                <button type="button" class="Help__reference">Довідка</button>
                <button type="button" class="Help__feedback">Написати відгук</button>
            </section>
            {{#copyright-and-policy}}
                <section class="Copyright-and-policy">
                    {{#items}}
                        <a class="Copyright-and-policy__item" href="{{url}}">{{title}}</a>
                    {{/items}}
                </section>
            {{/copyright-and-policy}}
            <p class="Footer__copyright-line">© 2017 YouTube, LLC</p>
        </div>
    </div>
</body>
</html>