body {
    margin: 0;
    font-family: sans-serif;
}

header {
    position: fixed;
    height: 57px;
    width: auto;
    top: 0;
    right: 0;
    left: 0;
}

aside {
    position: fixed;
    left: 0;
    top: 57px;
    width: 240px;
    height: auto;
    background: #F5F5F5;
    bottom: 0;
    overflow: auto;
}

main {
    position: fixed;
    left: 240px;
    top: 57px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.logo,
.search {
    display: inline;
    vertical-align: top;
}

.logo {
    position: relative;
    top: 5px;
    left: 50px;
    height: 50px;
    width: 100px;
}

input[type="search"] {
    position: fixed;
    top: 15px;
    left: 160px;
    width: 600px;
    height: 30px;
    border: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #BDBDBD;
}

input[type=search]:focus {
    outline: none;
    border: 1px solid #79a3fc;
}

.search-button {
    position: fixed;
    top: 15px;
    left: 760px;
    height: 30px;
    width: 65px;
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: none;
}

.upload-video {
    position: fixed;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/action-upload-alt-512.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    right: 250px;
    overflow: hide;
}

.youtube-apps {
    position: fixed;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(http://www.myiconfinder.com/uploads/iconsets/ed559f9ab4ee6cec08ffde71c58a68af-grid.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    right: 180px;
    overflow: hide;
}

.setings {
    position: fixed;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Symbol_rain_64.svg/1024px-Symbol_rain_64.svg.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    right: 120px;
    overflow: hide;
}

.profile {
    position: fixed;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(https://cdn1.iconfinder.com/data/icons/business-charts/512/customer-512.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    right: 50px;
    overflow: hide;
}

aside nav a,
footer a {
    text-decoration: none;
}

.main-nav nav a {
    display: block;
    padding: 4px;
    color: #111111;
    cursor: pointer;
    margin: 5px;
}

.main-nav nav a:vivsited {
    display: block;
    padding: 4px;
    color: #111111;
}

footer a {
    display: inline-block;
    font-size: 14px;
    color: #8888A3;
    text-shadow: 1px #DCB59A;
    font: bold;
}

main h3 {
    position: relative;
    left: 100px;
}

.video {
    display: inline-block;
    position: static;
    height: 120px;
    width: 230px;
}

.video p {
    position: relative;
    left: 120px;
    overflow: hiden;
    cursor: pointer;
}

.video-img {
    position: relative;
    height: 120px;
    width: 220px;
    left: 120px;
    cursor: pointer;
}