.icon-hamburger {
    background-image: url("https://cdn3.iconfinder.com/data/icons/gray-toolbar/512/menu-512.png");
}

.icon-upload {
    background-image: url("https://image.flaticon.com/icons/png/128/60/60723.png");
}

.icon-apps {
    background-image: url("http://www.myiconfinder.com/uploads/iconsets/256-256-255dcbc5f25c5a617cd0f7fb5c8c906d-grid.png");
}

.icon-notifications {
    background-image: url("http://www.download3k.com/article_images/0/384/thumb_7_fc5baf86b725ec5f2b536d32725f24e3.png");
}