body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 62px 100px 0 100px;
}


section {
    display: inline-block;
}

/*hgroup{
    float: left;
    display: block;
}*/

header h1, h2 {
    float: left;
    display: inline;
}

#h1-width-nav {
    /*background-color: pink;*/
    width: 190px;
}

#h2-width-nav {
    /*background-color: green;*/
    width: 300px;
}

.header-font {
    font-weight: normal;
    font-size: 30px;

    line-height: 1.2;
    color: black;
    text-decoration: none;
}

#p-width-nav {
    /*background-color: yellow;*/
    width: 175px;
    /*width: 270px;*/

}

/*header p{*/
/*!*float: left;*!*/
/*!*display: inline;*!*/
/*!*font-size: 20px;*!*/
/*}*/
p {
    /*float: right;*/
    /*display: inline;*/
    width: 270px;
    float: left;
    /*display: inline;*/
    font-size: 20px;

}

/*styles for fisrt nav ends*/

/*styles for second nav starts*/
ul {
    margin: 0;
    padding: 0;
}

li {
    float: left;
    list-style-type: none;
}

li p {
    margin: 0 0 20px 10px;
    /*display: inline;*/
    float: left;
}

p a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;

}

.float-aling-left {
    float: left;
}

/*
*/
/*
*/

img {
    margin-top: 20px;
    float: right;
    display: inline;
    /*margin-left: 150px;*/
}

/*img:nth-child(2){*/
/*float: left;*/
/*position: relative;*/
/*margin-top: -400px;*/
/*}*/
#n-th-child {
    float: left;
    position: relative;
    margin-top: -400px;
    display: inline;
}

/*
*/
/*

*/

/*need to fix*/
section {
    margin-top: 50px;
}

section div {
    display: inline;
    font-size: 20px;
}

#blog-with-logo {

    width: 270px;
    margin-left: 300px;
    margin-right: 150px;
    float: left;

}

#blog-with-photo-title {
    /*margin: 0;*/
    margin-left: 50px;
    font-weight: normal;
    font-size: 20px;
    /*font-size: 100%;*/

}

#blog-with-photo {
    /*margin-top: 50px;*/

    width: 270px;
    margin-left: 50px;
    margin-right: 100px;
    float: left;
}

/**/

/*testing-room-res-section starts*/
#testing-room-res-section {
    margin-left: 400px;
}

/**/

#current-rel {
    width: 700px;
}

#custom-aling-p {
    margin-top: 300px;
}


