<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Layout.css">
        <link rel="stylesheet" href="style/index.css">
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Section-top.css">
        <link rel="stylesheet" href="style/Article-top.css">
        <link rel="stylesheet" href="style/Recipe-card.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <div class="Header">
                <a class="Logo" href="#">Eaty</a>
                <nav class="Main-navigation">
                    <a class="Main-navigation__item Main-navigation__item_home" href="#">Home</a>
                    <a class="Main-navigation__item" href="#">Eventi</a>
                    <a class="Main-navigation__item" href="#">Ricette</a>
                    <a class="Main-navigation__item" href="#">Chef a domicilio</a>
                    <a class="Main-navigation__item" href="#">Contatti</a>
                </nav>
            </div>
        </header>
        <section class="Layout__payload">
            <section class="Section-top">
                <div class="Section-top__title">
                    Ogni giorno nuove esperienze
                </div>
                <div class="Section-top__text">
                    Scopri sapori, culture e amici con il social eating
                </div>
                <button class="Section-top__button">
                    Scopri gli altri eventi
                </button>
            </section>
            <div class="Article-top-mover">
                <article class="Article-top">
                    <img class="Article-top__icon Article-top__icon_baget" src="../images/baget.png">
                    <img class="Article-top__icon Article-top__icon_myska" src="../images/myska.png">
                    <img class="Article-top__icon Article-top__icon_carrot" src="../images/carrot.png">
                    <img class="Article-top__icon Article-top__icon_cheese" src="../images/cheese.png">
                    <img class="Article-top__icon Article-top__icon_juice" src="../images/juice.png">
                    <img class="Article-top__icon Article-top__icon_spaghetti" src="../images/spaghetti.png">
                    <img class="Article-top__icon Article-top__icon_lemonade" src="../images/lemonade.png">
                    <img class="Article-top__icon Article-top__icon_apple" src="../images/apple.png">
                    <p class="Article-top__title">I nostri eventi</p>
                    <p class="Article-top__text">
                        Questo mese hai tanti buoni motivi
                        per provare il social eating! Non ti
                        resta che provarli tutti.
                    </p>
                </article>
            </div>
            <div class="Recipe-cards-mover">
                <section class="Recipe-card">
                    <p class="Recipe-card__title">ARIA DI AUTUNNO</p>
                    <p class="Recipe-card__text">
                        Autunno alle porte?
                        Noi siamo pronti con i
                        fiche autunnali!
                    </p>
                </section>
                <section class="Recipe-card">
                    <p class="Recipe-card__title">MARE</p>
                    <p class="Recipe-card__text">
                        Frutti di mare che
                        passione! Ecco
                        l'evento perfetto
                    </p>
                </section>
                <section class="Recipe-card">
                    <p class="Recipe-card__title">NOVELLE COUSINE</p>
                    <p class="Recipe-card__text">
                        Un evento da leccarsi
                        le dita! 10 specialita
                        mai provate
                    </p>
                </section>
            </div>
        </section>
        <footer class="Layout__footer">Lorem ipsum dolor sit amet.</footer>
    </body>
</html>