<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Layout.css">
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Section-top.css">
        <link rel="stylesheet" href="style/Article-top.css">
        <link rel="stylesheet" href="style/Recipe-card.css">
        <link rel="stylesheet" href="style/Article-chef.css">
        <link rel="stylesheet" href="style/Link-Sergii.css">
        <link rel="stylesheet" href="style/Footer.css">
        <link rel="stylesheet" href="style/Article-middle.css">
        <link rel="stylesheet" href="style/Article-middle-title.css">
        <link rel="stylesheet" href="style/Article-top-text.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <div class="Header">
                <a class="Logo" href="#">Eaty</a>
                <nav class="Main-navigation">
                    <a class="Main-navigation__item Main-navigation__item_home" href="#">Home</a>
                    <a class="Main-navigation__item" href="#">Eventi</a>
                    <a class="Main-navigation__item" href="#">Ricette</a>
                    <a class="Main-navigation__item" href="#">Chef a domicilio</a>
                    <a class="Main-navigation__item" href="#">Contatti</a>
                </nav>
            </div>
        </header>
        <main class="Layout__payload">
            <section class="Section-top">
                <div class="Section-top__title">
                    Ogni giorno nuove esperienze
                </div>
                <div class="Section-top__text">
                    Scopri sapori, culture e amici con il social eating
                </div>
                <button class="Section-top__button">
                    Scopri gli altri eventi
                </button>
            </section>
            <div class="Article-top-mover">
                <article class="Article-top">
                    <img class="Article-top__icon Article-top__icon_baget" src="images/baget.png">
                    <img class="Article-top__icon Article-top__icon_myska" src="images/myska.png">
                    <img class="Article-top__icon Article-top__icon_carrot" src="images/carrot.png">
                    <img class="Article-top__icon Article-top__icon_cheese" src="images/cheese.png">
                    <img class="Article-top__icon Article-top__icon_juice" src="images/juice.png">
                    <img class="Article-top__icon Article-top__icon_spaghetti" src="images/spaghetti.png">
                    <img class="Article-top__icon Article-top__icon_lemonade" src="images/lemonade.png">
                    <img class="Article-top__icon Article-top__icon_apple" src="images/apple.png">
                    <p class="Article-top__title">I nostri eventi</p>
                    <p class="Article-top__text">
                        Questo mese hai tanti buoni motivi
                        per provare il social eating! Non ti
                        resta che provarli tutti.
                    </p>
                </article>
            </div>
            <section class="Article-top-text">
                In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia.
            </section>
            <button class="Article-top__button">
                Scopri gli altri eventi
            </button>
            <div class="Recipe-cards-mover">
                <section class="Recipe-card Recipe-card1">
                    <p class="Recipe-card__title">ARIA DI AUTUNNO</p>
                    <p class="Recipe-card__text">
                        Autunno alle porte?
                        Noi siamo pronti con i
                        fiche autunnali!
                    </p>
                </section>
                <section class="Recipe-card Recipe-card2">
                    <p class="Recipe-card__title">MARE</p>
                    <p class="Recipe-card__text">
                        Frutti di mare che
                        passione! Ecco
                        l'evento perfetto
                    </p>
                </section>
                <section class="Recipe-card Recipe-card3">
                    <p class="Recipe-card__title">NOVELLE COUSINE</p>
                    <p class="Recipe-card__text">
                        Un evento da leccarsi
                        le dita! 10 specialita
                        mai provate
                    </p>
                </section>
            </div>
            <div class="divider"></div>
            <article class="Article-middle">
                <article class="Article-middle__main">
                    <section class="Article-middle__main_title-block Lasciati">
                        <h2 class="Main-title">LASCIATI ISPIRARE</h2>
                        <p class="Article-middle__main_recipe-name">Patate alla brace con buccia</p>
                        <p class="Article-middle__main_description">
                            In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali.
                            Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.
                        </p>
                        <a href="" class="Transition-recipes Link-Sergii">Scopri le altre ricette</a>
                    </section>
                    <section class="Recipe-card Potato-ricette Recipe-card4">
                        <p class="Recipe-card__title">RICETTE</p>
                        <p class="Recipe-card__text">Prova la nostra ricetta delle patate arrosto al timo!</p>
                    </section>
                </article>
                <img src="images/potato.png" class="Article-middle__potato-pic">
            </article>
            <article class="Article-chef">
                <article class="Article-chef__image"></article>
                <section class="Article-chef__title">
                    <p class="Article-chef__title_main">Vuoi uno chef a casa tua?</p>
                    <p class="Article-chef__title_description">Organizza i tuoi eventi senza pensare a nulla</p>
                    <p class="Article-chef__title_additional">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali.
                        Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.
                    </p>
                    <a href="" class="Article-chef__link Link-Sergii">Contatta uno chef</a>
                </section>
            </article>
        </main>
        <footer class="Layout__footer">
            <section class="Footer">
                <p class="Footer__additional-info">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia
                    e Consonantia, vivono i testi casuali.
                    Vivono isolati nella cittadina di Lettere, sulle coste del Semantico.
                </p>
                <form class="Search__input">
                    <input class="Search__input_email" type="email" name="email" placeholder="Inserisci la tua email">
                    <a class="Footer__register_action" href="">Iscriviti</a>
                </form>
                <section class="Footer__copiright">
                    <p class="Footer__copiright_rights-holder">Eaty Copiright 2017 all rights reserved</p>
                    <p class="Footer__copiright_desiner-inormation">Designed by Rendemarco</p>
                </section>
            </section>
        </footer>
    </body>
</html>