<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Layout.css">
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Top-image.css">
    </head>
    <body class="Layout">
        <header class="Layout__header">
            <div class="Header">
                <a class="Logo" href="#">Eaty</a>
                <nav class="Main-navigation">
                    <a class="Main-navigation__item Main-navigation__item_home" href="#">Home</a>
                    <a class="Main-navigation__item" href="#">Eventi</a>
                    <a class="Main-navigation__item" href="#">Ricette</a>
                    <a class="Main-navigation__item" href="#">Chef a domicilio</a>
                    <a class="Main-navigation__item" href="#">Contatti</a>
                </nav>
            </div>
        </header>
        <section class="Layout__payload">
            <section class="Top-image">
                <div class="Top-image__title">
                    Ogni giorno nuove esperienze
                </div>
                <div class="Top-image__text">
                    Scopri sapori, culture e amici con il social eating
                </div>
                <button class="Top-image__button">
                    Scopri gli altri eventi
                </button>
            </section>
        </section>
        <footer class="Layout__footer">Lorem ipsum dolor sit amet.</footer>
    </body>
</html>