<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Section-top.css">
    </head>
    <body>
        <section class="Section-top">
            <div class="Section-top__title">
                Ogni giorno nuove esperienze
            </div>
            <div class="Section-top__text">
                Scopri sapori, culture e amici con il social eating
            </div>
            <button class="Section-top__button">
                Scopri gli altri eventi
            </button>
        </section>
    </body>
</html>