#home {
    width: 500px;
    height: 500px;
    background-size: auto 350px;
    background-repeat: no-repeat;
    background-color: lightyellow;
    background-position: center ;
    padding: 0;

}
