<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{#channel.0.videos}}
        <article class="video">
            <img class="video__cover" src="{{video_url}}">
            <h2 class="video__title">{{video_name}}</h2>
            <aside>
                <h6 class="video__channel-name">{{channel_name}}</h6>
                <p class="video__view-count">{{views}} </p>
                <time class="video__upload-time">{{data_of_published}}</time>
            </aside>
        </article>
    {{/channel.0.videos}}
</body>
</html>