<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Article.css">
</head>
<body>
<div class="Article">
    <div class="Article__block Grid__cell_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consectetur deleniti natus nisi quos ratione. Asperiores corporis distinctio dolorem illum, magnam minus, nam omnis optio pariatur praesentium tenetur ullam!</div>
    <div class="Article__block Grid__cell_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur deleniti error facilis fugit ipsa libero necessitatibus nisi odit possimus quis quisquam quod ratione saepe, sapiente tenetur ullam velit veritatis?</div>
    <div class="Article__block Grid__cell_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum provident quo rerum? Adipisci dicta doloribus ea praesentium repellendus suscipit voluptatibus. Dolor earum eos expedita libero, nulla officia quaerat qui ratione!</div>
    <div class="Article__block Grid__cell_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, neque possimus? Aliquam blanditiis consectetur deleniti dignissimos distinctio et expedita laboriosam minima natus, nihil non numquam, odit placeat porro tempora tenetur.</div>
</div>
</body>
</html>