<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Banner.css">
</head>
<body>
    <article class="Banner">
        <div class="Grid__cell_12">
            <h3 class="Banner__header Grid__cell_4 Grid__prefix_4">PEOPLE READY-TO-HELP</h3>
            <h2 class="Banner__title Grid__cell_10 Grid__prefix_1">Provides All Essential Accessory Tips</h2>
            <h4 class="Banner__description Grid__cell_4 Grid__prefix_4">Discover  the  meshe  shows</h4>
        </div>
    </article>
</body>
</html>