<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style/Header.css">
        <link rel="stylesheet" href="style/Label.css">
        <link rel="stylesheet" href="style/Layout.css">
    </head>
    <body>
        <div class="Header">

        </div>
        <section class="Header">
            <span class="Header__menu-link"></span>
            <span class="Header__menu-name">Extra</span>
            <form class="Header__form" action="">
                <span class="Header__search-icon"></span>
                <input class="Header__search" type="search" placeholder="Search">
            </form>

            <div class="Label">
                <img class="Label__logo" src="../images/Diamond-logo.png">
                <p class="Label__name">DIAMOND</p>
                <p class="Label__description">--fashion--</p>
            </div>
        </section>
    </body>
</html>