<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/bPromoarticle-5sections.css">
</head>
<body>
<article class="Promoarticle-5sections">
    <h2 class="Promoarticle-5sections__title Grid__cell_8 Grid__prefix_2">Best Women Shoes Collection</h2>
    <p class="Promoarticle-5sections__description Grid__cell_8 Grid__prefix_2">A narcissistic robot ​infiltrated our ​collections.</p>
    <p class="Promoarticle-5sections__link Grid__cell_4 Grid__prefix_4">Follow it’s tracks</p>
    <div class="Promoarticle-5sections__images">
        <div class="Promoarticle-5sections__image Promoarticle-5sections__image_big Promoarticle-5sections__image_big_shoes Grid__cell_6"></div>
        <section class="Promoarticle-5sections__4images Grid__cell_6">
            <div>
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"  src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_fill_light:81,g_face:center,h_400,w_400/v1513364590/fashion-601557_640_os9iyx.jpg" alt="">
                <p class="Promoarticle-5sections__promotext">More colors available</p>
                <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket<br> square 45</p>
                <p class="Promoarticle-5sections__price">$145.00</p>
            </div>
            <div>
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_art:incognito,g_face:auto,h_450,w_450/v1513364634/fashion-957158_640_engzou.jpg" alt="">
                <p class="Promoarticle-5sections__promotext">More colors available</p>
                <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket<br> square 45</p>
                <p class="Promoarticle-5sections__price">$145.00</p>
            </div>
            <div>
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_fill_light:85,h_263,w_263/v1513364617/shoes-1174160_640_ppbq8r.jpg" alt="">
                <p class="Promoarticle-5sections__promotext">More colors available</p>
                <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket<br> square 45</p>
                <p class="Promoarticle-5sections__price">$145.00</p>
            </div>
            <div>
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_fill_light:90,h_263,w_263/v1513364824/238134_LolaRamona_HP_2017_1215_MS2_193620.0aa17704-2663-4b7f-bdd9-bca380a12df0_gwbben.jpg" alt="">
                <p class="Promoarticle-5sections__promotext">More colors available</p>
                <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket<br> square 45</p>
                <p class="Promoarticle-5sections__price">$145.00</p>
            </div>
        </section>
    </div>
</article>
</body>
</html>