<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Promo-big-image.css">
</head>
<body>
    <article class="Promo-big-image">
        <h3 class="Promo-big-image__header Grid__cell_4 Grid__prefix_4">STYLERS PHILOSOPHY</h3>
        <h2 class="Promo-big-image__title Grid__cell_6 Grid__prefix_3">Simplicity & perfection</h2>
        <p class="Promo-big-image__description Grid__cell_8 Grid__prefix_2">The punk and cheeky version of the iconic “chaîne d’ancre” link is an<br>ode to the wonders of time.<br>
            Prepare to be hooked.</p>
        <p class="Promo-big-image__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
        <div class="Promo-big-image__image Promo-big-image__image_style Grid__cell_8 Grid__prefix_2"></div>
        <!--<img class="Promo-big-image__image Grid__cell_8 Grid__prefix_2" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:primavera,h_424,w_752/v1513215285/pexels-photo-206296_znhguv.jpg" alt="">-->
    </article>
</body>
</html>