<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_cols.css">
    <link rel="stylesheet" href="style/col.less">
    <link rel="stylesheet" href="style/reset.less">
    <link rel="stylesheet" href="style/Promoarticle-4Columns.css">
</head>
<body>
<article class="Promoarticle col span_12_of_12">
    <!--<h2 class="Promoarticle__header Grid__cell_6 Grid__prefix_3">Our accessory for ladies</h2>
    <h3 class="Promoarticle__description Grid__cell_8 Grid__prefix_2">Creating Remarkable ladies bags Prints in 2 Colors Combination</h3>
    <section class="Promoarticle__top">-->
        <div class="Promoarticle__item col span_3_of_12">
            <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132529/purse-883112_640_pdunam.jpg" alt="bag">
            <p class="Promoarticle__about-item">Snake bag</p>
        </div>
        <div class="Promoarticle__item col span_3_of_12">
            <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132502/bags-1852142_640_rqc157.jpg" alt="bag">
            <p class="Promoarticle__about-item">Woman bag</p>
        </div>
        <div class="Promoarticle__item col span_3_of_12">
            <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132518/handbag-883110_640_fvnvjr.jpg" alt="bag">
            <p class="Promoarticle__about-item">Fashionest bag</p>
        </div>
        <div class="Promoarticle__item col span_3_of_12">
            <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132544/handbag-883122_640_v2qxsg.jpg" alt="bag">
            <p class="Promoarticle__about-item">Black stylish bag</p>
        </div>
   <!-- </section>-->
    <!--<section class="Promoarticle__bottom">-->
        <div class="Promoarticle__item col span_3_of_12">
            <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_grayscale,h_260,w_260/v1513177542/sandals-2480821_640_zh290e.jpg" alt="bag">
            <p class="Promoarticle__about-item">Futures shoes</p>
        </div>
        <div class="Promoarticle__item col span_3_of_12">
            <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513177611/shoe-2006739_640_yqcmht.jpg" alt="bag">
            <p class="Promoarticle__about-item">Nice Shoes</p>
        </div>
        <div class="Promoarticle__item col span_3_of_12">
            <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513177554/boots-499017_640_urtuxq.jpg" alt="bag">
            <p class="Promoarticle__about-item">Fashionest sandals</p>
        </div>
        <div class="Promoarticle__item col span_3_of_12">
            <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_grayscale,h_260,w_260/v1513177620/shoe-2300318_640_lsa4ub.jpg" alt="bag">
            <p class="Promoarticle__about-item">Stylish sandals</p>
        </div>
    <!--</section>-->
</article>
</body>
</html>