<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<article class="Promoarticle-5sections">
    <h2 class="Promoarticle-5sections__title Grid__cell_8 Grid__prefix_2">Best Women Shoes Collection</h2>
    <p>A narcissistic robot ​infiltrated our ​collections.</p>
    <p>Follow it’s tracks</p>
    <img src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_554,w_554/v1513364108/134905_Wide-CalfBootCollection_HP_2017_1213_AA2_134826.d14b263f-e781-4019-8d4c-b4b77a4dbd53_ivwcod.jpg" alt="boots">
    <section>
        <div>
            <img src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_fill_light:81,g_face:center,h_400,w_400/v1513364590/fashion-601557_640_os9iyx.jpg" alt="">
            <p>More colors available</p>
            <p>Flamboyant Web pocket square 45</p>
            <p>$145.00</p>
        </div>
        <div>
            <img src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_fill_light:85,g_north_east,h_450,w_450/v1513364634/fashion-957158_640_engzou.jpg" alt="">
            <p>More colors available</p>
            <p>Flamboyant Web pocket square 45</p>
            <p>$145.00</p>
        </div>
        <div>
            <img src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_fill_light:85,h_263,w_263/v1513364617/shoes-1174160_640_ppbq8r.jpg" alt="">
            <p>More colors available</p>
            <p>Flamboyant Web pocket square 45</p>
            <p>$145.00</p>
        </div>
        <div>
            <img src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_fill_light:90,h_263,w_263/v1513364824/238134_LolaRamona_HP_2017_1215_MS2_193620.0aa17704-2663-4b7f-bdd9-bca380a12df0_gwbben.jpg" alt="">
            <p>More colors available</p>
            <p>Flamboyant Web pocket square 45</p>
            <p>$145.00</p>
        </div>
    </section>
</article>
</body>
</html>