<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/bPromoarticle-5sections.css">
</head>
<body>
<article class="Promoarticle-5sections">
    <h2 class="Promoarticle-5sections__title Grid__cell_8 Grid__prefix_2">Beautiful Plants for Decoration</h2>
    <p class="Promoarticle-5sections__description Grid__cell_8 Grid__prefix_2">A narcissistic robot ​infiltrated our ​collections.</p>
    <p class="Promoarticle-5sections__link Grid__cell_4 Grid__prefix_4">Follow it’s tracks</p>
    <div class="Promoarticle-5sections__images">
        <div class="Promoarticle-5sections__image Promoarticle-5sections__image_big Promoarticle-5sections__image_big_plant Grid__cell_6"></div>
        <section class="Promoarticle-5sections__4images Grid__cell_6">
            <div>
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small"  src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_fill_light:83,g_face:auto,h_400,w_400/v1513388553/plants-2810511_640_eq03dt.jpg" alt="">
                <p class="Promoarticle-5sections__promotext">More colors available</p>
                <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket</p>
                <p class="Promoarticle-5sections__price">$145.00</p>
            </div>
            <div>
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_art:linen,g_face,h_450,w_450/v1513388567/sansevieria-2582056_640_fwuhbk.jpg" alt="">
                <p class="Promoarticle-5sections__promotext">More colors available</p>
                <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket</p>
                <p class="Promoarticle-5sections__price">$145.00</p>
            </div>
            <div>
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_mfit,h_450,w_450/v1513388582/plants-2250221_640_gwm0ft.jpgg" alt="">
                <p class="Promoarticle-5sections__promotext">More colors available</p>
                <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket</p>
                <p class="Promoarticle-5sections__price">$145.00</p>
            </div>
            <div>
                <img class="Promoarticle-5sections__image Promoarticle-5sections__image_small" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_crop,e_improve,g_face:auto,h_426,w_426/v1513388645/flowerpots-2924375_640_axu4js.jpg" alt="">
                <p class="Promoarticle-5sections__promotext">More colors available</p>
                <p class="Promoarticle-5sections__item-name">Flamboyant Web pocket</p>
                <p class="Promoarticle-5sections__price">$145.00</p>
            </div>
        </section>
    </div>
</article>
</body>
</html>