<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/12_col.css">
    <link rel="stylesheet" href="style/Promo-big-image.css">
</head>
<body>
    <article class="Promo-big-image Grid__cell_12">
        <h3 class="Promo-big-image__header Grid__cell_4 Grid__prefix_4">COSMETIC</h3>
        <h2 class="Promo-big-image__title Grid__cell_6 Grid__prefix_3">Cosmetics Accessories</h2>
        <p class="Promo-big-image__description Grid__cell_8 Grid__prefix_2">More and more people are opting to live the herbal life: moving away from
            chemicals and scientific medicines, and taking traditional herbs to do everything from losing weight to relieving pain. They are awesome</p>
        <p class="Promo-big-image__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
        <img class="Promo-big-image__image Grid__cell_8 Grid__prefix_2" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_424,w_752/v1513299896/coconut-oil-in-jar-2089930_640_wvntdd.jpg" alt="">
    </article>
</body>
</html>