<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style/Layout.css">
    <link rel="stylesheet" href="style/Hamburger.css">
    <link rel="stylesheet" href="style/Search.css">
    <link rel="stylesheet" href="style/Logo.css">
    <link rel="stylesheet" href="style/Log-in.css">
    <link rel="stylesheet" href="style/Header.css">
    <link rel="stylesheet" href="style/Banner.css">
    <link rel="stylesheet" href="style/Promoarticle-4Columns.css">
    <link rel="stylesheet" href="style/Promo-big-image.css">
</head>
<body class="Layout">
<header class="Layout__header">
    <div class="Header">
        <nav class="Header__top">
            <p class="Header__top-navigation">United Stats</p>
            <p class="Header__top-navigation">Find a Store</p>
            <p class="Header__top-navigation">Contact us</p>
        </nav>
        <section class="Header__bottom">
            <div class="Header__bottom-left">
                <img class="Hamburger"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png">
                <p class="Header__bottom-extra">Extra</p>
                <form class="Search" action="">
                    <img class="Search__icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/105498-200.png"/>
                    <input class="Search__input" type="search" placeholder="Search">
                </form>
            </div>
            <div class="Header__bottom-center">
                <div class="Logo">
                    <img class="Logo__image" src="../img/Diamond-logo.png">
                    <p class="Logo__name">DIAMOND</p>
                    <p class="Logo__description">--fashion--</p>
                </div>
            </div>
            <div class="Header__bottom-right">
                <div class="Log-in">
                    <img class="Log-in__image Log-in__image_account" src="img/icons8-customer-50.png" alt="">
                    <p class="Log-in__title">Account</p>
                </div>
                <div class="Log-in">
                    <img class="Log-in__image Log-in__image_cart" src="https://png.icons8.com/material/540/add-shopping-cart.png" alt="">
                    <p class="Log-in__title">Cart</p>
                </div>
            </div>
        </section>
    </div>
</header>
<main class="Layout__main">
    <article class="Banner">
        <div class="Grid__cell_12">
            <h3 class="Banner__header Grid__cell_4 Grid__prefix_4">PEOPLE READY-TO-HELP</h3>
            <h2 class="Banner__title Grid__cell_10 Grid__prefix_1">Provides All Essential Accessory Tips</h2>
            <h4 class="Banner__description Grid__cell_4 Grid__prefix_4">Discover  the  meshe  shows</h4>
        </div>
    </article>
    <div class="Wrapper">
        <article class="Promoarticle">
            <h2 class="Promoarticle__header Grid__cell_6 Grid__prefix_3">Our accessory for ladies</h2>
            <h3 class="Promoarticle__description Grid__cell_8 Grid__prefix_2">Creating Remarkable ladies bags Prints in 2 Colors Combination</h3>
            <section class="Promoarticle__top">
                <div class="Promoarticle__item Grid__cell_3">
                    <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132529/purse-883112_640_pdunam.jpg" alt="bag">
                    <p class="Promoarticle__about-item">Snake bag</p>
                </div>
                <div class="Promoarticle__item Grid__cell_3">
                    <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132502/bags-1852142_640_rqc157.jpg" alt="bag">
                    <p class="Promoarticle__about-item">Woman bag</p>
                </div>
                <div class="Promoarticle__item Grid__cell_3">
                    <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132518/handbag-883110_640_fvnvjr.jpg" alt="bag">
                    <p class="Promoarticle__about-item">Fashionest bag</p>
                </div>
                <div class="Promoarticle__item Grid__cell_3">
                    <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513132544/handbag-883122_640_v2qxsg.jpg" alt="bag">
                    <p class="Promoarticle__about-item">Black stylish bag</p>
                </div>
            </section>
            <section class="Promoarticle__bottom">
                <div class="Promoarticle__item Grid__cell_3">
                    <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_grayscale,h_260,w_260/v1513177542/sandals-2480821_640_zh290e.jpg" alt="bag">
                    <p class="Promoarticle__about-item">Futures shoes</p>
                </div>
                <div class="Promoarticle__item Grid__cell_3">
                    <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513177611/shoe-2006739_640_yqcmht.jpg" alt="bag">
                    <p class="Promoarticle__about-item">Nice Shoes</p>
                </div>
                <div class="Promoarticle__item Grid__cell_3">
                    <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:incognito,h_260,w_260/v1513177554/boots-499017_640_urtuxq.jpg" alt="bag">
                    <p class="Promoarticle__about-item">Fashionest sandals</p>
                </div>
                <div class="Promoarticle__item Grid__cell_3">
                    <img class="Promoarticle__photo-item" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_grayscale,h_260,w_260/v1513177620/shoe-2300318_640_lsa4ub.jpg" alt="bag">
                    <p class="Promoarticle__about-item">Stylish sandals</p>
                </div>
            </section>
        </article>
        <article class="Promo-big-image Grid__cell_12">
            <h3 class="Promo-big-image__header Grid__cell_4 Grid__prefix_4">STYLERS PHILOSOPHY</h3>
            <h2 class="Promo-big-image__title Grid__cell_6 Grid__prefix_3">Simplicity & perfection</h2>
            <p class="Promo-big-image__description Grid__cell_8 Grid__prefix_2">The punk and cheeky version of the iconic “chaîne d’ancre” link is an<br>ode to the wonders of time.<br>
                Prepare to be hooked.</p>
            <p class="Promo-big-image__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
            <img class="Promo-big-image__image Grid__cell_8 Grid__prefix_2" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:primavera,h_424,w_752/v1513215285/pexels-photo-206296_znhguv.jpg" alt="">
        </article>
        <article class="Promo-big-image Grid__cell_12">
            <h3 class="Promo-big-image__header Grid__cell_4 Grid__prefix_4">JEWELRY</h3>
            <h2 class="Promo-big-image__title Grid__cell_6 Grid__prefix_3">Types Of Cosmetics</h2>
            <p class="Promo-big-image__description Grid__cell_8 Grid__prefix_2">Having Your Breasts Reduced With Breast Augmentation</p>
            <p class="Promo-big-image__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
            <img class="Promo-big-image__image Grid__cell_8 Grid__prefix_2" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_424,w_752/v1513250638/makeup-brush-1768790_640_uujdzz.jpg" alt="cosmetics">
        </article>
        <article class="Promo-big-image Grid__cell_12">
            <h3 class="Promo-big-image__header Grid__cell_4 Grid__prefix_4">COSMETIC</h3>
            <h2 class="Promo-big-image__title Grid__cell_6 Grid__prefix_3">Cosmetics Accessories</h2>
            <p class="Promo-big-image__description Grid__cell_8 Grid__prefix_2">More and more people are opting to live the herbal life: moving away from
                chemicals and scientific medicines, and taking traditional herbs to do everything from losing weight to relieving pain. They are awesome</p>
            <p class="Promo-big-image__link Grid__cell_4 Grid__prefix_4">Tear and create</p>
            <img class="Promo-big-image__image Grid__cell_8 Grid__prefix_2" src="http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_424,w_752/v1513299896/coconut-oil-in-jar-2089930_640_wvntdd.jpg" alt="">
        </article>
    </div>
</main>
<aside class="Layout__aside">
    <div class="Wrapper Grid__cell_12">
        <section class="Feedback">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </section>
        <section class="Sitemap">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </section>
    </div>
</aside>
<footer class="Layout__footer">
    <div class="Wrapper Grid__cell_12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </div>
</footer>
</body>
</html>