<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/main-header.css">
    <link rel="stylesheet" href="styles/guide.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/button-follow.css">
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/app-model.css">
    <link rel="stylesheet" href="styles/icon.css">
    <link rel="stylesheet" href="styles/best_on_youtube.css">
    <link rel="stylesheet" href="styles/videos.css">
    <link rel="stylesheet" href="styles/channel-video.css">
</head>
<body>
<header class="main-header">
    <aside class="main-header_left-aside">
        <i class="main-header__details material-icons">menu</i>
        <img class="main-header__logo" src="images/youtube-logo.jpg" alt="youtube logo" width="80px" height="18px">
        <sup class="main-header__ua">UA</sup>
    </aside>
    <form action="" class="search">
        <input class="search__write" type="text" value="Пошук">
        <i class="material-icons search__keyboard">keyboard</i>
        <button class="search__button">
            <i class="material-icons search__img-search">search</i>
        </button>
    </form>
    <aside class="main-header_right-aside">
        <i class="material-icons main-header_right-icon">file_upload</i>
        <i class="material-icons main-header_right-icon">apps</i>
        <i class="material-icons main-header_right-icon">more_vert</i>
        <a href="/" class="main-header__signin">УВІЙТИ</a>
    </aside>
</header>


<aside class="guide">
    <nav class="guide__data-model">
        {{#data-model}}
            <a href="/" class="guide__chapter {{class-name}}">
                {{name}}
            </a>
        {{/data-model}}
    </nav>
    <section class="best-on-youtube">
        <h4 class="best-on-youtube__title">Найкраще на youtube</h4>
        {{#best-on-youtube}}
            <a href="/" class="guide__chapter best-on-youtube__icon {{class-name}}">
                {{name}}
            </a>
        {{/best-on-youtube}}
    </section>
    <div class="guide__see-chanel">
        <a href="/" class="guide__chapter icon__see-chanel">
            Переглянути канали
        </a>
    </div>
    <div class="guide__signin-for-chanel">
        <p>Увійдіть, щоб переглянути свої канали та рекомендації</p>
        <a href="/" class="guide__signin-link">Увійти</a>
    </div>
    <nav class="guide__settings">
        {{#settings-model}}
            <a href="/" class="guide__chapter {{class-name}}">
                {{name}}
            </a>
        {{/settings-model}}
    </nav>

    <footer class="app-model">
        {{#application-model}}
            <a href="/" class="app-model__link">{{name}}</a>
        {{/application-model}}
        <br><br>
        <p>© 2017 YouTube, LLC</p>
    </footer>
</aside>

<main class="content">
    <section class="content__recommended">
        <h2 class="content__recommended-name">Рекомендовано</h2>
        <div>
            {{#recommended}}
                <article class="videos">
                    <img src="{{url}}" alt="video" width="210px">
                    <h3 class="videos__name"><a class="video__name_link" href="video-page">{{video-name}}</a></h3>
                    <aside class="videos__details">
                        <a class="videos__channel-name" href="/">{{channel-name}}</a>
                        <span class="videos__views">{{views}} переглядів</span>
                        <time class="videos__time" datetime="{{datetime}}">{{time}}</time>
                    </aside>
                </article>
            {{/recommended}}
        </div>
        <button class="content__see-more">
            Показати більше
        </button>
    </section>
    {{#channels}}
        <section class="channel-video">
            <header class="channel-video__title">
                <div class="channel-video_left">
                    <img height="32" width="32"
                         src="https://yt3.ggpht.com/-62eFsC66a_s/AAAAAAAAAAI/AAAAAAAAAAA/S1aw6wY6HsM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg">
                    <h2 class="channel-video__name">{{channel-name}}</h2>
                    <p class="channel-video__recommended">Рекомендований канал</p>
                </div>
                <button class="button-follow">Підписатися <span
                        class="button-follow_darker">{{channel-followers}}</span></button>
            </header>
            {{#channel-content}}
                <section class="videos">
                    <img src="{{url}}" alt="video" width="210px">
                    <h3 class="videos__name">{{video-name}}</h3>
                    <aside class="videos__details">
                        <a href="/" class="videos__channel-name">{{channel-name}}</a>
                        <span class="videos__views">{{views}} переглядів</span>
                        <time class="videos__time" datetime="{{datetime}}">{{time}}</time>
                    </aside>
                </section>
            {{/channel-content}}
        </section>
    {{/channels}}
</main>
</body>
</html>