<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header class="main-header">
    <nav class="main-nav">
        <aside class="main-nav-el left-aside">
            <i class=" details material-icons">menu</i>
            <img src="youtube-logo.jpg" alt="youtube logo" width="80px" height="18px">
            <sup>UA</sup>
        </aside>
        <form action="" class="main-nav-el form-search">
            <input type="text" value="Пошук">
            <i class="material-icons keyboard">keyboard</i>
            <button>
                <i class="material-icons">search</i>
            </button>
        </form>
        <aside class="main-nav-el right-aside">
            <i class="material-icons">file_upload</i>
            <i class="material-icons">apps</i>
            <i class="material-icons">more_vert</i>
            <a href="/" class="signin">УВІЙТИ</a>
        </aside>
    </nav>
</header>


<div class="left-menu">
    <nav>
        <a href="/" class="left-menu-el">
            <i class="material-icons hover-red">home</i>
            <span>Головна</span>
        </a>
        <a href="/" class="left-menu-el">
            <i class="material-icons">whatshot</i>
            <span>Популярне</span>
        </a>
        <a href="/" class="left-menu-el">
            <i class="material-icons">history</i>
            <span>Історія</span>
        </a>
    </nav>
    <section class="youtube-best">
        <p>Найкраще на youtube</p>
        <a href="/" class="left-menu-el">
            <img class="red-icons" src="//i.ytimg.com/i/-9-kyTW8ZkZNDHQJ6FgpwQ/1.jpg" alt="music icon">
            <span>Музика</span>
        </a>
        <a href="/" class="left-menu-el">
            <img class="red-icons" src="//i.ytimg.com/i/Egdi0XIXXZ-qJOFPf4JSKw/1.jpg" alt="sport icon">
            <span>Спорт</span>
        </a>
        <a href="/" class="left-menu-el">
            <img class="red-icons" src="//i.ytimg.com/i/OpNcN46UbXVtpKMrmU4Abg/1.jpg" alt="game icon">
            <span>Комп'ютерні ігри</span>
        </a>
        <a href="/" class="left-menu-el">
            <img class="red-icons" src="//i.ytimg.com/i/lgRkhTL3_hImCAmdLfDE4g/1.jpg" alt="cinema icon">
            <span>Фільми</span>
        </a>
        <a href="/" class="left-menu-el">
            <img class="red-icons" src="//i.ytimg.com/i/YfdidRxbB8Qhf0Nx7ioOYw/1.jpg" alt="news icon">
            <span>Новини</span>
        </a>
        <a href="/" class="left-menu-el">
            <img class="red-icons" src="//i.ytimg.com/i/4R8DWoMoI7CAwX8_LjQHig/1.jpg" alt="live video icon">
            <span>У прямому ефірі</span>
        </a>
        <a href="/" class="left-menu-el">
            <img class="red-icons" src="//i.ytimg.com/i/zuqhhs6NWbgTzMuM09WKDQ/1.jpg" alt="spherical video">
            <span>Сферичне відео</span>
        </a>
    </section>
    <div class="see-chanel">
        <a href="/" class="left-menu-el">
            <i class="material-icons">add_circle</i>
            <span>Переглянути кан...</span>
        </a>
    </div>
    <div class="signin-for-chanel">
        <p>Увійдіть, щоб переглянути свої канали та рекомендації</p>
        <a href="/">Увійти</a>
    </div>
    <nav class="settings">
        <a href="/" class="left-menu-el">
            <i class="material-icons">settings</i>
            <span>Налаштування</span>
        </a>
        <a href="/" class="left-menu-el">
            <i class="material-icons">help</i>
            <span>Довідка</span>
        </a>
        <a href="/" class="left-menu-el">
            <i class="material-icons">sms_failed</i>
            <span>Надіслати відгук</span>
        </a>
    </nav>

    <footer>
        <a href="/">Інфо</a>
        <a href="/">Преса</a>
        <a href="/">Авторські права</a>
        <a href="/">Творці</a>
        <a href="/">Реклама</a>
        <a href="/">Розробники</a>
        <a href="/">+YouTube</a>
        <br><br>
        <a href="/">Умови</a>
        <a href="/">Конфіденційність</a>
        <a href="/">Політика та безпека</a>
        <a href="/">Спробувати нові функції</a>
        <br><br>
        <p>© 2017 YouTube, LLC</p>
    </footer>
</div>

<main>
    <section class="recommended">
        <header>
            <h4>Рекомендовано</h4>
        </header>
        <div>
            {{#recommended}}
            <section class="video">
                <img src="{{url}}" alt="video" width="210px">
                <div class="video-details">
                    <p>{{video-name}}</p>
                    <a href="/">{{channel-name}}</a>
                    <span class="views">{{views}} переглядів</span>
                    <time datetime="{{datetime}}">{{time}}</time>
                </div>
            </section>
            {{/recommended}}
        </div>
        <footer>
            Показати більше
        </footer>
    </section>
</main>


</body>
</html>