<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header class="main-header">
    <aside class="main-header-el left-aside">
        <i class="details material-icons">menu</i>
        <img src="images/youtube-logo.jpg" alt="youtube logo" width="80px" height="18px">
        <sup>UA</sup>
    </aside>
    <form action="" class="main-header-el form-search">
        <input type="text" value="Пошук">
        <i class="material-icons keyboard">keyboard</i>
        <button class="button-search">
            <i class="material-icons">search</i>
        </button>
    </form>
    <aside class="main-header-el right-aside">
        <i class="material-icons">file_upload</i>
        <i class="material-icons">apps</i>
        <i class="material-icons">more_vert</i>
        <a href="/" class="signin">УВІЙТИ</a>
    </aside>
</header>


<aside class="left-menu">
    <nav>
        {{#data-model}}
            <a href="/" class="left-menu-el {{class-name}}">
                {{name}}
            </a>
        {{/data-model}}
    </nav>
    <section class="youtube-best">
        <h4>Найкраще на youtube</h4>
        {{#best-on-youtube}}
        <a href="/" class="left-menu-el red-icons {{class-name}}">
            {{name}}
        </a>
        {{/best-on-youtube}}
    </section>
    <div class="see-chanel">
        <a href="/" class="left-menu-el">
            Переглянути канали
        </a>
    </div>
    <div class="signin-for-chanel">
        <p>Увійдіть, щоб переглянути свої канали та рекомендації</p>
        <a href="/">Увійти</a>
    </div>
    <nav class="settings">
        {{#settings-model}}
        <a href="/" class="left-menu-el {{class-name}}">
            {{name}}
        </a>
        {{/settings-model}}
    </nav>

    <footer class="app-model">
        {{#application-model}}
        <a href="/">{{name}}</a>
        {{/application-model}}
        <br><br>
        <p>© 2017 YouTube, LLC</p>
    </footer>
</aside>

<main>
    <section class="recommended">
        <header>
            <h4>Рекомендовано</h4>
        </header>
        <div class="recommended-content">
            {{#recommended}}
                <article class="video">
                    <img src="{{url}}" alt="video" width="210px">
                    <h3 class="video-name">{{video-name}}</h3>
                    <aside class="video-details">
                        <a href="/">{{channel-name}}</a>
                        <span class="views">{{views}} переглядів</span>
                        <time datetime="{{datetime}}">{{time}}</time>
                    </aside>
                </article>
            {{/recommended}}
        </div>
        <button class="see-more">
            Показати більше
        </button>
    </section>
    {{#channels}}
        <section class="channel">
            <header>
                <div>
                    <img height="32" width="32"
                         src="https://yt3.ggpht.com/-62eFsC66a_s/AAAAAAAAAAI/AAAAAAAAAAA/S1aw6wY6HsM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg">
                    <h4>{{channel-name}}</h4>
                    <p>Рекомендований канал</p>
                </div>
                <a href="/">Підписатися {{channel-followers}}</a>
            </header>
            <div class="channel-content">
                {{#channel-content}}
                    <section class="video">
                        <img src="{{url}}" alt="video" width="210px">
                        <div class="video-details">
                            <p>{{video-name}}</p>
                            <a href="/">{{channel-name}}</a>
                            <span class="views">{{views}} переглядів</span>
                            <time datetime="{{datetime}}">{{time}}</time>
                        </div>
                    </section>
                {{/channel-content}}
            </div>
        </section>
    {{/channels}}
</main>


</body>
</html>