body{
    margin:0;
    font-family: "Roboto", sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
button{
    border: none;
}

.material-icons{
    color: #8b898b;
    cursor: pointer;
}
.main-header{
    margin: 0;
    box-shadow: 3px 3px 2px rgba(17, 17, 17, 0.06);
    width: 100%;
    position: fixed;
    background: #fffeff;
}
.main-nav{
    height:56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav .material-icons{
    padding: 0 8px;}

.left-aside sup{
    color: #8b898b;
    font-size: 10px;
}

.left-aside{
    display: flex;
}
.left-aside img{
    align-self: center;
}

.details{
    align-self: center;
    margin-right: 16px;
}
.right-aside{
    display: flex;
    align-items: center;
}

.signin{
    color: rgb(255, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0 16px;
    font-weight: bold;
}
.form-search{
    height: 30px;
    width: 50%;
    border: 1px solid #d3d1d3;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.form-search input{
    width: 88%;
    height:26px;
    font-size: 16px;
    color: #8b898b;
    font-family: 'Roboto',sans-serif;
    border: none;
    padding-left: 1%;
}

.keyboard{
    position: relative;
    margin-right: 1%;

}
.keyboard:hover{
    color: #2b2b2b;
}

.form-search button{
    background: #f2f2f2;
    width: 65px;
    height: inherit;
    border-left: 1px solid #d3d1d3;
}
.form-search button:hover{
    background: #eae8ea;
}
.form-search button i{
    font-size: 20px;
}

.left-menu{
    background: #f6f4f6;
    width: 240px;
    font-size: 14px;
    float: left;
    padding-top: 56px;
}

.left-menu nav,
.youtube-best{
    display: flex;
    flex-direction: column;
}

.left-menu nav{
    padding-top: 10px;
    border-bottom: 1px solid #efedef;
}

.youtube-best,
.see-chanel,
.settings{
    border-bottom: 1px solid #efedef;
    padding: 8px 0;
}
.left-menu-el{
    font-family: "Roboto", sans-serif;
    color: rgb(17,17,17);
    padding: 8px 24px;
    display: flex;
    align-items: center;
}
.left-menu-el:hover{
    background-color: #eceaec;
}

.red-icons{
    width: 24px;
    border-radius: 50%;
}
.hover-red:hover{
    color: red;
}
.left-menu-el i,
.left-menu-el img{
    margin-right: 26px;
}


.youtube-best p{
    font-size: 14px;
    padding-left: 24px;
    color: #8b898b;
    text-transform: uppercase;
}
.signin-for-chanel{
    padding: 2px 32px 16px 32px;
    border-bottom: 1px solid #efedef;
    color: rgb(17,17,17);
    font-weight: bold;
}
.signin-for-chanel a{
    color: red;
    text-transform: uppercase;
}

.left-menu footer{
    padding: 12px 27px;
    color: #8b898b;
    font-size: 13px;
}

.left-menu footer a{
    margin-right: 8px;
    color: #8b898b;
}

main{
    background: #fbf9fb;
    width: calc(100% - 240px);
    float: right;
    margin-top: 56px;

}
.recommended{
    padding: 0 20px;
}

.recommended div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recommended footer{
    font-size: 13px;
    color: #8b898b;
    text-transform: uppercase;
    cursor: pointer;
}
.video{
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 24px;
}
.video-details{
    display: flex;
    flex-direction: column;
}

.video-details p{
    font-weight: bold;
    font-size: 14px;
}

.video-details a,
.video-details time,
.video-details span{
    color: #8b898b;
    font-size: 13px;
}

.views::after{
    content: '•';
    margin: 0 4px;
}

.video-details a:hover{
    color: #2b2b2b;
}