<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/main-header.css">
    <link rel="stylesheet" href="styles/button-follow.css">
    <link rel="stylesheet" href="styles/video-page.css">
</head>
<body>
<header class="main-header">
    <aside class="main-header_left-aside">
        <i class="main-header__details material-icons">menu</i>
        <img class="main-header_left-aside__logo" src="images/youtube-logo.jpg" alt="youtube logo" width="80px"
             height="18px">
        <sup class="main-header_left-aside__ua">UA</sup>
    </aside>
    <form action="" class="search">
        <input class="search__write" type="text" value="Пошук">
        <i class="material-icons search__keyboard">keyboard</i>
        <button class="search__button">
            <i class="material-icons">search</i>
        </button>
    </form>
    <aside class="main-header_right-aside">
        <i class="material-icons">file_upload</i>
        <i class="material-icons">apps</i>
        <i class="material-icons">more_vert</i>
        <a href="/" class="main-header_right-aside__signin">УВІЙТИ</a>
    </aside>
</header>

<main class="main">
    <section class="video-content">
        <!--
        <video width="854px" controls autoplay>
            <source src="video/video.mp4" type="video/mp4">
        </video>-->
        <iframe width="854" height="480" src="https://www.youtube.com/embed/HJ18yc6Pt_E" frameborder="0" gesture="media"
                allowfullscreen></iframe>

        <h1 class="video-content__name">Купили прикольного котенка, веселун еще тот :-))</h1>
        <div class="video-content__info">
            <p class="video-content__info__views">24 882 перегляди</p>
            <aside class="video-content__info__menu">
                <button class="video-content__info__menu__element">
                    <i class="material-icons">thumb_up</i>
                    272
                </button>
                <button class="video-content__info__menu__element">
                    <i class="material-icons">thumb_down</i>
                    10
                </button>
                <button class="video-content__info__menu__element">
                    <i class="material-icons">share</i>
                    Поділитися
                </button>
                <button class="video-content__info__menu__element">
                    <i class="material-icons">playlist_add</i>
                </button>
                <button class="video-content__info__menu__more">
                    <i class="material-icons">more_horiz</i>
                </button>
            </aside>
        </div>
        <section class="video-content__channel">
            <img class="video-content__channel__img"
                 src="https://yt3.ggpht.com/-lZMg8_XGfU8/AAAAAAAAAAI/AAAAAAAAAAA/I0f9XbYFTnA/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
                 width="48">
            <section class="video-content__channel__info">
                <h3 class="video-content__channel__info__name">ShelAmir S</h3>
                <p class="video-content__channel__info__published">Опубліковано 26 трав. 2015 р.</p>
                <p class="video-content__channel__info__comment">В доме сразу стало веселее)))</p>
                <div class="video-content__channel__info__data">
                    <h4 class="video-content__channel__info__data__name">Категорія</h4>
                    <a class="video-content__channel__info__data__link"  href="">Люди та блоги</a>
                </div>
                <div class="video-content__channel__info__data">
                    <h4 class="video-content__channel__info__data__name">Ліцензія</h4>
                    <a class="video-content__channel__info__data__link" href="">Стандартна ліцензія YouTube</a>
                </div>
            </section>

            <section class="comments">

            </section>
            <button class="button-follow">Підписатися <span class="button-follow_darker">2,3 тис.</span></button>
        </section>
    </section>
    <aside class="recommended-videos">

    </aside>
</main>

</body>
</html>