@media screen and (max-width: 656px) and (min-width: 480px) {
    body {
        height: 100%;
        background-image: url(../img/480_12col.png);
        background-repeat: no-repeat repeat;
        background-position: center;
        background-size: auto;
    }
    .Grid {
        max-width: 416px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex: 0 1 auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Grid__cell,
    .Grid__cell_1,
    .Grid__cell_2,
    .Grid__cell_3,
    .Grid__cell_4,
    .Grid__cell_5,
    .Grid__cell_6,
    .Grid__cell_7,
    .Grid__cell_8,
    .Grid__cell_9,
    .Grid__cell_10,
    .Grid__cell_11,
    .Grid__cell_12 {
        margin: 1px;
        position: relative;
    }
    .Grid__cell_1 {
        flex-basis: 20px;
        max-width: 20px;
    }
    .Grid__cell_2 {
        flex-basis: 56px;
        max-width: 56px;
    }
    .Grid__cell_3 {
        flex-basis: 92px;
        max-width: 92px;
    }
    .Grid__cell_4 {
        flex-basis: 128px;
        max-width: 128px;
    }
    .Grid__cell_5 {
        flex-basis: 164px;
        max-width: 164px;
    }
    .Grid__cell_6 {
        flex-basis: 200px;
        max-width: 200px;
    }
    .Grid__cell_7 {
        flex-basis: 236px;
        max-width: 236px;
    }
    .Grid__cell_8 {
        flex-basis: 272px;
        max-width: 272px;
    }
    .Grid__cell_9 {
        flex-basis: 308px;
        max-width: 308px;
    }
    .Grid__cell_10 {
        flex-basis: 344px;
        max-width: 344px;
    }
    .Grid__cell_11 {
        flex-basis: 380px;
        max-width: 380px;
    }
    .Grid__cell_12 {
        flex-basis: 416px;
        max-width: 416px;
    }
    .Grid__cell_pull_1 {
        left: 20px;
    }
    .Grid__cell_pull_2 {
        left: 56px;
    }
    .Grid__cell_pull_3 {
        left: 92px;
    }
    .Grid__cell_pull_4 {
        left: 128px;
    }
    .Grid__cell_pull_5 {
        left: 164px;
    }
    .Grid__cell_pull_6 {
        left: 200px;
    }
    .Grid__cell_pull_7 {
        left: 236px;
    }
    .Grid__cell_pull_8 {
        left: 272px;
    }
    .Grid__cell_pull_9 {
        left: 308px;
    }
    .Grid__cell_pull_10 {
        left: 344px;
    }
    .Grid__cell_pull_11 {
        left: 380px;
    }
    .Grid__cell_push_1 {
        left: -20px;
    }
    .Grid__cell_push_2 {
        left: -56px;
    }
    .Grid__cell_push_3 {
        left: -92px;
    }
    .Grid__cell_push_4 {
        left: -128px;
    }
    .Grid__cell_push_5 {
        left: -164px;
    }
    .Grid__cell_push_6 {
        left: -200px;
    }
    .Grid__cell_push_7 {
        left: -236px;
    }
    .Grid__cell_push_8 {
        left: -272px;
    }
    .Grid__cell_push_9 {
        left: -308px;
    }
    .Grid__cell_push_10 {
        left: -344px;
    }
    .Grid__cell_push_11 {
        left: -380px;
    }
    .Grid__prefix_1 {
        margin-left: 36px;
    }
    .Grid__prefix_2 {
        margin-left: 72px;
    }
    .Grid__prefix_3 {
        margin-left: 108px;
    }
    .Grid__prefix_4 {
        margin-left: 144px
    }
    .Grid__prefix_5 {
        margin-left: 180px;
    }
    .Grid__prefix_6 {
        margin-left: 216px;
    }
    .Grid__prefix_7 {
        margin-left: 252px;
    }
    .Grid__prefix_8 {
        margin-left: 288px;
    }
    .Grid__prefix_9 {
        margin-left: 324px;
    }
    .Grid__prefix_10 {
        margin-left: 360px;
    }
    .Grid__prefix_11 {
        margin-left: 396px;
    }
    .Grid__suffix_1 {
        margin-right: 36px;
    }
    .Grid__suffix_2 {
        margin-right: 72px;
    }
    .Grid__suffix_3 {
        margin-right: 108px;
    }
    .Grid__suffix_4 {
        margin-right: 144px;
    }
    .Grid__suffix_5 {
        margin-right: 180px;
    }
    .Grid__suffix_6 {
        margin-right: 216px;
    }
    .Grid__suffix_7 {
        margin-right: 252px;
    }
    .Grid__suffix_8 {
        margin-right: 288px;
    }
    .Grid__suffix_9 {
        margin-right: 324px;
    }
    .Grid__suffix_10 {
        margin-right: 360px;
    }
    .Grid__suffix_11 {
        margin-right: 396px;
    }
}