$bckground : #FBFF57;
$peachy : #F5E0CA;
$skyblue : #96E7C6;
$font-color: #393939;
$font:'Master Works - Demo';  /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
@font-face {
  font-family: "Master Works - Demo";
  src: url('../../fonts/mw_demo.ttf');
}