<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <title>Document</title>
        <link rel="stylesheet" href="style/Footer.css">
    </head>
    <body>
        <section class="Footer">
            <p class="Footer__additional-info">In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia
                e Consonantia, vivono i testi casuali.
                Vivono isolati nella cittadina di Lettere, sulle coste del Semantico.
            </p>
            <form class="Search__input">
                <input class="Search__input_email" type="email" name="email" placeholder="Inserisci la tua email">
                <a class="Footer__register_action" href="">Iscriviti</a>
            </form>
            <section class="Footer__copiright">
                <p class="Footer__copiright_rights-holder">Eaty Copiright 2017 all rights reserved</p>
                <p class="Footer__copiright_desiner-inormation">Designed by Rendemarco</p>
            </section>
        </section>
    </body>
</html>