body {
  min-width: 960px;
}
.Grid {

  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.Grid__alpha {
  margin-left: 0;
}

.Grid__omega {
  margin-right: 0;
}

.Grid__align {
  align-self: center;
}

.Grid__column {
  flex-direction: column;
}

.Grid__row {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.Grid__cell,
.Grid__cell_1,
.Grid__cell_2,
.Grid__cell_3,
.Grid__cell_4,
.Grid__cell_5,
.Grid__cell_6,
.Grid__cell_7,
.Grid__cell_8,
.Grid__cell_9,
.Grid__cell_10,
.Grid__cell_11,
.Grid__cell_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.Grid__cell_push_1, .Grid__cell_pull_1,
.Grid__cell_push_2, .Grid__cell_pull_2,
.Grid__cell_push_3, .Grid__cell_pull_3,
.Grid__cell_push_4, .Grid__cell_pull_4,
.Grid__cell_push_5, .Grid__cell_pull_5,
.Grid__cell_push_6, .Grid__cell_pull_6,
.Grid__cell_push_7, .Grid__cell_pull_7,
.Grid__cell_push_8, .Grid__cell_pull_8,
.Grid__cell_push_9, .Grid__cell_pull_9,
.Grid__cell_push_10, .Grid__cell_pull_10,
.Grid__cell_push_11, .Grid__cell_pull_11 {
  position: relative;
}
/*-----------------------------------------------------------------------------------------------------------------------*/
.Grid__cell_alpha {
  margin-left: 0;
}

.Grid__cell_omega {
  margin-right: 0;
}
/*----------------------------------------------------------------------------------------------------------------------*/
.Grid__cell_1 {
  width: 60px;
}

.Grid__cell_2 {
  width: 140px;
}

.Grid__cell_3 {
  width: 220px;
}

.Grid__cell_4 {
  width: 300px;
}

.Grid__cell_5 {
  width: 380px;
}

.Grid__cell_6 {
  width: 460px;
}

.Grid__cell_7 {
  width: 540px;
}

.Grid__cell_8 {
  width: 620px;
}

.Grid__cell_9 {
  width: 700px;
}

.Grid__cell_10 {
  width: 780px;
}

.Grid__cell_11 {
  width: 860px;
}

.Grid__cell_12 {
  width: 940px;
}
/*--------------------------------------------------------------------------------------------------------------------------*/
.Grid__cell_push_1 {
  left: 60px;
}

.Grid__cell_push_2 {
  left: 120px;
}

.Grid__cell_push_3 {
  left: 240px;
}

.Grid__cell_push_4 {
  left: 320px;
}

.Grid__cell_push_5 {
  left: 400px;
}

.Grid__cell_push_6 {
  left: 480px;
}

.Grid__cell_push_7 {
  left: 560px;
}

.Grid__cell_push_8 {
  left: 640px;
}

.Grid__cell_push_9 {
  left: 720px;
}

.Grid__cell_push_10 {
  left: 800px;
}

.Grid__cell_push_11 {
  left: 880px;
}
/*-----------------------------------------------------------------------------------------------------------------------*/

.Grid__cell_pull_1 {
  left: -80px;
}

.Grid__cell_pull_2 {
  left: -160px;
}

.Grid__cell_pull_3 {
  left: -240px;
}
.Grid__cell_pull_4 {
  left: -320px;
}

.Grid__cell_pull_5 {
  left: -400px;
}

.Grid__cell_pull_6 {
  left: -480px;
}

.Grid__cell_pull_7 {
  left: -560px;
}

.Grid__cell_pull_8 {
  left: -640px;
}

.Grid__cell_pull_9 {
  left: -720px;
}

.Grid__cell_pull_10 {
  left: -800px;
}

.Grid__cell_pull_11 {
  left: -880px;
}
/*-----------------------------------------------------------------------------------------------------------------------*/
.Grid__prefix_1{
  margin-left: 80px;
}
.Grid__prefix_2{
  margin-left: 160px;
}
.Grid__prefix_3{
  margin-left: 240px;
}
.Grid__prefix_4{
  margin-left: 320px;
}
.Grid__prefix_5{
  margin-left: 400px;
}
.Grid__prefix_6{
  margin-left: 480px;
}
.Grid__prefix_7{
  margin-left: 560px;
}
.Grid__prefix_8{
  margin-left: 640px;
}
.Grid__prefix_9{
  margin-left: 720px;
}
.Grid__prefix_10{
  margin-left: 800px;
}
.Grid__prefix_11{
  margin-left: 880px;
}
/*-----------------------------------------------------------------------------------------------------------------------*/
.Grid__suffix_1{
  margin-right: 80px;
}
.Grid__suffix_2{
  margin-right: 160px;
}
.Grid__suffix_3{
  margin-right: 240px;
}
.Grid__suffix_4{
  margin-right: 320px;
}
.Grid__suffix_5{
  margin-right: 400px;
}
.Grid__suffix_6{
  margin-right: 480px;
}
.Grid__suffix_7{
  margin-right: 560px;
}
.Grid__suffix_8{
  margin-right: 640px;
}
.Grid__suffix_9{
  margin-right: 720px;
}
.Grid__suffix_10{
  margin-right: 800px;
}
.Grid__suffix_11{
  margin-right: 880px;
}



.Grid:before,
.Grid:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

