@font-face {
  font-family: 'GillSansMT';
  src: url('../fonts/GIL_Sans_MT.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BaskOldFace';
  src: url('../fonts/BASKVILL.TTF');
  font-weight: normal;
  font-style: normal;
}

.Promo {
  width: 100%;
  height: 657px;
  /*padding-top: 247px;
  padding-bottom: 247px;*/
  margin-bottom: 60px;
  margin-top: 60px;
  background-color: #f5f5f5;
  background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_art:audrey,h_657,w_1440/v1513192909/knitwear-1085-bw_k3ym3v.jpg");
  background-size: cover;
  background-position: top center;


  &__header {
    font-family: "GillSansMT", sans-serif;
    font-size: 22px;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px #fff;
    margin-top: 247px;
  }

  &__title {
    font-family: "BaskOldFace", sans-serif;
    font-size: 50px;
    text-align: center;
    align-self: center;
    color: #000000;
    font-weight: 300;
    text-shadow: 1px 1px #fff;
  }

  &__description {
    font-family: "GillSansMT", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 2.2px;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px #fff;
    cursor: pointer;
  }
}