@font-face {
  font-family: 'BaskOldFace';
  src: url('../fonts/BASKVILL.TTF');
  font-weight: normal;
  font-style: normal;
}

.Sitemap {
  font-family: 'BaskOldFace', sans-serif;
  display: flex;


  &__section {
    margin-left: 10px;
  }

  &__section-title {
    font-size: 30px;
    line-height: 1.5;
    color: #444444;
  }

  &__item {
    display: block;
    font-size: 22px;
    line-height: 2;
    text-align: left;
    color: #949494;
    text-decoration: none;
  }
}