@font-face {
  font-family: 'GillSansMT';
  src: url('../fonts/GIL_Sans_MT.TTF');
  font-weight: normal;
  font-style: normal;
}

.Social-media {

   &__icons {
     width: 25px;
     height: 25px;
     opacity: 0.3;
   }

  &__copyright {
    font-family: 'GillSansMT', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #b2b2b2;
  }

}