.Article-top-text {
  width: 231px;
  height: 77px;
  font-family: HelveticaNeue, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  text-align: left;
  color: #9b9b9b;
  padding-left: 140px;
}