@font-face {
  font-family: Aller; /* Имя шрифта */
  src: url(../fonts/Aller_Lt.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/HelveticaNeue.ttf);
}
.Banner {
  &__caption{
    position:relative;
    top: 111px;
    left: 65px;
    font-size: 40px;
    color:#fff;
    font-family: Aller, sans-serif;
    text-shadow: 1px 1px 1px #000;
  }
  &__paragraph{
    font-family: Helvetica Neue,sans-serif;
    position: relative;
    top: 91px;
    left:65px;
    font-size: 32px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
}