.Contact-form {
  display: flex;
  width: 458px;
  align-items: center;
  margin-top: 0;

  &__input {
    width: 317px;
    height: 40px;
    border: solid 1px #979797;
  }

  &__button {
    width: 109px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px #979797;
    margin-left: 8px;
  }
}
