.Contact-chef {
  width: 1105px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;


  &__image {
    background-image: url("../images/210-e-3-eee-275-c-22-d-813-a-4520-e-1-b-6-b-208-d-chef.png");
    width: 307px;
    height: 549px;
    object-fit: contain;
  }

  &__textbox {
    width: 731px;
  }

  &__header {
    font-family: Aller, sans-serif;
    font-size: 46px;
    font-weight: 300;
    text-align: left;
    color: #e5725e;
    margin: 110px 0 0 0;
  }

  &__title {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 300;
    font-size: 32px;
    text-align: left;
    color: #4a4a4a;
    margin: 0;
  }

  &__text {
    font-family: HelveticaNeue, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.38;
    text-align: left;
    color: #4a4a4a;
  }

  &__button {
    background-color: #ffffff;
    border: solid 1px #979797;
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #e67a68;
    padding: 10px 24px;
    margin-top: 40px;
  }
}