.Gastronomy
{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: -64px;
  align-self: flex-end;
  margin-top: 20px;

  &__image{
    width: 197px;
    height: 373px;
    margin-left: 18px;

    &_autumn{
      background-image: url("../image/rectangle-3-copy-2.jpg");
      z-index: 99;
    }
    &_sea{
      background-image: url("../image/rectangle-3-copy.jpg");
      z-index: 99;
    }
    &_salad{
      background-image: url("../image/rectangle-3.jpg");
      z-index: 99;
    }
  }
}
.Image{
  &__caption{
    font-family: Aller, sans-serif;
    font-size: 16px;
    color: #fff;
    padding-top: 240px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
  }
  &__description{
    font-family: Aller, sans-serif;
    font-size: 18px;
    color: #fff;
    margin-top: -10px;
    text-shadow: 1px 1px 1px #000;
    padding: 0 10px;
    text-align: center;
  }
}