.Layout {
  display: flex;
  flex-direction: column;

  &__header {
    flex-basis: 58px;
    width: 1154px;
    height: 58px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }
  &__banner {
    padding-top: 1px;
    width: 1154px;
    margin: auto;
    height: 488px;
    background-size: cover;
    background: url("../image/rectangle-copy.jpg") no-repeat center;
  }

  &__footer{
    width:1170px;
    margin:auto;
    align-self: end;
  }
}