
@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/HelveticaNeue.ttf);
}
.Navigation{
  margin-right: 75px;

  &__link{
    font-family: Helvetica Neue, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color:#4a4a4a;
    text-align: center;
    padding: 1px 15px;

    &:first-child{
      color: #e5725e;
      border-bottom: 3px solid  #e5725e;
    }
  }
}