@font-face {
  font-family: Aller; /* Имя шрифта */
  src: url(../fonts/Aller_Lt.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/HelveticaNeue.ttf);
}

.Vegetables {
  position: relative;
  width: 854px;
  padding: 1px;
  height: 264px;
  top: -79px;
  margin-left: auto;
  margin-right: auto;
  left: -31px;
  background-color: #e5725e;
  &__description {
    position: absolute;

    top: 24px;
    &_caption {
      font-size: 32px;
      width: 205px;
      color: #fff;
      position: absolute;
      left: 24px;
      top: 48px;
      letter-spacing: -0.5px;
      word-spacing: -0.5px;
      font-weight: 500;
      font-family: 'Aller', sans-serif;
    }
    &_paragraph {
      font-family: Helvetica Neue, sans-serif;
      font-size: 16px;
      width: 261px;
      position: absolute;
      word-spacing: -0.1px;
      left: 24px;
      top: 108px;
      letter-spacing: -0.2px;
      color: #fff;
      &_grey{
        font-family: Helvetica Neue, sans-serif;
        font-size: 16px;
      color: #9b9b9b;
        word-spacing: -0.1px;
        letter-spacing: -0.2px;
      position: absolute;
      left: 24px;
      top: 364px;
      width: 213px;
      }}
  }
  &__icon {
    position: absolute;
    &_groceries {
      top: 21px;
      left: 17px;
    }
    &_spaghetti {
      top: -0.2px;
      right: 16.4px;
    }
    &_juice {
      right: 239px;
      top: 24px;
    }
    &_cheese {
      top: 63px;
      right: 385px;
    }
    &_carrot {
      left: 263px;
      top: 19px;
    }
    &_apple {
      bottom: 10.8px;
      left: 260.8px;
    }
    &_vegetables {
      top: 27px;
      left: 123px;
    }
    &_lemonade {
      bottom: 15px;
      left: 184px;
    }
  }
}
