body{
    margin: 0;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    background-color: #f2f2f2;
}
h1 {
    margin: 0 0 0 50px;
}
h2{
    font-size: 36px;
}
p{
    font-size: 18px;
}

.wrapper{
    margin-right:auto;
    margin-left:auto;
    width: 1300px;
}
.main-header {
    position: relative;
    overflow: hidden;
    height: 450px;
    background: url(https://a-v2.sndcdn.com/assets/images/home/hp_image-6155d6b.jpg) scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-size: cover;
    color: #fff;
    border-top: 3px solid  #FF5500;
}
.logo {
    position: relative;
    top: 18px;
    left: 25px;
    background: url("https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png") no-repeat;
    color: #fff;
    font-size:10px;
}

.header-content{
    margin-top:80px;
    margin-right:auto;
    margin-left: auto;
    text-align: center;
    line-height: 1.3;
    font-weight:100;
}
.sign-up-button{
    background-color: #FF5500;
    outline:none;
    border: 1px solid #FF5500;
    border-radius:3px;
    color: #fff;
    font-size: 14px;
    height:30px;

}
.sign_reg-buttons{
    margin-right: 30px;
    float: right;
}
.sign-button{
    background-color: transparent;
    border: 1px solid #cccccc;

    height: 30px;
    border-radius: 3px;
    color: #fff;
}
.reg-button{
    background-color:  #FF5500;
    border: 1px solid  #FF5500;

    height: 30px;
    border-radius: 3px;
    color: #fff;
}

.content{
    background-color: #fff;
    height: 830px;
    text-align: center;
    padding-top:1px;
}
.search-form{
    text-align: center;
    margin-top: 50px;
}
input[type="text"]{
    padding: 0 16px;
    background-color: #f2f2f2;
    color: #C2CEDB;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    height: 46px;
    width: 50%;
}
.button-search{
    position: relative;
    left:-20px;
    height:46px;
    width: 50px;
    background-size: 19px 19px;
    border-style: none;
    background: #f2f2f2 url("https://a-v2.sndcdn.com/assets/images/header/search-dbfe5cb.svg") no-repeat center center;
    color: transparent;
    border-radius: 3px;
}
.upload{
    position: relative;
    height:46px;
    width: 170px;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
}
.content h3 {
    position: relative;
    margin:10px;
    padding:5px;
    font-weight: 100;
    font-size: 24px;
    top: 60px;

}
.cover {
    display: inline-block;
    background-color: darkred;
    text-decoration: none;
    width: 180px;
    height: 180px;
}
.name{
    display: inline-block;
    position: relative;
}




ul {
    list-style: none;
    padding: 0;
}

.sound-link {
    display: inline-block;
    position: relative;
    width: 180px;
    height:180px;
    float: left;
    top:50px;
    left:50px;
    margin: 5px 5px 10px;
    font-size: 15px;
    background-image: url(https://i1.sndcdn.com/artworks-gMcJpfXx0eme-0-t200x200.jpg);
    background-size: auto;
}

a.sound-link {
  color: #ffffff;
 }
.more-sound{
    display: block;
    position: relative;
    width:200px;
    height:36px;
    padding: 13px 23px;
    background-color: #FF5500;
    border:1px solid #FF5500;
    border-radius: 4px;
    color: #fff;
    font-size:14px;
    font-weight:200;
    top: 200px;
    left:500px;
}

.for-mobile{
    height: 450px;
    background-image: url(https://a-v2.sndcdn.com/assets/images/front/never_stop_listening@1x-9c5264f.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}
.info{
    padding: 10px;
    margin:10px;
    float:left;
    width:50%;
}
.store-link{
    display: inline-block;
    position: relative;
    width: 150px;
    height:40px;
    color:#fff;
    background-color:#000;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
}
.store-link:last-child{
    top:-17px;
}
a.store-link{
    text-decoration: none;
}
.inform{
    float: right;
    width:50%;
    font-size: 26px;
    line-height: 1.35;
    margin: 11px 0 26px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;

}
button.find-sound{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    color: #fff;
}

.teaser{

    position: relative;
    height: 375px;
    background-color: #333;
    background-image: url(https://a-v2.sndcdn.com/assets/images/home/hp_creator_image-ede5d47.jpg);
    background-size: cover;
    color: #fff;top:-60px;
}
.sing-up{
    text-align: center;
    font-weight:100;
    height: 300px;
}
.create-account{
    display: block;
    position: relative;
    width:160px;
    height:40px;
    padding: 13px 23px;
    background-color: #FF5500;
    border:1px solid #FF5500;
    border-radius: 4px;
    color: #fff;
    font-size:16px;
    font-weight:200;
    left:510px;
}
.main-footer{
    height:140px;
    border-top:1px solid #C2CEDB;
    margin:5px;
}
.main-footer a{
    text-decoration: none;
    margin: 10px;
    color:#cccccc;
    font-size:14px;
}
.main-footer a:hover{
    color:#333333;
}

