html{
    font-size: 10px;font-family: Roboto, Arial, sans-serif;background-color: #fafafa;
}
/*--------------------------------------------------Header section styles---------------------------------------------*/
#wrap{
    position: fixed;
    width: 100%;
    background: #fffeff;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-shadow: 0 5px 5px 0 rgba(245,243,245,1);
    -moz-box-shadow: 0 5px 5px 0 rgba(245,243,245,1);
    box-shadow: 0 5px 5px 0 rgba(245,243,245,1);
    z-index: 2;
}
.position #search-form{
}

.header-menu{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 8px;
    margin-right: 16px;
    background: none;
    border: none;
    color: #8b898b;
    line-height: 40px;
}
.header-logo{
    display: inline-block;
    width: 129px;
    height: 24px;
    line-height: 40px;
}
.logo-text{
    width: 15px;
    height: 15px;
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #2c2a2c;
    margin-left: -7px;
}
.logo-country{
    display: inline-block;
    width: 12px;
    height: 24px;
    color: hsl(0, 0%, 53.3%);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-left: -5px;
    vertical-align: bottom;
}

.headercontent-search{
    display: inline-block;

}
.headercontent-right{
    display: inline-block;
    width: 204px;
    height: 40px;
    letter-spacing: 7px;
    line-height: 20px;
    vertical-align: middle;
}
.headercontent-right .buttons{
    background: none;
    width: 40px;
    height: 40px;
    padding: 8px;
    border: none;
    color: #959395;
}
.headercontent-right .img{
    background: none;
    padding: 8px;
    color: #959395;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: none;
}
.headercontent-right-img{
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    line-height: 32px;
    border: 1px solid #66859c;
    bottom: 9px;
    right: 9px;
}
#search-form{
    display: inline-block;
    line-height: 30px;
    left: 193px;
    width: 848px;
    height: 30px;
    margin-right: 40px;
    margin-left: 28px;
    vertical-align: middle;
}
.search-keyboard{
    float: left;
    display: inline-block;
    width: 578px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #cccacc;
    border-right: none;
    border-radius: 2px 0 0 2px;

}
.search-input{
    padding: 2px 6px;
    height: 24px;
    border: none;
    margin: 0;
    width: 94%;
    outline: none;
}
.search-keyboard:hover{
    border: 1px solid #44597c;
}
.keyboard{
    width: 27px;
    height: 24px;
    z-index: 10;
    line-height: 24px;
    display: inline-block;
}
.keyboard img{
    margin: auto;
    width: 19px;
    height: 11px;
}
.search-button{
    float: left;
    display: inline-block;
    cursor: pointer;
    width: 65px;
    height: 30px;
    line-height: 10px;
    border: 1px solid #cccacc;
    background-color: #f6f4f6;
    color: #959395;
    border-radius: 0 2px 2px 0;
}
INPUT[type="text"] {
    text-align: left;
    font-size: 16px;
    color: #a4a2a5;

}

/*--------------------------------------------------------------------------------------------------------------------*/

#sidebar, #content { position: absolute; overflow: hidden; }
/* ----------------------------------------Aside section styles-------------------------------------------------------*/
#sidebar {
    width: 240px;
    background: #f6f4f6;
    top: 56px;
    bottom: 0;
}

::-webkit-scrollbar { width: 8px; height: 50px}
::-webkit-scrollbar-button {  background-color: #f6f4f6; }
::-webkit-scrollbar-track {  background-color: #f6f4f6;}
::-webkit-scrollbar-track-piece { background-color: #f6f4f6;}
::-webkit-scrollbar-thumb { height: 10px; background-color: #cac8ca; }
#sidebar:hover{
    overflow-y: auto;

}
.aside-block{
    padding: 8px 0;
    border-bottom: 1px solid #E6E6E6;
}
.aside-block.home{
    padding: 12px 0;
    border-bottom: 1px solid #E6E6E6;
}
.aside-menu{
    width: 240px;
    display: inline-block;
    height: 40px;
    padding: 0 24px;
    text-decoration: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
}
.aside-icon{
    margin-right: 27px;
    height: 24px;
    width: 24px;
    line-height: 40px;
    color: #858385;
}
.aside-icon-2{
    line-height: 40px;
    margin-right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    color: #858385;
}
.aside-icon-3{
    color: #dedcde;
    line-height: 40px;

}
.aside-icon.home{
    color: #fc0300;
}
.aside-text.home{
    font-weight: 600;
}
.hidden-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.aside-headers{
     vertical-align: middle;
     width: 240px;
     height: 33px;
     margin: 0;
     font-family:sans-serif;
     font-size: 14px;
     color: rgba(17,17,17,0.6);
     font-weight: 600;
     letter-spacing: .007px;
     padding: 8px 24px;
     text-transform: uppercase;
}
.aside-footer{
    padding: 24px 27px 0;
    display: block;
    color: rgba(17, 17, 17, 0.6);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
}
.aside-footer a{
    text-decoration: none;
    margin-right: 8px;
    white-space: nowrap;

}
.middle{
    padding: 12px 27px 0;
}
.end{
    padding: 24px 27px;
    margin-top: 16px;
}
/*---------------------------------------------------------------------------------------------------------------------*/


#content {
    background: #fbf9fb;
    top: 56px;
    left: 240px;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}
.main{
    position: relative;
    width: 856px;
    height: 315px;
    border-bottom: 1px solid #E6E6E6;
    margin: auto;
}
.main-header{
    position: relative;
    margin-top: 24px;
    display: inline-block;
    width: 856px;
    height: 20px;
}
.main-header-left{
    display: inline-block;

}
.main-header-left img{
    width: 32px;
    height: 32px;
    margin: auto;
    border-radius: 50px;
    vertical-align: middle;

}
.main-header-left a{
    text-decoration: none;
}
.main-header-name {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
}
.main-header small{
    color: #bcbabc;
}
.main-header-right {
    float: right;
    position: relative;
}
.main-header-right button{
    background-color: #fc0300;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 16px;
    white-space: nowrap;
    margin-top: -24px;
    margin-left: 4px;
    margin-right: 4px;
    letter-spacing: .007px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-header-right a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    padding: 8px;
    vertical-align: middle;
}
.main-header-right :nth-last-child(1){
    color: #ffb9c4;
    font-weight: 600;
}
.main-article{
    margin-top: 24px;
    display: table;
    width: 856px;
    height: 223px;
    margin-bottom: 24px;

}
.main-video{
    display: table-cell;
    width: 210px;
    height: 233px;
    padding-right: 4px;
}
.main-video-description a {
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    line-height: 15px;
}
.main-video-description h3{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0 8px;
}
.main-video-description span{
    display: inline-block;
    color: #a09ea0;
    font-size: 13px;
    font-family: "Roboto", Arial, sans-serif;
}