<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="Style.css">
  </head>
  <body>
    <header class="main-header">
      <section class="header-left-section">
        <a href="#"><img src="{{fbLogoSrc}}" alt="Facebook"></a>
        <form action="" method="get">
          <input type="text" name="fname" placeholder="{{search}}">
          <button type="submit" class="glyphicon glyphicon-search"></button>
        </form>
      </section>
      <section class="header-right-section">
        <nav class="main-header-nav">
          <a href="#" class="button-mypage">
            <img src="{{userMainPicture}}" alt="">
            <span>{{userName}}</span>
          </a>
          <a href="#" class="button-mainpage">{{mainPage}}</a>
        </nav>
        <section class="main-header-icons">
          <details>
            <summary>
              <span class="glyphicon glyphicon-user"></span>
            </summary>
          </details>
          <details>
            <summary>
              <span class="glyphicon glyphicon-envelope"></span>
            </summary>
          </details>
          <details>
            <summary>
              <span class="glyphicon glyphicon-globe"></span>
            </summary>
          </details>
          <details>
            <summary>
              <span class="glyphicon glyphicon-question-sign"></span>
            </summary>
          </details>
          <details>
            <summary>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </summary>
          </details>
        </section>
      </section>
    </header>
    <section class="main-section">
      <main class="main-main">
        <header class="main-main-header">
          <section>
            <img id="background-picture" alt="profile backround" src="{{backgroundImg}}">
            <section class="main-main-header-content">
              <section class="main-pic-span-container">
                <div class="main-img-container">
                  <img  src="{{userMainPicture}}" alt="profile image">
                </div>
                <span>{{userName}} {{userSurname}}</span>
              </section>
              <section class="main-main-header-buttons">
                <button type="button" name="button">{{editProfileButton}}</button>
                <div class="journal-button">
                  <button type="button" name="button" class="journal-button">{{journalOfActiveButton}}</button>
                  <details>
                    <summary>
                      <button type="button" name="button" class="more-button">{{threeDots}}</button>
                    </summary>
                    <ul>
                      <a href="#"><li>{{showRelationships}}</li></a>
                      <hr>
                      <a href="#"><li>{{pinch}}</li></a>
                      <hr>
                      <a href="#"><li>{{videCall}}</li></a>
                      <a href="#"><li>{{complain}}</li></a>
                      <a href="#"><li>{{block}}</li></a>
                    </ul>
                  </details>
                </div>
              </section>
            </section>
          </section>
          <nav>
            <button type="button" name="button">{{lifeFeed}}</button>
            <button type="button" name="button">{{aboutUser}}</button>
            <button type="button" name="button">{{userFriends}}</button>
            <button type="button" name="button">{{userPictures}}</button>
            <details>
              <summary>
                <button type="button" name="button">{{moreButton}}</button>
              </summary>
            </details>
          </nav>
        </header>
        <section class="user-info-and-feed">
          <aside class="add-user-info">
            <section class="little-sec user-info">
              <header>
                <img src="{{aboutPicSrc}}" alt="">
                <span>{{aboutUser}}</span>
              </header>
              <hr>
              <section class="user-info-articles">
                <article>
                  <span class="glyphicon glyphicon-education"></span>
                  <h4>{{goTo}}</h4>
                  <a href="#">{{userSchool}}</a>
                </article>
                <article>
                  <span class="glyphicon glyphicon-home"></span>
                  <h4>{{liveIn}}</h4>
                  <a href="#">{{userHometown}}</a>
                </article>
                <article>
                  <span class="glyphicon glyphicon-map-marker"></span>
                  <h4>{{from}}</h4>
                  <a href="#">{{userHometown}}</a>
                </article>
              </section>
            </section>
            <section class="little-sec">
              <header>
                <img src="{{picturesPicSrc}}" alt="">
                <span>{{userPictures}}</span>
              </header>
              <section class="user-pic">
                {{#userPics}}
                  <img src="{{src}}" alt="">
                {{/userPics}}
              </section>
            </section>
            <section class="little-sec">
              <header>
                <img src="{{friendsPicSRC}}" alt="">
                <span>{{userFriends}}</span>
              </header>
              <section class="user-friends">
                {{#userFrnd}}
                  <section>
                    <img src="{{src}}" alt="">
                    <span>{{name}}</span>
                  </section>
                {{/userFrnd}}
              </section>
            </section>
            <section class="little-sec">
              <header>
                <img src="{{userAlbumsPicSrc}}" alt="">
                <span>{{userAlbums}}</span>
              </header>
            </section>
            <footer class="aside-footer">
              <section class="little-sec language-sec">
                <div class="language">
                  <a href="#" class="first-lang">{{firstLanguage}}</a>
                  {{#langauges}}
                    <a href="#">{{name}}</a>
                  {{/langauges}}
                </div>
                <button type="button" name="button" class="glyphicon glyphicon-plus"></button>
              </section>
              <nav class="aside-footer-nav">
                <a href="#" class="first-a-footer">{{footerFirstLink}}</a>
                {{#footerLinks}}
                  <a href="#">{{link}}</a>
                {{/footerLinks}}
              </nav>
              <span>{{facebook}}</span>
              <div class="empty"></div>
            </footer>
          </aside>
          <main class="user-feed">
            <header class="little-sec user-feed-head">
              <nav>
                <button type="button" name="button" class="user-feed-head-first-button">
                  <span class="glyphicon glyphicon-pencil"></span>
                  <span>{{userPost}}</span>
                </button>
                <button type="button" name="button">
                  <span class="glyphicon glyphicon-camera"></span>
                  <span>{{userPictures}}</span>
                </button>
                <button type="button" name="button">
                  <span class="glyphicon glyphicon-facetime-video"></span>
                  <span>{{liveVideo}}</span>
                </button>
                <button type="button" name="button" >
                  <span class="glyphicon glyphicon-flag"></span>
                  <span>{{lifeEvent}}</span>
                </button>
              </nav>
              <form>
                <section class="user-feed-head-textarea">
                  <img src="me.jpg" alt="">
                  <textarea name="name" rows="8" cols="80" placeholder="{{textareaPlaceholder}}"></textarea>
                </section>
                <footer class="user-feed-head-footer">
                    <select name="">
                      <option value="">{{userFriends}}</option>
                      <option value="">{{public}}</option>
                    </select>
                    <input type="submit" name="" value={{publish}}>
                </footer>
              </form>
            </header>
              <article class="feed-article little-sec">
                <header class="feed-article-head">
                  <img src="{{aleksZinevychPicSrc}}" alt="">
                  <section class="feed-article-head-head">
                    <section>
                      <a href="#" class="user-that-posted">{{aleksZinevych}}</a>
                      <span>{{isAttending}}</span>
                      <a href="#"> {{postText}}</a>
                      <span>{{with}}</span>
                      <a href="#">{{friendNamePost}}</a>
                      <span>{{and}}</span>
                      <a href="#">{{userName}} {{userSurname}}</a>
                    </section>
                    <time>
                      <a href="#">{{postDate1}} </a>
                      <a href="#">{{postPlace1}}</a>
                      <details>
                        <summary>
                          <button type="button" name="button" class="glyphicon glyphicon-user"></button>
                        </summary>
                      </details>
                    </time>
                  </section>
                  <details>
                    <summary>
                      <span class="glyphicon glyphicon-option-horizontal"></span>
                    </summary>
                  </details>
                </header>
                <main>
                    <img src="{{postPic1Src}}" alt="">
                </main>
                <footer>
                  <section class="container-artice-like-section">
                    <section class="artice-like-section">
                      <div class="like-sec">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <a href="#">{{like}}</a>
                      </div>
                      <div class="like-sec">
                        <span class="glyphicon glyphicon-comment"></span>
                        <a href="#">{{comment}}</a>
                      </div>
                      <div class="like-sec">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <a href="#">{{share}}</a>
                      </div>
                    </section>
                  </section>
                  <section class="article-comment-section">
                    <img src="{{userMainPicture}}" alt="">
                    <section class="comment-input-section">
                      <input type="text" name="" value="" placeholder="commnetPlaceholder">
                      {{#commentPics}}
                        <img src="{{src}}" alt="">
                      {{/commentPics}}
                    </section>
                  </section>
                </footer>
              </article>
              <article class="feed-article little-sec">
                <header class="feed-article-head">
                  <img src="{{userMainPicture}}" alt="">
                  <section class="feed-article-head-head">
                    <section>
                      <a href="#" class="user-that-posted">{{userName}} {{userSurname}}</a>
                      <span>{{updateBack}}</span>
                    </section>
                    <time>
                      <a href="#">{{postDate2}}</a>
                      <details>
                        <summary>
                          <button type="button" name="button" class="glyphicon glyphicon-globe"></button>
                        </summary>
                      </details>
                    </time>
                  </section>
                  <details>
                    <summary>
                      <span class="glyphicon glyphicon-option-horizontal"></span>
                    </summary>
                  </details>
                </header>
                <main>
                    <img src="{{backgroundImg}}" alt="" class="back-img">
                </main>
                <footer>
                  <section class="container-artice-like-section">
                    <section class="artice-like-section">
                      <div class="like-sec">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <a href="#">{{like}}</a>
                      </div>
                      <div class="like-sec">
                        <span class="glyphicon glyphicon-comment"></span>
                        <a href="#">{{comment}}</a>
                      </div>
                      <div class="like-sec">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <a href="#">{{share}}</a>
                      </div>
                    </section>
                  </section>
                  <section class="article-comment-section">
                    <img src="{{userMainPicture}}" alt="">
                    <section class="comment-input-section">
                      <input type="text" name="" value="" placeholder="{{commnetPlaceholder}}">
                      {{#commentPics}}
                        <img src="{{src}}" alt="">
                      {{/commentPics}}
                    </section>
                  </section>
                </footer>
              </article>
              <div class="empty"></div>
          </main>
        </section>
      </main>
      <aside class="main-aside">
        <header></header>
        <main>
          {{#asideFriends}}
            <a href="#">
              <div class="aside-pic-name-container">
                <img src="{{src}}" alt="">
                <span>{{name}}</span>
              </div>
              <span>	&#9679;</span>
            </a>
          {{/asideFriends}}
        </main>
        <footer>
          <span class="glyphicon glyphicon-search"></span>
            <input type="text" name="" value="" placeholder="{{search}}">
          <span class="glyphicon glyphicon-cog"></span>
          <span class="glyphicon glyphicon-edit"></span>
          <span class="glyphicon glyphicon-user"></span>
        </footer>
      </aside>
    </section>
  </body>
</html>
