.layout{
  margin: 0;
}

.layout__header{
  background-color: red;
  height: 30px;
  position: fixed;
  width: 100%;
  top:0;
}

.layout__sidebar{
  position: fixed;
  width: 150px;
  top: 30px;
  bottom: 0;
  overflow: auto;

  background-color: #1A2947;
}

.layout__main{
  margin-top: 30px;
  margin-left: 150px;
  background-color: green;
}

