.navigation__footer {
  padding: 24px 27px 0;
  display: block;
  color: dimgray;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 21px;

  &__item {
    text-decoration: none;
    margin-right: 10px;
    white-space: nowrap;
  }
}


