.video{
  &__cover{
    height: 118px;
    width: 210px;
  }

  &__title{
    font-size: 17px;
    margin-top: 0;
  }

  &__channel-name{
    margin: 0;
    color: #A9A9A9;
    font-size: 12px;
  }

  &__view-count{
    margin: 0;
    color: #A9A9A9;
    font-size: 12px;
  }

  &__upload-time{
    margin: 0;
    color: #A9A9A9;
    font-size: 12px;
  }
}

