.video-section{
  margin-left: 130px;
}

.video-section__image{
  border-radius: 50%;
  width: 33px;
  height: 33px;
  margin-right: 10px;
}

.video-section__title{
  display: flex;
  align-items: center;
  margin-top: 80px;
  font-size: 17px;
}

.video-section__video{
  width: 213px;
  float: left;
  margin: 5px;

}